<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>UniConv app documentation</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="icon" type="image/x-icon" href="../images/favicon.ico">
	      <link rel="stylesheet" href="../styles/style.css">
    </head>
    <body>

        <div class="navbar navbar-default navbar-fixed-top visible-xs">
            <a href="../" class="navbar-brand">UniConv app documentation</a>
            <button type="button" class="btn btn-default btn-menu ion-ios-menu" id="btn-menu"></button>
        </div>

        <div class="xs-menu menu" id="mobile-menu">
                <div id="book-search-input" role="search"><input type="text" placeholder="Type to search"></div>            <compodoc-menu></compodoc-menu>
        </div>

        <div class="container-fluid main">
           <div class="row main">
               <div class="hidden-xs menu">
                   <compodoc-menu mode="normal"></compodoc-menu>
               </div>
               <!-- START CONTENT -->
               <div class="content component">
                   <div class="content-data">




<ol class="breadcrumb">
  <li>Components</li>
  <li>AllegatiComponent</li>
</ol>

<ul class="nav nav-tabs" role="tablist">
        <li class="active">
            <a href="#info" role="tab" id="info-tab" data-toggle="tab" data-link="info">Info</a>
        </li>
        <li >
            <a href="#source" role="tab" id="source-tab" data-toggle="tab" data-link="source">Source</a>
        </li>
        <li >
            <a href="#tree" role="tab" id="tree-tab" data-toggle="tab" data-link="dom-tree">DOM Tree</a>
        </li>
</ul>

<div class="tab-content">
    <div class="tab-pane fade active in" id="c-info"><p class="comment">
    <h3>File</h3>
</p>
<p class="comment">
    <code>src/app/application/components/convenzione/allegati.component.ts</code>
</p>



    <p class="comment">
        <h3>Implements</h3>
    </p>
    <p class="comment">
                    <code><a href="https://angular.io/api/core/OnInit" target="_blank" >OnInit</a></code>
    </p>


<section>
    <h3>Metadata</h3>
    <table class="table table-sm table-hover">
        <tbody>











            <tr>
                <td class="col-md-3">selector</td>
                <td class="col-md-9"><code>app-allegati</code></td>
            </tr>



            <tr>
                <td class="col-md-3">template</td>
                <td class="col-md-9"><pre class="line-numbers"><code class="language-html">&lt;ngx-loading [show]&#x3D;&quot;isLoading&quot; [config]&#x3D;&quot;{ backdropBorderRadius: &#x27;0px&#x27; }&quot;&gt;&lt;/ngx-loading&gt;

&lt;h4&gt;Allegati&lt;/h4&gt;
&lt;form *ngIf&#x3D;&#x27;model&#x27; [formGroup]&#x3D;&quot;form&quot; &gt;
  &lt;formly-form  [model]&#x3D;&quot;model&quot; [fields]&#x3D;&quot;fields&quot; [form]&#x3D;&quot;form&quot; [options]&#x3D;&quot;options&quot;&gt;
  &lt;/formly-form&gt;
&lt;/form&gt;

&lt;br&gt;
&lt;br&gt;
&lt;br&gt;
&lt;br&gt;

&lt;p&gt;Form value: {{ form.value | json }}&lt;/p&gt;
&lt;p&gt;Model value: {{ model | json }}&lt;/p&gt;
</code></pre></td>
            </tr>









        </tbody>
    </table>
</section>

    <section>
    <h3 id="index">Index</h3>
    <table class="table table-sm table-bordered index-table">
        <tbody>
                <tr>
                    <td class="col-md-4">
                        <h6><b>Properties</b></h6>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <ul class="index-list">
                            <li>
                                <a href="#attachemntsField">attachemntsField</a>
                            </li>
                            <li>
                                <a href="#currentSelFile">currentSelFile</a>
                            </li>
                            <li>
                                <a href="#fields">fields</a>
                            </li>
                            <li>
                                <a href="#form">form</a>
                            </li>
                            <li>
                                <a href="#isLoading">isLoading</a>
                            </li>
                            <li>
                                <a href="#model">model</a>
                            </li>
                            <li>
                                <a href="#onDestroy$">onDestroy$</a>
                            </li>
                            <li>
                                <a href="#options">options</a>
                            </li>
                        </ul>
                    </td>
                </tr>

                <tr>
                    <td class="col-md-4">
                        <h6><b>Methods</b></h6>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <ul class="index-list">
                            <li>
                                <a href="#add">add</a>
                            </li>
                            <li>
                                    <span class="modifier">Private</span>
                                <a href="#callUpdate">callUpdate</a>
                            </li>
                            <li>
                                <a href="#ngOnInit">ngOnInit</a>
                            </li>
                            <li>
                                <a href="#onSelectCurrentFile">onSelectCurrentFile</a>
                            </li>
                        </ul>
                    </td>
                </tr>





        </tbody>
    </table>
</section>

    <section>
    <h3 id="constructor">Constructor</h3>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
<code>constructor(service: <a href="../injectables/ApplicationService.html">ApplicationService</a>)</code>
                    </td>
                </tr>
                        <tr>
                            <td class="col-md-4">
                                <div class="io-line">Defined in <a href="" data-line="160" class="link-to-prism">src/app/application/components/convenzione/allegati.component.ts:160</a></div>
                            </td>
                        </tr>

                <tr>
                    <td class="col-md-4">
                            <div>
                                    <b>Parameters :</b>
                                    <table class="params">
                                        <thead>
                                            <tr>
                                                <td>Name</td>
                                                    <td>Type</td>
                                                <td>Optional</td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                                <tr>
                                                        <td>service</td>
                                                  
                                                        <td>
                                                                        <code><a href="../injectables/ApplicationService.html" target="_self" >ApplicationService</a></code>
                                                        </td>
                                                  
                                                    <td>
                                                            No
                                                    </td>
                                                    
                                                </tr>
                                        </tbody>
                                    </table>
                            </div>
                    </td>
                </tr>
            </tbody>
        </table>
</section>





    <section>
    
    <h3 id="methods">
        Methods
    </h3>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="add"></a>
                    <span class="name">
                        <b>
                            add
                        </b>
                        <a href="#add"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
            <tr>
                <td class="col-md-4">
<code>add()</code>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">
                    <div class="io-line">Defined in <a href="" data-line="181"
                            class="link-to-prism">src/app/application/components/convenzione/allegati.component.ts:181</a></div>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">

                    <div class="io-description">
                        <b>Returns : </b>        <code><a href="https://www.typescriptlang.org/docs/handbook/basic-types.html" target="_blank" >void</a></code>

                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="callUpdate"></a>
                    <span class="name">
                        <b>
                            <span class="modifier">Private</span>
                            callUpdate
                        </b>
                        <a href="#callUpdate"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
            <tr>
                <td class="col-md-4">
                    <span class="modifier-icon icon ion-ios-reset"></span>
                    <code>callUpdate(currentFile: <a href="../interfaces/FileAttachment.html">FileAttachment</a>)</code>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">
                    <div class="io-line">Defined in <a href="" data-line="196"
                            class="link-to-prism">src/app/application/components/convenzione/allegati.component.ts:196</a></div>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">

                    <div class="io-description">
                        <b>Parameters :</b>
                        <table class="params">
                            <thead>
                                <tr>
                                    <td>Name</td>
                                    <td>Type</td>
                                    <td>Optional</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>currentFile</td>
                                    <td>
                                                <code><a href="../interfaces/FileAttachment.html" target="_self" >FileAttachment</a></code>
                                    </td>

                                    <td>
                                        No
                                    </td>


                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div>
                    </div>
                    <div class="io-description">
                        <b>Returns : </b>        <code><a href="https://www.typescriptlang.org/docs/handbook/basic-types.html" target="_blank" >void</a></code>

                    </div>
                    <div class="io-description">
                        
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="ngOnInit"></a>
                    <span class="name">
                        <b>
                            ngOnInit
                        </b>
                        <a href="#ngOnInit"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
            <tr>
                <td class="col-md-4">
<code>ngOnInit()</code>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">
                    <div class="io-line">Defined in <a href="" data-line="164"
                            class="link-to-prism">src/app/application/components/convenzione/allegati.component.ts:164</a></div>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">

                    <div class="io-description">
                        <b>Returns : </b>        <code><a href="https://www.typescriptlang.org/docs/handbook/basic-types.html" target="_blank" >void</a></code>

                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="onSelectCurrentFile"></a>
                    <span class="name">
                        <b>
                            onSelectCurrentFile
                        </b>
                        <a href="#onSelectCurrentFile"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
            <tr>
                <td class="col-md-4">
<code>onSelectCurrentFile(selFile)</code>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">
                    <div class="io-line">Defined in <a href="" data-line="172"
                            class="link-to-prism">src/app/application/components/convenzione/allegati.component.ts:172</a></div>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">

                    <div class="io-description">
                        <b>Parameters :</b>
                        <table class="params">
                            <thead>
                                <tr>
                                    <td>Name</td>
                                    <td>Optional</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>selFile</td>

                                    <td>
                                        No
                                    </td>


                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div>
                    </div>
                    <div class="io-description">
                        <b>Returns : </b>        <code><a href="https://www.typescriptlang.org/docs/handbook/basic-types.html" target="_blank" >void</a></code>

                    </div>
                    <div class="io-description">
                        
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</section>
    <section>
    
        <h3 id="inputs">
            Properties
        </h3>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="attachemntsField"></a>
                        <span class="name">
                            <b>
                            attachemntsField</b>
                            <a href="#attachemntsField"><span class="icon ion-ios-link"></span></a>
                        </span>
                    </td>
                </tr>
                    <tr>
                        <td class="col-md-4">
                            <i>Type : </i>        <code><a href="../interfaces/Field.html" target="_self" >FormlyFieldConfig</a></code>

                        </td>
                    </tr>
                        <tr>
                            <td class="col-md-4">
                                    <div class="io-line">Defined in <a href="" data-line="160" class="link-to-prism">src/app/application/components/convenzione/allegati.component.ts:160</a></div>
                            </td>
                        </tr>


            </tbody>
        </table>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="currentSelFile"></a>
                        <span class="name">
                            <b>
                            currentSelFile</b>
                            <a href="#currentSelFile"><span class="icon ion-ios-link"></span></a>
                        </span>
                    </td>
                </tr>
                    <tr>
                        <td class="col-md-4">
                            <i>Type : </i>    <code>File</code>

                        </td>
                    </tr>
                        <tr>
                            <td class="col-md-4">
                                    <div class="io-line">Defined in <a href="" data-line="38" class="link-to-prism">src/app/application/components/convenzione/allegati.component.ts:38</a></div>
                            </td>
                        </tr>


            </tbody>
        </table>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="fields"></a>
                        <span class="name">
                            <b>
                            fields</b>
                            <a href="#fields"><span class="icon ion-ios-link"></span></a>
                        </span>
                    </td>
                </tr>
                    <tr>
                        <td class="col-md-4">
                            <i>Type : </i>        <code><a href="../interfaces/Field.html" target="_self" >FormlyFieldConfig[]</a></code>

                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-4">
                            <i>Default value : </i><code>[
    {
      className: &#x27;section-label&#x27;,
      template: &#x27;&lt;h5&gt;Dati convenzione&lt;/h5&gt;&#x27;,
    },
    {
      key: &#x27;convenzione&#x27;,
      type: &#x27;externalobject&#x27;,
      templateOptions: {
        label: &#x27;Convenzione&#x27;,
        type: &#x27;string&#x27;,
        entityName: &#x27;application&#x27;,
        entityLabel: &#x27;Convenzione&#x27;,
        entityPath: &#x27;home/convenzioni&#x27;,
        codeProp: &#x27;id&#x27;,
        descriptionProp: &#x27;descrizione_titolo&#x27;,
        isLoading: false,
        required: true,
      },
    },
    {
      fieldGroupClassName: &#x27;row&#x27;,
      // hideExpression: (model: any, formState: any) &#x3D;&gt; {
      //   return !this.showInput;
      // },
      templateOptions:{ label: &#x27;&#x27;},
      fieldGroup: [
        {
          key: &#x27;filename&#x27;,
          type: &#x27;fileinput&#x27;,
          className: &quot;col-md-5&quot;,
          templateOptions: {
            label: &#x27;Scegli documento&#x27;,
            type: &#x27;input&#x27;,
            placeholder: &#x27;Scegli file tipo pdf&#x27;,
            accept: &#x27;application/pdf&#x27;,
            required: true,
            onSelected: (selFile) &#x3D;&gt; { this.onSelectCurrentFile(selFile) }
          },
        },
        {
          key: &#x27;attachmenttype_codice&#x27;,
          type: &#x27;select&#x27;,
          className: &quot;col-md-5&quot;,
          templateOptions: {
            options: this.service.getAttachemntTypes(), //TODO tipi di allegati
            valueProp: &#x27;codice&#x27;,
            labelProp: &#x27;descrizione&#x27;,
            label: &#x27;Tipologia allegato&#x27;,
            required: true,
          }
        },
        {
          type: &#x27;button&#x27;,
          className: &quot;col-md-2 d-flex align-items-start mt-4 pt-2&quot;,          
          templateOptions: {
            text: &#x27;Carica&#x27;,            
            btnType: &#x27;primary&#x27;,            
            onClick: ($event, model) &#x3D;&gt; this.add(),
          },
          expressionProperties: {
            &#x27;templateOptions.disabled&#x27;:(model: any, formState: any) &#x3D;&gt; {
              // access to the main model can be through &#x60;this.model&#x60; or &#x60;formState&#x60; or &#x60;model
              return !this.form.valid
            },
          },
        },
      ],
     
    },  
    // {
    //   className: &#x27;section-label&#x27;,
    //   template: &#x27;&lt;hr /&gt;&lt;div&gt;Lista Allegati&lt;/div&gt;&#x27;,
    // },
    {
      key: &#x27;attachments&#x27;,
      type: &#x27;repeat&#x27;,
      wrappers: [&#x27;accordion&#x27;],     
      templateOptions: {
        btnHidden: true,
        label: &#x27;Gestione allegati&#x27;,
        //onAddInitialModel: (event) &#x3D;&gt; this.onAddInitialModel(event),
      },   
      hideExpression: (model: any, formState: any) &#x3D;&gt; {
         return this.model.attachments.length &#x3D;&#x3D; 0
      },   
      fieldArray: {
        fieldGroupClassName: &#x27;row&#x27;,
        fieldGroup: [
          {
            className: &#x27;col-md-4&#x27;,
            type: &#x27;input&#x27;,
            key: &#x27;filename&#x27;,
            templateOptions: {
              label: &quot;Nome dell&#x27;allegato&quot;,
              disabled: true,
              required: true,
            },
          },
          {
            type: &#x27;input&#x27;,
            key: &#x27;attachmenttype.descrizione&#x27;,
            className: &#x27;col-md-4&#x27;,
            templateOptions: {
              label: &#x27;Tipologia&#x27;,
            },
          },
        ],      
      }
    }
  ]</code>
                        </td>
                    </tr>
                        <tr>
                            <td class="col-md-4">
                                    <div class="io-line">Defined in <a href="" data-line="42" class="link-to-prism">src/app/application/components/convenzione/allegati.component.ts:42</a></div>
                            </td>
                        </tr>


            </tbody>
        </table>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="form"></a>
                        <span class="name">
                            <b>
                            form</b>
                            <a href="#form"><span class="icon ion-ios-link"></span></a>
                        </span>
                    </td>
                </tr>
                    <tr>
                        <td class="col-md-4">
                            <i>Default value : </i><code>new FormGroup({})</code>
                        </td>
                    </tr>
                        <tr>
                            <td class="col-md-4">
                                    <div class="io-line">Defined in <a href="" data-line="36" class="link-to-prism">src/app/application/components/convenzione/allegati.component.ts:36</a></div>
                            </td>
                        </tr>


            </tbody>
        </table>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="isLoading"></a>
                        <span class="name">
                            <b>
                            isLoading</b>
                            <a href="#isLoading"><span class="icon ion-ios-link"></span></a>
                        </span>
                    </td>
                </tr>
                    <tr>
                        <td class="col-md-4">
                            <i>Type : </i>        <code><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/boolean" target="_blank" >boolean</a></code>

                        </td>
                    </tr>
                        <tr>
                            <td class="col-md-4">
                                    <div class="io-line">Defined in <a href="" data-line="39" class="link-to-prism">src/app/application/components/convenzione/allegati.component.ts:39</a></div>
                            </td>
                        </tr>


            </tbody>
        </table>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="model"></a>
                        <span class="name">
                            <b>
                            model</b>
                            <a href="#model"><span class="icon ion-ios-link"></span></a>
                        </span>
                    </td>
                </tr>
                    <tr>
                        <td class="col-md-4">
                            <i>Type : </i>        <code><a href="https://www.typescriptlang.org/docs/handbook/basic-types.html" target="_blank" >any</a></code>

                        </td>
                    </tr>
                        <tr>
                            <td class="col-md-4">
                                    <div class="io-line">Defined in <a href="" data-line="37" class="link-to-prism">src/app/application/components/convenzione/allegati.component.ts:37</a></div>
                            </td>
                        </tr>


            </tbody>
        </table>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="onDestroy$"></a>
                        <span class="name">
                            <b>
                            onDestroy$</b>
                            <a href="#onDestroy$"><span class="icon ion-ios-link"></span></a>
                        </span>
                    </td>
                </tr>
                    <tr>
                        <td class="col-md-4">
                            <i>Default value : </i><code>new Subject&lt;void&gt;()</code>
                        </td>
                    </tr>
                        <tr>
                            <td class="col-md-4">
                                    <div class="io-line">Defined in <a href="" data-line="35" class="link-to-prism">src/app/application/components/convenzione/allegati.component.ts:35</a></div>
                            </td>
                        </tr>


            </tbody>
        </table>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="options"></a>
                        <span class="name">
                            <b>
                            options</b>
                            <a href="#options"><span class="icon ion-ios-link"></span></a>
                        </span>
                    </td>
                </tr>
                    <tr>
                        <td class="col-md-4">
                            <i>Type : </i>        <code><a href="../interfaces/Option.html" target="_self" >FormlyFormOptions</a></code>

                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-4">
                            <i>Default value : </i><code>{
    formState: {
      isLoading: false,
    },
  }</code>
                        </td>
                    </tr>
                        <tr>
                            <td class="col-md-4">
                                    <div class="io-line">Defined in <a href="" data-line="154" class="link-to-prism">src/app/application/components/convenzione/allegati.component.ts:154</a></div>
                            </td>
                        </tr>


            </tbody>
        </table>
</section>

</div>


    <div class="tab-pane fade  tab-source-code" id="c-source">
        <pre class="line-numbers compodoc-sourcecode"><code class="language-typescript">import { Component, OnInit } from &#x27;@angular/core&#x27;;
import { Subject } from &#x27;rxjs&#x27;;
import { FormGroup, FormArray } from &#x27;@angular/forms&#x27;;
import { FormlyFieldConfig, FormlyFormOptions } from &#x27;@ngx-formly/core&#x27;;
import { ApplicationService } from &#x27;../../application.service&#x27;;
import { FileAttachment } from &#x27;../../convenzione&#x27;;
import { encode, decode } from &#x27;base64-arraybuffer&#x27;;

@Component({
  selector: &#x27;app-allegati&#x27;,
  template: &#x60;
  &lt;ngx-loading [show]&#x3D;&quot;isLoading&quot; [config]&#x3D;&quot;{ backdropBorderRadius: &#x27;0px&#x27; }&quot;&gt;&lt;/ngx-loading&gt;

  &lt;h4&gt;Allegati&lt;/h4&gt;
  &lt;form *ngIf&#x3D;&#x27;model&#x27; [formGroup]&#x3D;&quot;form&quot; &gt;
    &lt;formly-form  [model]&#x3D;&quot;model&quot; [fields]&#x3D;&quot;fields&quot; [form]&#x3D;&quot;form&quot; [options]&#x3D;&quot;options&quot;&gt;  
    &lt;/formly-form&gt; 
  &lt;/form&gt;

  &lt;br&gt;
  &lt;br&gt;
  &lt;br&gt;
  &lt;br&gt;

  &lt;p&gt;Form value: {{ form.value | json }}&lt;/p&gt;
  &lt;p&gt;Model value: {{ model | json }}&lt;/p&gt;
  &#x60;,
  styles: []
})

//ng g c application/components/convenzione/allegati -s true --spec false -t true --flat true

export class AllegatiComponent implements OnInit {

  onDestroy$ &#x3D; new Subject&lt;void&gt;();
  form &#x3D; new FormGroup({});
  model: any;
  currentSelFile: File;
  isLoading: boolean;
 

  fields: FormlyFieldConfig[] &#x3D; [
    {
      className: &#x27;section-label&#x27;,
      template: &#x27;&lt;h5&gt;Dati convenzione&lt;/h5&gt;&#x27;,
    },
    {
      key: &#x27;convenzione&#x27;,
      type: &#x27;externalobject&#x27;,
      templateOptions: {
        label: &#x27;Convenzione&#x27;,
        type: &#x27;string&#x27;,
        entityName: &#x27;application&#x27;,
        entityLabel: &#x27;Convenzione&#x27;,
        entityPath: &#x27;home/convenzioni&#x27;,
        codeProp: &#x27;id&#x27;,
        descriptionProp: &#x27;descrizione_titolo&#x27;,
        isLoading: false,
        required: true,
      },
    },
    {
      fieldGroupClassName: &#x27;row&#x27;,
      // hideExpression: (model: any, formState: any) &#x3D;&gt; {
      //   return !this.showInput;
      // },
      templateOptions:{ label: &#x27;&#x27;},
      fieldGroup: [
        {
          key: &#x27;filename&#x27;,
          type: &#x27;fileinput&#x27;,
          className: &quot;col-md-5&quot;,
          templateOptions: {
            label: &#x27;Scegli documento&#x27;,
            type: &#x27;input&#x27;,
            placeholder: &#x27;Scegli file tipo pdf&#x27;,
            accept: &#x27;application/pdf&#x27;,
            required: true,
            onSelected: (selFile) &#x3D;&gt; { this.onSelectCurrentFile(selFile) }
          },
        },
        {
          key: &#x27;attachmenttype_codice&#x27;,
          type: &#x27;select&#x27;,
          className: &quot;col-md-5&quot;,
          templateOptions: {
            options: this.service.getAttachemntTypes(), //TODO tipi di allegati
            valueProp: &#x27;codice&#x27;,
            labelProp: &#x27;descrizione&#x27;,
            label: &#x27;Tipologia allegato&#x27;,
            required: true,
          }
        },
        {
          type: &#x27;button&#x27;,
          className: &quot;col-md-2 d-flex align-items-start mt-4 pt-2&quot;,          
          templateOptions: {
            text: &#x27;Carica&#x27;,            
            btnType: &#x27;primary&#x27;,            
            onClick: ($event, model) &#x3D;&gt; this.add(),
          },
          expressionProperties: {
            &#x27;templateOptions.disabled&#x27;:(model: any, formState: any) &#x3D;&gt; {
              // access to the main model can be through &#x60;this.model&#x60; or &#x60;formState&#x60; or &#x60;model
              return !this.form.valid
            },
          },
        },
      ],
     
    },  
    // {
    //   className: &#x27;section-label&#x27;,
    //   template: &#x27;&lt;hr /&gt;&lt;div&gt;Lista Allegati&lt;/div&gt;&#x27;,
    // },
    {
      key: &#x27;attachments&#x27;,
      type: &#x27;repeat&#x27;,
      wrappers: [&#x27;accordion&#x27;],     
      templateOptions: {
        btnHidden: true,
        label: &#x27;Gestione allegati&#x27;,
        //onAddInitialModel: (event) &#x3D;&gt; this.onAddInitialModel(event),
      },   
      hideExpression: (model: any, formState: any) &#x3D;&gt; {
         return this.model.attachments.length &#x3D;&#x3D; 0
      },   
      fieldArray: {
        fieldGroupClassName: &#x27;row&#x27;,
        fieldGroup: [
          {
            className: &#x27;col-md-4&#x27;,
            type: &#x27;input&#x27;,
            key: &#x27;filename&#x27;,
            templateOptions: {
              label: &quot;Nome dell&#x27;allegato&quot;,
              disabled: true,
              required: true,
            },
          },
          {
            type: &#x27;input&#x27;,
            key: &#x27;attachmenttype.descrizione&#x27;,
            className: &#x27;col-md-4&#x27;,
            templateOptions: {
              label: &#x27;Tipologia&#x27;,
            },
          },
        ],      
      }
    }
  ]

  options: FormlyFormOptions &#x3D; {
    formState: {
      isLoading: false,
    },
  };

  attachemntsField: FormlyFieldConfig;

  constructor(private service: ApplicationService) { }

  ngOnInit() {
    this.model &#x3D; {
      convenzione: { id: null, convenzione: null },
      attachments: []
    }
    this.attachemntsField &#x3D; this.fields.find((el) &#x3D;&gt; el.key &#x3D;&#x3D; &#x27;attachments&#x27;)
  }

  onSelectCurrentFile(selFile) {

    this.currentSelFile &#x3D; selFile;
  }

  // onAddInitialModel(event) {
  //   return { filename: &#x27;a&#x27;, attachmenttype: &#x27;b&#x27; };
  // }

  add() {
    let currentAttachment: FileAttachment &#x3D; {
      model_id: this.model.convenzione.id,
      model_type: &#x27;convenzione&#x27;,
      filename: this.currentSelFile.name,
      attachmenttype_codice: this.model.attachmenttype_codice,
    }
    const reader &#x3D; new FileReader();
    reader.onload &#x3D; (e: any) &#x3D;&gt; {
      currentAttachment.filevalue &#x3D; encode(e.target.result);
      this.callUpdate(currentAttachment);
    }
    reader.readAsArrayBuffer(this.currentSelFile); 
  }

  private callUpdate(currentFile: FileAttachment) {
    this.isLoading &#x3D; true;
    this.service.uploadFile(currentFile).subscribe((data) &#x3D;&gt; {

      //data[&#x27;attachmenttype&#x27;] &#x3D; this.model.attachmenttype
      //ritorna il singolo file salvato da aggiungere agli attachment
      if (data){
        let model &#x3D; {
          convenzione: this.model.convenzione,
          attachments: this.model.attachments.concat(data)
        }
        this.options.resetModel(model);
      }
      this.isLoading &#x3D; false;
    });
  }

}
</code></pre>
    </div>



    <div class="tab-pane fade " id="c-tree">
        <div id="tree-container"></div>
        <div class="tree-legend">
            <div class="title">
                <b>Legend</b>
            </div>
            <div>
                <div class="color htmlelement"></div><span>Html element</span>
            </div>
            <div>
                <div class="color component"></div><span>Component</span>
            </div>
            <div>
                <div class="color directive"></div><span>Html element with directive</span>
            </div>
        </div>
    </div>

    
</div>

<script src="../js/libs/vis.min.js"></script>
<script src="../js/libs/htmlparser.js"></script>
<script src="../js/libs/deep-iterator.js"></script>
<script>
        var COMPONENT_TEMPLATE = '<div><ngx-loading [show]="isLoading" [config]="{ backdropBorderRadius: \'0px\' }"></ngx-loading><h4>Allegati</h4><form *ngIf=\'model\' [formGroup]="form" >  <formly-form  [model]="model" [fields]="fields" [form]="form" [options]="options">  </formly-form></form><br><br><br><br><p>Form value: {{ form.value | json }}</p><p>Model value: {{ model | json }}</p></div>'
    var COMPONENTS = [{'name': 'AccordionInfoWrapperComponent', 'selector': 'formly-wrapper-accordioninfo'},{'name': 'AccordionWrapperComponent', 'selector': 'formly-wrapper-accordion'},{'name': 'AllegatiComponent', 'selector': 'app-allegati'},{'name': 'AppComponent', 'selector': 'app-root'},{'name': 'ApprovazionedetailsComponent', 'selector': 'app-approvazionedetails'},{'name': 'AssignmentDetailPageComponent', 'selector': 'app-assignment-detail-page'},{'name': 'AziendaLocComponent', 'selector': 'app-aziendaloc'},{'name': 'AziendeLocComponent', 'selector': 'app-aziendeloc'},{'name': 'BaseEntityComponent', 'selector': ''},{'name': 'BaseResearchComponent', 'selector': ''},{'name': 'BlankComponent', 'selector': 'app-blank-layout'},{'name': 'BolloRepertoriazioneComponent', 'selector': 'app-bollorepertoriazione'},{'name': 'BreadcrumbComponent', 'selector': 'app-breadcrumb'},{'name': 'ClassificazioneComponent', 'selector': 'app-classificazione'},{'name': 'ClassificazioniComponent', 'selector': 'app-classificazioni'},{'name': 'CollapseWrapperComponent', 'selector': 'app-collapse-wrapper'},{'name': 'ConfirmationDialogComponent', 'selector': 'app-confirmation-dialog'},{'name': 'ControlGenericListComponent', 'selector': 'app-control-generic-list'},{'name': 'ConvenzioneComponent', 'selector': 'app-convenzione'},{'name': 'ConvenzionedetailsComponent', 'selector': 'app-convenzionedetails'},{'name': 'ConvenzioniComponent', 'selector': 'app-convenzionis'},{'name': 'ConvenzioniresultComponent', 'selector': 'app-convenzioniresult'},{'name': 'ConvvalidationComponent', 'selector': 'app-convvalidation'},{'name': 'Dashboard1Component', 'selector': ''},{'name': 'Dashboard2Component', 'selector': ''},{'name': 'DatepickerTypeComponent', 'selector': 'app-datapicker-type'},{'name': 'DocumentiTitulus', 'selector': 'app-documenti'},{'name': 'DynamicFormComponent', 'selector': 'app-dynamic-form'},{'name': 'DynamicTableComponent', 'selector': 'app-grid'},{'name': 'EmissioneComponent', 'selector': 'app-emissione'},{'name': 'EsecuzionedetailsComponent', 'selector': 'app-esecuzionedetails'},{'name': 'ExternalobjTypeComponent', 'selector': 'formly-field-ext'},{'name': 'ExternalqueryComponent', 'selector': 'app-externalquery'},{'name': 'ExternalTypeComponent', 'selector': 'app-external-type'},{'name': 'FaseWrapperComponent', 'selector': 'app-fase-wrapper'},{'name': 'FirmaControparteComponent', 'selector': 'app-firmacontroparte'},{'name': 'FirmaDirettoreComponent', 'selector': 'app-firmadirettore'},{'name': 'FormInfraComponent', 'selector': 'app-form-infra'},{'name': 'FormlyFieldButton', 'selector': 'formly-field-button'},{'name': 'FormlyFieldTemplate', 'selector': 'formly-template'},{'name': 'FormlyFieldTypeahead', 'selector': 'formly-field-typeahead'},{'name': 'FormlyHorizontalWrapper', 'selector': 'formly-horizontal-wrapper'},{'name': 'FullComponent', 'selector': 'app-full-layout'},{'name': 'GenericTypeComponent', 'selector': 'app-generic-type'},{'name': 'GridFormlyCellComponent', 'selector': 'formly-ag-grid-cell'},{'name': 'GridTypeComponent', 'selector': 'formly-field-grid'},{'name': 'HomeComponent', 'selector': 'app-home'},{'name': 'InfocardComponent', 'selector': 'app-info-card'},{'name': 'InputFileComponent', 'selector': 'app-input-file'},{'name': 'InvioRichiestaPagamentoComponent', 'selector': 'app-inviorichiestapagamento'},{'name': 'LogAttivitaComponent', 'selector': 'app-logattivita'},{'name': 'LookupComponent', 'selector': 'app-lookup'},{'name': 'MappingRuoli', 'selector': 'app-mappingruoli'},{'name': 'MappingRuolo', 'selector': 'app-ruolo'},{'name': 'MappingUfficioTitulus', 'selector': 'app-mappingufficio'},{'name': 'MappingUfficiTitulus', 'selector': 'app-mappinguffici'},{'name': 'MessageComponent', 'selector': 'app-message'},{'name': 'MultistepSchematipoComponent', 'selector': 'app-multistep-schematipo'},{'name': 'NavigationComponent', 'selector': 'app-navigation'},{'name': 'NavstepperWrapperComponent', 'selector': 'app-navstepper-wrapper'},{'name': 'NotFoundComponent', 'selector': 'notfound'},{'name': 'NotificationsComponent', 'selector': 'app-notifications'},{'name': 'PagamentoComponent', 'selector': 'app-pagamento'},{'name': 'PanelWrapperComponent', 'selector': 'formly-wrapper-panel'},{'name': 'PdfInfraComponent', 'selector': 'app-pdf-infra'},{'name': 'PdfTypeComponent', 'selector': 'app-pdf-type'},{'name': 'PdfTypeInputComponent', 'selector': 'app-pdf-type-input'},{'name': 'PermissionComponent', 'selector': 'app-permission'},{'name': 'PermissionsComponent', 'selector': 'app-permissions'},{'name': 'PersoneinterneTitulus', 'selector': 'app-personeinterne'},{'name': 'QueryBuilderComponent', 'selector': 'app-query-builder'},{'name': 'RangedetailsComponent', 'selector': 'app-rangedetails'},{'name': 'RepeatTypeComponent', 'selector': 'formly-repeat-section'},{'name': 'RepertoriazionedetailsComponent', 'selector': 'app-repertoriazionedetails'},{'name': 'RichiestaEmissioneComponent', 'selector': 'app-richiestaemissione'},{'name': 'RightaddonsWrapperComponent', 'selector': 'formly-wrapper-rightaddons'},{'name': 'RoleComponent', 'selector': 'app-role'},{'name': 'RolesComponent', 'selector': 'app-roles'},{'name': 'ScadenzaComponent', 'selector': 'app-scadenza'},{'name': 'ScadenzeComponent', 'selector': 'app-scadenze'},{'name': 'ScadenzedetailsComponent', 'selector': 'app-scadenzedetails'},{'name': 'ScadenzeresultComponent', 'selector': 'app-scadenzeresult'},{'name': 'SelectTypeComponent', 'selector': 'app-select-type'},{'name': 'ShowErrorsComponent', 'selector': 'app-show-errors'},{'name': 'SidebarComponent', 'selector': 'app-sidebar'},{'name': 'SottoscrizioneComponent', 'selector': 'app-sottoscrizione'},{'name': 'SottoscrizionedetailsComponent', 'selector': 'app-sottoscrizionedetails'},{'name': 'StruttureEsterneTitulus', 'selector': 'app-struttureinterne'},{'name': 'StruttureInterneTitulus', 'selector': 'app-struttureinterne'},{'name': 'SystemErrorComponent', 'selector': 'systemerror'},{'name': 'TableGroupTypeComponent', 'selector': 'app-tablegroup-type'},{'name': 'TableLookupTypeComponent', 'selector': 'app-tablelookup-type'},{'name': 'TableTypeComponent', 'selector': 'app-table-type'},{'name': 'TabTypeComponent', 'selector': 'app-tab-type'},{'name': 'TaskComponent', 'selector': 'app-task'},{'name': 'TaskListComponent', 'selector': 'app-tasklist'},{'name': 'TasksComponent', 'selector': 'app-tasks'},{'name': 'TestTabComponent', 'selector': 'app-test-tab'},{'name': 'TipoPagamentiComponent', 'selector': 'app-tipopagamenti'},{'name': 'TipoPagamentoComponent', 'selector': 'app-tipopagamento'},{'name': 'TooltipWrapperComponent', 'selector': 'formly-wrapper-tooltip'},{'name': 'UploadfileComponent', 'selector': 'app-uploadfile'},{'name': 'UserComponent', 'selector': 'app-user'},{'name': 'UserLoginComponent', 'selector': 'app-user-login'},{'name': 'UsersComponent', 'selector': 'app-users'},{'name': 'UserTaskDetailComponent', 'selector': 'app-user-task-detail'}];
    var DIRECTIVES = [];
    var ACTUAL_COMPONENT = {'name': 'AllegatiComponent'};
</script>
<script src="../js/tree.js"></script>










                   




                   </div><div class="search-results">
    <div class="has-results">
        <h1 class="search-results-title"><span class='search-results-count'></span> result-matching "<span class='search-query'></span>"</h1>
        <ul class="search-results-list"></ul>
    </div>
    <div class="no-results">
        <h1 class="search-results-title">No results matching "<span class='search-query'></span>"</h1>
    </div>
</div>
</div>
               <!-- END CONTENT -->
           </div>
       </div>

       <script>
            var COMPODOC_CURRENT_PAGE_DEPTH = 1;
            var COMPODOC_CURRENT_PAGE_CONTEXT = 'component';
            var COMPODOC_CURRENT_PAGE_URL = 'AllegatiComponent.html';
       </script>

       <script src="../js/libs/custom-elements.min.js"></script>
       <script src="../js/libs/lit-html.js"></script>
       <!-- Required to polyfill modern browsers as code is ES5 for IE... -->
       <script src="../js/libs/custom-elements-es5-adapter.js" charset="utf-8" defer></script>
       <script src="../js/menu-wc.js" defer></script>

       <script src="../js/libs/bootstrap-native.js"></script>

       <script src="../js/libs/es6-shim.min.js"></script>
       <script src="../js/libs/EventDispatcher.js"></script>
       <script src="../js/libs/promise.min.js"></script>
       <script src="../js/libs/zepto.min.js"></script>

       <script src="../js/compodoc.js"></script>

       <script src="../js/tabs.js"></script>
       <script src="../js/menu.js"></script>
       <script src="../js/libs/clipboard.min.js"></script>
       <script src="../js/libs/prism.js"></script>
       <script src="../js/sourceCode.js"></script>
          <script src="../js/search/search.js"></script>
          <script src="../js/search/lunr.min.js"></script>
          <script src="../js/search/search-lunr.js"></script>
          <script src="../js/search/search_index.js"></script>
       <script src="../js/lazy-load-graphs.js"></script>


    </body>
</html>
