<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>UniConv app documentation</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="icon" type="image/x-icon" href="../images/favicon.ico">
	      <link rel="stylesheet" href="../styles/style.css">
    </head>
    <body>

        <div class="navbar navbar-default navbar-fixed-top visible-xs">
            <a href="../" class="navbar-brand">UniConv app documentation</a>
            <button type="button" class="btn btn-default btn-menu ion-ios-menu" id="btn-menu"></button>
        </div>

        <div class="xs-menu menu" id="mobile-menu">
                <div id="book-search-input" role="search"><input type="text" placeholder="Type to search"></div>            <compodoc-menu></compodoc-menu>
        </div>

        <div class="container-fluid main">
           <div class="row main">
               <div class="hidden-xs menu">
                   <compodoc-menu mode="normal"></compodoc-menu>
               </div>
               <!-- START CONTENT -->
               <div class="content component">
                   <div class="content-data">




<ol class="breadcrumb">
  <li>Components</li>
  <li>ConvenzioniComponent</li>
</ol>

<ul class="nav nav-tabs" role="tablist">
        <li class="active">
            <a href="#info" role="tab" id="info-tab" data-toggle="tab" data-link="info">Info</a>
        </li>
        <li >
            <a href="#source" role="tab" id="source-tab" data-toggle="tab" data-link="source">Source</a>
        </li>
        <li >
            <a href="#tree" role="tab" id="tree-tab" data-toggle="tab" data-link="dom-tree">DOM Tree</a>
        </li>
</ul>

<div class="tab-content">
    <div class="tab-pane fade active in" id="c-info"><p class="comment">
    <h3>File</h3>
</p>
<p class="comment">
    <code>src/app/application/components/convenzione/convenzioni.component.ts</code>
</p>



    <p class="comment">
        <h3>Implements</h3>
    </p>
    <p class="comment">
                    <code><a href="https://angular.io/api/core/OnInit" target="_blank" >OnInit</a></code>
    </p>


<section>
    <h3>Metadata</h3>
    <table class="table table-sm table-hover">
        <tbody>











            <tr>
                <td class="col-md-3">selector</td>
                <td class="col-md-9"><code>app-convenzionis</code></td>
            </tr>



            <tr>
                <td class="col-md-3">template</td>
                <td class="col-md-9"><pre class="line-numbers"><code class="language-html">
&lt;ngx-loading [show]&#x3D;&quot;isLoading&quot; [config]&#x3D;&quot;{ backdropBorderRadius: &#x27;4px&#x27; }&quot;&gt;&lt;/ngx-loading&gt;

&lt;app-query-builder [metadata]&#x3D;&quot;researchMetadata&quot; (find)&#x3D;&quot;onFind($event)&quot; &gt;&lt;/app-query-builder&gt;

&lt;div  class&#x3D;&quot;btn-toolbar float-right&quot; role&#x3D;&quot;toolbar&quot;&gt;
  &lt;div *ngIf&#x3D;&quot;enabledExport&quot; class&#x3D;&quot;btn-group btn-group-sm float-right&quot;&gt;
    &lt;button type&#x3D;&quot;button&quot;  [disabled]&#x3D;&quot;model.data.length&#x3D;&#x3D;0&quot; class&#x3D;&quot;btn btn-outline-primary border-0 rounded-0&quot; (click)&#x3D;&quot;onExport()&quot;&gt;
      &lt;span class&#x3D;&quot;oi oi-document&quot;&gt;&lt;/span&gt;
      &lt;span class&#x3D;&quot;ml-2&quot;&gt;Scarica CSV&lt;/span&gt;
    &lt;/button&gt;
  &lt;/div&gt;
&lt;/div&gt;

&lt;h4&gt;Risultati&lt;/h4&gt;
&lt;form [formGroup]&#x3D;&quot;form&quot; &gt;
&lt;formly-form [model]&#x3D;&quot;model&quot; [fields]&#x3D;&quot;resultMetadata&quot; [form]&#x3D;&quot;form&quot;&gt;

&lt;/formly-form&gt;
&lt;/form&gt;

&lt;ng-template #detailRow
  let-row&#x3D;&quot;row&quot;
  let-expanded&#x3D;&quot;expanded&quot;
  ngx-datatable-row-detail-template&gt;

  &lt;!-- Esempio di uso tabella di riga di dettaglio
  &lt;ngx-datatable #mydatatable class&#x3D;&quot;bootstrap&quot; [headerHeight]&#x3D;&quot;20&quot; [limit]&#x3D;&quot;5&quot; [columnMode]&#x3D;&quot;&#x27;standard&#x27;&quot; [footerHeight]&#x3D;&quot;0&quot; [rowHeight]&#x3D;&quot;&#x27;auto&#x27;&quot; [rows]&#x3D;&quot;row.aziende&quot;&gt;
    &lt;ngx-datatable-column name&#x3D;&quot;Codice azienda&quot; [width]&#x3D;&quot;200&quot; prop&#x3D;&quot;id&quot;&gt;&lt;/ngx-datatable-column&gt;
    &lt;ngx-datatable-column name&#x3D;&quot;Denominazione&quot; [width]&#x3D;&quot;400&quot; prop&#x3D;&quot;denominazione&quot;&gt;&lt;/ngx-datatable-column&gt;
  &lt;/ngx-datatable&gt; --&gt;

&lt;div *ngFor&#x3D;&quot;let azienda of row.aziende&quot; style&#x3D;&quot;padding-left: 35px&quot; class&#x3D;&quot;m-t-5&quot;&gt;
  &lt;div&gt;&lt;strong&gt;Azienda&lt;/strong&gt;&lt;/div&gt;
  &lt;div class&#x3D;&quot;container-fluid&quot;&gt;
    &lt;div class&#x3D;&quot;row&quot;&gt;
        &lt;label class&#x3D;&quot;control-label mr-1&quot;&gt;Codice:&lt;/label&gt;
        &lt;div class&#x3D;&quot;mr-2&quot;&gt;{{ azienda.id }} &lt;/div&gt;
        &lt;label class&#x3D;&quot;control-label mr-1&quot;&gt;Denominazione:&lt;/label&gt;
        &lt;div class&#x3D;&quot; mr-1&quot;&gt;{{ azienda.denominazione }} &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
  &lt;!--&lt;div&gt;{{ azienda.id }}, {{ azienda.denominazione }}&lt;/div&gt;--&gt;
&lt;/div&gt;

&lt;/ng-template&gt;


</code></pre></td>
            </tr>









        </tbody>
    </table>
</section>

    <section>
    <h3 id="index">Index</h3>
    <table class="table table-sm table-bordered index-table">
        <tbody>
                <tr>
                    <td class="col-md-4">
                        <h6><b>Properties</b></h6>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <ul class="index-list">
                            <li>
                                <a href="#detailRow">detailRow</a>
                            </li>
                            <li>
                                <a href="#enabledExport">enabledExport</a>
                            </li>
                            <li>
                                <a href="#form">form</a>
                            </li>
                            <li>
                                <a href="#isLoading">isLoading</a>
                            </li>
                            <li>
                                <a href="#model">model</a>
                            </li>
                            <li>
                                <a href="#querymodel">querymodel</a>
                            </li>
                            <li>
                                <a href="#researchMetadata">researchMetadata</a>
                            </li>
                            <li>
                                <a href="#resultMetadata">resultMetadata</a>
                            </li>
                            <li>
                                <a href="#service">service</a>
                            </li>
                            <li>
                                <a href="#testgrid">testgrid</a>
                            </li>
                        </ul>
                    </td>
                </tr>

                <tr>
                    <td class="col-md-4">
                        <h6><b>Methods</b></h6>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <ul class="index-list">
                            <li>
                                <a href="#ngOnInit">ngOnInit</a>
                            </li>
                            <li>
                                <a href="#onDblclickRow">onDblclickRow</a>
                            </li>
                            <li>
                                <a href="#onExport">onExport</a>
                            </li>
                            <li>
                                <a href="#onFind">onFind</a>
                            </li>
                            <li>
                                <a href="#onSetPage">onSetPage</a>
                            </li>
                        </ul>
                    </td>
                </tr>





        </tbody>
    </table>
</section>

    <section>
    <h3 id="constructor">Constructor</h3>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
<code>constructor(injector: <a href="https://angular.io/api/core/Injector" target="_blank">Injector</a>, router: <a href="https://angular.io/api/router/Router" target="_blank">Router</a>)</code>
                    </td>
                </tr>
                        <tr>
                            <td class="col-md-4">
                                <div class="io-line">Defined in <a href="" data-line="146" class="link-to-prism">src/app/application/components/convenzione/convenzioni.component.ts:146</a></div>
                            </td>
                        </tr>

                <tr>
                    <td class="col-md-4">
                            <div>
                                    <b>Parameters :</b>
                                    <table class="params">
                                        <thead>
                                            <tr>
                                                <td>Name</td>
                                                    <td>Type</td>
                                                <td>Optional</td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                                <tr>
                                                        <td>injector</td>
                                                  
                                                        <td>
                                                                        <code><a href="https://angular.io/api/core/Injector" target="_blank" >Injector</a></code>
                                                        </td>
                                                  
                                                    <td>
                                                            No
                                                    </td>
                                                    
                                                </tr>
                                                <tr>
                                                        <td>router</td>
                                                  
                                                        <td>
                                                                        <code><a href="https://angular.io/api/router/Router" target="_blank" >Router</a></code>
                                                        </td>
                                                  
                                                    <td>
                                                            No
                                                    </td>
                                                    
                                                </tr>
                                        </tbody>
                                    </table>
                            </div>
                    </td>
                </tr>
            </tbody>
        </table>
</section>





    <section>
    
    <h3 id="methods">
        Methods
    </h3>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="ngOnInit"></a>
                    <span class="name">
                        <b>
                            ngOnInit
                        </b>
                        <a href="#ngOnInit"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
            <tr>
                <td class="col-md-4">
<code>ngOnInit()</code>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">
                    <div class="io-line">Defined in <a href="" data-line="150"
                            class="link-to-prism">src/app/application/components/convenzione/convenzioni.component.ts:150</a></div>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">

                    <div class="io-description">
                        <b>Returns : </b>        <code><a href="https://www.typescriptlang.org/docs/handbook/basic-types.html" target="_blank" >void</a></code>

                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="onDblclickRow"></a>
                    <span class="name">
                        <b>
                            onDblclickRow
                        </b>
                        <a href="#onDblclickRow"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
            <tr>
                <td class="col-md-4">
<code>onDblclickRow(event)</code>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">
                    <div class="io-line">Defined in <a href="" data-line="189"
                            class="link-to-prism">src/app/application/components/convenzione/convenzioni.component.ts:189</a></div>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">

                    <div class="io-description">
                        <b>Parameters :</b>
                        <table class="params">
                            <thead>
                                <tr>
                                    <td>Name</td>
                                    <td>Optional</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>event</td>

                                    <td>
                                        No
                                    </td>


                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div>
                    </div>
                    <div class="io-description">
                        <b>Returns : </b>        <code><a href="https://www.typescriptlang.org/docs/handbook/basic-types.html" target="_blank" >void</a></code>

                    </div>
                    <div class="io-description">
                        
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="onExport"></a>
                    <span class="name">
                        <b>
                            onExport
                        </b>
                        <a href="#onExport"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
            <tr>
                <td class="col-md-4">
<code>onExport()</code>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">
                    <div class="io-line">Defined in <a href="" data-line="237"
                            class="link-to-prism">src/app/application/components/convenzione/convenzioni.component.ts:237</a></div>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">

                    <div class="io-description">
                        <b>Returns : </b>        <code><a href="https://www.typescriptlang.org/docs/handbook/basic-types.html" target="_blank" >void</a></code>

                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="onFind"></a>
                    <span class="name">
                        <b>
                            onFind
                        </b>
                        <a href="#onFind"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
            <tr>
                <td class="col-md-4">
<code>onFind(model)</code>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">
                    <div class="io-line">Defined in <a href="" data-line="209"
                            class="link-to-prism">src/app/application/components/convenzione/convenzioni.component.ts:209</a></div>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">

                    <div class="io-description">
                        <b>Parameters :</b>
                        <table class="params">
                            <thead>
                                <tr>
                                    <td>Name</td>
                                    <td>Optional</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>model</td>

                                    <td>
                                        No
                                    </td>


                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div>
                    </div>
                    <div class="io-description">
                        <b>Returns : </b>        <code><a href="https://www.typescriptlang.org/docs/handbook/basic-types.html" target="_blank" >void</a></code>

                    </div>
                    <div class="io-description">
                        
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="onSetPage"></a>
                    <span class="name">
                        <b>
                            onSetPage
                        </b>
                        <a href="#onSetPage"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
            <tr>
                <td class="col-md-4">
<code>onSetPage(pageInfo)</code>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">
                    <div class="io-line">Defined in <a href="" data-line="200"
                            class="link-to-prism">src/app/application/components/convenzione/convenzioni.component.ts:200</a></div>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">

                    <div class="io-description">
                        <b>Parameters :</b>
                        <table class="params">
                            <thead>
                                <tr>
                                    <td>Name</td>
                                    <td>Optional</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>pageInfo</td>

                                    <td>
                                        No
                                    </td>


                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div>
                    </div>
                    <div class="io-description">
                        <b>Returns : </b>        <code><a href="https://www.typescriptlang.org/docs/handbook/basic-types.html" target="_blank" >void</a></code>

                    </div>
                    <div class="io-description">
                        
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</section>
    <section>
    
        <h3 id="inputs">
            Properties
        </h3>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="detailRow"></a>
                        <span class="name">
                            <b>
                            detailRow</b>
                            <a href="#detailRow"><span class="icon ion-ios-link"></span></a>
                        </span>
                    </td>
                </tr>
                    <tr>
                        <td class="col-md-4">
                            <i>Type : </i>    <code>TemplateRef&lt;any&gt;</code>

                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-4">
                            <b>Decorators : </b>
                            <br />
                            <code>
                                @ViewChild(&#x27;detailRow&#x27;)<br />
                            </code>
                        </td>
                    </tr>
                        <tr>
                            <td class="col-md-4">
                                    <div class="io-line">Defined in <a href="" data-line="76" class="link-to-prism">src/app/application/components/convenzione/convenzioni.component.ts:76</a></div>
                            </td>
                        </tr>


            </tbody>
        </table>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="enabledExport"></a>
                        <span class="name">
                            <b>
                            enabledExport</b>
                            <a href="#enabledExport"><span class="icon ion-ios-link"></span></a>
                        </span>
                    </td>
                </tr>
                    <tr>
                        <td class="col-md-4">
                            <i>Default value : </i><code>true</code>
                        </td>
                    </tr>
                        <tr>
                            <td class="col-md-4">
                                    <div class="io-line">Defined in <a href="" data-line="74" class="link-to-prism">src/app/application/components/convenzione/convenzioni.component.ts:74</a></div>
                            </td>
                        </tr>


            </tbody>
        </table>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="form"></a>
                        <span class="name">
                            <b>
                            form</b>
                            <a href="#form"><span class="icon ion-ios-link"></span></a>
                        </span>
                    </td>
                </tr>
                    <tr>
                        <td class="col-md-4">
                            <i>Default value : </i><code>new FormGroup({})</code>
                        </td>
                    </tr>
                        <tr>
                            <td class="col-md-4">
                                    <div class="io-line">Defined in <a href="" data-line="79" class="link-to-prism">src/app/application/components/convenzione/convenzioni.component.ts:79</a></div>
                            </td>
                        </tr>


            </tbody>
        </table>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="isLoading"></a>
                        <span class="name">
                            <b>
                            isLoading</b>
                            <a href="#isLoading"><span class="icon ion-ios-link"></span></a>
                        </span>
                    </td>
                </tr>
                    <tr>
                        <td class="col-md-4">
                            <i>Type : </i>        <code><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/boolean" target="_blank" >boolean</a></code>

                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-4">
                            <i>Default value : </i><code>false</code>
                        </td>
                    </tr>
                        <tr>
                            <td class="col-md-4">
                                    <div class="io-line">Defined in <a href="" data-line="71" class="link-to-prism">src/app/application/components/convenzione/convenzioni.component.ts:71</a></div>
                            </td>
                        </tr>


            </tbody>
        </table>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="model"></a>
                        <span class="name">
                            <b>
                            model</b>
                            <a href="#model"><span class="icon ion-ios-link"></span></a>
                        </span>
                    </td>
                </tr>
                    <tr>
                        <td class="col-md-4">
                            <i>Type : </i>        <code><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/object" target="_blank" >object</a></code>

                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-4">
                            <i>Default value : </i><code>{
    data: new Array&lt;any&gt;(),
  }</code>
                        </td>
                    </tr>
                        <tr>
                            <td class="col-md-4">
                                    <div class="io-line">Defined in <a href="" data-line="81" class="link-to-prism">src/app/application/components/convenzione/convenzioni.component.ts:81</a></div>
                            </td>
                        </tr>


            </tbody>
        </table>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="querymodel"></a>
                        <span class="name">
                            <b>
                            querymodel</b>
                            <a href="#querymodel"><span class="icon ion-ios-link"></span></a>
                        </span>
                    </td>
                </tr>
                    <tr>
                        <td class="col-md-4">
                            <i>Type : </i>        <code><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/object" target="_blank" >object</a></code>

                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-4">
                            <i>Default value : </i><code>{
    rules: new Array&lt;any&gt;(),    
  }</code>
                        </td>
                    </tr>
                        <tr>
                            <td class="col-md-4">
                                    <div class="io-line">Defined in <a href="" data-line="196" class="link-to-prism">src/app/application/components/convenzione/convenzioni.component.ts:196</a></div>
                            </td>
                        </tr>


            </tbody>
        </table>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="researchMetadata"></a>
                        <span class="name">
                            <b>
                            researchMetadata</b>
                            <a href="#researchMetadata"><span class="icon ion-ios-link"></span></a>
                        </span>
                    </td>
                </tr>
                    <tr>
                        <td class="col-md-4">
                            <i>Type : </i>        <code><a href="../interfaces/Field.html" target="_self" >FormlyFieldConfig[]</a></code>

                        </td>
                    </tr>
                        <tr>
                            <td class="col-md-4">
                                    <div class="io-line">Defined in <a href="" data-line="78" class="link-to-prism">src/app/application/components/convenzione/convenzioni.component.ts:78</a></div>
                            </td>
                        </tr>


            </tbody>
        </table>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="resultMetadata"></a>
                        <span class="name">
                            <b>
                            resultMetadata</b>
                            <a href="#resultMetadata"><span class="icon ion-ios-link"></span></a>
                        </span>
                    </td>
                </tr>
                    <tr>
                        <td class="col-md-4">
                            <i>Type : </i>        <code><a href="../interfaces/Field.html" target="_self" >FormlyFieldConfig[]</a></code>

                        </td>
                    </tr>
                        <tr>
                            <td class="col-md-4">
                                    <div class="io-line">Defined in <a href="" data-line="84" class="link-to-prism">src/app/application/components/convenzione/convenzioni.component.ts:84</a></div>
                            </td>
                        </tr>


            </tbody>
        </table>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="service"></a>
                        <span class="name">
                            <b>
                            service</b>
                            <a href="#service"><span class="icon ion-ios-link"></span></a>
                        </span>
                    </td>
                </tr>
                    <tr>
                        <td class="col-md-4">
                            <i>Type : </i>        <code><a href="../interfaces/ServiceQuery.html" target="_self" >ServiceQuery</a></code>

                        </td>
                    </tr>
                        <tr>
                            <td class="col-md-4">
                                    <div class="io-line">Defined in <a href="" data-line="72" class="link-to-prism">src/app/application/components/convenzione/convenzioni.component.ts:72</a></div>
                            </td>
                        </tr>


            </tbody>
        </table>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="testgrid"></a>
                        <span class="name">
                            <b>
                            testgrid</b>
                            <a href="#testgrid"><span class="icon ion-ios-link"></span></a>
                        </span>
                    </td>
                </tr>
                    <tr>
                        <td class="col-md-4">
                            <i>Type : </i>    <code>[]</code>

                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-4">
                            <i>Default value : </i><code>[
    {
      key: &#x27;data&#x27;,
      type: &#x27;gridtable&#x27;,
      className: &#x27;ag-theme-balham&#x27;,
      templateOptions: {
        //height: &#x27;200px&#x27;,        
        gridOptions: {  
          defaultColDef: { resizable: true, sortable: true, filter: true},        // width: 100,
          rowSelection: &#x27;single&#x27;,          
          columnDefs: [
            {
              headerName: &#x27;Id&#x27;,
              field: &#x27;id&#x27;,                            
            },
            {
              headerName: &#x27;Codice utente&#x27;,
              field: &#x27;user_id&#x27;,
                        
            },
            {
              headerName: &#x27;Descrizione titolo&#x27;,
              field: &#x27;descrizione_titolo&#x27;,              
            },
            {
              headerName: &#x27;Dipartimento&#x27;,
              field: &#x27;dipartimemto_cd_dip&#x27;,              
            },
            {
              headerName: &#x27;Responsabile scientifico&#x27;,
              field: &#x27;resp_scientifico&#x27;,              
            },
            {
              headerName: &#x27;Azienda&#x27;,
              field: &#x27;azienda&#x27;,              
            },
            {
              headerName: &#x27;Tipo convenzione&#x27;,
              field: &#x27;convenzione_type&#x27;,              
            },
            {
              headerName: &#x27;Ambito&#x27;,
              field: &#x27;ambito&#x27;,              
            },
            {
              headerName: &#x27;Modalità di pagamento&#x27;,
              field: &#x27;tipopagamenti_codice&#x27;,              
            },
            {
              headerName: &#x27;Corrispettivo&#x27;,
              field: &#x27;corrispettivo&#x27;,              
            },
            {
              headerName: &#x27;Stato&#x27;,
              field: &#x27;current_place&#x27;,              
            },
          ],
        },
      },
    },
  ]</code>
                        </td>
                    </tr>
                        <tr>
                            <td class="col-md-4">
                                    <div class="io-line">Defined in <a href="" data-line="86" class="link-to-prism">src/app/application/components/convenzione/convenzioni.component.ts:86</a></div>
                            </td>
                        </tr>


            </tbody>
        </table>
</section>

</div>


    <div class="tab-pane fade  tab-source-code" id="c-source">
        <pre class="line-numbers compodoc-sourcecode"><code class="language-typescript">import { Component, OnInit, Injector, ViewChild, TemplateRef } from &#x27;@angular/core&#x27;;
import { FormlyFieldConfig } from &#x27;@ngx-formly/core&#x27;;
import { FormGroup } from &#x27;@angular/forms&#x27;;
import { ServiceQuery } from &#x27;../../../shared&#x27;;
import ControlUtils from &#x27;../../../shared/dynamic-form/control-utils&#x27;;
import { ActivatedRoute, Router } from &#x27;@angular/router&#x27;;
import { SSL_OP_DONT_INSERT_EMPTY_FRAGMENTS } from &#x27;constants&#x27;;
import { Page } from &#x27;../../../shared/lookup/page&#x27;;
import { encode, decode } from &#x27;base64-arraybuffer&#x27;;



@Component({
  selector: &#x27;app-convenzionis&#x27;,
  template: &#x60;

  &lt;ngx-loading [show]&#x3D;&quot;isLoading&quot; [config]&#x3D;&quot;{ backdropBorderRadius: &#x27;4px&#x27; }&quot;&gt;&lt;/ngx-loading&gt;
  
  &lt;app-query-builder [metadata]&#x3D;&quot;researchMetadata&quot; (find)&#x3D;&quot;onFind($event)&quot; &gt;&lt;/app-query-builder&gt;

  &lt;div  class&#x3D;&quot;btn-toolbar float-right&quot; role&#x3D;&quot;toolbar&quot;&gt;
    &lt;div *ngIf&#x3D;&quot;enabledExport&quot; class&#x3D;&quot;btn-group btn-group-sm float-right&quot;&gt;  
      &lt;button type&#x3D;&quot;button&quot;  [disabled]&#x3D;&quot;model.data.length&#x3D;&#x3D;0&quot; class&#x3D;&quot;btn btn-outline-primary border-0 rounded-0&quot; (click)&#x3D;&quot;onExport()&quot;&gt;
        &lt;span class&#x3D;&quot;oi oi-document&quot;&gt;&lt;/span&gt;
        &lt;span class&#x3D;&quot;ml-2&quot;&gt;Scarica CSV&lt;/span&gt;
      &lt;/button&gt;  
    &lt;/div&gt;
  &lt;/div&gt; 

  &lt;h4&gt;Risultati&lt;/h4&gt;  
  &lt;form [formGroup]&#x3D;&quot;form&quot; &gt;
  &lt;formly-form [model]&#x3D;&quot;model&quot; [fields]&#x3D;&quot;resultMetadata&quot; [form]&#x3D;&quot;form&quot;&gt;
    
  &lt;/formly-form&gt; 
  &lt;/form&gt;

  &lt;ng-template #detailRow
    let-row&#x3D;&quot;row&quot;
    let-expanded&#x3D;&quot;expanded&quot;
    ngx-datatable-row-detail-template&gt;

    &lt;!-- Esempio di uso tabella di riga di dettaglio
    &lt;ngx-datatable #mydatatable class&#x3D;&quot;bootstrap&quot; [headerHeight]&#x3D;&quot;20&quot; [limit]&#x3D;&quot;5&quot; [columnMode]&#x3D;&quot;&#x27;standard&#x27;&quot; [footerHeight]&#x3D;&quot;0&quot; [rowHeight]&#x3D;&quot;&#x27;auto&#x27;&quot; [rows]&#x3D;&quot;row.aziende&quot;&gt;
      &lt;ngx-datatable-column name&#x3D;&quot;Codice azienda&quot; [width]&#x3D;&quot;200&quot; prop&#x3D;&quot;id&quot;&gt;&lt;/ngx-datatable-column&gt;
      &lt;ngx-datatable-column name&#x3D;&quot;Denominazione&quot; [width]&#x3D;&quot;400&quot; prop&#x3D;&quot;denominazione&quot;&gt;&lt;/ngx-datatable-column&gt;
    &lt;/ngx-datatable&gt; --&gt;

  &lt;div *ngFor&#x3D;&quot;let azienda of row.aziende&quot; style&#x3D;&quot;padding-left: 35px&quot; class&#x3D;&quot;m-t-5&quot;&gt;
    &lt;div&gt;&lt;strong&gt;Azienda&lt;/strong&gt;&lt;/div&gt;        
    &lt;div class&#x3D;&quot;container-fluid&quot;&gt;
      &lt;div class&#x3D;&quot;row&quot;&gt;
          &lt;label class&#x3D;&quot;control-label mr-1&quot;&gt;Codice:&lt;/label&gt; 
          &lt;div class&#x3D;&quot;mr-2&quot;&gt;{{ azienda.id }} &lt;/div&gt;
          &lt;label class&#x3D;&quot;control-label mr-1&quot;&gt;Denominazione:&lt;/label&gt;
          &lt;div class&#x3D;&quot; mr-1&quot;&gt;{{ azienda.denominazione }} &lt;/div&gt;
      &lt;/div&gt;
    &lt;/div&gt;
    &lt;!--&lt;div&gt;{{ azienda.id }}, {{ azienda.denominazione }}&lt;/div&gt;--&gt;
  &lt;/div&gt;

  &lt;/ng-template&gt;


  &#x60;,
  styles: []
})

//ng g c submission/components/submission/submissions -s true --spec false -t true --flat true

export class ConvenzioniComponent implements OnInit {
  isLoading: boolean &#x3D; false;
  service: ServiceQuery;

  enabledExport &#x3D; true;

  @ViewChild(&#x27;detailRow&#x27;) detailRow: TemplateRef&lt;any&gt;;
  
  researchMetadata: FormlyFieldConfig[];
  form &#x3D; new FormGroup({});

  model &#x3D; {
    data: new Array&lt;any&gt;(),
  };
  resultMetadata: FormlyFieldConfig[];

  testgrid &#x3D; [
    {
      key: &#x27;data&#x27;,
      type: &#x27;gridtable&#x27;,
      className: &#x27;ag-theme-balham&#x27;,
      templateOptions: {
        //height: &#x27;200px&#x27;,        
        gridOptions: {  
          defaultColDef: { resizable: true, sortable: true, filter: true},        // width: 100,
          rowSelection: &#x27;single&#x27;,          
          columnDefs: [
            {
              headerName: &#x27;Id&#x27;,
              field: &#x27;id&#x27;,                            
            },
            {
              headerName: &#x27;Codice utente&#x27;,
              field: &#x27;user_id&#x27;,
                        
            },
            {
              headerName: &#x27;Descrizione titolo&#x27;,
              field: &#x27;descrizione_titolo&#x27;,              
            },
            {
              headerName: &#x27;Dipartimento&#x27;,
              field: &#x27;dipartimemto_cd_dip&#x27;,              
            },
            {
              headerName: &#x27;Responsabile scientifico&#x27;,
              field: &#x27;resp_scientifico&#x27;,              
            },
            {
              headerName: &#x27;Azienda&#x27;,
              field: &#x27;azienda&#x27;,              
            },
            {
              headerName: &#x27;Tipo convenzione&#x27;,
              field: &#x27;convenzione_type&#x27;,              
            },
            {
              headerName: &#x27;Ambito&#x27;,
              field: &#x27;ambito&#x27;,              
            },
            {
              headerName: &#x27;Modalità di pagamento&#x27;,
              field: &#x27;tipopagamenti_codice&#x27;,              
            },
            {
              headerName: &#x27;Corrispettivo&#x27;,
              field: &#x27;corrispettivo&#x27;,              
            },
            {
              headerName: &#x27;Stato&#x27;,
              field: &#x27;current_place&#x27;,              
            },
          ],
        },
      },
    },
  ];
  
  constructor(private injector: Injector, private router: Router) { }

  ngOnInit() {

    const servicename &#x3D; ControlUtils.getServiceName(&#x27;application&#x27;);
    this.service &#x3D; this.injector.get(servicename) as ServiceQuery;

    this.researchMetadata &#x3D; this.service.getMetadata();
    this.resultMetadata &#x3D;  [
      {
          key: &#x27;data&#x27;,
          type: &#x27;datatablelookup&#x27;,
          wrappers: [&#x27;accordion&#x27;],      
          templateOptions: {
            label: &#x27;Convenzioni&#x27;,   
            columnMode: &#x27;force&#x27;,
            headerHeight: 50,
            footerHeight: 50,            
            scrollbarH: true,             
            hidetoolbar: true, 
            detailRow: this.detailRow,
            selected: [],                        
            page: new Page(25),       
            onDblclickRow: (event) &#x3D;&gt; this.onDblclickRow(event),
            onSetPage: (pageInfo) &#x3D;&gt; this.onSetPage(pageInfo)                                     
          },
          fieldArray: {
            fieldGroupClassName: &#x27;row&#x27;,   
            fieldGroup: this.researchMetadata.filter(x&#x3D;&gt;x.key !&#x3D; &#x27;aziende.id&#x27;).map(x &#x3D;&gt; {
              x.templateOptions.column &#x3D; { 
                cellTemplate: &#x27;valuecolumn&#x27;,
                //minWidth: 200
              };
              return x;
            })
          }
        }
      ];

  }

  onDblclickRow(event) {
    //, {relativeTo: this.route}
    if (event.type &#x3D;&#x3D;&#x3D; &#x27;dblclick&#x27;) {          
      this.router.navigate([&#x27;home/convdetails&#x27;, event.row.id]);
    }
  }
  
  querymodel &#x3D; {
    rules: new Array&lt;any&gt;(),    
  };

  onSetPage(pageInfo){      
    if (pageInfo.limit)
      this.querymodel[&#x27;limit&#x27;]&#x3D; pageInfo.limit;     
    if (this.model.data.length&gt;0){
      this.querymodel[&#x27;page&#x27;]&#x3D;pageInfo.offset + 1;     
      this.onFind(this.querymodel);
    }
  }

  onFind(model){
    this.querymodel.rules &#x3D; model.rules;  

    this.isLoading &#x3D; true;    
    //this.service.clearMessage();
    try{      
      this.service.query(this.querymodel).subscribe((data) &#x3D;&gt; {
        const to &#x3D; this.resultMetadata[0].templateOptions;
        this.isLoading &#x3D; false;   
        this.model&#x3D;  {
          data: data.data
        }

        to.page.totalElements &#x3D; data.total; // data.to;
        to.page.pageNumber &#x3D; data.current_page-1;
        to.page.size &#x3D; data.per_page;        
        
      }, err &#x3D;&gt; {
        this.isLoading&#x3D;false;
        console.error(&#x27;Oops:&#x27;, err.message);
      });
    }catch(e){
      this.isLoading &#x3D; false;
      console.error(e);
    }
  }


  onExport(){
    //richiamare export dal service
    if (this.model.data.length&gt;0){
      this.isLoading &#x3D; true;
      this.service.export(this.querymodel).subscribe(file &#x3D;&gt; {
        this.isLoading &#x3D; false;      

        var blob &#x3D; new Blob([file]);
        saveAs(blob, &quot;convenzioni.csv&quot;);

      },
        e &#x3D;&gt; {  this.isLoading &#x3D; false; console.log(e); }
      );
      
    }
  }
}
</code></pre>
    </div>



    <div class="tab-pane fade " id="c-tree">
        <div id="tree-container"></div>
        <div class="tree-legend">
            <div class="title">
                <b>Legend</b>
            </div>
            <div>
                <div class="color htmlelement"></div><span>Html element</span>
            </div>
            <div>
                <div class="color component"></div><span>Component</span>
            </div>
            <div>
                <div class="color directive"></div><span>Html element with directive</span>
            </div>
        </div>
    </div>

    
</div>

<script src="../js/libs/vis.min.js"></script>
<script src="../js/libs/htmlparser.js"></script>
<script src="../js/libs/deep-iterator.js"></script>
<script>
        var COMPONENT_TEMPLATE = '<div><ngx-loading [show]="isLoading" [config]="{ backdropBorderRadius: \'4px\' }"></ngx-loading><app-query-builder [metadata]="researchMetadata" (find)="onFind($event)" ></app-query-builder><div  class="btn-toolbar float-right" role="toolbar">  <div *ngIf="enabledExport" class="btn-group btn-group-sm float-right">    <button type="button"  [disabled]="model.data.length==0" class="btn btn-outline-primary border-0 rounded-0" (click)="onExport()">      <span class="oi oi-document"></span>      <span class="ml-2">Scarica CSV</span>    </button>  </div></div><h4>Risultati</h4><form [formGroup]="form" ><formly-form [model]="model" [fields]="resultMetadata" [form]="form"></formly-form></form><ng-template #detailRow  let-row="row"  let-expanded="expanded"  ngx-datatable-row-detail-template>  <!-- Esempio di uso tabella di riga di dettaglio  <ngx-datatable #mydatatable class="bootstrap" [headerHeight]="20" [limit]="5" [columnMode]="\'standard\'" [footerHeight]="0" [rowHeight]="\'auto\'" [rows]="row.aziende">    <ngx-datatable-column name="Codice azienda" [width]="200" prop="id"></ngx-datatable-column>    <ngx-datatable-column name="Denominazione" [width]="400" prop="denominazione"></ngx-datatable-column>  </ngx-datatable> --><div *ngFor="let azienda of row.aziende" style="padding-left: 35px" class="m-t-5">  <div><strong>Azienda</strong></div>  <div class="container-fluid">    <div class="row">        <label class="control-label mr-1">Codice:</label>        <div class="mr-2">{{ azienda.id }} </div>        <label class="control-label mr-1">Denominazione:</label>        <div class=" mr-1">{{ azienda.denominazione }} </div>    </div>  </div>  <!--<div>{{ azienda.id }}, {{ azienda.denominazione }}</div>--></div></ng-template></div>'
    var COMPONENTS = [{'name': 'AccordionInfoWrapperComponent', 'selector': 'formly-wrapper-accordioninfo'},{'name': 'AccordionWrapperComponent', 'selector': 'formly-wrapper-accordion'},{'name': 'AllegatiComponent', 'selector': 'app-allegati'},{'name': 'AppComponent', 'selector': 'app-root'},{'name': 'ApprovazionedetailsComponent', 'selector': 'app-approvazionedetails'},{'name': 'AssignmentDetailPageComponent', 'selector': 'app-assignment-detail-page'},{'name': 'AziendaLocComponent', 'selector': 'app-aziendaloc'},{'name': 'AziendeLocComponent', 'selector': 'app-aziendeloc'},{'name': 'BaseEntityComponent', 'selector': ''},{'name': 'BaseResearchComponent', 'selector': ''},{'name': 'BlankComponent', 'selector': 'app-blank-layout'},{'name': 'BolloRepertoriazioneComponent', 'selector': 'app-bollorepertoriazione'},{'name': 'BreadcrumbComponent', 'selector': 'app-breadcrumb'},{'name': 'ClassificazioneComponent', 'selector': 'app-classificazione'},{'name': 'ClassificazioniComponent', 'selector': 'app-classificazioni'},{'name': 'CollapseWrapperComponent', 'selector': 'app-collapse-wrapper'},{'name': 'ConfirmationDialogComponent', 'selector': 'app-confirmation-dialog'},{'name': 'ControlGenericListComponent', 'selector': 'app-control-generic-list'},{'name': 'ConvenzioneComponent', 'selector': 'app-convenzione'},{'name': 'ConvenzionedetailsComponent', 'selector': 'app-convenzionedetails'},{'name': 'ConvenzioniComponent', 'selector': 'app-convenzionis'},{'name': 'ConvenzioniresultComponent', 'selector': 'app-convenzioniresult'},{'name': 'ConvvalidationComponent', 'selector': 'app-convvalidation'},{'name': 'Dashboard1Component', 'selector': ''},{'name': 'Dashboard2Component', 'selector': ''},{'name': 'DatepickerTypeComponent', 'selector': 'app-datapicker-type'},{'name': 'DocumentiTitulus', 'selector': 'app-documenti'},{'name': 'DynamicFormComponent', 'selector': 'app-dynamic-form'},{'name': 'DynamicTableComponent', 'selector': 'app-grid'},{'name': 'EmissioneComponent', 'selector': 'app-emissione'},{'name': 'EsecuzionedetailsComponent', 'selector': 'app-esecuzionedetails'},{'name': 'ExternalobjTypeComponent', 'selector': 'formly-field-ext'},{'name': 'ExternalqueryComponent', 'selector': 'app-externalquery'},{'name': 'ExternalTypeComponent', 'selector': 'app-external-type'},{'name': 'FaseWrapperComponent', 'selector': 'app-fase-wrapper'},{'name': 'FirmaControparteComponent', 'selector': 'app-firmacontroparte'},{'name': 'FirmaDirettoreComponent', 'selector': 'app-firmadirettore'},{'name': 'FormInfraComponent', 'selector': 'app-form-infra'},{'name': 'FormlyFieldButton', 'selector': 'formly-field-button'},{'name': 'FormlyFieldTemplate', 'selector': 'formly-template'},{'name': 'FormlyFieldTypeahead', 'selector': 'formly-field-typeahead'},{'name': 'FormlyHorizontalWrapper', 'selector': 'formly-horizontal-wrapper'},{'name': 'FullComponent', 'selector': 'app-full-layout'},{'name': 'GenericTypeComponent', 'selector': 'app-generic-type'},{'name': 'GridFormlyCellComponent', 'selector': 'formly-ag-grid-cell'},{'name': 'GridTypeComponent', 'selector': 'formly-field-grid'},{'name': 'HomeComponent', 'selector': 'app-home'},{'name': 'InfocardComponent', 'selector': 'app-info-card'},{'name': 'InputFileComponent', 'selector': 'app-input-file'},{'name': 'InvioRichiestaPagamentoComponent', 'selector': 'app-inviorichiestapagamento'},{'name': 'LogAttivitaComponent', 'selector': 'app-logattivita'},{'name': 'LookupComponent', 'selector': 'app-lookup'},{'name': 'MappingRuoli', 'selector': 'app-mappingruoli'},{'name': 'MappingRuolo', 'selector': 'app-ruolo'},{'name': 'MappingUfficioTitulus', 'selector': 'app-mappingufficio'},{'name': 'MappingUfficiTitulus', 'selector': 'app-mappinguffici'},{'name': 'MessageComponent', 'selector': 'app-message'},{'name': 'MultistepSchematipoComponent', 'selector': 'app-multistep-schematipo'},{'name': 'NavigationComponent', 'selector': 'app-navigation'},{'name': 'NavstepperWrapperComponent', 'selector': 'app-navstepper-wrapper'},{'name': 'NotFoundComponent', 'selector': 'notfound'},{'name': 'NotificationsComponent', 'selector': 'app-notifications'},{'name': 'PagamentoComponent', 'selector': 'app-pagamento'},{'name': 'PanelWrapperComponent', 'selector': 'formly-wrapper-panel'},{'name': 'PdfInfraComponent', 'selector': 'app-pdf-infra'},{'name': 'PdfTypeComponent', 'selector': 'app-pdf-type'},{'name': 'PdfTypeInputComponent', 'selector': 'app-pdf-type-input'},{'name': 'PermissionComponent', 'selector': 'app-permission'},{'name': 'PermissionsComponent', 'selector': 'app-permissions'},{'name': 'PersoneinterneTitulus', 'selector': 'app-personeinterne'},{'name': 'QueryBuilderComponent', 'selector': 'app-query-builder'},{'name': 'RangedetailsComponent', 'selector': 'app-rangedetails'},{'name': 'RepeatTypeComponent', 'selector': 'formly-repeat-section'},{'name': 'RepertoriazionedetailsComponent', 'selector': 'app-repertoriazionedetails'},{'name': 'RichiestaEmissioneComponent', 'selector': 'app-richiestaemissione'},{'name': 'RightaddonsWrapperComponent', 'selector': 'formly-wrapper-rightaddons'},{'name': 'RoleComponent', 'selector': 'app-role'},{'name': 'RolesComponent', 'selector': 'app-roles'},{'name': 'ScadenzaComponent', 'selector': 'app-scadenza'},{'name': 'ScadenzeComponent', 'selector': 'app-scadenze'},{'name': 'ScadenzedetailsComponent', 'selector': 'app-scadenzedetails'},{'name': 'ScadenzeresultComponent', 'selector': 'app-scadenzeresult'},{'name': 'SelectTypeComponent', 'selector': 'app-select-type'},{'name': 'ShowErrorsComponent', 'selector': 'app-show-errors'},{'name': 'SidebarComponent', 'selector': 'app-sidebar'},{'name': 'SottoscrizioneComponent', 'selector': 'app-sottoscrizione'},{'name': 'SottoscrizionedetailsComponent', 'selector': 'app-sottoscrizionedetails'},{'name': 'StruttureEsterneTitulus', 'selector': 'app-struttureinterne'},{'name': 'StruttureInterneTitulus', 'selector': 'app-struttureinterne'},{'name': 'SystemErrorComponent', 'selector': 'systemerror'},{'name': 'TableGroupTypeComponent', 'selector': 'app-tablegroup-type'},{'name': 'TableLookupTypeComponent', 'selector': 'app-tablelookup-type'},{'name': 'TableTypeComponent', 'selector': 'app-table-type'},{'name': 'TabTypeComponent', 'selector': 'app-tab-type'},{'name': 'TaskComponent', 'selector': 'app-task'},{'name': 'TaskListComponent', 'selector': 'app-tasklist'},{'name': 'TasksComponent', 'selector': 'app-tasks'},{'name': 'TestTabComponent', 'selector': 'app-test-tab'},{'name': 'TipoPagamentiComponent', 'selector': 'app-tipopagamenti'},{'name': 'TipoPagamentoComponent', 'selector': 'app-tipopagamento'},{'name': 'TooltipWrapperComponent', 'selector': 'formly-wrapper-tooltip'},{'name': 'UploadfileComponent', 'selector': 'app-uploadfile'},{'name': 'UserComponent', 'selector': 'app-user'},{'name': 'UserLoginComponent', 'selector': 'app-user-login'},{'name': 'UsersComponent', 'selector': 'app-users'},{'name': 'UserTaskDetailComponent', 'selector': 'app-user-task-detail'}];
    var DIRECTIVES = [];
    var ACTUAL_COMPONENT = {'name': 'ConvenzioniComponent'};
</script>
<script src="../js/tree.js"></script>










                   




                   </div><div class="search-results">
    <div class="has-results">
        <h1 class="search-results-title"><span class='search-results-count'></span> result-matching "<span class='search-query'></span>"</h1>
        <ul class="search-results-list"></ul>
    </div>
    <div class="no-results">
        <h1 class="search-results-title">No results matching "<span class='search-query'></span>"</h1>
    </div>
</div>
</div>
               <!-- END CONTENT -->
           </div>
       </div>

       <script>
            var COMPODOC_CURRENT_PAGE_DEPTH = 1;
            var COMPODOC_CURRENT_PAGE_CONTEXT = 'component';
            var COMPODOC_CURRENT_PAGE_URL = 'ConvenzioniComponent.html';
       </script>

       <script src="../js/libs/custom-elements.min.js"></script>
       <script src="../js/libs/lit-html.js"></script>
       <!-- Required to polyfill modern browsers as code is ES5 for IE... -->
       <script src="../js/libs/custom-elements-es5-adapter.js" charset="utf-8" defer></script>
       <script src="../js/menu-wc.js" defer></script>

       <script src="../js/libs/bootstrap-native.js"></script>

       <script src="../js/libs/es6-shim.min.js"></script>
       <script src="../js/libs/EventDispatcher.js"></script>
       <script src="../js/libs/promise.min.js"></script>
       <script src="../js/libs/zepto.min.js"></script>

       <script src="../js/compodoc.js"></script>

       <script src="../js/tabs.js"></script>
       <script src="../js/menu.js"></script>
       <script src="../js/libs/clipboard.min.js"></script>
       <script src="../js/libs/prism.js"></script>
       <script src="../js/sourceCode.js"></script>
          <script src="../js/search/search.js"></script>
          <script src="../js/search/lunr.min.js"></script>
          <script src="../js/search/search-lunr.js"></script>
          <script src="../js/search/search_index.js"></script>
       <script src="../js/lazy-load-graphs.js"></script>


    </body>
</html>
