<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>UniConv app documentation</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="icon" type="image/x-icon" href="../images/favicon.ico">
	      <link rel="stylesheet" href="../styles/style.css">
    </head>
    <body>

        <div class="navbar navbar-default navbar-fixed-top visible-xs">
            <a href="../" class="navbar-brand">UniConv app documentation</a>
            <button type="button" class="btn btn-default btn-menu ion-ios-menu" id="btn-menu"></button>
        </div>

        <div class="xs-menu menu" id="mobile-menu">
                <div id="book-search-input" role="search"><input type="text" placeholder="Type to search"></div>            <compodoc-menu></compodoc-menu>
        </div>

        <div class="container-fluid main">
           <div class="row main">
               <div class="hidden-xs menu">
                   <compodoc-menu mode="normal"></compodoc-menu>
               </div>
               <!-- START CONTENT -->
               <div class="content component">
                   <div class="content-data">




<ol class="breadcrumb">
  <li>Components</li>
  <li>ExternalTypeComponent</li>
</ol>

<ul class="nav nav-tabs" role="tablist">
        <li class="active">
            <a href="#info" role="tab" id="info-tab" data-toggle="tab" data-link="info">Info</a>
        </li>
        <li >
            <a href="#source" role="tab" id="source-tab" data-toggle="tab" data-link="source">Source</a>
        </li>
        <li >
            <a href="#tree" role="tab" id="tree-tab" data-toggle="tab" data-link="dom-tree">DOM Tree</a>
        </li>
</ul>

<div class="tab-content">
    <div class="tab-pane fade active in" id="c-info"><p class="comment">
    <h3>File</h3>
</p>
<p class="comment">
    <code>src/app/shared/dynamic-form/external-type.component.ts</code>
</p>


    <p class="comment">
        <h3>Extends</h3>
    </p>
    <p class="comment">
                <code><a href="../interfaces/Field.html" target="_self" >FieldType</a></code>
    </p>

    <p class="comment">
        <h3>Implements</h3>
    </p>
    <p class="comment">
                    <code><a href="https://angular.io/api/core/OnInit" target="_blank" >OnInit</a></code>
                    <code><a href="https://angular.io/api/core/OnDestroy" target="_blank" >OnDestroy</a></code>
    </p>


<section>
    <h3>Metadata</h3>
    <table class="table table-sm table-hover">
        <tbody>











            <tr>
                <td class="col-md-3">selector</td>
                <td class="col-md-9"><code>app-external-type</code></td>
            </tr>



            <tr>
                <td class="col-md-3">template</td>
                <td class="col-md-9"><pre class="line-numbers"><code class="language-html">
&lt;div  style&#x3D;&quot;position: relative&quot;&gt;
&lt;ngx-loading [show]&#x3D;&quot;isLoading&quot; [config]&#x3D;&quot;{  fullScreenBackdrop: false, backdropBorderRadius: &#x27;4px&#x27; }&quot;&gt;&lt;/ngx-loading&gt;
  &lt;div *ngIf&#x3D;&quot;codeField&quot; class&#x3D;&quot;row&quot; [class.has-error]&#x3D;&quot;showError&quot;&gt;
    &lt;div class&#x3D;&quot;col-md-4&quot; &gt;
    &lt;div class&#x3D;&quot;form-group&quot;&gt;
      &lt;label [attr.for]&#x3D;&quot;id&quot; class&#x3D;&quot;form-control-label control-label&quot; *ngIf&#x3D;&quot;to.label&quot;&gt;
        {{ to.label }}
        &lt;ng-container *ngIf&#x3D;&quot;to.required &amp;&amp; to.hideRequiredMarker !&#x3D;&#x3D; true&quot;&gt;*&lt;/ng-container&gt;
      &lt;/label&gt;
      &lt;div class&#x3D;&quot;input-group&quot;&gt;
        &lt;input *ngIf&#x3D;&quot;field.templateOptions.type !&#x3D;&#x3D; &#x27;number&#x27; else numberTmp&quot; [type]&#x3D;&quot;field.templateOptions.type&quot; [formControl]&#x3D;&quot;formControl&quot; class&#x3D;&quot;form-control&quot; [formlyAttributes]&#x3D;&quot;field&quot; [class.is-invalid]&#x3D;&quot;showError&quot;&gt;
        &lt;ng-template #numberTmp&gt;
          &lt;input type&#x3D;&quot;number&quot; [formControl]&#x3D;&quot;formControl&quot; class&#x3D;&quot;form-control&quot; [formlyAttributes]&#x3D;&quot;field&quot; [class.is-invalid]&#x3D;&quot;showError&quot;&gt;
        &lt;/ng-template&gt;
        &lt;div class&#x3D;&quot;input-group-addon  input-group-append&quot; *ngIf&#x3D;&quot;to.addonRights&quot; &gt;
          &lt;ng-container *ngFor&#x3D;&quot;let item of to.addonRights; index as i;&quot;&gt;
            &lt;button type&#x3D;&quot;button&quot; class&#x3D;&quot;input-group-text&quot; [disabled]&#x3D;&quot;to.disabled &amp;&amp; !item.alwaysenabled&quot;
                title&#x3D;&quot;{{item.text}}&quot; [ngClass]&#x3D;&quot;item.class&quot; *ngIf&#x3D;&quot;item.class&quot;  (click)&#x3D;&quot;addonRightClick($event,i)&quot;&gt;&lt;/button&gt;
          &lt;/ng-container&gt;
        &lt;/div&gt;
      &lt;/div&gt;
      &lt;div *ngIf&#x3D;&quot;showError&quot;&gt;
      &lt;small class&#x3D;&quot;text-danger invalid-feedback&quot; [style.display]&#x3D;&quot;&#x27;block&#x27;&quot; role&#x3D;&quot;alert&quot; [id]&#x3D;&quot;validationId&quot;&gt;
        &lt;formly-validation-message [field]&#x3D;&quot;field&quot;&gt;&lt;/formly-validation-message&gt;
      &lt;/small&gt;
      &lt;/div&gt;
      &lt;/div&gt;
    &lt;/div&gt;

    &lt;div class&#x3D;&quot;col-md-8&quot;&gt;
      &lt;Label *ngIf&#x3D;&quot;descriptionField.templateOptions.label&quot;&gt;{{ descriptionField.templateOptions.label }} &lt;/Label&gt;
      &lt;input type&#x3D;&quot;text&quot; class&#x3D;&quot;form-control&quot; [value]&#x3D;&quot;extDescription&quot;  readonly&gt;
    &lt;/div&gt;
 &lt;/div&gt;
 &lt;/div&gt;

</code></pre></td>
            </tr>









        </tbody>
    </table>
</section>

    <section>
    <h3 id="index">Index</h3>
    <table class="table table-sm table-bordered index-table">
        <tbody>
                <tr>
                    <td class="col-md-4">
                        <h6><b>Properties</b></h6>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <ul class="index-list">
                            <li>
                                    <span class="modifier">Public</span>
                                <a href="#activeModal">activeModal</a>
                            </li>
                            <li>
                                <a href="#codeField">codeField</a>
                            </li>
                            <li>
                                <a href="#descriptionField">descriptionField</a>
                            </li>
                            <li>
                                <a href="#extDescription">extDescription</a>
                            </li>
                            <li>
                                    <span class="modifier">Private</span>
                                <a href="#initdesc">initdesc</a>
                            </li>
                            <li>
                                    <span class="modifier">Public</span>
                                <a href="#isLoading">isLoading</a>
                            </li>
                            <li>
                                <a href="#nodecode">nodecode</a>
                            </li>
                            <li>
                                <a href="#onDestroy$">onDestroy$</a>
                            </li>
                            <li>
                                <a href="#service">service</a>
                            </li>
                        </ul>
                    </td>
                </tr>

                <tr>
                    <td class="col-md-4">
                        <h6><b>Methods</b></h6>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <ul class="index-list">
                            <li>
                                <a href="#addonRightClick">addonRightClick</a>
                            </li>
                            <li>
                                <a href="#init">init</a>
                            </li>
                            <li>
                                <a href="#ngOnDestroy">ngOnDestroy</a>
                            </li>
                            <li>
                                <a href="#ngOnInit">ngOnInit</a>
                            </li>
                            <li>
                                <a href="#onPopulate">onPopulate</a>
                            </li>
                            <li>
                                <a href="#open">open</a>
                            </li>
                            <li>
                                <a href="#openEntity">openEntity</a>
                            </li>
                            <li>
                                <a href="#openNewEnity">openNewEnity</a>
                            </li>
                            <li>
                                <a href="#setcode">setcode</a>
                            </li>
                            <li>
                                <a href="#setDescription">setDescription</a>
                            </li>
                            <li>
                                <a href="#setresult">setresult</a>
                            </li>
                        </ul>
                    </td>
                </tr>





        </tbody>
    </table>
</section>

    <section>
    <h3 id="constructor">Constructor</h3>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
<code>constructor(formlyConfig: FormlyConfig, injector: <a href="https://angular.io/api/core/Injector" target="_blank">Injector</a>, modalService: NgbModal, activeModal: NgbActiveModal, router: <a href="https://angular.io/api/router/Router" target="_blank">Router</a>)</code>
                    </td>
                </tr>
                        <tr>
                            <td class="col-md-4">
                                <div class="io-line">Defined in <a href="" data-line="79" class="link-to-prism">src/app/shared/dynamic-form/external-type.component.ts:79</a></div>
                            </td>
                        </tr>

                <tr>
                    <td class="col-md-4">
                            <div>
                                    <b>Parameters :</b>
                                    <table class="params">
                                        <thead>
                                            <tr>
                                                <td>Name</td>
                                                    <td>Type</td>
                                                <td>Optional</td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                                <tr>
                                                        <td>formlyConfig</td>
                                                  
                                                        <td>
                                                                    <code>FormlyConfig</code>
                                                        </td>
                                                  
                                                    <td>
                                                            No
                                                    </td>
                                                    
                                                </tr>
                                                <tr>
                                                        <td>injector</td>
                                                  
                                                        <td>
                                                                        <code><a href="https://angular.io/api/core/Injector" target="_blank" >Injector</a></code>
                                                        </td>
                                                  
                                                    <td>
                                                            No
                                                    </td>
                                                    
                                                </tr>
                                                <tr>
                                                        <td>modalService</td>
                                                  
                                                        <td>
                                                                    <code>NgbModal</code>
                                                        </td>
                                                  
                                                    <td>
                                                            No
                                                    </td>
                                                    
                                                </tr>
                                                <tr>
                                                        <td>activeModal</td>
                                                  
                                                        <td>
                                                                    <code>NgbActiveModal</code>
                                                        </td>
                                                  
                                                    <td>
                                                            No
                                                    </td>
                                                    
                                                </tr>
                                                <tr>
                                                        <td>router</td>
                                                  
                                                        <td>
                                                                        <code><a href="https://angular.io/api/router/Router" target="_blank" >Router</a></code>
                                                        </td>
                                                  
                                                    <td>
                                                            No
                                                    </td>
                                                    
                                                </tr>
                                        </tbody>
                                    </table>
                            </div>
                    </td>
                </tr>
            </tbody>
        </table>
</section>





    <section>
    
    <h3 id="methods">
        Methods
    </h3>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="addonRightClick"></a>
                    <span class="name">
                        <b>
                            addonRightClick
                        </b>
                        <a href="#addonRightClick"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
            <tr>
                <td class="col-md-4">
<code>addonRightClick($event: <a href="https://www.typescriptlang.org/docs/handbook/basic-types.html" target="_blank">any</a>, i)</code>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">
                    <div class="io-line">Defined in <a href="" data-line="264"
                            class="link-to-prism">src/app/shared/dynamic-form/external-type.component.ts:264</a></div>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">

                    <div class="io-description">
                        <b>Parameters :</b>
                        <table class="params">
                            <thead>
                                <tr>
                                    <td>Name</td>
                                    <td>Type</td>
                                    <td>Optional</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>$event</td>
                                    <td>
                                                <code><a href="https://www.typescriptlang.org/docs/handbook/basic-types.html" target="_blank" >any</a></code>
                                    </td>

                                    <td>
                                        No
                                    </td>


                                </tr>
                                <tr>
                                    <td>i</td>
                                    <td>
                                    </td>

                                    <td>
                                        No
                                    </td>


                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div>
                    </div>
                    <div class="io-description">
                        <b>Returns : </b>        <code><a href="https://www.typescriptlang.org/docs/handbook/basic-types.html" target="_blank" >void</a></code>

                    </div>
                    <div class="io-description">
                        
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="init"></a>
                    <span class="name">
                        <b>
                            init
                        </b>
                        <a href="#init"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
            <tr>
                <td class="col-md-4">
<code>init()</code>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">
                    <div class="io-line">Defined in <a href="" data-line="170"
                            class="link-to-prism">src/app/shared/dynamic-form/external-type.component.ts:170</a></div>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">

                    <div class="io-description">
                        <b>Returns : </b>        <code><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/boolean" target="_blank" >boolean</a></code>

                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="ngOnDestroy"></a>
                    <span class="name">
                        <b>
                            ngOnDestroy
                        </b>
                        <a href="#ngOnDestroy"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
            <tr>
                <td class="col-md-4">
<code>ngOnDestroy()</code>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">
                    <div class="io-line">Defined in <a href="" data-line="235"
                            class="link-to-prism">src/app/shared/dynamic-form/external-type.component.ts:235</a></div>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">

                    <div class="io-description">
                        <b>Returns : </b>        <code><a href="https://www.typescriptlang.org/docs/handbook/basic-types.html" target="_blank" >void</a></code>

                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="ngOnInit"></a>
                    <span class="name">
                        <b>
                            ngOnInit
                        </b>
                        <a href="#ngOnInit"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
            <tr>
                <td class="col-md-4">
<code>ngOnInit()</code>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">
                    <div class="io-line">Defined in <a href="" data-line="85"
                            class="link-to-prism">src/app/shared/dynamic-form/external-type.component.ts:85</a></div>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">

                    <div class="io-description">
                        <b>Returns : </b>        <code><a href="https://www.typescriptlang.org/docs/handbook/basic-types.html" target="_blank" >void</a></code>

                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="onPopulate"></a>
                    <span class="name">
                        <b>
                            onPopulate
                        </b>
                        <a href="#onPopulate"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
            <tr>
                <td class="col-md-4">
<code>onPopulate(field: <a href="../interfaces/Field.html">FormlyFieldConfig</a>)</code>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">
                    <div class="io-line">Defined in <a href="" data-line="270"
                            class="link-to-prism">src/app/shared/dynamic-form/external-type.component.ts:270</a></div>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">

                    <div class="io-description">
                        <b>Parameters :</b>
                        <table class="params">
                            <thead>
                                <tr>
                                    <td>Name</td>
                                    <td>Type</td>
                                    <td>Optional</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>field</td>
                                    <td>
                                                <code><a href="../interfaces/Field.html" target="_self" >FormlyFieldConfig</a></code>
                                    </td>

                                    <td>
                                        No
                                    </td>


                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div>
                    </div>
                    <div class="io-description">
                        <b>Returns : </b>        <code><a href="https://www.typescriptlang.org/docs/handbook/basic-types.html" target="_blank" >void</a></code>

                    </div>
                    <div class="io-description">
                        
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="open"></a>
                    <span class="name">
                        <b>
                            open
                        </b>
                        <a href="#open"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
            <tr>
                <td class="col-md-4">
<code>open()</code>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">
                    <div class="io-line">Defined in <a href="" data-line="240"
                            class="link-to-prism">src/app/shared/dynamic-form/external-type.component.ts:240</a></div>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">

                    <div class="io-description">
                        <b>Returns : </b>        <code><a href="https://www.typescriptlang.org/docs/handbook/basic-types.html" target="_blank" >void</a></code>

                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="openEntity"></a>
                    <span class="name">
                        <b>
                            openEntity
                        </b>
                        <a href="#openEntity"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
            <tr>
                <td class="col-md-4">
<code>openEntity()</code>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">
                    <div class="io-line">Defined in <a href="" data-line="258"
                            class="link-to-prism">src/app/shared/dynamic-form/external-type.component.ts:258</a></div>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">

                    <div class="io-description">
                        <b>Returns : </b>        <code><a href="https://www.typescriptlang.org/docs/handbook/basic-types.html" target="_blank" >void</a></code>

                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="openNewEnity"></a>
                    <span class="name">
                        <b>
                            openNewEnity
                        </b>
                        <a href="#openNewEnity"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
            <tr>
                <td class="col-md-4">
<code>openNewEnity()</code>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">
                    <div class="io-line">Defined in <a href="" data-line="274"
                            class="link-to-prism">src/app/shared/dynamic-form/external-type.component.ts:274</a></div>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">

                    <div class="io-description">
                        <b>Returns : </b>        <code><a href="https://www.typescriptlang.org/docs/handbook/basic-types.html" target="_blank" >void</a></code>

                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="setcode"></a>
                    <span class="name">
                        <b>
                            setcode
                        </b>
                        <a href="#setcode"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
            <tr>
                <td class="col-md-4">
<code>setcode(data: <a href="https://www.typescriptlang.org/docs/handbook/basic-types.html" target="_blank">any</a>)</code>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">
                    <div class="io-line">Defined in <a href="" data-line="217"
                            class="link-to-prism">src/app/shared/dynamic-form/external-type.component.ts:217</a></div>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">

                    <div class="io-description">
                        <b>Parameters :</b>
                        <table class="params">
                            <thead>
                                <tr>
                                    <td>Name</td>
                                    <td>Type</td>
                                    <td>Optional</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>data</td>
                                    <td>
                                                <code><a href="https://www.typescriptlang.org/docs/handbook/basic-types.html" target="_blank" >any</a></code>
                                    </td>

                                    <td>
                                        No
                                    </td>


                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div>
                    </div>
                    <div class="io-description">
                        <b>Returns : </b>        <code><a href="https://www.typescriptlang.org/docs/handbook/basic-types.html" target="_blank" >void</a></code>

                    </div>
                    <div class="io-description">
                        
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="setDescription"></a>
                    <span class="name">
                        <b>
                            setDescription
                        </b>
                        <a href="#setDescription"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
            <tr>
                <td class="col-md-4">
<code>setDescription(data: <a href="https://www.typescriptlang.org/docs/handbook/basic-types.html" target="_blank">any</a>)</code>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">
                    <div class="io-line">Defined in <a href="" data-line="201"
                            class="link-to-prism">src/app/shared/dynamic-form/external-type.component.ts:201</a></div>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">

                    <div class="io-description">
                        <b>Parameters :</b>
                        <table class="params">
                            <thead>
                                <tr>
                                    <td>Name</td>
                                    <td>Type</td>
                                    <td>Optional</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>data</td>
                                    <td>
                                                <code><a href="https://www.typescriptlang.org/docs/handbook/basic-types.html" target="_blank" >any</a></code>
                                    </td>

                                    <td>
                                        No
                                    </td>


                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div>
                    </div>
                    <div class="io-description">
                        <b>Returns : </b>        <code><a href="https://www.typescriptlang.org/docs/handbook/basic-types.html" target="_blank" >void</a></code>

                    </div>
                    <div class="io-description">
                        
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="setresult"></a>
                    <span class="name">
                        <b>
                            setresult
                        </b>
                        <a href="#setresult"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
            <tr>
                <td class="col-md-4">
<code>setresult(result)</code>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">
                    <div class="io-line">Defined in <a href="" data-line="224"
                            class="link-to-prism">src/app/shared/dynamic-form/external-type.component.ts:224</a></div>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">

                    <div class="io-description">
                        <b>Parameters :</b>
                        <table class="params">
                            <thead>
                                <tr>
                                    <td>Name</td>
                                    <td>Optional</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>result</td>

                                    <td>
                                        No
                                    </td>


                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div>
                    </div>
                    <div class="io-description">
                        <b>Returns : </b>        <code><a href="https://www.typescriptlang.org/docs/handbook/basic-types.html" target="_blank" >void</a></code>

                    </div>
                    <div class="io-description">
                        
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</section>
    <section>
    
        <h3 id="inputs">
            Properties
        </h3>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="activeModal"></a>
                        <span class="name">
                            <b>
                                <span class="modifier">Public</span>
                            activeModal</b>
                            <a href="#activeModal"><span class="icon ion-ios-link"></span></a>
                        </span>
                    </td>
                </tr>
                    <tr>
                        <td class="col-md-4">
                            <i>Type : </i>    <code>NgbActiveModal</code>

                        </td>
                    </tr>
                        <tr>
                            <td class="col-md-4">
                                    <div class="io-line">Defined in <a href="" data-line="81" class="link-to-prism">src/app/shared/dynamic-form/external-type.component.ts:81</a></div>
                            </td>
                        </tr>


            </tbody>
        </table>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="codeField"></a>
                        <span class="name">
                            <b>
                            codeField</b>
                            <a href="#codeField"><span class="icon ion-ios-link"></span></a>
                        </span>
                    </td>
                </tr>
                    <tr>
                        <td class="col-md-4">
                            <i>Type : </i>        <code><a href="../interfaces/Field.html" target="_self" >FormlyFieldConfig</a></code>

                        </td>
                    </tr>
                        <tr>
                            <td class="col-md-4">
                                    <div class="io-line">Defined in <a href="" data-line="72" class="link-to-prism">src/app/shared/dynamic-form/external-type.component.ts:72</a></div>
                            </td>
                        </tr>


            </tbody>
        </table>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="descriptionField"></a>
                        <span class="name">
                            <b>
                            descriptionField</b>
                            <a href="#descriptionField"><span class="icon ion-ios-link"></span></a>
                        </span>
                    </td>
                </tr>
                    <tr>
                        <td class="col-md-4">
                            <i>Type : </i>        <code><a href="../interfaces/Field.html" target="_self" >FormlyFieldConfig</a></code>

                        </td>
                    </tr>
                        <tr>
                            <td class="col-md-4">
                                    <div class="io-line">Defined in <a href="" data-line="73" class="link-to-prism">src/app/shared/dynamic-form/external-type.component.ts:73</a></div>
                            </td>
                        </tr>


            </tbody>
        </table>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="extDescription"></a>
                        <span class="name">
                            <b>
                            extDescription</b>
                            <a href="#extDescription"><span class="icon ion-ios-link"></span></a>
                        </span>
                    </td>
                </tr>
                    <tr>
                        <td class="col-md-4">
                            <i>Type : </i>    <code>null</code>

                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-4">
                            <i>Default value : </i><code>null</code>
                        </td>
                    </tr>
                        <tr>
                            <td class="col-md-4">
                                    <div class="io-line">Defined in <a href="" data-line="74" class="link-to-prism">src/app/shared/dynamic-form/external-type.component.ts:74</a></div>
                            </td>
                        </tr>


            </tbody>
        </table>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="initdesc"></a>
                        <span class="name">
                            <b>
                                <span class="modifier">Private</span>
                            initdesc</b>
                            <a href="#initdesc"><span class="icon ion-ios-link"></span></a>
                        </span>
                    </td>
                </tr>
                    <tr>
                        <td class="col-md-4">
                            <i>Default value : </i><code>false</code>
                        </td>
                    </tr>
                        <tr>
                            <td class="col-md-4">
                                    <div class="io-line">Defined in <a href="" data-line="169" class="link-to-prism">src/app/shared/dynamic-form/external-type.component.ts:169</a></div>
                            </td>
                        </tr>


            </tbody>
        </table>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="isLoading"></a>
                        <span class="name">
                            <b>
                                <span class="modifier">Public</span>
                            isLoading</b>
                            <a href="#isLoading"><span class="icon ion-ios-link"></span></a>
                        </span>
                    </td>
                </tr>
                    <tr>
                        <td class="col-md-4">
                            <i>Default value : </i><code>false</code>
                        </td>
                    </tr>
                        <tr>
                            <td class="col-md-4">
                                    <div class="io-line">Defined in <a href="" data-line="77" class="link-to-prism">src/app/shared/dynamic-form/external-type.component.ts:77</a></div>
                            </td>
                        </tr>


            </tbody>
        </table>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="nodecode"></a>
                        <span class="name">
                            <b>
                            nodecode</b>
                            <a href="#nodecode"><span class="icon ion-ios-link"></span></a>
                        </span>
                    </td>
                </tr>
                    <tr>
                        <td class="col-md-4">
                            <i>Default value : </i><code>false</code>
                        </td>
                    </tr>
                        <tr>
                            <td class="col-md-4">
                                    <div class="io-line">Defined in <a href="" data-line="79" class="link-to-prism">src/app/shared/dynamic-form/external-type.component.ts:79</a></div>
                            </td>
                        </tr>


            </tbody>
        </table>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="onDestroy$"></a>
                        <span class="name">
                            <b>
                            onDestroy$</b>
                            <a href="#onDestroy$"><span class="icon ion-ios-link"></span></a>
                        </span>
                    </td>
                </tr>
                    <tr>
                        <td class="col-md-4">
                            <i>Default value : </i><code>new Subject&lt;void&gt;()</code>
                        </td>
                    </tr>
                        <tr>
                            <td class="col-md-4">
                                    <div class="io-line">Defined in <a href="" data-line="75" class="link-to-prism">src/app/shared/dynamic-form/external-type.component.ts:75</a></div>
                            </td>
                        </tr>


            </tbody>
        </table>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="service"></a>
                        <span class="name">
                            <b>
                            service</b>
                            <a href="#service"><span class="icon ion-ios-link"></span></a>
                        </span>
                    </td>
                </tr>
                    <tr>
                        <td class="col-md-4">
                            <i>Type : </i>        <code><a href="../interfaces/ServiceQuery.html" target="_self" >ServiceQuery</a></code>

                        </td>
                    </tr>
                        <tr>
                            <td class="col-md-4">
                                    <div class="io-line">Defined in <a href="" data-line="76" class="link-to-prism">src/app/shared/dynamic-form/external-type.component.ts:76</a></div>
                            </td>
                        </tr>


            </tbody>
        </table>
</section>

</div>


    <div class="tab-pane fade  tab-source-code" id="c-source">
        <pre class="line-numbers compodoc-sourcecode"><code class="language-typescript">import { Component, OnInit, OnDestroy, Injector, ChangeDetectorRef } from &#x27;@angular/core&#x27;;
import { FieldType, FormlyConfig, FormlyFieldConfig } from &#x27;@ngx-formly/core&#x27;;
import { FormlyFieldInput } from &#x27;@ngx-formly/bootstrap&#x27;;
import { takeUntil, startWith, tap, distinctUntilChanged } from &#x27;rxjs/operators&#x27;;
import { Subject } from &#x27;rxjs&#x27;;
import { FormControl } from &#x27;@angular/forms&#x27;;
import { ServiceQuery } from &#x27;../query-builder/query-builder.interfaces&#x27;;
import { NgbActiveModal, NgbModal } from &#x27;@ng-bootstrap/ng-bootstrap&#x27;;
import { LookupComponent } from &#x27;../lookup/lookup.component&#x27;;
import ControlUtils from &#x27;./control-utils&#x27;;
import { initDomAdapter } from &#x27;@angular/platform-browser/src/browser&#x27;;
import { Router } from &#x27;@angular/router&#x27;;

@Component({
  selector: &#x27;app-external-type&#x27;,
  template: &#x60;                

  &lt;div  style&#x3D;&quot;position: relative&quot;&gt;
  &lt;ngx-loading [show]&#x3D;&quot;isLoading&quot; [config]&#x3D;&quot;{  fullScreenBackdrop: false, backdropBorderRadius: &#x27;4px&#x27; }&quot;&gt;&lt;/ngx-loading&gt;    
    &lt;div *ngIf&#x3D;&quot;codeField&quot; class&#x3D;&quot;row&quot; [class.has-error]&#x3D;&quot;showError&quot;&gt;               
      &lt;div class&#x3D;&quot;col-md-4&quot; &gt; 
      &lt;div class&#x3D;&quot;form-group&quot;&gt; 
        &lt;label [attr.for]&#x3D;&quot;id&quot; class&#x3D;&quot;form-control-label control-label&quot; *ngIf&#x3D;&quot;to.label&quot;&gt;
          {{ to.label }}
          &lt;ng-container *ngIf&#x3D;&quot;to.required &amp;&amp; to.hideRequiredMarker !&#x3D;&#x3D; true&quot;&gt;*&lt;/ng-container&gt;
        &lt;/label&gt;
        &lt;div class&#x3D;&quot;input-group&quot;&gt; 
          &lt;input *ngIf&#x3D;&quot;field.templateOptions.type !&#x3D;&#x3D; &#x27;number&#x27; else numberTmp&quot; [type]&#x3D;&quot;field.templateOptions.type&quot; [formControl]&#x3D;&quot;formControl&quot; class&#x3D;&quot;form-control&quot; [formlyAttributes]&#x3D;&quot;field&quot; [class.is-invalid]&#x3D;&quot;showError&quot;&gt;
          &lt;ng-template #numberTmp&gt;
            &lt;input type&#x3D;&quot;number&quot; [formControl]&#x3D;&quot;formControl&quot; class&#x3D;&quot;form-control&quot; [formlyAttributes]&#x3D;&quot;field&quot; [class.is-invalid]&#x3D;&quot;showError&quot;&gt;
          &lt;/ng-template&gt;                    
          &lt;div class&#x3D;&quot;input-group-addon  input-group-append&quot; *ngIf&#x3D;&quot;to.addonRights&quot; &gt; 
            &lt;ng-container *ngFor&#x3D;&quot;let item of to.addonRights; index as i;&quot;&gt;    
              &lt;button type&#x3D;&quot;button&quot; class&#x3D;&quot;input-group-text&quot; [disabled]&#x3D;&quot;to.disabled &amp;&amp; !item.alwaysenabled&quot; 
                  title&#x3D;&quot;{{item.text}}&quot; [ngClass]&#x3D;&quot;item.class&quot; *ngIf&#x3D;&quot;item.class&quot;  (click)&#x3D;&quot;addonRightClick($event,i)&quot;&gt;&lt;/button&gt;               
            &lt;/ng-container&gt;
          &lt;/div&gt;          
        &lt;/div&gt;
        &lt;div *ngIf&#x3D;&quot;showError&quot;&gt;
        &lt;small class&#x3D;&quot;text-danger invalid-feedback&quot; [style.display]&#x3D;&quot;&#x27;block&#x27;&quot; role&#x3D;&quot;alert&quot; [id]&#x3D;&quot;validationId&quot;&gt;
          &lt;formly-validation-message [field]&#x3D;&quot;field&quot;&gt;&lt;/formly-validation-message&gt;
        &lt;/small&gt;
        &lt;/div&gt;
        &lt;/div&gt;
      &lt;/div&gt;    

      &lt;div class&#x3D;&quot;col-md-8&quot;&gt;    
        &lt;Label *ngIf&#x3D;&quot;descriptionField.templateOptions.label&quot;&gt;{{ descriptionField.templateOptions.label }} &lt;/Label&gt;
        &lt;input type&#x3D;&quot;text&quot; class&#x3D;&quot;form-control&quot; [value]&#x3D;&quot;extDescription&quot;  readonly&gt;    
      &lt;/div&gt;    
   &lt;/div&gt;  
   &lt;/div&gt; 
   
  &#x60;,
  styles: []
})

// *ngIf&#x3D;&quot;to.addonRight&quot;
// [ngStyle]&#x3D;&quot;{cursor: to.addonRight.onClick ? &#x27;pointer&#x27; : &#x27;inherit&#x27;}&quot;
// (click)&#x3D;&quot;addonRightClick($event)&quot;&gt;
// &lt;i class&#x3D;&quot;input-group-text&quot; [ngClass]&#x3D;&quot;to.addonRight.class&quot; *ngIf&#x3D;&quot;to.addonRight.class&quot;&gt;&lt;/i&gt;
// &lt;span *ngIf&#x3D;&quot;to.addonRight.text&quot; class&#x3D;&quot;input-group-text&quot;&gt;{{ to.addonRight.text }}&lt;/span&gt;

// &lt;formly-field *ngIf&#x3D;&quot;descriptionField&quot;
//       class&#x3D;&quot;col-md-8&quot; 
//       [form]&#x3D;&quot;form&quot;
//       [field]&#x3D;&quot;descriptionField&quot;
//       [options]&#x3D;&quot;options&quot;&gt;
//     &lt;/formly-field&gt;      

export class ExternalTypeComponent extends FieldType implements OnInit, OnDestroy {
  codeField: FormlyFieldConfig;
  descriptionField: FormlyFieldConfig;
  extDescription &#x3D; null;
  onDestroy$ &#x3D; new Subject&lt;void&gt;();
  service: ServiceQuery;
  public isLoading &#x3D; false;

  nodecode &#x3D; false;

  constructor(private formlyConfig: FormlyConfig, private injector: Injector, private modalService: NgbModal, public activeModal: NgbActiveModal, protected router: Router) {
    super();
  }

  ngOnInit() {
    const servicename &#x3D; ControlUtils.getServiceName(this.to.entityName)
    this.service &#x3D; this.injector.get(servicename) as ServiceQuery;

    this.field.wrappers &#x3D; [];
    this.field.templateOptions.
      keyup &#x3D; (field, event: KeyboardEvent) &#x3D;&gt; {
        if (event.key &#x3D;&#x3D; &quot;F4&quot;) {
          this.open();
        }
        if (event.key &#x3D;&#x3D; &quot;F2&quot;){
          if (this.codeField.formControl.value &amp;&amp; this.to.entityPath){
            this.router.navigate([this.to.entityPath,this.codeField.formControl.value]);
          }
        }
      };

    this.field.templateOptions.addonRights &#x3D; [{
      class: &#x27;btn btn-outline-secondary oi oi-eye d-flex align-items-center&#x27;,
      alwaysenabled: false,
      text: &#x27;Ricerca&#x27;,
      onClick: (to, fieldType, $event) &#x3D;&gt; this.open(),
    }];
    if (this.to.entityPath){
      //extra bottone sulla destra per aprire la gestione
      this.field.templateOptions.addonRights &#x3D; [
        ...this.field.templateOptions.addonRights,
        {
          class: &#x27;btn btn-outline-secondary oi oi-external-link d-flex align-items-center&#x27;,    
          alwaysenabled: true,
          text: &#x27;Apri gestione&#x27;,    
          onClick: (to, fieldType, $event) &#x3D;&gt; {this.openEntity()},
        }
      ];      
    }

    this.init();

    this.field.formControl.valueChanges.pipe(
      distinctUntilChanged(),
      takeUntil(this.onDestroy$),
      //perchè occorre lo startwith
      //startWith(this.field.formControl.value),
      tap(selectedField &#x3D;&gt; {        
        if (!this.initdesc)
          return this.init();

        if (this.formControl.value &amp;&amp; !this.nodecode) {          
          setTimeout(() &#x3D;&gt; { this.isLoading &#x3D; true; }, 0);
          this.service.getById(this.formControl.value).subscribe((data) &#x3D;&gt; {
            setTimeout(() &#x3D;&gt; { this.isLoading &#x3D; false; }, 0);
            if (data &#x3D;&#x3D; null) {
              this.extDescription &#x3D; null;
              this.formControl.setErrors({ notfound: true });
              return;
            }
            //il parametro decriptionProp contiene il nome della proprità che contiene la descrizione            
            this.setresult(data);
          });

        } else {
          //codizione di empty
          this.extDescription &#x3D; null;
          //this.field.formControl.markAsDirty();
        }
      }),
    ).subscribe();
    this.field.formControl.updateValueAndValidity();
    
    // this.formlyConfig.getMergedField(tmpfield);
    this.codeField &#x3D; this.field;

    //non è usato formly-field
    this.descriptionField &#x3D; {
      type: &#x27;string&#x27;,
      wrappers: [&#x27;form-field&#x27;],
      templateOptions: {
        disabled: true,
        label: &#x27;Descrizione&#x27;
      }
    }
    
  }

  private initdesc &#x3D; false;
  init(){   
    //verifico in caso di cache e non se il modello è inizializzato
    if (!this.initdesc &amp;&amp; this.field.key in this.model &amp;&amp; this.model[this.field.key]){    
      this.initdesc &#x3D; true;
      
      if (this.field.templateOptions.initdescription in this.model){      
        this.extDescription &#x3D; this.model[this.field.templateOptions.initdescription];        
      }else if (typeof this.field.templateOptions.descriptionFunc &#x3D;&#x3D;&#x3D; &#x27;function&#x27;){        
          this.extDescription &#x3D; this.field.templateOptions.descriptionFunc(this.model);    
      } else if (!this.extDescription){
        //far scattare la decodifica 
        setTimeout(() &#x3D;&gt; { this.isLoading &#x3D; true; }, 0);
        this.service.getById(this.formControl.value).subscribe((data) &#x3D;&gt; {
          setTimeout(() &#x3D;&gt; { this.isLoading &#x3D; false; }, 0);
          if (data &#x3D;&#x3D; null) {
            this.extDescription &#x3D; null;
            this.formControl.setErrors({ notfound: true });
            return;
          }
          //il parametro decriptionProp contiene il nome della proprità che contiene la descrizione
          this.setDescription(data);            
        });
      }
    } else {
      //caso vuoto
      this.initdesc &#x3D; true;
      this.setDescription(null);
    }
    return this.initdesc;
  }

  setDescription(data: any) {
    if (typeof this.field.templateOptions.descriptionFunc &#x3D;&#x3D;&#x3D; &#x27;function&#x27;){
      this.extDescription &#x3D; this.field.templateOptions.descriptionFunc(data);    
    } else if (data){
      //il parametro decriptionProp contiene il nome della proprità che contiene la descrizione
      if (this.field.templateOptions.descriptionProp in data){
        this.extDescription &#x3D; data[this.field.templateOptions.descriptionProp];
        if (this.field.templateOptions.initdescription in this.model)
          this.model[this.field.templateOptions.initdescription] &#x3D; data[this.field.templateOptions.descriptionProp];
      } 
    }else{
      if (this.field.templateOptions.initdescription in this.model)
      this.model[this.field.templateOptions.initdescription] &#x3D; &#x27;&#x27;;
    }     
  }

  setcode(data: any) {
    if (this.field.templateOptions.codeProp in data){
      this.codeField.formControl.setValue(data[this.field.templateOptions.codeProp]);
      this.field.formControl.markAsDirty();
    }
  }

  setresult(result){    
    this.nodecode &#x3D; true  
    this.setcode(result);
    this.setDescription(result);
    if (this.field.templateOptions.copymodel){
      
      Object.keys(result).forEach( x&#x3D;&gt; this.model[x] &#x3D; result[x]);      
    }
    this.nodecode &#x3D; false
  }

  ngOnDestroy(): void {
    this.onDestroy$.next();
    this.onDestroy$.complete();
  }

  open() {
    const modalRef &#x3D; this.modalService.open(LookupComponent, {
      size: &#x27;lg&#x27;
    })
    modalRef.result.then((result) &#x3D;&gt; {
      if (result!&#x3D;&#x3D;&#x27;new&#x27;){
        this.setresult(result);
      }else{
        this.openNewEnity();
      }
    }, (reason) &#x3D;&gt; {
    });
    modalRef.componentInstance.entityName &#x3D; this.to.entityName;
    modalRef.componentInstance.entityLabel &#x3D; this.to.entityLabel;
    modalRef.componentInstance.rules &#x3D; this.to.rules ? this.to.rules : null;
    modalRef.componentInstance.enableNew &#x3D; this.to.enableNew &#x3D;&#x3D; undefined ? true : this.to.enableNew;
  }

  openEntity(){
    if (this.codeField.formControl.value &amp;&amp; this.to.entityPath){
      this.router.navigate([this.to.entityPath,this.codeField.formControl.value]);
    }
  }

  addonRightClick($event: any,i) {
    if (this.to.addonRights[i].onClick) {
      this.to.addonRights[i].onClick(this.to, this, $event);
    }
  }

  onPopulate(field: FormlyFieldConfig) {
    field.modelOptions.updateOn &#x3D; &#x27;blur&#x27;;
  }

  openNewEnity(){
    if (this.to.entityPath){
      this.router.navigate([this.to.entityPath,&#x27;new&#x27;]);
    }
  }

}
</code></pre>
    </div>



    <div class="tab-pane fade " id="c-tree">
        <div id="tree-container"></div>
        <div class="tree-legend">
            <div class="title">
                <b>Legend</b>
            </div>
            <div>
                <div class="color htmlelement"></div><span>Html element</span>
            </div>
            <div>
                <div class="color component"></div><span>Component</span>
            </div>
            <div>
                <div class="color directive"></div><span>Html element with directive</span>
            </div>
        </div>
    </div>

    
</div>

<script src="../js/libs/vis.min.js"></script>
<script src="../js/libs/htmlparser.js"></script>
<script src="../js/libs/deep-iterator.js"></script>
<script>
        var COMPONENT_TEMPLATE = '<div><div  style="position: relative"><ngx-loading [show]="isLoading" [config]="{  fullScreenBackdrop: false, backdropBorderRadius: \'4px\' }"></ngx-loading>  <div *ngIf="codeField" class="row" [class.has-error]="showError">    <div class="col-md-4" >    <div class="form-group">      <label [attr.for]="id" class="form-control-label control-label" *ngIf="to.label">        {{ to.label }}        <ng-container *ngIf="to.required && to.hideRequiredMarker !== true">*</ng-container>      </label>      <div class="input-group">        <input *ngIf="field.templateOptions.type !== \'number\' else numberTmp" [type]="field.templateOptions.type" [formControl]="formControl" class="form-control" [formlyAttributes]="field" [class.is-invalid]="showError">        <ng-template #numberTmp>          <input type="number" [formControl]="formControl" class="form-control" [formlyAttributes]="field" [class.is-invalid]="showError">        </ng-template>        <div class="input-group-addon  input-group-append" *ngIf="to.addonRights" >          <ng-container *ngFor="let item of to.addonRights; index as i;">            <button type="button" class="input-group-text" [disabled]="to.disabled && !item.alwaysenabled"                title="{{item.text}}" [ngClass]="item.class" *ngIf="item.class"  (click)="addonRightClick($event,i)"></button>          </ng-container>        </div>      </div>      <div *ngIf="showError">      <small class="text-danger invalid-feedback" [style.display]="\'block\'" role="alert" [id]="validationId">        <formly-validation-message [field]="field"></formly-validation-message>      </small>      </div>      </div>    </div>    <div class="col-md-8">      <Label *ngIf="descriptionField.templateOptions.label">{{ descriptionField.templateOptions.label }} </Label>      <input type="text" class="form-control" [value]="extDescription"  readonly>    </div> </div> </div></div>'
    var COMPONENTS = [{'name': 'AccordionInfoWrapperComponent', 'selector': 'formly-wrapper-accordioninfo'},{'name': 'AccordionWrapperComponent', 'selector': 'formly-wrapper-accordion'},{'name': 'AllegatiComponent', 'selector': 'app-allegati'},{'name': 'AppComponent', 'selector': 'app-root'},{'name': 'ApprovazionedetailsComponent', 'selector': 'app-approvazionedetails'},{'name': 'AssignmentDetailPageComponent', 'selector': 'app-assignment-detail-page'},{'name': 'AziendaLocComponent', 'selector': 'app-aziendaloc'},{'name': 'AziendeLocComponent', 'selector': 'app-aziendeloc'},{'name': 'BaseEntityComponent', 'selector': ''},{'name': 'BaseResearchComponent', 'selector': ''},{'name': 'BlankComponent', 'selector': 'app-blank-layout'},{'name': 'BolloRepertoriazioneComponent', 'selector': 'app-bollorepertoriazione'},{'name': 'BreadcrumbComponent', 'selector': 'app-breadcrumb'},{'name': 'ClassificazioneComponent', 'selector': 'app-classificazione'},{'name': 'ClassificazioniComponent', 'selector': 'app-classificazioni'},{'name': 'CollapseWrapperComponent', 'selector': 'app-collapse-wrapper'},{'name': 'ConfirmationDialogComponent', 'selector': 'app-confirmation-dialog'},{'name': 'ControlGenericListComponent', 'selector': 'app-control-generic-list'},{'name': 'ConvenzioneComponent', 'selector': 'app-convenzione'},{'name': 'ConvenzionedetailsComponent', 'selector': 'app-convenzionedetails'},{'name': 'ConvenzioniComponent', 'selector': 'app-convenzionis'},{'name': 'ConvenzioniresultComponent', 'selector': 'app-convenzioniresult'},{'name': 'ConvvalidationComponent', 'selector': 'app-convvalidation'},{'name': 'Dashboard1Component', 'selector': ''},{'name': 'Dashboard2Component', 'selector': ''},{'name': 'DatepickerTypeComponent', 'selector': 'app-datapicker-type'},{'name': 'DocumentiTitulus', 'selector': 'app-documenti'},{'name': 'DynamicFormComponent', 'selector': 'app-dynamic-form'},{'name': 'DynamicTableComponent', 'selector': 'app-grid'},{'name': 'EmissioneComponent', 'selector': 'app-emissione'},{'name': 'EsecuzionedetailsComponent', 'selector': 'app-esecuzionedetails'},{'name': 'ExternalobjTypeComponent', 'selector': 'formly-field-ext'},{'name': 'ExternalqueryComponent', 'selector': 'app-externalquery'},{'name': 'ExternalTypeComponent', 'selector': 'app-external-type'},{'name': 'FaseWrapperComponent', 'selector': 'app-fase-wrapper'},{'name': 'FirmaControparteComponent', 'selector': 'app-firmacontroparte'},{'name': 'FirmaDirettoreComponent', 'selector': 'app-firmadirettore'},{'name': 'FormInfraComponent', 'selector': 'app-form-infra'},{'name': 'FormlyFieldButton', 'selector': 'formly-field-button'},{'name': 'FormlyFieldTemplate', 'selector': 'formly-template'},{'name': 'FormlyFieldTypeahead', 'selector': 'formly-field-typeahead'},{'name': 'FormlyHorizontalWrapper', 'selector': 'formly-horizontal-wrapper'},{'name': 'FullComponent', 'selector': 'app-full-layout'},{'name': 'GenericTypeComponent', 'selector': 'app-generic-type'},{'name': 'GridFormlyCellComponent', 'selector': 'formly-ag-grid-cell'},{'name': 'GridTypeComponent', 'selector': 'formly-field-grid'},{'name': 'HomeComponent', 'selector': 'app-home'},{'name': 'InfocardComponent', 'selector': 'app-info-card'},{'name': 'InputFileComponent', 'selector': 'app-input-file'},{'name': 'InvioRichiestaPagamentoComponent', 'selector': 'app-inviorichiestapagamento'},{'name': 'LogAttivitaComponent', 'selector': 'app-logattivita'},{'name': 'LookupComponent', 'selector': 'app-lookup'},{'name': 'MappingRuoli', 'selector': 'app-mappingruoli'},{'name': 'MappingRuolo', 'selector': 'app-ruolo'},{'name': 'MappingUfficioTitulus', 'selector': 'app-mappingufficio'},{'name': 'MappingUfficiTitulus', 'selector': 'app-mappinguffici'},{'name': 'MessageComponent', 'selector': 'app-message'},{'name': 'MultistepSchematipoComponent', 'selector': 'app-multistep-schematipo'},{'name': 'NavigationComponent', 'selector': 'app-navigation'},{'name': 'NavstepperWrapperComponent', 'selector': 'app-navstepper-wrapper'},{'name': 'NotFoundComponent', 'selector': 'notfound'},{'name': 'NotificationsComponent', 'selector': 'app-notifications'},{'name': 'PagamentoComponent', 'selector': 'app-pagamento'},{'name': 'PanelWrapperComponent', 'selector': 'formly-wrapper-panel'},{'name': 'PdfInfraComponent', 'selector': 'app-pdf-infra'},{'name': 'PdfTypeComponent', 'selector': 'app-pdf-type'},{'name': 'PdfTypeInputComponent', 'selector': 'app-pdf-type-input'},{'name': 'PermissionComponent', 'selector': 'app-permission'},{'name': 'PermissionsComponent', 'selector': 'app-permissions'},{'name': 'PersoneinterneTitulus', 'selector': 'app-personeinterne'},{'name': 'QueryBuilderComponent', 'selector': 'app-query-builder'},{'name': 'RangedetailsComponent', 'selector': 'app-rangedetails'},{'name': 'RepeatTypeComponent', 'selector': 'formly-repeat-section'},{'name': 'RepertoriazionedetailsComponent', 'selector': 'app-repertoriazionedetails'},{'name': 'RichiestaEmissioneComponent', 'selector': 'app-richiestaemissione'},{'name': 'RightaddonsWrapperComponent', 'selector': 'formly-wrapper-rightaddons'},{'name': 'RoleComponent', 'selector': 'app-role'},{'name': 'RolesComponent', 'selector': 'app-roles'},{'name': 'ScadenzaComponent', 'selector': 'app-scadenza'},{'name': 'ScadenzeComponent', 'selector': 'app-scadenze'},{'name': 'ScadenzedetailsComponent', 'selector': 'app-scadenzedetails'},{'name': 'ScadenzeresultComponent', 'selector': 'app-scadenzeresult'},{'name': 'SelectTypeComponent', 'selector': 'app-select-type'},{'name': 'ShowErrorsComponent', 'selector': 'app-show-errors'},{'name': 'SidebarComponent', 'selector': 'app-sidebar'},{'name': 'SottoscrizioneComponent', 'selector': 'app-sottoscrizione'},{'name': 'SottoscrizionedetailsComponent', 'selector': 'app-sottoscrizionedetails'},{'name': 'StruttureEsterneTitulus', 'selector': 'app-struttureinterne'},{'name': 'StruttureInterneTitulus', 'selector': 'app-struttureinterne'},{'name': 'SystemErrorComponent', 'selector': 'systemerror'},{'name': 'TableGroupTypeComponent', 'selector': 'app-tablegroup-type'},{'name': 'TableLookupTypeComponent', 'selector': 'app-tablelookup-type'},{'name': 'TableTypeComponent', 'selector': 'app-table-type'},{'name': 'TabTypeComponent', 'selector': 'app-tab-type'},{'name': 'TaskComponent', 'selector': 'app-task'},{'name': 'TaskListComponent', 'selector': 'app-tasklist'},{'name': 'TasksComponent', 'selector': 'app-tasks'},{'name': 'TestTabComponent', 'selector': 'app-test-tab'},{'name': 'TipoPagamentiComponent', 'selector': 'app-tipopagamenti'},{'name': 'TipoPagamentoComponent', 'selector': 'app-tipopagamento'},{'name': 'TooltipWrapperComponent', 'selector': 'formly-wrapper-tooltip'},{'name': 'UploadfileComponent', 'selector': 'app-uploadfile'},{'name': 'UserComponent', 'selector': 'app-user'},{'name': 'UserLoginComponent', 'selector': 'app-user-login'},{'name': 'UsersComponent', 'selector': 'app-users'},{'name': 'UserTaskDetailComponent', 'selector': 'app-user-task-detail'}];
    var DIRECTIVES = [];
    var ACTUAL_COMPONENT = {'name': 'ExternalTypeComponent'};
</script>
<script src="../js/tree.js"></script>










                   




                   </div><div class="search-results">
    <div class="has-results">
        <h1 class="search-results-title"><span class='search-results-count'></span> result-matching "<span class='search-query'></span>"</h1>
        <ul class="search-results-list"></ul>
    </div>
    <div class="no-results">
        <h1 class="search-results-title">No results matching "<span class='search-query'></span>"</h1>
    </div>
</div>
</div>
               <!-- END CONTENT -->
           </div>
       </div>

       <script>
            var COMPODOC_CURRENT_PAGE_DEPTH = 1;
            var COMPODOC_CURRENT_PAGE_CONTEXT = 'component';
            var COMPODOC_CURRENT_PAGE_URL = 'ExternalTypeComponent.html';
       </script>

       <script src="../js/libs/custom-elements.min.js"></script>
       <script src="../js/libs/lit-html.js"></script>
       <!-- Required to polyfill modern browsers as code is ES5 for IE... -->
       <script src="../js/libs/custom-elements-es5-adapter.js" charset="utf-8" defer></script>
       <script src="../js/menu-wc.js" defer></script>

       <script src="../js/libs/bootstrap-native.js"></script>

       <script src="../js/libs/es6-shim.min.js"></script>
       <script src="../js/libs/EventDispatcher.js"></script>
       <script src="../js/libs/promise.min.js"></script>
       <script src="../js/libs/zepto.min.js"></script>

       <script src="../js/compodoc.js"></script>

       <script src="../js/tabs.js"></script>
       <script src="../js/menu.js"></script>
       <script src="../js/libs/clipboard.min.js"></script>
       <script src="../js/libs/prism.js"></script>
       <script src="../js/sourceCode.js"></script>
          <script src="../js/search/search.js"></script>
          <script src="../js/search/lunr.min.js"></script>
          <script src="../js/search/search-lunr.js"></script>
          <script src="../js/search/search_index.js"></script>
       <script src="../js/lazy-load-graphs.js"></script>


    </body>
</html>
