<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>UniConv app documentation</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="icon" type="image/x-icon" href="../images/favicon.ico">
	      <link rel="stylesheet" href="../styles/style.css">
    </head>
    <body>

        <div class="navbar navbar-default navbar-fixed-top visible-xs">
            <a href="../" class="navbar-brand">UniConv app documentation</a>
            <button type="button" class="btn btn-default btn-menu ion-ios-menu" id="btn-menu"></button>
        </div>

        <div class="xs-menu menu" id="mobile-menu">
                <div id="book-search-input" role="search"><input type="text" placeholder="Type to search"></div>            <compodoc-menu></compodoc-menu>
        </div>

        <div class="container-fluid main">
           <div class="row main">
               <div class="hidden-xs menu">
                   <compodoc-menu mode="normal"></compodoc-menu>
               </div>
               <!-- START CONTENT -->
               <div class="content component">
                   <div class="content-data">




<ol class="breadcrumb">
  <li>Components</li>
  <li>ExternalqueryComponent</li>
</ol>

<ul class="nav nav-tabs" role="tablist">
        <li class="active">
            <a href="#info" role="tab" id="info-tab" data-toggle="tab" data-link="info">Info</a>
        </li>
        <li >
            <a href="#source" role="tab" id="source-tab" data-toggle="tab" data-link="source">Source</a>
        </li>
        <li >
            <a href="#tree" role="tab" id="tree-tab" data-toggle="tab" data-link="dom-tree">DOM Tree</a>
        </li>
</ul>

<div class="tab-content">
    <div class="tab-pane fade active in" id="c-info"><p class="comment">
    <h3>File</h3>
</p>
<p class="comment">
    <code>src/app/shared/query-builder/externalquery.component.ts</code>
</p>


    <p class="comment">
        <h3>Extends</h3>
    </p>
    <p class="comment">
                <code><a href="../interfaces/Field.html" target="_self" >FieldType</a></code>
    </p>

    <p class="comment">
        <h3>Implements</h3>
    </p>
    <p class="comment">
                    <code><a href="https://angular.io/api/core/OnInit" target="_blank" >OnInit</a></code>
    </p>


<section>
    <h3>Metadata</h3>
    <table class="table table-sm table-hover">
        <tbody>











            <tr>
                <td class="col-md-3">selector</td>
                <td class="col-md-9"><code>app-externalquery</code></td>
            </tr>



            <tr>
                <td class="col-md-3">template</td>
                <td class="col-md-9"><pre class="line-numbers"><code class="language-html">&lt;div  *ngIf&#x3D;&quot;codeField&quot; class&#x3D;&quot;form-group form-row&quot; style&#x3D;&quot;position: relative&quot;&gt;
&lt;div class&#x3D;&quot;input-group&quot;&gt;
  &lt;input *ngIf&#x3D;&quot;field.templateOptions.type !&#x3D;&#x3D; &#x27;number&#x27; else numberTmp&quot; [type]&#x3D;&quot;field.templateOptions.type&quot; [formControl]&#x3D;&quot;formControl&quot; class&#x3D;&quot;form-control&quot; [formlyAttributes]&#x3D;&quot;field&quot; [class.is-invalid]&#x3D;&quot;showError&quot;&gt;
  &lt;ng-template #numberTmp&gt;
    &lt;input type&#x3D;&quot;number&quot; [formControl]&#x3D;&quot;formControl&quot; class&#x3D;&quot;form-control&quot; [formlyAttributes]&#x3D;&quot;field&quot; [class.is-invalid]&#x3D;&quot;showError&quot;&gt;
  &lt;/ng-template&gt;
  &lt;div class&#x3D;&quot;input-group-addon input-group-append&quot;
    *ngIf&#x3D;&quot;to.addonRight&quot;
    [ngStyle]&#x3D;&quot;{cursor: to.addonRight.onClick ? &#x27;pointer&#x27; : &#x27;inherit&#x27;}&quot;
    (click)&#x3D;&quot;addonRightClick($event)&quot;&gt;
    &lt;i class&#x3D;&quot;input-group-text&quot; [ngClass]&#x3D;&quot;to.addonRight.class&quot; *ngIf&#x3D;&quot;to.addonRight.class&quot;&gt;&lt;/i&gt;
    &lt;span *ngIf&#x3D;&quot;to.addonRight.text&quot; class&#x3D;&quot;input-group-text&quot;&gt;{{ to.addonRight.text }}&lt;/span&gt;
  &lt;/div&gt;
&lt;/div&gt;
&lt;/div&gt;
</code></pre></td>
            </tr>









        </tbody>
    </table>
</section>

    <section>
    <h3 id="index">Index</h3>
    <table class="table table-sm table-bordered index-table">
        <tbody>
                <tr>
                    <td class="col-md-4">
                        <h6><b>Properties</b></h6>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <ul class="index-list">
                            <li>
                                    <span class="modifier">Public</span>
                                <a href="#activeModal">activeModal</a>
                            </li>
                            <li>
                                <a href="#codeField">codeField</a>
                            </li>
                        </ul>
                    </td>
                </tr>

                <tr>
                    <td class="col-md-4">
                        <h6><b>Methods</b></h6>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <ul class="index-list">
                            <li>
                                <a href="#addonRightClick">addonRightClick</a>
                            </li>
                            <li>
                                <a href="#ngOnInit">ngOnInit</a>
                            </li>
                            <li>
                                <a href="#open">open</a>
                            </li>
                            <li>
                                <a href="#setcode">setcode</a>
                            </li>
                        </ul>
                    </td>
                </tr>





        </tbody>
    </table>
</section>

    <section>
    <h3 id="constructor">Constructor</h3>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
<code>constructor(formlyConfig: FormlyConfig, modalService: NgbModal, activeModal: NgbActiveModal)</code>
                    </td>
                </tr>
                        <tr>
                            <td class="col-md-4">
                                <div class="io-line">Defined in <a href="" data-line="28" class="link-to-prism">src/app/shared/query-builder/externalquery.component.ts:28</a></div>
                            </td>
                        </tr>

                <tr>
                    <td class="col-md-4">
                            <div>
                                    <b>Parameters :</b>
                                    <table class="params">
                                        <thead>
                                            <tr>
                                                <td>Name</td>
                                                    <td>Type</td>
                                                <td>Optional</td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                                <tr>
                                                        <td>formlyConfig</td>
                                                  
                                                        <td>
                                                                    <code>FormlyConfig</code>
                                                        </td>
                                                  
                                                    <td>
                                                            No
                                                    </td>
                                                    
                                                </tr>
                                                <tr>
                                                        <td>modalService</td>
                                                  
                                                        <td>
                                                                    <code>NgbModal</code>
                                                        </td>
                                                  
                                                    <td>
                                                            No
                                                    </td>
                                                    
                                                </tr>
                                                <tr>
                                                        <td>activeModal</td>
                                                  
                                                        <td>
                                                                    <code>NgbActiveModal</code>
                                                        </td>
                                                  
                                                    <td>
                                                            No
                                                    </td>
                                                    
                                                </tr>
                                        </tbody>
                                    </table>
                            </div>
                    </td>
                </tr>
            </tbody>
        </table>
</section>





    <section>
    
    <h3 id="methods">
        Methods
    </h3>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="addonRightClick"></a>
                    <span class="name">
                        <b>
                            addonRightClick
                        </b>
                        <a href="#addonRightClick"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
            <tr>
                <td class="col-md-4">
<code>addonRightClick($event: <a href="https://www.typescriptlang.org/docs/handbook/basic-types.html" target="_blank">any</a>)</code>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">
                    <div class="io-line">Defined in <a href="" data-line="83"
                            class="link-to-prism">src/app/shared/query-builder/externalquery.component.ts:83</a></div>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">

                    <div class="io-description">
                        <b>Parameters :</b>
                        <table class="params">
                            <thead>
                                <tr>
                                    <td>Name</td>
                                    <td>Type</td>
                                    <td>Optional</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>$event</td>
                                    <td>
                                                <code><a href="https://www.typescriptlang.org/docs/handbook/basic-types.html" target="_blank" >any</a></code>
                                    </td>

                                    <td>
                                        No
                                    </td>


                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div>
                    </div>
                    <div class="io-description">
                        <b>Returns : </b>        <code><a href="https://www.typescriptlang.org/docs/handbook/basic-types.html" target="_blank" >void</a></code>

                    </div>
                    <div class="io-description">
                        
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="ngOnInit"></a>
                    <span class="name">
                        <b>
                            ngOnInit
                        </b>
                        <a href="#ngOnInit"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
            <tr>
                <td class="col-md-4">
<code>ngOnInit()</code>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">
                    <div class="io-line">Defined in <a href="" data-line="33"
                            class="link-to-prism">src/app/shared/query-builder/externalquery.component.ts:33</a></div>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">

                    <div class="io-description">
                        <b>Returns : </b>        <code><a href="https://www.typescriptlang.org/docs/handbook/basic-types.html" target="_blank" >void</a></code>

                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="open"></a>
                    <span class="name">
                        <b>
                            open
                        </b>
                        <a href="#open"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
            <tr>
                <td class="col-md-4">
<code>open()</code>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">
                    <div class="io-line">Defined in <a href="" data-line="64"
                            class="link-to-prism">src/app/shared/query-builder/externalquery.component.ts:64</a></div>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">

                    <div class="io-description">
                        <b>Returns : </b>        <code><a href="https://www.typescriptlang.org/docs/handbook/basic-types.html" target="_blank" >void</a></code>

                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="setcode"></a>
                    <span class="name">
                        <b>
                            setcode
                        </b>
                        <a href="#setcode"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
            <tr>
                <td class="col-md-4">
<code>setcode(data: <a href="https://www.typescriptlang.org/docs/handbook/basic-types.html" target="_blank">any</a>)</code>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">
                    <div class="io-line">Defined in <a href="" data-line="76"
                            class="link-to-prism">src/app/shared/query-builder/externalquery.component.ts:76</a></div>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">

                    <div class="io-description">
                        <b>Parameters :</b>
                        <table class="params">
                            <thead>
                                <tr>
                                    <td>Name</td>
                                    <td>Type</td>
                                    <td>Optional</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>data</td>
                                    <td>
                                                <code><a href="https://www.typescriptlang.org/docs/handbook/basic-types.html" target="_blank" >any</a></code>
                                    </td>

                                    <td>
                                        No
                                    </td>


                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div>
                    </div>
                    <div class="io-description">
                        <b>Returns : </b>        <code><a href="https://www.typescriptlang.org/docs/handbook/basic-types.html" target="_blank" >void</a></code>

                    </div>
                    <div class="io-description">
                        
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</section>
    <section>
    
        <h3 id="inputs">
            Properties
        </h3>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="activeModal"></a>
                        <span class="name">
                            <b>
                                <span class="modifier">Public</span>
                            activeModal</b>
                            <a href="#activeModal"><span class="icon ion-ios-link"></span></a>
                        </span>
                    </td>
                </tr>
                    <tr>
                        <td class="col-md-4">
                            <i>Type : </i>    <code>NgbActiveModal</code>

                        </td>
                    </tr>
                        <tr>
                            <td class="col-md-4">
                                    <div class="io-line">Defined in <a href="" data-line="29" class="link-to-prism">src/app/shared/query-builder/externalquery.component.ts:29</a></div>
                            </td>
                        </tr>


            </tbody>
        </table>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="codeField"></a>
                        <span class="name">
                            <b>
                            codeField</b>
                            <a href="#codeField"><span class="icon ion-ios-link"></span></a>
                        </span>
                    </td>
                </tr>
                    <tr>
                        <td class="col-md-4">
                            <i>Type : </i>        <code><a href="../interfaces/Field.html" target="_self" >FormlyFieldConfig</a></code>

                        </td>
                    </tr>
                        <tr>
                            <td class="col-md-4">
                                    <div class="io-line">Defined in <a href="" data-line="28" class="link-to-prism">src/app/shared/query-builder/externalquery.component.ts:28</a></div>
                            </td>
                        </tr>


            </tbody>
        </table>
</section>

</div>


    <div class="tab-pane fade  tab-source-code" id="c-source">
        <pre class="line-numbers compodoc-sourcecode"><code class="language-typescript">import { Component, OnInit } from &#x27;@angular/core&#x27;;
import { FieldType, FormlyConfig, FormlyFieldConfig, Field } from &#x27;@ngx-formly/core&#x27;;
import { NgbActiveModal, NgbModal } from &#x27;@ng-bootstrap/ng-bootstrap&#x27;;
import { LookupComponent } from &#x27;../lookup/lookup.component&#x27;;

@Component({
  selector: &#x27;app-externalquery&#x27;,
  template: &#x60;
  &lt;div  *ngIf&#x3D;&quot;codeField&quot; class&#x3D;&quot;form-group form-row&quot; style&#x3D;&quot;position: relative&quot;&gt;         
  &lt;div class&#x3D;&quot;input-group&quot;&gt; 
    &lt;input *ngIf&#x3D;&quot;field.templateOptions.type !&#x3D;&#x3D; &#x27;number&#x27; else numberTmp&quot; [type]&#x3D;&quot;field.templateOptions.type&quot; [formControl]&#x3D;&quot;formControl&quot; class&#x3D;&quot;form-control&quot; [formlyAttributes]&#x3D;&quot;field&quot; [class.is-invalid]&#x3D;&quot;showError&quot;&gt;
    &lt;ng-template #numberTmp&gt;
      &lt;input type&#x3D;&quot;number&quot; [formControl]&#x3D;&quot;formControl&quot; class&#x3D;&quot;form-control&quot; [formlyAttributes]&#x3D;&quot;field&quot; [class.is-invalid]&#x3D;&quot;showError&quot;&gt;
    &lt;/ng-template&gt;          
    &lt;div class&#x3D;&quot;input-group-addon input-group-append&quot;
      *ngIf&#x3D;&quot;to.addonRight&quot;
      [ngStyle]&#x3D;&quot;{cursor: to.addonRight.onClick ? &#x27;pointer&#x27; : &#x27;inherit&#x27;}&quot;
      (click)&#x3D;&quot;addonRightClick($event)&quot;&gt;
      &lt;i class&#x3D;&quot;input-group-text&quot; [ngClass]&#x3D;&quot;to.addonRight.class&quot; *ngIf&#x3D;&quot;to.addonRight.class&quot;&gt;&lt;/i&gt;
      &lt;span *ngIf&#x3D;&quot;to.addonRight.text&quot; class&#x3D;&quot;input-group-text&quot;&gt;{{ to.addonRight.text }}&lt;/span&gt;
    &lt;/div&gt;     
  &lt;/div&gt;
  &lt;/div&gt;
  &#x60;,
  styles: []
})
export class ExternalqueryComponent extends FieldType implements OnInit {
  codeField: FormlyFieldConfig;
  constructor(private formlyConfig: FormlyConfig, private modalService: NgbModal, public activeModal: NgbActiveModal) {
    super();
  }

  ngOnInit() {
    this.field.wrappers &#x3D; [];
    if (this.codeField &#x3D;&#x3D; undefined) {      
      let tmpfield &#x3D; this.field;      

      //esempio di tipo external
      // label: &#x27;UserId&#x27;,
      // type: &#x27;string&#x27;,
      // entityName: &#x27;user&#x27;,
      // entityLabel: &#x27;Utenti&#x27;,
      // codeProp: &#x27;id&#x27;,
      // descriptionProp: &#x27;name&#x27;,


      tmpfield.templateOptions.keyup &#x3D; (field, event: KeyboardEvent) &#x3D;&gt; {
        if (event.key &#x3D;&#x3D; &quot;F4&quot;) {
          this.open();
        }
      };

      tmpfield.templateOptions.addonRight &#x3D; {
        class: &#x27;btn btn-outline-secondary oi oi-eye d-flex align-items-center&#x27;,
        onClick: (to, fieldType, $event) &#x3D;&gt; this.open(),
      }

      this.codeField &#x3D; tmpfield;
    }

  }


  open() {
    const modalRef &#x3D; this.modalService.open(LookupComponent, {
      size: &#x27;lg&#x27;
    })
    modalRef.result.then((result) &#x3D;&gt; {
      this.setcode(result);
    }, (reason) &#x3D;&gt; {
    });
    modalRef.componentInstance.entityName &#x3D; this.to.entityName;
    modalRef.componentInstance.rules &#x3D; this.to.rules ? this.to.rules : null;
  }

  setcode(data: any) {
    if (this.field.templateOptions.codeProp in data){
      this.codeField.formControl.setValue(data[this.field.templateOptions.codeProp]);    
      //this.codeField.templateOptions.description &#x3D; data[this.field.templateOptions.descriptionProp];
    }
  }

  addonRightClick($event: any) {
    if (this.to.addonRight.onClick) {
      this.to.addonRight.onClick(this.to, this, $event);
    }
  }

}
</code></pre>
    </div>



    <div class="tab-pane fade " id="c-tree">
        <div id="tree-container"></div>
        <div class="tree-legend">
            <div class="title">
                <b>Legend</b>
            </div>
            <div>
                <div class="color htmlelement"></div><span>Html element</span>
            </div>
            <div>
                <div class="color component"></div><span>Component</span>
            </div>
            <div>
                <div class="color directive"></div><span>Html element with directive</span>
            </div>
        </div>
    </div>

    
</div>

<script src="../js/libs/vis.min.js"></script>
<script src="../js/libs/htmlparser.js"></script>
<script src="../js/libs/deep-iterator.js"></script>
<script>
        var COMPONENT_TEMPLATE = '<div><div  *ngIf="codeField" class="form-group form-row" style="position: relative"><div class="input-group">  <input *ngIf="field.templateOptions.type !== \'number\' else numberTmp" [type]="field.templateOptions.type" [formControl]="formControl" class="form-control" [formlyAttributes]="field" [class.is-invalid]="showError">  <ng-template #numberTmp>    <input type="number" [formControl]="formControl" class="form-control" [formlyAttributes]="field" [class.is-invalid]="showError">  </ng-template>  <div class="input-group-addon input-group-append"    *ngIf="to.addonRight"    [ngStyle]="{cursor: to.addonRight.onClick ? \'pointer\' : \'inherit\'}"    (click)="addonRightClick($event)">    <i class="input-group-text" [ngClass]="to.addonRight.class" *ngIf="to.addonRight.class"></i>    <span *ngIf="to.addonRight.text" class="input-group-text">{{ to.addonRight.text }}</span>  </div></div></div></div>'
    var COMPONENTS = [{'name': 'AccordionInfoWrapperComponent', 'selector': 'formly-wrapper-accordioninfo'},{'name': 'AccordionWrapperComponent', 'selector': 'formly-wrapper-accordion'},{'name': 'AllegatiComponent', 'selector': 'app-allegati'},{'name': 'AppComponent', 'selector': 'app-root'},{'name': 'ApprovazionedetailsComponent', 'selector': 'app-approvazionedetails'},{'name': 'AssignmentDetailPageComponent', 'selector': 'app-assignment-detail-page'},{'name': 'AziendaLocComponent', 'selector': 'app-aziendaloc'},{'name': 'AziendeLocComponent', 'selector': 'app-aziendeloc'},{'name': 'BaseEntityComponent', 'selector': ''},{'name': 'BaseResearchComponent', 'selector': ''},{'name': 'BlankComponent', 'selector': 'app-blank-layout'},{'name': 'BolloRepertoriazioneComponent', 'selector': 'app-bollorepertoriazione'},{'name': 'BreadcrumbComponent', 'selector': 'app-breadcrumb'},{'name': 'ClassificazioneComponent', 'selector': 'app-classificazione'},{'name': 'ClassificazioniComponent', 'selector': 'app-classificazioni'},{'name': 'CollapseWrapperComponent', 'selector': 'app-collapse-wrapper'},{'name': 'ConfirmationDialogComponent', 'selector': 'app-confirmation-dialog'},{'name': 'ControlGenericListComponent', 'selector': 'app-control-generic-list'},{'name': 'ConvenzioneComponent', 'selector': 'app-convenzione'},{'name': 'ConvenzionedetailsComponent', 'selector': 'app-convenzionedetails'},{'name': 'ConvenzioniComponent', 'selector': 'app-convenzionis'},{'name': 'ConvenzioniresultComponent', 'selector': 'app-convenzioniresult'},{'name': 'ConvvalidationComponent', 'selector': 'app-convvalidation'},{'name': 'Dashboard1Component', 'selector': ''},{'name': 'Dashboard2Component', 'selector': ''},{'name': 'DatepickerTypeComponent', 'selector': 'app-datapicker-type'},{'name': 'DocumentiTitulus', 'selector': 'app-documenti'},{'name': 'DynamicFormComponent', 'selector': 'app-dynamic-form'},{'name': 'DynamicTableComponent', 'selector': 'app-grid'},{'name': 'EmissioneComponent', 'selector': 'app-emissione'},{'name': 'EsecuzionedetailsComponent', 'selector': 'app-esecuzionedetails'},{'name': 'ExternalobjTypeComponent', 'selector': 'formly-field-ext'},{'name': 'ExternalqueryComponent', 'selector': 'app-externalquery'},{'name': 'ExternalTypeComponent', 'selector': 'app-external-type'},{'name': 'FaseWrapperComponent', 'selector': 'app-fase-wrapper'},{'name': 'FirmaControparteComponent', 'selector': 'app-firmacontroparte'},{'name': 'FirmaDirettoreComponent', 'selector': 'app-firmadirettore'},{'name': 'FormInfraComponent', 'selector': 'app-form-infra'},{'name': 'FormlyFieldButton', 'selector': 'formly-field-button'},{'name': 'FormlyFieldTemplate', 'selector': 'formly-template'},{'name': 'FormlyFieldTypeahead', 'selector': 'formly-field-typeahead'},{'name': 'FormlyHorizontalWrapper', 'selector': 'formly-horizontal-wrapper'},{'name': 'FullComponent', 'selector': 'app-full-layout'},{'name': 'GenericTypeComponent', 'selector': 'app-generic-type'},{'name': 'GridFormlyCellComponent', 'selector': 'formly-ag-grid-cell'},{'name': 'GridTypeComponent', 'selector': 'formly-field-grid'},{'name': 'HomeComponent', 'selector': 'app-home'},{'name': 'InfocardComponent', 'selector': 'app-info-card'},{'name': 'InputFileComponent', 'selector': 'app-input-file'},{'name': 'InvioRichiestaPagamentoComponent', 'selector': 'app-inviorichiestapagamento'},{'name': 'LogAttivitaComponent', 'selector': 'app-logattivita'},{'name': 'LookupComponent', 'selector': 'app-lookup'},{'name': 'MappingRuoli', 'selector': 'app-mappingruoli'},{'name': 'MappingRuolo', 'selector': 'app-ruolo'},{'name': 'MappingUfficioTitulus', 'selector': 'app-mappingufficio'},{'name': 'MappingUfficiTitulus', 'selector': 'app-mappinguffici'},{'name': 'MessageComponent', 'selector': 'app-message'},{'name': 'MultistepSchematipoComponent', 'selector': 'app-multistep-schematipo'},{'name': 'NavigationComponent', 'selector': 'app-navigation'},{'name': 'NavstepperWrapperComponent', 'selector': 'app-navstepper-wrapper'},{'name': 'NotFoundComponent', 'selector': 'notfound'},{'name': 'NotificationsComponent', 'selector': 'app-notifications'},{'name': 'PagamentoComponent', 'selector': 'app-pagamento'},{'name': 'PanelWrapperComponent', 'selector': 'formly-wrapper-panel'},{'name': 'PdfInfraComponent', 'selector': 'app-pdf-infra'},{'name': 'PdfTypeComponent', 'selector': 'app-pdf-type'},{'name': 'PdfTypeInputComponent', 'selector': 'app-pdf-type-input'},{'name': 'PermissionComponent', 'selector': 'app-permission'},{'name': 'PermissionsComponent', 'selector': 'app-permissions'},{'name': 'PersoneinterneTitulus', 'selector': 'app-personeinterne'},{'name': 'QueryBuilderComponent', 'selector': 'app-query-builder'},{'name': 'RangedetailsComponent', 'selector': 'app-rangedetails'},{'name': 'RepeatTypeComponent', 'selector': 'formly-repeat-section'},{'name': 'RepertoriazionedetailsComponent', 'selector': 'app-repertoriazionedetails'},{'name': 'RichiestaEmissioneComponent', 'selector': 'app-richiestaemissione'},{'name': 'RightaddonsWrapperComponent', 'selector': 'formly-wrapper-rightaddons'},{'name': 'RoleComponent', 'selector': 'app-role'},{'name': 'RolesComponent', 'selector': 'app-roles'},{'name': 'ScadenzaComponent', 'selector': 'app-scadenza'},{'name': 'ScadenzeComponent', 'selector': 'app-scadenze'},{'name': 'ScadenzedetailsComponent', 'selector': 'app-scadenzedetails'},{'name': 'ScadenzeresultComponent', 'selector': 'app-scadenzeresult'},{'name': 'SelectTypeComponent', 'selector': 'app-select-type'},{'name': 'ShowErrorsComponent', 'selector': 'app-show-errors'},{'name': 'SidebarComponent', 'selector': 'app-sidebar'},{'name': 'SottoscrizioneComponent', 'selector': 'app-sottoscrizione'},{'name': 'SottoscrizionedetailsComponent', 'selector': 'app-sottoscrizionedetails'},{'name': 'StruttureEsterneTitulus', 'selector': 'app-struttureinterne'},{'name': 'StruttureInterneTitulus', 'selector': 'app-struttureinterne'},{'name': 'SystemErrorComponent', 'selector': 'systemerror'},{'name': 'TableGroupTypeComponent', 'selector': 'app-tablegroup-type'},{'name': 'TableLookupTypeComponent', 'selector': 'app-tablelookup-type'},{'name': 'TableTypeComponent', 'selector': 'app-table-type'},{'name': 'TabTypeComponent', 'selector': 'app-tab-type'},{'name': 'TaskComponent', 'selector': 'app-task'},{'name': 'TaskListComponent', 'selector': 'app-tasklist'},{'name': 'TasksComponent', 'selector': 'app-tasks'},{'name': 'TestTabComponent', 'selector': 'app-test-tab'},{'name': 'TipoPagamentiComponent', 'selector': 'app-tipopagamenti'},{'name': 'TipoPagamentoComponent', 'selector': 'app-tipopagamento'},{'name': 'TooltipWrapperComponent', 'selector': 'formly-wrapper-tooltip'},{'name': 'UploadfileComponent', 'selector': 'app-uploadfile'},{'name': 'UserComponent', 'selector': 'app-user'},{'name': 'UserLoginComponent', 'selector': 'app-user-login'},{'name': 'UsersComponent', 'selector': 'app-users'},{'name': 'UserTaskDetailComponent', 'selector': 'app-user-task-detail'}];
    var DIRECTIVES = [];
    var ACTUAL_COMPONENT = {'name': 'ExternalqueryComponent'};
</script>
<script src="../js/tree.js"></script>










                   




                   </div><div class="search-results">
    <div class="has-results">
        <h1 class="search-results-title"><span class='search-results-count'></span> result-matching "<span class='search-query'></span>"</h1>
        <ul class="search-results-list"></ul>
    </div>
    <div class="no-results">
        <h1 class="search-results-title">No results matching "<span class='search-query'></span>"</h1>
    </div>
</div>
</div>
               <!-- END CONTENT -->
           </div>
       </div>

       <script>
            var COMPODOC_CURRENT_PAGE_DEPTH = 1;
            var COMPODOC_CURRENT_PAGE_CONTEXT = 'component';
            var COMPODOC_CURRENT_PAGE_URL = 'ExternalqueryComponent.html';
       </script>

       <script src="../js/libs/custom-elements.min.js"></script>
       <script src="../js/libs/lit-html.js"></script>
       <!-- Required to polyfill modern browsers as code is ES5 for IE... -->
       <script src="../js/libs/custom-elements-es5-adapter.js" charset="utf-8" defer></script>
       <script src="../js/menu-wc.js" defer></script>

       <script src="../js/libs/bootstrap-native.js"></script>

       <script src="../js/libs/es6-shim.min.js"></script>
       <script src="../js/libs/EventDispatcher.js"></script>
       <script src="../js/libs/promise.min.js"></script>
       <script src="../js/libs/zepto.min.js"></script>

       <script src="../js/compodoc.js"></script>

       <script src="../js/tabs.js"></script>
       <script src="../js/menu.js"></script>
       <script src="../js/libs/clipboard.min.js"></script>
       <script src="../js/libs/prism.js"></script>
       <script src="../js/sourceCode.js"></script>
          <script src="../js/search/search.js"></script>
          <script src="../js/search/lunr.min.js"></script>
          <script src="../js/search/search-lunr.js"></script>
          <script src="../js/search/search_index.js"></script>
       <script src="../js/lazy-load-graphs.js"></script>


    </body>
</html>
