<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>UniConv app documentation</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="icon" type="image/x-icon" href="../images/favicon.ico">
	      <link rel="stylesheet" href="../styles/style.css">
    </head>
    <body>

        <div class="navbar navbar-default navbar-fixed-top visible-xs">
            <a href="../" class="navbar-brand">UniConv app documentation</a>
            <button type="button" class="btn btn-default btn-menu ion-ios-menu" id="btn-menu"></button>
        </div>

        <div class="xs-menu menu" id="mobile-menu">
                <div id="book-search-input" role="search"><input type="text" placeholder="Type to search"></div>            <compodoc-menu></compodoc-menu>
        </div>

        <div class="container-fluid main">
           <div class="row main">
               <div class="hidden-xs menu">
                   <compodoc-menu mode="normal"></compodoc-menu>
               </div>
               <!-- START CONTENT -->
               <div class="content component">
                   <div class="content-data">




<ol class="breadcrumb">
  <li>Components</li>
  <li>MultistepSchematipoComponent</li>
</ol>

<ul class="nav nav-tabs" role="tablist">
        <li class="active">
            <a href="#info" role="tab" id="info-tab" data-toggle="tab" data-link="info">Info</a>
        </li>
        <li >
            <a href="#source" role="tab" id="source-tab" data-toggle="tab" data-link="source">Source</a>
        </li>
        <li >
            <a href="#tree" role="tab" id="tree-tab" data-toggle="tab" data-link="dom-tree">DOM Tree</a>
        </li>
</ul>

<div class="tab-content">
    <div class="tab-pane fade active in" id="c-info"><p class="comment">
    <h3>File</h3>
</p>
<p class="comment">
    <code>src/app/application/pages/multistep-schematipo.component.ts</code>
</p>



    <p class="comment">
        <h3>Implements</h3>
    </p>
    <p class="comment">
                    <code><a href="https://angular.io/api/core/OnInit" target="_blank" >OnInit</a></code>
                    <code><a href="https://angular.io/api/core/OnDestroy" target="_blank" >OnDestroy</a></code>
    </p>


<section>
    <h3>Metadata</h3>
    <table class="table table-sm table-hover">
        <tbody>











            <tr>
                <td class="col-md-3">selector</td>
                <td class="col-md-9"><code>app-multistep-schematipo</code></td>
            </tr>



            <tr>
                <td class="col-md-3">template</td>
                <td class="col-md-9"><pre class="line-numbers"><code class="language-html">&lt;ngx-loading [show]&#x3D;&quot;isLoading&quot; [config]&#x3D;&quot;{ backdropBorderRadius: &#x27;4px&#x27; }&quot;&gt;&lt;/ngx-loading&gt;
&lt;div class&#x3D;&quot;btn-toolbar mb-4&quot; role&#x3D;&quot;toolbar&quot;&gt;
  &lt;div class&#x3D;&quot;btn-group btn-group&quot;&gt;
    &lt;button class&#x3D;&quot;btn btn-outline-primary border-0 rounded-0&quot; [disabled]&#x3D;&quot;!form.valid || !form.dirty&quot; (click)&#x3D;&quot;onSubmit()&quot; &gt;
      &lt;span class&#x3D;&quot;oi oi-arrow-top&quot;&gt;&lt;/span&gt;
      &lt;span class&#x3D;&quot;ml-2&quot;&gt;Aggiorna&lt;/span&gt;
    &lt;/button&gt;
    &lt;button class&#x3D;&quot;btn btn-outline-primary border-0 rounded-0&quot; (click)&#x3D;&quot;onValidate()&quot; &gt;
      &lt;span class&#x3D;&quot;oi oi-flash&quot;&gt;&lt;/span&gt;
      &lt;span class&#x3D;&quot;ml-2&quot;&gt;Valida&lt;/span&gt;
    &lt;/button&gt;
  &lt;/div&gt;
  &lt;div class&#x3D;&quot;btn-group btn-group&quot;&gt;
  &lt;button class&#x3D;&quot;btn btn-outline-primary border-0 rounded-0&quot; (click)&#x3D;&quot;onAziendaNew()&quot; &gt;
      &lt;span class&#x3D;&quot;oi oi-document&quot;&gt;&lt;/span&gt;
      &lt;span class&#x3D;&quot;ml-2&quot;&gt;Nuova azienda&lt;/span&gt;
    &lt;/button&gt;
  &lt;/div&gt;
&lt;/div&gt;

&lt;form *ngIf&#x3D;&#x27;model&#x27; [formGroup]&#x3D;&quot;form&quot; &gt;
  &lt;formly-form  [model]&#x3D;&quot;model&quot; [fields]&#x3D;&quot;fieldtabs&quot; [form]&#x3D;&quot;form&quot; [options]&#x3D;&quot;options&quot;&gt;
  &lt;/formly-form&gt;
&lt;/form&gt;
</code></pre></td>
            </tr>









        </tbody>
    </table>
</section>

    <section>
    <h3 id="index">Index</h3>
    <table class="table table-sm table-bordered index-table">
        <tbody>
                <tr>
                    <td class="col-md-4">
                        <h6><b>Properties</b></h6>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <ul class="index-list">
                            <li>
                                    <span class="modifier">Public</span>
                                <a href="#authService">authService</a>
                            </li>
                            <li>
                                    <span class="modifier">Static</span>
                                <a href="#CONV_BOZZA">CONV_BOZZA</a>
                            </li>
                            <li>
                                    <span class="modifier">Static</span>
                                <a href="#DECRETO_DIRETTORIALE">DECRETO_DIRETTORIALE</a>
                            </li>
                            <li>
                                    <span class="modifier">Static</span>
                                <a href="#DECRETO_RETTORALE">DECRETO_RETTORALE</a>
                            </li>
                            <li>
                                    <span class="modifier">Static</span>
                                <a href="#DELIBERA_CONSIGLIO_DIPARTIMENTO">DELIBERA_CONSIGLIO_DIPARTIMENTO</a>
                            </li>
                            <li>
                                    <span class="modifier">Static</span>
                                <a href="#DOC_APP">DOC_APP</a>
                            </li>
                            <li>
                                <a href="#fieldtabs">fieldtabs</a>
                            </li>
                            <li>
                                <a href="#form">form</a>
                            </li>
                            <li>
                                <a href="#isLoading">isLoading</a>
                            </li>
                            <li>
                                <a href="#mapAttachment">mapAttachment</a>
                            </li>
                            <li>
                                <a href="#model">model</a>
                            </li>
                            <li>
                                <a href="#onDestroy$">onDestroy$</a>
                            </li>
                            <li>
                                <a href="#options">options</a>
                            </li>
                            <li>
                                    <span class="modifier">Static</span>
                                <a href="#PROSPETTO">PROSPETTO</a>
                            </li>
                        </ul>
                    </td>
                </tr>

                <tr>
                    <td class="col-md-4">
                        <h6><b>Methods</b></h6>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <ul class="index-list">
                            <li>
                                <a href="#ngOnDestroy">ngOnDestroy</a>
                            </li>
                            <li>
                                <a href="#ngOnInit">ngOnInit</a>
                            </li>
                            <li>
                                <a href="#onAziendaNew">onAziendaNew</a>
                            </li>
                            <li>
                                <a href="#onSelectCurrentFile">onSelectCurrentFile</a>
                            </li>
                            <li>
                                <a href="#onSubmit">onSubmit</a>
                            </li>
                            <li>
                                    <span class="modifier">Public</span>
                                <a href="#onValidate">onValidate</a>
                            </li>
                            <li>
                                    <span class="modifier">Async</span>
                                <a href="#parsePdf">parsePdf</a>
                            </li>
                            <li>
                                <a href="#render_page">render_page</a>
                            </li>
                        </ul>
                    </td>
                </tr>





        </tbody>
    </table>
</section>

    <section>
    <h3 id="constructor">Constructor</h3>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
<code>constructor(service: <a href="../injectables/ApplicationService.html">ApplicationService</a>, authService: <a href="../injectables/AuthService.html">AuthService</a>, router: <a href="https://angular.io/api/router/Router" target="_blank">Router</a>, cdRef: <a href="https://angular.io/api/core/ChangeDetectorRef" target="_blank">ChangeDetectorRef</a>)</code>
                    </td>
                </tr>
                        <tr>
                            <td class="col-md-4">
                                <div class="io-line">Defined in <a href="" data-line="80" class="link-to-prism">src/app/application/pages/multistep-schematipo.component.ts:80</a></div>
                            </td>
                        </tr>

                <tr>
                    <td class="col-md-4">
                            <div>
                                    <b>Parameters :</b>
                                    <table class="params">
                                        <thead>
                                            <tr>
                                                <td>Name</td>
                                                    <td>Type</td>
                                                <td>Optional</td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                                <tr>
                                                        <td>service</td>
                                                  
                                                        <td>
                                                                        <code><a href="../injectables/ApplicationService.html" target="_self" >ApplicationService</a></code>
                                                        </td>
                                                  
                                                    <td>
                                                            No
                                                    </td>
                                                    
                                                </tr>
                                                <tr>
                                                        <td>authService</td>
                                                  
                                                        <td>
                                                                        <code><a href="../injectables/AuthService.html" target="_self" >AuthService</a></code>
                                                        </td>
                                                  
                                                    <td>
                                                            No
                                                    </td>
                                                    
                                                </tr>
                                                <tr>
                                                        <td>router</td>
                                                  
                                                        <td>
                                                                        <code><a href="https://angular.io/api/router/Router" target="_blank" >Router</a></code>
                                                        </td>
                                                  
                                                    <td>
                                                            No
                                                    </td>
                                                    
                                                </tr>
                                                <tr>
                                                        <td>cdRef</td>
                                                  
                                                        <td>
                                                                        <code><a href="https://angular.io/api/core/ChangeDetectorRef" target="_blank" >ChangeDetectorRef</a></code>
                                                        </td>
                                                  
                                                    <td>
                                                            No
                                                    </td>
                                                    
                                                </tr>
                                        </tbody>
                                    </table>
                            </div>
                    </td>
                </tr>
            </tbody>
        </table>
</section>





    <section>
    
    <h3 id="methods">
        Methods
    </h3>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="ngOnDestroy"></a>
                    <span class="name">
                        <b>
                            ngOnDestroy
                        </b>
                        <a href="#ngOnDestroy"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
            <tr>
                <td class="col-md-4">
<code>ngOnDestroy()</code>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">
                    <div class="io-line">Defined in <a href="" data-line="559"
                            class="link-to-prism">src/app/application/pages/multistep-schematipo.component.ts:559</a></div>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">

                    <div class="io-description">
                        <b>Returns : </b>        <code><a href="https://www.typescriptlang.org/docs/handbook/basic-types.html" target="_blank" >void</a></code>

                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="ngOnInit"></a>
                    <span class="name">
                        <b>
                            ngOnInit
                        </b>
                        <a href="#ngOnInit"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
            <tr>
                <td class="col-md-4">
<code>ngOnInit()</code>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">
                    <div class="io-line">Defined in <a href="" data-line="555"
                            class="link-to-prism">src/app/application/pages/multistep-schematipo.component.ts:555</a></div>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">

                    <div class="io-description">
                        <b>Returns : </b>        <code><a href="https://www.typescriptlang.org/docs/handbook/basic-types.html" target="_blank" >void</a></code>

                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="onAziendaNew"></a>
                    <span class="name">
                        <b>
                            onAziendaNew
                        </b>
                        <a href="#onAziendaNew"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
            <tr>
                <td class="col-md-4">
<code>onAziendaNew()</code>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">
                    <div class="io-line">Defined in <a href="" data-line="594"
                            class="link-to-prism">src/app/application/pages/multistep-schematipo.component.ts:594</a></div>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">

                    <div class="io-description">
                        <b>Returns : </b>        <code><a href="https://www.typescriptlang.org/docs/handbook/basic-types.html" target="_blank" >void</a></code>

                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="onSelectCurrentFile"></a>
                    <span class="name">
                        <b>
                            onSelectCurrentFile
                        </b>
                        <a href="#onSelectCurrentFile"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
            <tr>
                <td class="col-md-4">
<code>onSelectCurrentFile(currentSelFile: File, typeattachemnt: <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/string" target="_blank">string</a>)</code>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">
                    <div class="io-line">Defined in <a href="" data-line="512"
                            class="link-to-prism">src/app/application/pages/multistep-schematipo.component.ts:512</a></div>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">

                    <div class="io-description">
                        <b>Parameters :</b>
                        <table class="params">
                            <thead>
                                <tr>
                                    <td>Name</td>
                                    <td>Type</td>
                                    <td>Optional</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>currentSelFile</td>
                                    <td>
                                            <code>File</code>
                                    </td>

                                    <td>
                                        No
                                    </td>


                                </tr>
                                <tr>
                                    <td>typeattachemnt</td>
                                    <td>
                                                <code><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/string" target="_blank" >string</a></code>
                                    </td>

                                    <td>
                                        No
                                    </td>


                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div>
                    </div>
                    <div class="io-description">
                        <b>Returns : </b>        <code><a href="https://www.typescriptlang.org/docs/handbook/basic-types.html" target="_blank" >void</a></code>

                    </div>
                    <div class="io-description">
                        
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="onSubmit"></a>
                    <span class="name">
                        <b>
                            onSubmit
                        </b>
                        <a href="#onSubmit"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
            <tr>
                <td class="col-md-4">
<code>onSubmit()</code>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">
                    <div class="io-line">Defined in <a href="" data-line="564"
                            class="link-to-prism">src/app/application/pages/multistep-schematipo.component.ts:564</a></div>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">

                    <div class="io-description">
                        <b>Returns : </b>        <code><a href="https://www.typescriptlang.org/docs/handbook/basic-types.html" target="_blank" >void</a></code>

                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="onValidate"></a>
                    <span class="name">
                        <b>
                            <span class="modifier">Public</span>
                            onValidate
                        </b>
                        <a href="#onValidate"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
            <tr>
                <td class="col-md-4">
                    <span class="modifier-icon icon ion-ios-reset"></span>
                    <code>onValidate()</code>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">
                    <div class="io-line">Defined in <a href="" data-line="435"
                            class="link-to-prism">src/app/application/pages/multistep-schematipo.component.ts:435</a></div>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">

                    <div class="io-description">
                        <b>Returns : </b>        <code><a href="https://www.typescriptlang.org/docs/handbook/basic-types.html" target="_blank" >void</a></code>

                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="parsePdf"></a>
                    <span class="name">
                        <b>
                            <span class="modifier">Async</span>
                            parsePdf
                        </b>
                        <a href="#parsePdf"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
            <tr>
                <td class="col-md-4">
                    <span class="modifier-icon icon ion-ios-reset"></span>
                    <code>parsePdf(data)</code>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">
                    <div class="io-line">Defined in <a href="" data-line="485"
                            class="link-to-prism">src/app/application/pages/multistep-schematipo.component.ts:485</a></div>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">

                    <div class="io-description">
                        <b>Parameters :</b>
                        <table class="params">
                            <thead>
                                <tr>
                                    <td>Name</td>
                                    <td>Optional</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>data</td>

                                    <td>
                                        No
                                    </td>


                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div>
                    </div>
                    <div class="io-description">
                        <b>Returns : </b>        <code><a href="https://www.typescriptlang.org/docs/handbook/basic-types.html" target="_blank" >any</a></code>

                    </div>
                    <div class="io-description">
                        
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="render_page"></a>
                    <span class="name">
                        <b>
                            render_page
                        </b>
                        <a href="#render_page"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
            <tr>
                <td class="col-md-4">
<code>render_page(pageData)</code>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">
                    <div class="io-line">Defined in <a href="" data-line="450"
                            class="link-to-prism">src/app/application/pages/multistep-schematipo.component.ts:450</a></div>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">

                    <div class="io-description">
                        <b>Parameters :</b>
                        <table class="params">
                            <thead>
                                <tr>
                                    <td>Name</td>
                                    <td>Optional</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>pageData</td>

                                    <td>
                                        No
                                    </td>


                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div>
                    </div>
                    <div class="io-description">
                        <b>Returns : </b>        <code><a href="https://www.typescriptlang.org/docs/handbook/basic-types.html" target="_blank" >any</a></code>

                    </div>
                    <div class="io-description">
                        
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</section>
    <section>
    
        <h3 id="inputs">
            Properties
        </h3>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="authService"></a>
                        <span class="name">
                            <b>
                                <span class="modifier">Public</span>
                            authService</b>
                            <a href="#authService"><span class="icon ion-ios-link"></span></a>
                        </span>
                    </td>
                </tr>
                    <tr>
                        <td class="col-md-4">
                            <i>Type : </i>        <code><a href="../injectables/AuthService.html" target="_self" >AuthService</a></code>

                        </td>
                    </tr>
                        <tr>
                            <td class="col-md-4">
                                    <div class="io-line">Defined in <a href="" data-line="82" class="link-to-prism">src/app/application/pages/multistep-schematipo.component.ts:82</a></div>
                            </td>
                        </tr>


            </tbody>
        </table>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="CONV_BOZZA"></a>
                        <span class="name">
                            <b>
                                <span class="modifier">Static</span>
                            CONV_BOZZA</b>
                            <a href="#CONV_BOZZA"><span class="icon ion-ios-link"></span></a>
                        </span>
                    </td>
                </tr>
                    <tr>
                        <td class="col-md-4">
                            <i>Type : </i>        <code><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/string" target="_blank" >string</a></code>

                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-4">
                            <i>Default value : </i><code>&#x27;CB&#x27;</code>
                        </td>
                    </tr>
                        <tr>
                            <td class="col-md-4">
                                    <div class="io-line">Defined in <a href="" data-line="67" class="link-to-prism">src/app/application/pages/multistep-schematipo.component.ts:67</a></div>
                            </td>
                        </tr>


            </tbody>
        </table>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="DECRETO_DIRETTORIALE"></a>
                        <span class="name">
                            <b>
                                <span class="modifier">Static</span>
                            DECRETO_DIRETTORIALE</b>
                            <a href="#DECRETO_DIRETTORIALE"><span class="icon ion-ios-link"></span></a>
                        </span>
                    </td>
                </tr>
                    <tr>
                        <td class="col-md-4">
                            <i>Type : </i>        <code><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/string" target="_blank" >string</a></code>

                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-4">
                            <i>Default value : </i><code>&#x27;DD&#x27;</code>
                        </td>
                    </tr>
                        <tr>
                            <td class="col-md-4">
                                    <div class="io-line">Defined in <a href="" data-line="62" class="link-to-prism">src/app/application/pages/multistep-schematipo.component.ts:62</a></div>
                            </td>
                        </tr>


            </tbody>
        </table>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="DECRETO_RETTORALE"></a>
                        <span class="name">
                            <b>
                                <span class="modifier">Static</span>
                            DECRETO_RETTORALE</b>
                            <a href="#DECRETO_RETTORALE"><span class="icon ion-ios-link"></span></a>
                        </span>
                    </td>
                </tr>
                    <tr>
                        <td class="col-md-4">
                            <i>Type : </i>        <code><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/string" target="_blank" >string</a></code>

                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-4">
                            <i>Default value : </i><code>&#x27;DR&#x27;</code>
                        </td>
                    </tr>
                        <tr>
                            <td class="col-md-4">
                                    <div class="io-line">Defined in <a href="" data-line="64" class="link-to-prism">src/app/application/pages/multistep-schematipo.component.ts:64</a></div>
                            </td>
                        </tr>


            </tbody>
        </table>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="DELIBERA_CONSIGLIO_DIPARTIMENTO"></a>
                        <span class="name">
                            <b>
                                <span class="modifier">Static</span>
                            DELIBERA_CONSIGLIO_DIPARTIMENTO</b>
                            <a href="#DELIBERA_CONSIGLIO_DIPARTIMENTO"><span class="icon ion-ios-link"></span></a>
                        </span>
                    </td>
                </tr>
                    <tr>
                        <td class="col-md-4">
                            <i>Type : </i>        <code><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/string" target="_blank" >string</a></code>

                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-4">
                            <i>Default value : </i><code>&#x27;DCD&#x27;</code>
                        </td>
                    </tr>
                        <tr>
                            <td class="col-md-4">
                                    <div class="io-line">Defined in <a href="" data-line="63" class="link-to-prism">src/app/application/pages/multistep-schematipo.component.ts:63</a></div>
                            </td>
                        </tr>


            </tbody>
        </table>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="DOC_APP"></a>
                        <span class="name">
                            <b>
                                <span class="modifier">Static</span>
                            DOC_APP</b>
                            <a href="#DOC_APP"><span class="icon ion-ios-link"></span></a>
                        </span>
                    </td>
                </tr>
                    <tr>
                        <td class="col-md-4">
                            <i>Type : </i>        <code><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/string" target="_blank" >string</a></code>

                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-4">
                            <i>Default value : </i><code>&#x27;DA&#x27;</code>
                        </td>
                    </tr>
                        <tr>
                            <td class="col-md-4">
                                    <div class="io-line">Defined in <a href="" data-line="65" class="link-to-prism">src/app/application/pages/multistep-schematipo.component.ts:65</a></div>
                            </td>
                        </tr>


            </tbody>
        </table>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="fieldtabs"></a>
                        <span class="name">
                            <b>
                            fieldtabs</b>
                            <a href="#fieldtabs"><span class="icon ion-ios-link"></span></a>
                        </span>
                    </td>
                </tr>
                    <tr>
                        <td class="col-md-4">
                            <i>Type : </i>        <code><a href="../interfaces/Field.html" target="_self" >FormlyFieldConfig[]</a></code>

                        </td>
                    </tr>
                        <tr>
                            <td class="col-md-4">
                                    <div class="io-line">Defined in <a href="" data-line="71" class="link-to-prism">src/app/application/pages/multistep-schematipo.component.ts:71</a></div>
                            </td>
                        </tr>


            </tbody>
        </table>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="form"></a>
                        <span class="name">
                            <b>
                            form</b>
                            <a href="#form"><span class="icon ion-ios-link"></span></a>
                        </span>
                    </td>
                </tr>
                    <tr>
                        <td class="col-md-4">
                            <i>Default value : </i><code>new FormGroup({})</code>
                        </td>
                    </tr>
                        <tr>
                            <td class="col-md-4">
                                    <div class="io-line">Defined in <a href="" data-line="73" class="link-to-prism">src/app/application/pages/multistep-schematipo.component.ts:73</a></div>
                            </td>
                        </tr>


            </tbody>
        </table>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="isLoading"></a>
                        <span class="name">
                            <b>
                            isLoading</b>
                            <a href="#isLoading"><span class="icon ion-ios-link"></span></a>
                        </span>
                    </td>
                </tr>
                    <tr>
                        <td class="col-md-4">
                            <i>Type : </i>        <code><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/boolean" target="_blank" >boolean</a></code>

                        </td>
                    </tr>
                        <tr>
                            <td class="col-md-4">
                                    <div class="io-line">Defined in <a href="" data-line="76" class="link-to-prism">src/app/application/pages/multistep-schematipo.component.ts:76</a></div>
                            </td>
                        </tr>


            </tbody>
        </table>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="mapAttachment"></a>
                        <span class="name">
                            <b>
                            mapAttachment</b>
                            <a href="#mapAttachment"><span class="icon ion-ios-link"></span></a>
                        </span>
                    </td>
                </tr>
                    <tr>
                        <td class="col-md-4">
                            <i>Type : </i>        <code><a href="../interfaces/FileAttachment.html" target="_self" >Map&lt;string | FileAttachment&gt;</a></code>

                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-4">
                            <i>Default value : </i><code>new Map&lt;string, FileAttachment&gt;()</code>
                        </td>
                    </tr>
                        <tr>
                            <td class="col-md-4">
                                    <div class="io-line">Defined in <a href="" data-line="80" class="link-to-prism">src/app/application/pages/multistep-schematipo.component.ts:80</a></div>
                            </td>
                        </tr>


            </tbody>
        </table>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="model"></a>
                        <span class="name">
                            <b>
                            model</b>
                            <a href="#model"><span class="icon ion-ios-link"></span></a>
                        </span>
                    </td>
                </tr>
                    <tr>
                        <td class="col-md-4">
                            <i>Type : </i>        <code><a href="../interfaces/Convenzione.html" target="_self" >Convenzione</a></code>

                        </td>
                    </tr>
                        <tr>
                            <td class="col-md-4">
                                    <div class="io-line">Defined in <a href="" data-line="74" class="link-to-prism">src/app/application/pages/multistep-schematipo.component.ts:74</a></div>
                            </td>
                        </tr>


            </tbody>
        </table>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="onDestroy$"></a>
                        <span class="name">
                            <b>
                            onDestroy$</b>
                            <a href="#onDestroy$"><span class="icon ion-ios-link"></span></a>
                        </span>
                    </td>
                </tr>
                    <tr>
                        <td class="col-md-4">
                            <i>Default value : </i><code>new Subject&lt;void&gt;()</code>
                        </td>
                    </tr>
                        <tr>
                            <td class="col-md-4">
                                    <div class="io-line">Defined in <a href="" data-line="70" class="link-to-prism">src/app/application/pages/multistep-schematipo.component.ts:70</a></div>
                            </td>
                        </tr>


            </tbody>
        </table>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="options"></a>
                        <span class="name">
                            <b>
                            options</b>
                            <a href="#options"><span class="icon ion-ios-link"></span></a>
                        </span>
                    </td>
                </tr>
                    <tr>
                        <td class="col-md-4">
                            <i>Type : </i>        <code><a href="../interfaces/Option.html" target="_self" >FormlyFormOptions</a></code>

                        </td>
                    </tr>
                        <tr>
                            <td class="col-md-4">
                                    <div class="io-line">Defined in <a href="" data-line="78" class="link-to-prism">src/app/application/pages/multistep-schematipo.component.ts:78</a></div>
                            </td>
                        </tr>


            </tbody>
        </table>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="PROSPETTO"></a>
                        <span class="name">
                            <b>
                                <span class="modifier">Static</span>
                            PROSPETTO</b>
                            <a href="#PROSPETTO"><span class="icon ion-ios-link"></span></a>
                        </span>
                    </td>
                </tr>
                    <tr>
                        <td class="col-md-4">
                            <i>Type : </i>        <code><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/string" target="_blank" >string</a></code>

                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-4">
                            <i>Default value : </i><code>&#x27;PR&#x27;</code>
                        </td>
                    </tr>
                        <tr>
                            <td class="col-md-4">
                                    <div class="io-line">Defined in <a href="" data-line="66" class="link-to-prism">src/app/application/pages/multistep-schematipo.component.ts:66</a></div>
                            </td>
                        </tr>


            </tbody>
        </table>
</section>

</div>


    <div class="tab-pane fade  tab-source-code" id="c-source">
        <pre class="line-numbers compodoc-sourcecode"><code class="language-typescript">import { Component, OnInit, OnDestroy } from &#x27;@angular/core&#x27;;
import { FormlyFieldConfig, FormlyFormOptions } from &#x27;@ngx-formly/core&#x27;;
import { StepType } from &#x27;src/app/shared&#x27;;
import { ApplicationService } from &#x27;../application.service&#x27;;
import { ActivatedRoute, Router } from &#x27;@angular/router&#x27;;
import { Convenzione, FileAttachment, Owner } from &#x27;../convenzione&#x27;;
import { FormGroup, FormControl, ValidationErrors, FormArray } from &#x27;@angular/forms&#x27;;
import { encode, decode } from &#x27;base64-arraybuffer&#x27;;
import { AuthService } from &#x27;src/app/core&#x27;;
import { InfraMessageType } from &#x27;src/app/shared/message/message&#x27;;
import { takeUntil, startWith, tap, filter, map, distinct } from &#x27;rxjs/operators&#x27;;
import { Subject, Observable } from &#x27;rxjs&#x27;;
import { PDFJSStatic } from &#x27;pdfjs-dist&#x27;;
import { modelGroupProvider } from &#x27;@angular/forms/src/directives/ng_model_group&#x27;;
import { ChangeDetectorRef } from &#x27;@angular/core&#x27;;

const PDFJS: PDFJSStatic &#x3D; require(&#x27;pdfjs-dist&#x27;);

//ng g c application/pages/test-tab -s true  --spec false --flat true


//[{&quot;id&quot;:1,&quot;codice&quot;:&quot;DD&quot;,&quot;descrizione&quot;:&quot;Disposizione direttoriale&quot;},
//{&quot;id&quot;:2,&quot;codice&quot;:&quot;DCD&quot;,&quot;descrizione&quot;:&quot;Delibera Consiglio di Dipartimento&quot;},
//{&quot;id&quot;:3,&quot;codice&quot;:&quot;DR&quot;,&quot;descrizione&quot;:&quot;Decreto Rettorale&quot;},
//{&quot;id&quot;:4,&quot;codice&quot;:&quot;DSA&quot;,&quot;descrizione&quot;:&quot;Delibera Senato Accademico&quot;},
//{&quot;id&quot;:5,&quot;codice&quot;:&quot;DCA&quot;,&quot;descrizione&quot;:&quot;Delibera Consiglio di Amministrazione&quot;}]

@Component({
  selector: &#x27;app-multistep-schematipo&#x27;,
  template: &#x60;
  &lt;ngx-loading [show]&#x3D;&quot;isLoading&quot; [config]&#x3D;&quot;{ backdropBorderRadius: &#x27;4px&#x27; }&quot;&gt;&lt;/ngx-loading&gt;
  &lt;div class&#x3D;&quot;btn-toolbar mb-4&quot; role&#x3D;&quot;toolbar&quot;&gt;
    &lt;div class&#x3D;&quot;btn-group btn-group&quot;&gt;             
      &lt;button class&#x3D;&quot;btn btn-outline-primary border-0 rounded-0&quot; [disabled]&#x3D;&quot;!form.valid || !form.dirty&quot; (click)&#x3D;&quot;onSubmit()&quot; &gt;              
        &lt;span class&#x3D;&quot;oi oi-arrow-top&quot;&gt;&lt;/span&gt;  
        &lt;span class&#x3D;&quot;ml-2&quot;&gt;Aggiorna&lt;/span&gt;              
      &lt;/button&gt; 
      &lt;button class&#x3D;&quot;btn btn-outline-primary border-0 rounded-0&quot; (click)&#x3D;&quot;onValidate()&quot; &gt;              
        &lt;span class&#x3D;&quot;oi oi-flash&quot;&gt;&lt;/span&gt;  
        &lt;span class&#x3D;&quot;ml-2&quot;&gt;Valida&lt;/span&gt;              
      &lt;/button&gt;   
    &lt;/div&gt;
    &lt;div class&#x3D;&quot;btn-group btn-group&quot;&gt;   
    &lt;button class&#x3D;&quot;btn btn-outline-primary border-0 rounded-0&quot; (click)&#x3D;&quot;onAziendaNew()&quot; &gt;              
        &lt;span class&#x3D;&quot;oi oi-document&quot;&gt;&lt;/span&gt;  
        &lt;span class&#x3D;&quot;ml-2&quot;&gt;Nuova azienda&lt;/span&gt;              
      &lt;/button&gt;   
    &lt;/div&gt;
  &lt;/div&gt;
  
  &lt;form *ngIf&#x3D;&#x27;model&#x27; [formGroup]&#x3D;&quot;form&quot; &gt;
    &lt;formly-form  [model]&#x3D;&quot;model&quot; [fields]&#x3D;&quot;fieldtabs&quot; [form]&#x3D;&quot;form&quot; [options]&#x3D;&quot;options&quot;&gt;      
    &lt;/formly-form&gt; 
  &lt;/form&gt;
  &#x60;,
  styles: []
})

export class MultistepSchematipoComponent implements OnInit, OnDestroy {


  public static DECRETO_DIRETTORIALE &#x3D; &#x27;DD&#x27;;
  public static DELIBERA_CONSIGLIO_DIPARTIMENTO &#x3D; &#x27;DCD&#x27;;
  public static DECRETO_RETTORALE &#x3D; &#x27;DR&#x27;;
  public static DOC_APP &#x3D; &#x27;DA&#x27;;
  public static PROSPETTO &#x3D; &#x27;PR&#x27;;
  public static CONV_BOZZA &#x3D; &#x27;CB&#x27;;


  onDestroy$ &#x3D; new Subject&lt;void&gt;();
  fieldtabs: FormlyFieldConfig[];

  form &#x3D; new FormGroup({});
  model: Convenzione;

  isLoading: boolean;

  options: FormlyFormOptions;

  mapAttachment: Map&lt;string, FileAttachment&gt; &#x3D; new Map&lt;string, FileAttachment&gt;();

  constructor(private service: ApplicationService, public authService: AuthService, private router: Router,  private cdRef : ChangeDetectorRef) {

    PDFJS.disableWorker &#x3D; true;

    this.model &#x3D; {
      schematipotipo: &#x27;schematipo&#x27;,
      transition: &#x27;self_transition&#x27;,
      user_id: authService.userid,
      id: null,
      descrizione_titolo: &#x27;&#x27;,
      dipartimemto_cd_dip: &#x27;&#x27;,
      nominativo_docente: &#x27;&#x27;,
      emittente: &#x27;&#x27;,
      user: { id: authService.userid, name: authService.username },
      dipartimento: { cd_dip: null, nome_breve: &#x27;&#x27; },
      stato_avanzamento: null,
      convenzione_type: &#x27;TO&#x27;,
      tipopagamento: { codice: null, descrizione: &#x27;&#x27; },
      azienda: { id: null, denominazione: &#x27;&#x27; },
      unitaorganizzativa_uo: &#x27;&#x27;,
      attachments: [],    
      aziende:[],  
    };

    this.options &#x3D; {
      formState: {
        isLoading: false,
        model: this.model,
      },
    };

    this.fieldtabs &#x3D; [          
      {
        type: &#x27;tabinfra&#x27;,
        templateOptions:{
          onSubmit: () &#x3D;&gt; this.onSubmit(),
        },
        fieldGroup: [
          {
            wrappers: [&#x27;accordioninfo&#x27;],
            fieldGroup: [
              {
                fieldGroupClassName: &#x27;row&#x27;,
                fieldGroup: [{
                  key: &#x27;schematipotipo&#x27;,
                  wrappers: [&#x27;form-field-horizontal&#x27;],
                  className: &#x27;col-md-6&#x27;,
                  type: &#x27;select&#x27;,
                  templateOptions: {
                    label: &#x27;Approvazione organi&#x27;,
                    options: [
                      { label: &#x27;No&#x27;, value: &#x27;schematipo&#x27; },
                      { label: &#x27;Si&#x27;, value: &#x27;daapprovare&#x27; },
                    ],
                  },
                  lifecycle: {
                    onInit: (form, field) &#x3D;&gt; {
                      const tabs &#x3D; this.fieldtabs.find(f &#x3D;&gt; f.type &#x3D;&#x3D;&#x3D; &#x27;tabinfra&#x27;);
                      const tabappr &#x3D; tabs.fieldGroup[2];
                      //const selectfield &#x3D; tabappr.fieldGroup.find(x&#x3D;&gt; x.key &#x3D;&#x3D; &#x27;ufficioaffidatario&#x27;)
                      field.formControl.valueChanges.subscribe(x &#x3D;&gt; {
                        if (x &#x3D;&#x3D; &#x27;schematipo&#x27;) {
                          tabappr.templateOptions.hidden &#x3D; true;
                        }
                        else {
                          tabappr.templateOptions.hidden &#x3D; false;
                        }
                      });
                    }
                  }
                }],
              },
            ].concat(
              this.service.getInformazioniDescrittiveFields(this.model).map(x &#x3D;&gt; {
                if (x.key &#x3D;&#x3D; &#x27;user&#x27;) {                  
                  setTimeout(()&#x3D;&gt; {
                    x.templateOptions.disabled &#x3D; true;
                  }, 0);
                }
                return x;
              })),
            templateOptions: {
              label: &#x27;Informazioni descrittive&#x27;
            },
          },
          {
            wrappers: [&#x27;accordioninfo&#x27;],
            fieldGroup: [          
              {
                fieldGroupClassName: &#x27;row&#x27;,
                fieldGroup: [
                  {
                    key: &#x27;file_CD_type&#x27;,
                    type: &#x27;select&#x27;,
                    defaultValue: &#x27;DCD&#x27;,
                    className: &quot;col-md-6&quot;,
                    templateOptions: {
                      label: &#x27;Tipo documento di approvazione&#x27;,
                      required: true,
                      options: [
                        { value: &#x27;DCD&#x27;, label: &#x27;Delibera Consiglio di Dipartimento&#x27; },
                        { value: &#x27;DDD&#x27;, label: &#x27;Disposizione del direttore di dipartimento&#x27; },
                      ]
                    },
                    expressionProperties: {
                      &#x27;templateOptions.disabled&#x27;: (model: any, formState: any) &#x3D;&gt; {                        
                          return !(formState.model.file_CD &#x3D;&#x3D; null || formState.model.file_CD &#x3D;&#x3D; &#x27;&#x27;);
                      },
                    },            
                  },
                  {
                    key: &#x27;file_CD&#x27;,
                    type: &#x27;fileinput&#x27;,
                    className: &quot;col-md-6&quot;,                    
                    templateOptions: {
                      label: &#x27;Documento di approvazione (formato pdf)&#x27;,
                      description: &#x27;Allegare in formato pdf la versione della delibera o della disposizione&#x27;,                      
                      type: &#x27;input&#x27;,
                      placeholder: &#x27;Scegli documento&#x27;,
                      accept: &#x27;application/pdf&#x27;,                      
                      required: true,                                                                  
                      onSelected: (selFile) &#x3D;&gt; {
                        this.onSelectCurrentFile(selFile, this.model[&#x27;file_CD_type&#x27;]);
                      },                                            
                    },
                    validators: {                        
                      formatpdf: {
                        expression: (c) &#x3D;&gt; {
                         return /.+\.([pP][dD][fF])/.test(c.value);
                        },
                        message: (error, field: FormlyFieldConfig) &#x3D;&gt;  &#x60;Formato non consentito&#x60;,
                      }
                    }
                  },
                ],
              },
              {
                fieldGroupClassName: &#x27;row&#x27;, 
                //hideExpression: (model: any) &#x3D;&gt; !model.file_CD,               
                fieldGroup: [
                  {
                    key: &#x27;docnumber&#x27;,
                    type: &#x27;input&#x27;,
                    className: &quot;col-md-4&quot;,
                    templateOptions: {
                      label: &#x27;Numero&#x27;,
                      required: true,                               
                    },
                  },
                  {
                    key: &#x27;data_emissione&#x27;,
                    type: &#x27;datepicker&#x27;,
                    className: &quot;col-md-8&quot;,
                    templateOptions: {
                      label: &#x27;Data&#x27;,
                      required: true,                               
                    },
                  },
                ]
              },
              // {
              //   key: &#x27;file_DR&#x27;,
              //   type: &#x27;fileinput&#x27;,
              //   className: &quot;col-md-5&quot;,
              //   templateOptions: {
              //     label: &#x27;Disposizione rettorale&#x27;,
              //     type: &#x27;input&#x27;,
              //     placeholder: &#x27;Scegli documento&#x27;,
              //     accept: &#x27;application/pdf&#x27;,                
              //     onSelected: (selFile) &#x3D;&gt; { 
              //       this.onSelectCurrentFile(selFile, MultistepSchematipoComponent.DECRETO_RETTORALE) 
              //     }
              //   },
              // },            
              {
                key: &#x27;file_DA&#x27;,
                type: &#x27;fileinput&#x27;,
                templateOptions: {
                  label: &#x27;Documento appoggio (formato word)&#x27;,
                  type: &#x27;input&#x27;,
                  description: &#x27;Versione editabile (file word) della delibera o della disposizione&#x27;,
                  placeholder: &#x27;Scegli documento&#x27;,
                  tooltip: {
                    content: &#x27;Versione editabile (file word) della delibera o della disposizione&#x27;
                  },
                  accept: &#x27;.doc,.docx ,application/msword&#x27;,
                  onSelected: (selFile) &#x3D;&gt; {
                    this.onSelectCurrentFile(selFile, MultistepSchematipoComponent.DOC_APP)
                  }
                },                
                validators: {                        
                  formatpdf: {
                    expression: (c) &#x3D;&gt; {
                     return c.value ? /.+\.([dD][oO][cC][xX]?)/.test(c.value) : true;
                    },
                    message: (error, field: FormlyFieldConfig) &#x3D;&gt;  &#x60;Formato non consentito&#x60;,
                  }
                }
              },
              {
                key: &#x27;file_PR&#x27;,
                type: &#x27;fileinput&#x27;,
                className: &quot;col-md-5&quot;,
                templateOptions: {
                  label: &#x27;Prospetto ripartizione costi e proventi&#x27;,
                  type: &#x27;input&#x27;,
                  placeholder: &#x27;Scegli documento&#x27;,
                  accept: &#x27;application/vnd.openxmlformats-officedocument.spreadsheetml.sheet&#x27;,
                  onSelected: (selFile) &#x3D;&gt; {
                    this.onSelectCurrentFile(selFile, MultistepSchematipoComponent.PROSPETTO)
                  }
                },
                validators: {                        
                  formatpdf: {
                    expression: (c) &#x3D;&gt; {
                     return c.value ? /.+\.([xX][lL][sS][xX])$/.test(c.value) : true;
                    },
                    message: (error, field: FormlyFieldConfig) &#x3D;&gt;  &#x60;Formato non consentito&#x60;,
                  }
                }
              },
            ],
            templateOptions: {
              label: &#x27;Allegati&#x27;
            }
          },
          {
            wrappers: [&#x27;accordioninfo&#x27;],
            fieldGroup: [
              {
                key: &#x27;unitaorganizzativa_uo&#x27;,
                type: &#x27;select&#x27;,
                hideExpression: &#x27;formState.model.schematipotipo &#x3D;&#x3D; &quot;schematipo&quot;&#x27;,
                templateOptions: {
                  label: &#x27;Ufficio affidatario procedura&#x27;,
                  required: true,                 
                  options: this.service.getValidationOffices(),
                  valueProp: &#x27;uo&#x27;,
                  labelProp: &#x27;descr&#x27;,
                },
              },              
              {
                key: &#x27;respons_v_ie_ru_personale_id_ab&#x27;,
                type: &#x27;select&#x27;,
                hideExpression: &#x27;formState.model.schematipotipo &#x3D;&#x3D; &quot;schematipo&quot;&#x27;,                
                templateOptions: {
                  label: &#x27;Responsabile ufficio&#x27;,
                  valueProp: &#x27;id&#x27;,
                  labelProp: &#x27;descr&#x27;,   
                  required: true,                    
                },
                lifecycle: {
                  onInit: (form, field, model, options) &#x3D;&gt; {
                    form.get(&#x27;unitaorganizzativa_uo&#x27;).valueChanges.pipe(
                      takeUntil(this.onDestroy$),    
                      distinct(),                  
                      //startWith(form.get(&#x27;unitaorganizzativa_uo&#x27;).value),
                      filter(ev &#x3D;&gt; ev !&#x3D;&#x3D; null),
                      tap(uo &#x3D;&gt; {                                                                   
                        field.formControl.setValue(&#x27;&#x27;);
                        field.templateOptions.options &#x3D; this.service.getPersonaleUfficio(uo).pipe(
                          map(items &#x3D;&gt; {
                            return items.filter(x &#x3D;&gt; ApplicationService.isResponsabileUfficio(x.cd_tipo_posizorg));
                          }),  
                          tap(items &#x3D;&gt; {
                            if (items[0]){
                              field.formControl.setValue(items[0].id); 
                            }
                          }),                                                  
                        );
                      }),
                    ).subscribe();
                  },
                },
              },
              {
                key: &#x27;assignments&#x27;,
                type: &#x27;repeat&#x27;,          
                hideExpression: &#x27;formState.model.schematipotipo &#x3D;&#x3D; &quot;schematipo&quot;&#x27;,                         
                templateOptions: {                  
                  label: &#x27;Operatori&#x27;,                                                                                        
                },   
                validators: {
                  unique: {
                    expression: (c) &#x3D;&gt; {           
                      if (c.value)  {                              
                        var valueArr &#x3D; c.value.map(function(item){ return item.v_ie_ru_personale_id_ab }).filter(x &#x3D;&gt; x !&#x3D; null );
                        var isDuplicate &#x3D; valueArr.some(function(item, idx){ 
                            return valueArr.indexOf(item) !&#x3D; idx 
                        });              
                        return !isDuplicate;
                      }
                      return true;
                    },
                    message: (error, field: FormlyFieldConfig) &#x3D;&gt; &#x60;Nome ripetuto&#x60;,
                  },
                },
                expressionProperties: {
                  &#x27;templateOptions.disabled&#x27;: (model: any, formState: any) &#x3D;&gt; {
                    // access to the main model can be through &#x60;this.model&#x60; or &#x60;formState&#x60; or &#x60;model
                    return formState.model.respons_v_ie_ru_personale_id_ab &#x3D;&#x3D; null || formState.model.respons_v_ie_ru_personale_id_ab &#x3D;&#x3D; &#x27;&#x27;;
                  },
                },            
                fieldArray: {                  
                  fieldGroupClassName: &#x27;row&#x27;,
                  fieldGroup: [
                  {
                    key: &#x27;v_ie_ru_personale_id_ab&#x27;,
                    type: &#x27;select&#x27;,
                    className: &quot;col-md-8&quot;,
                    templateOptions: {
                      label: &#x27;Operatore attività&#x27;,
                      valueProp: &#x27;id&#x27;,
                      labelProp: &#x27;descr&#x27;,  
                      required: true,                     
                    },
                    lifecycle: {
                      onInit: (form, field, model) &#x3D;&gt; {                                              
                        //field.formControl.setValue(&#x27;&#x27;);
                        field.templateOptions.options &#x3D; this.service.getPersonaleUfficio(this.model.unitaorganizzativa_uo).pipe(
                          // map(items &#x3D;&gt; {
                          //   return items.filter(x &#x3D;&gt; x.cd_tipo_posizorg !&#x3D;&#x3D; &#x27;RESP_UFF&#x27; &amp;&amp;  x.cd_tipo_posizorg !&#x3D;&#x3D; &#x27;COOR_PRO_D&#x27;);
                          // }),                         
                        );                      
                      },
                    },
                  },
                  ],   
                },
              },
              {
                key: &#x27;description&#x27;,
                type: &#x27;textarea&#x27;,
                hideExpression: &#x27;formState.model.schematipotipo &#x3D;&#x3D; &quot;schematipo&quot;&#x27;,    
                templateOptions: {
                  label: &#x27;Note&#x27;,                  
                  rows: 5,
                  //required: true,
                },
                expressionProperties: {
                  &#x27;templateOptions.disabled&#x27;: &#x27;!model.respons_v_ie_ru_personale_id_ab&#x27;,
                },
              }
            ],
            templateOptions: {
              label: &#x27;Approvazione&#x27;,
              hidden: true,
            },              
          }
        ]
      }];
  }

  public onValidate() {
    const invalid &#x3D; [];
    const controls &#x3D; this.form.controls;
    this.service.clearMessage();
    for (const name in controls) {        
        if (controls[name].invalid) {
            for (const error in controls[name].errors){
              this.service.messageService.add(InfraMessageType.Error, name + &quot; &quot; + error, false);
              invalid.push(name +&quot; &quot; + controls[name].getError(error));
            }          
        }
    }
    console.log(invalid);    
  }

  render_page(pageData) {
    //check documents https://mozilla.github.io/pdf.js/
    //ret.text &#x3D; ret.text ? ret.text : &quot;&quot;;

    let render_options &#x3D; {
      //replaces all occurrences of whitespace with standard spaces (0x20). The default value is &#x60;false&#x60;.
      normalizeWhitespace: false,
      //do not attempt to combine same line TextItem&#x27;s. The default value is &#x60;false&#x60;.
      disableCombineTextItems: false
    }

    return pageData.getTextContent(render_options)
      .then(function (textContent) {
        let lastY, text &#x3D; &#x27;&#x27;;
        //https://github.com/mozilla/pdf.js/issues/8963
        //https://github.com/mozilla/pdf.js/issues/2140
        //https://gist.github.com/hubgit/600ec0c224481e910d2a0f883a7b98e3
        //https://gist.github.com/hubgit/600ec0c224481e910d2a0f883a7b98e3
        for (let item of textContent.items) {
          if (lastY &#x3D;&#x3D; item.transform[5] || !lastY) {
            text +&#x3D; item.str;
          }
          else {
            text +&#x3D; &#x27;\n&#x27; + item.str;
          }
          lastY &#x3D; item.transform[5];
        }
        //let strings &#x3D; textContent.items.map(item &#x3D;&gt; item.str);
        //let text &#x3D; strings.join(&quot;\n&quot;);
        //text &#x3D; text.replace(/[ ]+/ig,&quot; &quot;);
        //ret.text &#x3D; &#x60;${ret.text} ${text} \n\n&#x60;;
        return text;
      });
  }

  async parsePdf(data){
    let text &#x3D; &#x27;&#x27;;
    await PDFJS.getDocument({ data: data }).then(async (doc) &#x3D;&gt; {
      let counter: number &#x3D; 1;
      counter &#x3D; counter &gt; doc.numPages ? doc.numPages : counter;

      for (var i &#x3D; 1; i &lt;&#x3D; counter; i++) {
        let pageText &#x3D; await doc.getPage(i).then(pageData &#x3D;&gt; this.render_page(pageData));
        text &#x3D; &#x60;${text}\n\n${pageText}&#x60;;      
        //ret.text &#x3D; &#x60;${ret.text}\n\n${pageText}&#x60;;
      }    
            
      let number &#x3D; text.match(/[d|D]elibera n.?\s?([A-Za-z0-9\/]*)\s*\n/);
      if (number &amp;&amp; number[1]){
        this.form.get(&#x27;docnumber&#x27;).setValue(number[1]);
      
      }
      let data_emissione &#x3D; text.match(/[r|R]iunione del giorno\s([0-9]{2}\/[0-9]{2}\/[0-9]{4})\s?/);
      if (data_emissione &amp;&amp; data_emissione[1]){
        let converted &#x3D; data_emissione[1].replace(/\//g,&#x27;-&#x27;);
        this.form.get(&#x27;data_emissione&#x27;).setValue(converted);
      }      
      this.isLoading &#x3D; false;
    });
  }


  onSelectCurrentFile(currentSelFile: File, typeattachemnt: string) {

    if (currentSelFile &#x3D;&#x3D; null) {
      //caso di cancellazione
      this.mapAttachment.delete(typeattachemnt);
      return;
    }
    
    this.isLoading &#x3D; true;
    let currentAttachment: FileAttachment &#x3D; {
      model_type: &#x27;convenzione&#x27;,
      filename: currentSelFile.name,
      attachmenttype_codice: typeattachemnt,
    } 
    
    const reader &#x3D; new FileReader();   

    reader.onload &#x3D; async (e: any) &#x3D;&gt; {
      this.isLoading &#x3D; true;
      currentAttachment.filevalue &#x3D; encode(e.target.result);
      
      if (currentSelFile.name.search(&#x27;pdf&#x27;)&gt;0){
        try {
          await this.parsePdf(e.target.result);     
        } catch (error) {
          this.isLoading &#x3D; false;
        }
      }

      if (!currentAttachment.filevalue) {
        this.isLoading &#x3D; false;
        return;
        //this.form.get(&#x27;file_&#x27; + typeattachemnt).setErrors({ &#x27;filevalidation&#x27;: true });
        //this.service.messageService.add(InfraMessageType.Error,&#x27;Documento &#x27;+ currentAttachment.filename +&#x27; vuoto&#x27;);
      }

      this.mapAttachment.set(currentAttachment.attachmenttype_codice, currentAttachment);
      this.isLoading &#x3D; false;
    }
    reader.readAsArrayBuffer(currentSelFile);

  }

  ngOnInit() {
    //const selectSchemaTipo &#x3D; this.fieldtabs.find(f &#x3D;&gt; f.key &#x3D;&#x3D;&#x3D; &#x27;schematipotipo&#x27;); 
  }

  ngOnDestroy(): void {
    this.onDestroy$.next();
    this.onDestroy$.complete();
  }

  onSubmit() {

    if (this.form.valid) {
      this.isLoading &#x3D; true;
      var tosubmit: Convenzione &#x3D; { ...this.model, ...this.form.value };

      var file &#x3D; this.mapAttachment.get(MultistepSchematipoComponent.DELIBERA_CONSIGLIO_DIPARTIMENTO);
      file.docnumber &#x3D; this.model[&#x27;docnumber&#x27;];
      file.emission_date &#x3D; this.model[&#x27;data_emissione&#x27;];

      //aggiungo tutti gli allegati      
      tosubmit.attachments &#x3D; [];
      tosubmit.attachments.push(...Array.from&lt;FileAttachment&gt;(this.mapAttachment.values()));     

      this.service.createSchemaTipo(tosubmit, true).subscribe(
        result &#x3D;&gt; {
          //this.options.resetModel(result);
          this.isLoading &#x3D; false;
          this.router.navigate([&#x27;home/dashboard/dashboard1&#x27;]);  
          //this.router.navigate([&#x27;home/convenzioni/&#x27; + result.id]);
        },
        error &#x3D;&gt; {
          this.isLoading &#x3D; false;
          console.log(error);
        }

      );
    }
  }

  onAziendaNew(){
    this.router.navigate([&#x27;home/aziendeloc/new&#x27;]);     
  }

}
</code></pre>
    </div>



    <div class="tab-pane fade " id="c-tree">
        <div id="tree-container"></div>
        <div class="tree-legend">
            <div class="title">
                <b>Legend</b>
            </div>
            <div>
                <div class="color htmlelement"></div><span>Html element</span>
            </div>
            <div>
                <div class="color component"></div><span>Component</span>
            </div>
            <div>
                <div class="color directive"></div><span>Html element with directive</span>
            </div>
        </div>
    </div>

    
</div>

<script src="../js/libs/vis.min.js"></script>
<script src="../js/libs/htmlparser.js"></script>
<script src="../js/libs/deep-iterator.js"></script>
<script>
        var COMPONENT_TEMPLATE = '<div><ngx-loading [show]="isLoading" [config]="{ backdropBorderRadius: \'4px\' }"></ngx-loading><div class="btn-toolbar mb-4" role="toolbar">  <div class="btn-group btn-group">    <button class="btn btn-outline-primary border-0 rounded-0" [disabled]="!form.valid || !form.dirty" (click)="onSubmit()" >      <span class="oi oi-arrow-top"></span>      <span class="ml-2">Aggiorna</span>    </button>    <button class="btn btn-outline-primary border-0 rounded-0" (click)="onValidate()" >      <span class="oi oi-flash"></span>      <span class="ml-2">Valida</span>    </button>  </div>  <div class="btn-group btn-group">  <button class="btn btn-outline-primary border-0 rounded-0" (click)="onAziendaNew()" >      <span class="oi oi-document"></span>      <span class="ml-2">Nuova azienda</span>    </button>  </div></div><form *ngIf=\'model\' [formGroup]="form" >  <formly-form  [model]="model" [fields]="fieldtabs" [form]="form" [options]="options">  </formly-form></form></div>'
    var COMPONENTS = [{'name': 'AccordionInfoWrapperComponent', 'selector': 'formly-wrapper-accordioninfo'},{'name': 'AccordionWrapperComponent', 'selector': 'formly-wrapper-accordion'},{'name': 'AllegatiComponent', 'selector': 'app-allegati'},{'name': 'AppComponent', 'selector': 'app-root'},{'name': 'ApprovazionedetailsComponent', 'selector': 'app-approvazionedetails'},{'name': 'AssignmentDetailPageComponent', 'selector': 'app-assignment-detail-page'},{'name': 'AziendaLocComponent', 'selector': 'app-aziendaloc'},{'name': 'AziendeLocComponent', 'selector': 'app-aziendeloc'},{'name': 'BaseEntityComponent', 'selector': ''},{'name': 'BaseResearchComponent', 'selector': ''},{'name': 'BlankComponent', 'selector': 'app-blank-layout'},{'name': 'BolloRepertoriazioneComponent', 'selector': 'app-bollorepertoriazione'},{'name': 'BreadcrumbComponent', 'selector': 'app-breadcrumb'},{'name': 'ClassificazioneComponent', 'selector': 'app-classificazione'},{'name': 'ClassificazioniComponent', 'selector': 'app-classificazioni'},{'name': 'CollapseWrapperComponent', 'selector': 'app-collapse-wrapper'},{'name': 'ConfirmationDialogComponent', 'selector': 'app-confirmation-dialog'},{'name': 'ControlGenericListComponent', 'selector': 'app-control-generic-list'},{'name': 'ConvenzioneComponent', 'selector': 'app-convenzione'},{'name': 'ConvenzionedetailsComponent', 'selector': 'app-convenzionedetails'},{'name': 'ConvenzioniComponent', 'selector': 'app-convenzionis'},{'name': 'ConvenzioniresultComponent', 'selector': 'app-convenzioniresult'},{'name': 'ConvvalidationComponent', 'selector': 'app-convvalidation'},{'name': 'Dashboard1Component', 'selector': ''},{'name': 'Dashboard2Component', 'selector': ''},{'name': 'DatepickerTypeComponent', 'selector': 'app-datapicker-type'},{'name': 'DocumentiTitulus', 'selector': 'app-documenti'},{'name': 'DynamicFormComponent', 'selector': 'app-dynamic-form'},{'name': 'DynamicTableComponent', 'selector': 'app-grid'},{'name': 'EmissioneComponent', 'selector': 'app-emissione'},{'name': 'EsecuzionedetailsComponent', 'selector': 'app-esecuzionedetails'},{'name': 'ExternalobjTypeComponent', 'selector': 'formly-field-ext'},{'name': 'ExternalqueryComponent', 'selector': 'app-externalquery'},{'name': 'ExternalTypeComponent', 'selector': 'app-external-type'},{'name': 'FaseWrapperComponent', 'selector': 'app-fase-wrapper'},{'name': 'FirmaControparteComponent', 'selector': 'app-firmacontroparte'},{'name': 'FirmaDirettoreComponent', 'selector': 'app-firmadirettore'},{'name': 'FormInfraComponent', 'selector': 'app-form-infra'},{'name': 'FormlyFieldButton', 'selector': 'formly-field-button'},{'name': 'FormlyFieldTemplate', 'selector': 'formly-template'},{'name': 'FormlyFieldTypeahead', 'selector': 'formly-field-typeahead'},{'name': 'FormlyHorizontalWrapper', 'selector': 'formly-horizontal-wrapper'},{'name': 'FullComponent', 'selector': 'app-full-layout'},{'name': 'GenericTypeComponent', 'selector': 'app-generic-type'},{'name': 'GridFormlyCellComponent', 'selector': 'formly-ag-grid-cell'},{'name': 'GridTypeComponent', 'selector': 'formly-field-grid'},{'name': 'HomeComponent', 'selector': 'app-home'},{'name': 'InfocardComponent', 'selector': 'app-info-card'},{'name': 'InputFileComponent', 'selector': 'app-input-file'},{'name': 'InvioRichiestaPagamentoComponent', 'selector': 'app-inviorichiestapagamento'},{'name': 'LogAttivitaComponent', 'selector': 'app-logattivita'},{'name': 'LookupComponent', 'selector': 'app-lookup'},{'name': 'MappingRuoli', 'selector': 'app-mappingruoli'},{'name': 'MappingRuolo', 'selector': 'app-ruolo'},{'name': 'MappingUfficioTitulus', 'selector': 'app-mappingufficio'},{'name': 'MappingUfficiTitulus', 'selector': 'app-mappinguffici'},{'name': 'MessageComponent', 'selector': 'app-message'},{'name': 'MultistepSchematipoComponent', 'selector': 'app-multistep-schematipo'},{'name': 'NavigationComponent', 'selector': 'app-navigation'},{'name': 'NavstepperWrapperComponent', 'selector': 'app-navstepper-wrapper'},{'name': 'NotFoundComponent', 'selector': 'notfound'},{'name': 'NotificationsComponent', 'selector': 'app-notifications'},{'name': 'PagamentoComponent', 'selector': 'app-pagamento'},{'name': 'PanelWrapperComponent', 'selector': 'formly-wrapper-panel'},{'name': 'PdfInfraComponent', 'selector': 'app-pdf-infra'},{'name': 'PdfTypeComponent', 'selector': 'app-pdf-type'},{'name': 'PdfTypeInputComponent', 'selector': 'app-pdf-type-input'},{'name': 'PermissionComponent', 'selector': 'app-permission'},{'name': 'PermissionsComponent', 'selector': 'app-permissions'},{'name': 'PersoneinterneTitulus', 'selector': 'app-personeinterne'},{'name': 'QueryBuilderComponent', 'selector': 'app-query-builder'},{'name': 'RangedetailsComponent', 'selector': 'app-rangedetails'},{'name': 'RepeatTypeComponent', 'selector': 'formly-repeat-section'},{'name': 'RepertoriazionedetailsComponent', 'selector': 'app-repertoriazionedetails'},{'name': 'RichiestaEmissioneComponent', 'selector': 'app-richiestaemissione'},{'name': 'RightaddonsWrapperComponent', 'selector': 'formly-wrapper-rightaddons'},{'name': 'RoleComponent', 'selector': 'app-role'},{'name': 'RolesComponent', 'selector': 'app-roles'},{'name': 'ScadenzaComponent', 'selector': 'app-scadenza'},{'name': 'ScadenzeComponent', 'selector': 'app-scadenze'},{'name': 'ScadenzedetailsComponent', 'selector': 'app-scadenzedetails'},{'name': 'ScadenzeresultComponent', 'selector': 'app-scadenzeresult'},{'name': 'SelectTypeComponent', 'selector': 'app-select-type'},{'name': 'ShowErrorsComponent', 'selector': 'app-show-errors'},{'name': 'SidebarComponent', 'selector': 'app-sidebar'},{'name': 'SottoscrizioneComponent', 'selector': 'app-sottoscrizione'},{'name': 'SottoscrizionedetailsComponent', 'selector': 'app-sottoscrizionedetails'},{'name': 'StruttureEsterneTitulus', 'selector': 'app-struttureinterne'},{'name': 'StruttureInterneTitulus', 'selector': 'app-struttureinterne'},{'name': 'SystemErrorComponent', 'selector': 'systemerror'},{'name': 'TableGroupTypeComponent', 'selector': 'app-tablegroup-type'},{'name': 'TableLookupTypeComponent', 'selector': 'app-tablelookup-type'},{'name': 'TableTypeComponent', 'selector': 'app-table-type'},{'name': 'TabTypeComponent', 'selector': 'app-tab-type'},{'name': 'TaskComponent', 'selector': 'app-task'},{'name': 'TaskListComponent', 'selector': 'app-tasklist'},{'name': 'TasksComponent', 'selector': 'app-tasks'},{'name': 'TestTabComponent', 'selector': 'app-test-tab'},{'name': 'TipoPagamentiComponent', 'selector': 'app-tipopagamenti'},{'name': 'TipoPagamentoComponent', 'selector': 'app-tipopagamento'},{'name': 'TooltipWrapperComponent', 'selector': 'formly-wrapper-tooltip'},{'name': 'UploadfileComponent', 'selector': 'app-uploadfile'},{'name': 'UserComponent', 'selector': 'app-user'},{'name': 'UserLoginComponent', 'selector': 'app-user-login'},{'name': 'UsersComponent', 'selector': 'app-users'},{'name': 'UserTaskDetailComponent', 'selector': 'app-user-task-detail'}];
    var DIRECTIVES = [];
    var ACTUAL_COMPONENT = {'name': 'MultistepSchematipoComponent'};
</script>
<script src="../js/tree.js"></script>










                   




                   </div><div class="search-results">
    <div class="has-results">
        <h1 class="search-results-title"><span class='search-results-count'></span> result-matching "<span class='search-query'></span>"</h1>
        <ul class="search-results-list"></ul>
    </div>
    <div class="no-results">
        <h1 class="search-results-title">No results matching "<span class='search-query'></span>"</h1>
    </div>
</div>
</div>
               <!-- END CONTENT -->
           </div>
       </div>

       <script>
            var COMPODOC_CURRENT_PAGE_DEPTH = 1;
            var COMPODOC_CURRENT_PAGE_CONTEXT = 'component';
            var COMPODOC_CURRENT_PAGE_URL = 'MultistepSchematipoComponent.html';
       </script>

       <script src="../js/libs/custom-elements.min.js"></script>
       <script src="../js/libs/lit-html.js"></script>
       <!-- Required to polyfill modern browsers as code is ES5 for IE... -->
       <script src="../js/libs/custom-elements-es5-adapter.js" charset="utf-8" defer></script>
       <script src="../js/menu-wc.js" defer></script>

       <script src="../js/libs/bootstrap-native.js"></script>

       <script src="../js/libs/es6-shim.min.js"></script>
       <script src="../js/libs/EventDispatcher.js"></script>
       <script src="../js/libs/promise.min.js"></script>
       <script src="../js/libs/zepto.min.js"></script>

       <script src="../js/compodoc.js"></script>

       <script src="../js/tabs.js"></script>
       <script src="../js/menu.js"></script>
       <script src="../js/libs/clipboard.min.js"></script>
       <script src="../js/libs/prism.js"></script>
       <script src="../js/sourceCode.js"></script>
          <script src="../js/search/search.js"></script>
          <script src="../js/search/lunr.min.js"></script>
          <script src="../js/search/search-lunr.js"></script>
          <script src="../js/search/search_index.js"></script>
       <script src="../js/lazy-load-graphs.js"></script>


    </body>
</html>
