<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>UniConv app documentation</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="icon" type="image/x-icon" href="../images/favicon.ico">
	      <link rel="stylesheet" href="../styles/style.css">
    </head>
    <body>

        <div class="navbar navbar-default navbar-fixed-top visible-xs">
            <a href="../" class="navbar-brand">UniConv app documentation</a>
            <button type="button" class="btn btn-default btn-menu ion-ios-menu" id="btn-menu"></button>
        </div>

        <div class="xs-menu menu" id="mobile-menu">
                <div id="book-search-input" role="search"><input type="text" placeholder="Type to search"></div>            <compodoc-menu></compodoc-menu>
        </div>

        <div class="container-fluid main">
           <div class="row main">
               <div class="hidden-xs menu">
                   <compodoc-menu mode="normal"></compodoc-menu>
               </div>
               <!-- START CONTENT -->
               <div class="content component">
                   <div class="content-data">




<ol class="breadcrumb">
  <li>Components</li>
  <li>PagamentoComponent</li>
</ol>

<ul class="nav nav-tabs" role="tablist">
        <li class="active">
            <a href="#info" role="tab" id="info-tab" data-toggle="tab" data-link="info">Info</a>
        </li>
        <li >
            <a href="#source" role="tab" id="source-tab" data-toggle="tab" data-link="source">Source</a>
        </li>
        <li >
            <a href="#tree" role="tab" id="tree-tab" data-toggle="tab" data-link="dom-tree">DOM Tree</a>
        </li>
</ul>

<div class="tab-content">
    <div class="tab-pane fade active in" id="c-info"><p class="comment">
    <h3>File</h3>
</p>
<p class="comment">
    <code>src/app/application/pages/pagamento.component.ts</code>
</p>


    <p class="comment">
        <h3>Extends</h3>
    </p>
    <p class="comment">
                <code><a href="../components/BaseEntityComponent.html" target="_self" >BaseEntityComponent</a></code>
    </p>



<section>
    <h3>Metadata</h3>
    <table class="table table-sm table-hover">
        <tbody>











            <tr>
                <td class="col-md-3">selector</td>
                <td class="col-md-9"><code>app-pagamento</code></td>
            </tr>



            <tr>
                <td class="col-md-3">template</td>
                <td class="col-md-9"><pre class="line-numbers"><code class="language-html">&lt;div class&#x3D;&quot;container-fluid&quot;&gt;
&lt;ngx-loading [show]&#x3D;&quot;isLoading&quot; [config]&#x3D;&quot;{ backdropBorderRadius: &#x27;14px&#x27; }&quot;&gt;&lt;/ngx-loading&gt;
&lt;div class&#x3D;&quot;btn-toolbar mb-4&quot; role&#x3D;&quot;toolbar&quot;&gt;
&lt;div class&#x3D;&quot;btn-group btn-group&quot;&gt;
  &lt;button class&#x3D;&quot;btn btn-outline-primary border-0 rounded-0&quot; [disabled]&#x3D;&quot;!form.valid || !form.dirty&quot; (click)&#x3D;&quot;onSubmit()&quot; &gt;
    &lt;span class&#x3D;&quot;oi oi-arrow-top&quot;&gt;&lt;/span&gt;
    &lt;span class&#x3D;&quot;ml-2&quot;&gt;Aggiorna&lt;/span&gt;
  &lt;/button&gt;
  &lt;button class&#x3D;&quot;btn btn-outline-primary border-0 rounded-0&quot; (click)&#x3D;&quot;onValidate()&quot; &gt;
  &lt;span class&#x3D;&quot;oi oi-flash&quot;&gt;&lt;/span&gt;
  &lt;span class&#x3D;&quot;ml-2&quot;&gt;Valida&lt;/span&gt;
&lt;/button&gt;
&lt;/div&gt;
&lt;/div&gt;
&lt;h4 *ngIf&#x3D;&quot;title&quot;&gt;{{title}}&lt;/h4&gt;

&lt;form [formGroup]&#x3D;&quot;form&quot;&gt;
    &lt;formly-form [model]&#x3D;&quot;model&quot; [fields]&#x3D;&quot;fields&quot; [form]&#x3D;&quot;form&quot; [options]&#x3D;&quot;options&quot;&gt;
    &lt;/formly-form&gt;
&lt;/form&gt;
&lt;button class&#x3D;&quot;btn btn-primary mt-3&quot; type&#x3D;&quot;button&quot; [disabled]&#x3D;&quot;!form.valid&quot; (click)&#x3D;&quot;onSubmit()&quot;&gt;Salva&lt;/button&gt;
&lt;/div&gt;
</code></pre></td>
            </tr>









        </tbody>
    </table>
</section>

    <section>
    <h3 id="index">Index</h3>
    <table class="table table-sm table-bordered index-table">
        <tbody>
                <tr>
                    <td class="col-md-4">
                        <h6><b>Properties</b></h6>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <ul class="index-list">
                            <li>
                                    <span class="modifier">Static</span>
                                <a href="#ABSULTE_PATH">ABSULTE_PATH</a>
                            </li>
                            <li>
                                <a href="#fields">fields</a>
                            </li>
                            <li>
                                    <span class="modifier">Public</span>
                                <a href="#STATE">STATE</a>
                            </li>
                            <li>
                                    <span class="modifier">Static</span>
                                <a href="#WORKFLOW_ACTION">WORKFLOW_ACTION</a>
                            </li>
                            <li>
                                <a href="#activeNew">activeNew</a>
                            </li>
                            <li>
                                    <span class="modifier">Protected</span>
                                <a href="#fields">fields</a>
                            </li>
                            <li>
                                <a href="#form">form</a>
                            </li>
                            <li>
                                    <span class="modifier">Public</span>
                                <a href="#initObj">initObj</a>
                            </li>
                            <li>
                                <a href="#isLoading">isLoading</a>
                            </li>
                            <li>
                                <a href="#isRemovable">isRemovable</a>
                            </li>
                            <li>
                                <a href="#locationBack">locationBack</a>
                            </li>
                            <li>
                                <a href="#model">model</a>
                            </li>
                            <li>
                                <a href="#newPath">newPath</a>
                            </li>
                            <li>
                                    <span class="modifier">Protected</span>
                                <a href="#onDestroy$">onDestroy$</a>
                            </li>
                            <li>
                                <a href="#options">options</a>
                            </li>
                            <li>
                                <a href="#researchPath">researchPath</a>
                            </li>
                            <li>
                                <a href="#returnUrl">returnUrl</a>
                            </li>
                            <li>
                                    <span class="modifier">Protected</span>
                                <a href="#service">service</a>
                            </li>
                            <li>
                                    <span class="modifier">Private</span>
                                <a href="#sub">sub</a>
                            </li>
                            <li>
                                <a href="#title">title</a>
                            </li>
                        </ul>
                    </td>
                </tr>

                <tr>
                    <td class="col-md-4">
                        <h6><b>Methods</b></h6>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <ul class="index-list">
                            <li>
                                <a href="#ngOnInit">ngOnInit</a>
                            </li>
                            <li>
                                <a href="#onSubmit">onSubmit</a>
                            </li>
                            <li>
                                    <span class="modifier">Protected</span>
                                <a href="#additionalFormInitialize">additionalFormInitialize</a>
                            </li>
                            <li>
                                <a href="#goBack">goBack</a>
                            </li>
                            <li>
                                <a href="#ngOnDestroy">ngOnDestroy</a>
                            </li>
                            <li>
                                <a href="#ngOnInit">ngOnInit</a>
                            </li>
                            <li>
                                <a href="#onBack">onBack</a>
                            </li>
                            <li>
                                <a href="#onNew">onNew</a>
                            </li>
                            <li>
                                <a href="#onReload">onReload</a>
                            </li>
                            <li>
                                <a href="#onRemove">onRemove</a>
                            </li>
                            <li>
                                <a href="#onResearch">onResearch</a>
                            </li>
                            <li>
                                <a href="#onSubmit">onSubmit</a>
                            </li>
                            <li>
                                    <span class="modifier">Public</span>
                                <a href="#onValidate">onValidate</a>
                            </li>
                            <li>
                                    <span class="modifier">Public</span>
                                <a href="#openConfirmationDialog">openConfirmationDialog</a>
                            </li>
                            <li>
                                    <span class="modifier">Protected</span>
                                <a href="#postGetById">postGetById</a>
                            </li>
                            <li>
                                    <span class="modifier">Protected</span>
                                <a href="#postOnSubmit">postOnSubmit</a>
                            </li>
                            <li>
                                    <span class="modifier">Protected</span>
                                <a href="#preOnSubmit">preOnSubmit</a>
                            </li>
                            <li>
                                <a href="#remove">remove</a>
                            </li>
                        </ul>
                    </td>
                </tr>





                    <tr>
                        <td class="col-md-4">
                            <h6><b>Accessors</b></h6>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-4">
                            <ul class="index-list">
                                <li>
                                    <a href="#workflowAction">workflowAction</a>
                                </li>
                            </ul>
                        </td>
                    </tr>
        </tbody>
    </table>
</section>

    <section>
    <h3 id="constructor">Constructor</h3>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
<code>constructor(service: <a href="../injectables/ApplicationService.html">ApplicationService</a>, scadService: <a href="../injectables/ScadenzaService.html">ScadenzaService</a>, route: <a href="https://angular.io/api/router/ActivatedRoute" target="_blank">ActivatedRoute</a>, router: <a href="https://angular.io/api/router/Router" target="_blank">Router</a>, location: <a href="https://angular.io/api/common/Location" target="_blank">Location</a>)</code>
                    </td>
                </tr>
                        <tr>
                            <td class="col-md-4">
                                <div class="io-line">Defined in <a href="" data-line="131" class="link-to-prism">src/app/application/pages/pagamento.component.ts:131</a></div>
                            </td>
                        </tr>

                <tr>
                    <td class="col-md-4">
                            <div>
                                    <b>Parameters :</b>
                                    <table class="params">
                                        <thead>
                                            <tr>
                                                <td>Name</td>
                                                    <td>Type</td>
                                                <td>Optional</td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                                <tr>
                                                        <td>service</td>
                                                  
                                                        <td>
                                                                        <code><a href="../injectables/ApplicationService.html" target="_self" >ApplicationService</a></code>
                                                        </td>
                                                  
                                                    <td>
                                                            No
                                                    </td>
                                                    
                                                </tr>
                                                <tr>
                                                        <td>scadService</td>
                                                  
                                                        <td>
                                                                        <code><a href="../injectables/ScadenzaService.html" target="_self" >ScadenzaService</a></code>
                                                        </td>
                                                  
                                                    <td>
                                                            No
                                                    </td>
                                                    
                                                </tr>
                                                <tr>
                                                        <td>route</td>
                                                  
                                                        <td>
                                                                        <code><a href="https://angular.io/api/router/ActivatedRoute" target="_blank" >ActivatedRoute</a></code>
                                                        </td>
                                                  
                                                    <td>
                                                            No
                                                    </td>
                                                    
                                                </tr>
                                                <tr>
                                                        <td>router</td>
                                                  
                                                        <td>
                                                                        <code><a href="https://angular.io/api/router/Router" target="_blank" >Router</a></code>
                                                        </td>
                                                  
                                                    <td>
                                                            No
                                                    </td>
                                                    
                                                </tr>
                                                <tr>
                                                        <td>location</td>
                                                  
                                                        <td>
                                                                        <code><a href="https://angular.io/api/common/Location" target="_blank" >Location</a></code>
                                                        </td>
                                                  
                                                    <td>
                                                            No
                                                    </td>
                                                    
                                                </tr>
                                        </tbody>
                                    </table>
                            </div>
                    </td>
                </tr>
            </tbody>
        </table>
</section>





    <section>
    
    <h3 id="methods">
        Methods
    </h3>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="ngOnInit"></a>
                    <span class="name">
                        <b>
                            ngOnInit
                        </b>
                        <a href="#ngOnInit"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
            <tr>
                <td class="col-md-4">
<code>ngOnInit()</code>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">
                    <div class="io-line">Defined in <a href="" data-line="139"
                            class="link-to-prism">src/app/application/pages/pagamento.component.ts:139</a></div>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">

                    <div class="io-description">
                        <b>Returns : </b>        <code><a href="https://www.typescriptlang.org/docs/handbook/basic-types.html" target="_blank" >void</a></code>

                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="onSubmit"></a>
                    <span class="name">
                        <b>
                            onSubmit
                        </b>
                        <a href="#onSubmit"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
            <tr>
                <td class="col-md-4">
<code>onSubmit()</code>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">
                    <div class="io-line">Defined in <a href="" data-line="162"
                            class="link-to-prism">src/app/application/pages/pagamento.component.ts:162</a></div>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">

                    <div class="io-description">
                        <b>Returns : </b>        <code><a href="https://www.typescriptlang.org/docs/handbook/basic-types.html" target="_blank" >void</a></code>

                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="additionalFormInitialize"></a>
                    <span class="name">
                        <b>
                            <span class="modifier">Protected</span>
                            additionalFormInitialize
                        </b>
                        <a href="#additionalFormInitialize"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
            <tr>
                <td class="col-md-4">
                    <span class="modifier-icon icon ion-ios-reset"></span>
                    <code>additionalFormInitialize()</code>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">
                    <div class="io-line">Inherited from         <code><a href="../components/BaseEntityComponent.html" target="_self" >BaseEntityComponent</a></code>
</div>
                </td>
            </tr>
            <tr>
                <td class="col-md-4">
                        <div class="io-line">Defined in         <code><a href="../components/BaseEntityComponent.html#source" target="_self" >BaseEntityComponent:134</a></code>
</div>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">

                    <div class="io-description">
                        <b>Returns : </b>        <code><a href="https://www.typescriptlang.org/docs/handbook/basic-types.html" target="_blank" >void</a></code>

                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="goBack"></a>
                    <span class="name">
                        <b>
                            goBack
                        </b>
                        <a href="#goBack"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
            <tr>
                <td class="col-md-4">
<code>goBack()</code>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">
                    <div class="io-line">Inherited from         <code><a href="../components/BaseEntityComponent.html" target="_self" >BaseEntityComponent</a></code>
</div>
                </td>
            </tr>
            <tr>
                <td class="col-md-4">
                        <div class="io-line">Defined in         <code><a href="../components/BaseEntityComponent.html#source" target="_self" >BaseEntityComponent:247</a></code>
</div>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">

                    <div class="io-description">
                        <b>Returns : </b>        <code><a href="https://www.typescriptlang.org/docs/handbook/basic-types.html" target="_blank" >void</a></code>

                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="ngOnDestroy"></a>
                    <span class="name">
                        <b>
                            ngOnDestroy
                        </b>
                        <a href="#ngOnDestroy"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
            <tr>
                <td class="col-md-4">
<code>ngOnDestroy()</code>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">
                    <div class="io-line">Inherited from         <code><a href="../components/BaseEntityComponent.html" target="_self" >BaseEntityComponent</a></code>
</div>
                </td>
            </tr>
            <tr>
                <td class="col-md-4">
                        <div class="io-line">Defined in         <code><a href="../components/BaseEntityComponent.html#source" target="_self" >BaseEntityComponent:126</a></code>
</div>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">

                    <div class="io-description">
                        <b>Returns : </b>        <code><a href="https://www.typescriptlang.org/docs/handbook/basic-types.html" target="_blank" >void</a></code>

                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="ngOnInit"></a>
                    <span class="name">
                        <b>
                            ngOnInit
                        </b>
                        <a href="#ngOnInit"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
            <tr>
                <td class="col-md-4">
<code>ngOnInit()</code>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">
                    <div class="io-line">Inherited from         <code><a href="../components/BaseEntityComponent.html" target="_self" >BaseEntityComponent</a></code>
</div>
                </td>
            </tr>
            <tr>
                <td class="col-md-4">
                        <div class="io-line">Defined in         <code><a href="../components/BaseEntityComponent.html#source" target="_self" >BaseEntityComponent:64</a></code>
</div>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">

                    <div class="io-description">
                        <b>Returns : </b>        <code><a href="https://www.typescriptlang.org/docs/handbook/basic-types.html" target="_blank" >void</a></code>

                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="onBack"></a>
                    <span class="name">
                        <b>
                            onBack
                        </b>
                        <a href="#onBack"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
            <tr>
                <td class="col-md-4">
<code>onBack()</code>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">
                    <div class="io-line">Inherited from         <code><a href="../components/BaseEntityComponent.html" target="_self" >BaseEntityComponent</a></code>
</div>
                </td>
            </tr>
            <tr>
                <td class="col-md-4">
                        <div class="io-line">Defined in         <code><a href="../components/BaseEntityComponent.html#source" target="_self" >BaseEntityComponent:239</a></code>
</div>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">

                    <div class="io-description">
                        <b>Returns : </b>        <code><a href="https://www.typescriptlang.org/docs/handbook/basic-types.html" target="_blank" >void</a></code>

                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="onNew"></a>
                    <span class="name">
                        <b>
                            onNew
                        </b>
                        <a href="#onNew"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
            <tr>
                <td class="col-md-4">
<code>onNew()</code>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">
                    <div class="io-line">Inherited from         <code><a href="../components/BaseEntityComponent.html" target="_self" >BaseEntityComponent</a></code>
</div>
                </td>
            </tr>
            <tr>
                <td class="col-md-4">
                        <div class="io-line">Defined in         <code><a href="../components/BaseEntityComponent.html#source" target="_self" >BaseEntityComponent:138</a></code>
</div>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">

                    <div class="io-description">
                        <b>Returns : </b>        <code><a href="https://www.typescriptlang.org/docs/handbook/basic-types.html" target="_blank" >void</a></code>

                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="onReload"></a>
                    <span class="name">
                        <b>
                            onReload
                        </b>
                        <a href="#onReload"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
            <tr>
                <td class="col-md-4">
<code>onReload()</code>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">
                    <div class="io-line">Inherited from         <code><a href="../components/BaseEntityComponent.html" target="_self" >BaseEntityComponent</a></code>
</div>
                </td>
            </tr>
            <tr>
                <td class="col-md-4">
                        <div class="io-line">Defined in         <code><a href="../components/BaseEntityComponent.html#source" target="_self" >BaseEntityComponent:219</a></code>
</div>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">

                    <div class="io-description">
                        <b>Returns : </b>        <code><a href="https://www.typescriptlang.org/docs/handbook/basic-types.html" target="_blank" >void</a></code>

                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="onRemove"></a>
                    <span class="name">
                        <b>
                            onRemove
                        </b>
                        <a href="#onRemove"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
            <tr>
                <td class="col-md-4">
<code>onRemove()</code>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">
                    <div class="io-line">Inherited from         <code><a href="../components/BaseEntityComponent.html" target="_self" >BaseEntityComponent</a></code>
</div>
                </td>
            </tr>
            <tr>
                <td class="col-md-4">
                        <div class="io-line">Defined in         <code><a href="../components/BaseEntityComponent.html#source" target="_self" >BaseEntityComponent:155</a></code>
</div>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">

                    <div class="io-description">
                        <b>Returns : </b>        <code><a href="https://www.typescriptlang.org/docs/handbook/basic-types.html" target="_blank" >void</a></code>

                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="onResearch"></a>
                    <span class="name">
                        <b>
                            onResearch
                        </b>
                        <a href="#onResearch"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
            <tr>
                <td class="col-md-4">
<code>onResearch()</code>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">
                    <div class="io-line">Inherited from         <code><a href="../components/BaseEntityComponent.html" target="_self" >BaseEntityComponent</a></code>
</div>
                </td>
            </tr>
            <tr>
                <td class="col-md-4">
                        <div class="io-line">Defined in         <code><a href="../components/BaseEntityComponent.html#source" target="_self" >BaseEntityComponent:233</a></code>
</div>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">

                    <div class="io-description">
                        <b>Returns : </b>        <code><a href="https://www.typescriptlang.org/docs/handbook/basic-types.html" target="_blank" >void</a></code>

                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="onSubmit"></a>
                    <span class="name">
                        <b>
                            onSubmit
                        </b>
                        <a href="#onSubmit"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
            <tr>
                <td class="col-md-4">
<code>onSubmit()</code>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">
                    <div class="io-line">Inherited from         <code><a href="../components/BaseEntityComponent.html" target="_self" >BaseEntityComponent</a></code>
</div>
                </td>
            </tr>
            <tr>
                <td class="col-md-4">
                        <div class="io-line">Defined in         <code><a href="../components/BaseEntityComponent.html#source" target="_self" >BaseEntityComponent:191</a></code>
</div>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">

                    <div class="io-description">
                        <b>Returns : </b>        <code><a href="https://www.typescriptlang.org/docs/handbook/basic-types.html" target="_blank" >void</a></code>

                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="onValidate"></a>
                    <span class="name">
                        <b>
                            <span class="modifier">Public</span>
                            onValidate
                        </b>
                        <a href="#onValidate"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
            <tr>
                <td class="col-md-4">
                    <span class="modifier-icon icon ion-ios-reset"></span>
                    <code>onValidate()</code>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">
                    <div class="io-line">Inherited from         <code><a href="../components/BaseEntityComponent.html" target="_self" >BaseEntityComponent</a></code>
</div>
                </td>
            </tr>
            <tr>
                <td class="col-md-4">
                        <div class="io-line">Defined in         <code><a href="../components/BaseEntityComponent.html#source" target="_self" >BaseEntityComponent:251</a></code>
</div>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">

                    <div class="io-description">
                        <b>Returns : </b>        <code><a href="https://www.typescriptlang.org/docs/handbook/basic-types.html" target="_blank" >void</a></code>

                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="openConfirmationDialog"></a>
                    <span class="name">
                        <b>
                            <span class="modifier">Public</span>
                            openConfirmationDialog
                        </b>
                        <a href="#openConfirmationDialog"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
            <tr>
                <td class="col-md-4">
                    <span class="modifier-icon icon ion-ios-reset"></span>
                    <code>openConfirmationDialog()</code>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">
                    <div class="io-line">Inherited from         <code><a href="../components/BaseEntityComponent.html" target="_self" >BaseEntityComponent</a></code>
</div>
                </td>
            </tr>
            <tr>
                <td class="col-md-4">
                        <div class="io-line">Defined in         <code><a href="../components/BaseEntityComponent.html#source" target="_self" >BaseEntityComponent:150</a></code>
</div>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">

                    <div class="io-description">
                        <b>Returns : </b>        <code><a href="https://www.typescriptlang.org/docs/handbook/basic-types.html" target="_blank" >void</a></code>

                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="postGetById"></a>
                    <span class="name">
                        <b>
                            <span class="modifier">Protected</span>
                            postGetById
                        </b>
                        <a href="#postGetById"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
            <tr>
                <td class="col-md-4">
                    <span class="modifier-icon icon ion-ios-reset"></span>
                    <code>postGetById()</code>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">
                    <div class="io-line">Inherited from         <code><a href="../components/BaseEntityComponent.html" target="_self" >BaseEntityComponent</a></code>
</div>
                </td>
            </tr>
            <tr>
                <td class="col-md-4">
                        <div class="io-line">Defined in         <code><a href="../components/BaseEntityComponent.html#source" target="_self" >BaseEntityComponent:133</a></code>
</div>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">

                    <div class="io-description">
                        <b>Returns : </b>        <code><a href="https://www.typescriptlang.org/docs/handbook/basic-types.html" target="_blank" >void</a></code>

                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="postOnSubmit"></a>
                    <span class="name">
                        <b>
                            <span class="modifier">Protected</span>
                            postOnSubmit
                        </b>
                        <a href="#postOnSubmit"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
            <tr>
                <td class="col-md-4">
                    <span class="modifier-icon icon ion-ios-reset"></span>
                    <code>postOnSubmit()</code>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">
                    <div class="io-line">Inherited from         <code><a href="../components/BaseEntityComponent.html" target="_self" >BaseEntityComponent</a></code>
</div>
                </td>
            </tr>
            <tr>
                <td class="col-md-4">
                        <div class="io-line">Defined in         <code><a href="../components/BaseEntityComponent.html#source" target="_self" >BaseEntityComponent:135</a></code>
</div>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">

                    <div class="io-description">
                        <b>Returns : </b>        <code><a href="https://www.typescriptlang.org/docs/handbook/basic-types.html" target="_blank" >void</a></code>

                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="preOnSubmit"></a>
                    <span class="name">
                        <b>
                            <span class="modifier">Protected</span>
                            preOnSubmit
                        </b>
                        <a href="#preOnSubmit"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
            <tr>
                <td class="col-md-4">
                    <span class="modifier-icon icon ion-ios-reset"></span>
                    <code>preOnSubmit()</code>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">
                    <div class="io-line">Inherited from         <code><a href="../components/BaseEntityComponent.html" target="_self" >BaseEntityComponent</a></code>
</div>
                </td>
            </tr>
            <tr>
                <td class="col-md-4">
                        <div class="io-line">Defined in         <code><a href="../components/BaseEntityComponent.html#source" target="_self" >BaseEntityComponent:136</a></code>
</div>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">

                    <div class="io-description">
                        <b>Returns : </b>        <code><a href="https://www.typescriptlang.org/docs/handbook/basic-types.html" target="_blank" >void</a></code>

                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="remove"></a>
                    <span class="name">
                        <b>
                            remove
                        </b>
                        <a href="#remove"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
            <tr>
                <td class="col-md-4">
<code>remove()</code>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">
                    <div class="io-line">Inherited from         <code><a href="../components/BaseEntityComponent.html" target="_self" >BaseEntityComponent</a></code>
</div>
                </td>
            </tr>
            <tr>
                <td class="col-md-4">
                        <div class="io-line">Defined in         <code><a href="../components/BaseEntityComponent.html#source" target="_self" >BaseEntityComponent:171</a></code>
</div>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">

                    <div class="io-description">
                        <b>Returns : </b>        <code><a href="https://www.typescriptlang.org/docs/handbook/basic-types.html" target="_blank" >void</a></code>

                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</section>
    <section>
    
        <h3 id="inputs">
            Properties
        </h3>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="ABSULTE_PATH"></a>
                        <span class="name">
                            <b>
                                <span class="modifier">Static</span>
                            ABSULTE_PATH</b>
                            <a href="#ABSULTE_PATH"><span class="icon ion-ios-link"></span></a>
                        </span>
                    </td>
                </tr>
                    <tr>
                        <td class="col-md-4">
                            <i>Type : </i>        <code><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/string" target="_blank" >string</a></code>

                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-4">
                            <i>Default value : </i><code>&#x27;home/pagamento&#x27;</code>
                        </td>
                    </tr>
                        <tr>
                            <td class="col-md-4">
                                    <div class="io-line">Defined in <a href="" data-line="47" class="link-to-prism">src/app/application/pages/pagamento.component.ts:47</a></div>
                            </td>
                        </tr>


            </tbody>
        </table>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="fields"></a>
                        <span class="name">
                            <b>
                            fields</b>
                            <a href="#fields"><span class="icon ion-ios-link"></span></a>
                        </span>
                    </td>
                </tr>
                    <tr>
                        <td class="col-md-4">
                            <i>Type : </i>        <code><a href="../interfaces/Field.html" target="_self" >FormlyFieldConfig[]</a></code>

                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-4">
                            <i>Default value : </i><code>[
    {
      className: &#x27;section-label&#x27;,
      template: &#x27;&lt;h5&gt;&lt;/h5&gt;&#x27;,
    },
    {
      key: &#x27;id&#x27;,
      type: &#x27;external&#x27;,
      className: &quot;col-md-12&quot;,
      templateOptions: {
        label: &#x27;Scadenza&#x27;,
        type: &#x27;string&#x27;,            
        entityName: &#x27;scadenza&#x27;,
        entityLabel: &#x27;Scadenza&#x27;,
        entityPath: &#x27;home/scadenze&#x27;,
        codeProp: &#x27;id&#x27;,
        descriptionProp: &#x27;dovuto_tranche&#x27;,
        descriptionFunc: (data) &#x3D;&gt; {
            if (data &amp;&amp; data.dovuto_tranche){
              this.model.prelievo &#x3D; data.prelievo;
              return data.dovuto_tranche +&#x27; - &#x27; + &#x27;Convenzione n. &#x27;+data.convenzione.id+&#x27; - &#x27;+data.convenzione.descrizione_titolo;
            }
            return &#x27;&#x27;;
        },
        copymodel: false,
        isLoading: false,          
        disabled: true,
      },
      // expressionProperties: {
      //   &#x27;templateOptions.disabled&#x27;: (model: any, formState: any) &#x3D;&gt; {        
      //     return model.id;
      //   },
      // },
    },     
    {
      fieldGroupClassName: &#x27;row&#x27;,
      fieldGroup: [    
        {
          key: &#x27;data_ordincasso&#x27;,
          type: &#x27;datepicker&#x27;,
          className: &quot;col-md-5&quot;,
          templateOptions: {
            required: true,
            label: &#x27;Data ordinativo incasso&#x27;,          
          },        
        },
        {
          key: &#x27;num_ordincasso&#x27;,
          type: &#x27;input&#x27;,
          className: &quot;col-md-5&quot;,
          templateOptions: {
            required: true,
            label: &#x27;Numero ordinativo incasso&#x27;,                    
          },        
        },    
    ]}, 
    {
      key: &#x27;prelievo&#x27;,
      type: &#x27;select&#x27;,      
      //defaultValue: &#x27;PRE_NO&#x27;,
      templateOptions: {
        options: [
          { label: &#x27;Nessun prelievo&#x27;, value: &#x27;PRE_NO&#x27; },
          { label: &#x27;Prelievo applicabile&#x27;, value: &#x27;PRE_SI&#x27; },          
        ],
        label: &#x27;Prelievo&#x27;,
        required: true,
      },
    },
    {
      key: &#x27;note&#x27;,
      type: &#x27;textarea&#x27;,
      templateOptions: {      
        label: &#x27;Note&#x27;,        
        rows: 5,     
      },        
    }, 
  ]</code>
                        </td>
                    </tr>
                        <tr>
                            <td class="col-md-4">
                                    <div class="io-line">Defined in <a href="" data-line="54" class="link-to-prism">src/app/application/pages/pagamento.component.ts:54</a></div>
                            </td>
                        </tr>


            </tbody>
        </table>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="STATE"></a>
                        <span class="name">
                            <b>
                                <span class="modifier">Public</span>
                            STATE</b>
                            <a href="#STATE"><span class="icon ion-ios-link"></span></a>
                        </span>
                    </td>
                </tr>
                    <tr>
                        <td class="col-md-4">
                            <i>Type : </i>        <code><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/string" target="_blank" >string</a></code>

                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-4">
                            <i>Default value : </i><code>&#x27;inpagamento&#x27;</code>
                        </td>
                    </tr>
                        <tr>
                            <td class="col-md-4">
                                    <div class="io-line">Defined in <a href="" data-line="45" class="link-to-prism">src/app/application/pages/pagamento.component.ts:45</a></div>
                            </td>
                        </tr>


            </tbody>
        </table>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="WORKFLOW_ACTION"></a>
                        <span class="name">
                            <b>
                                <span class="modifier">Static</span>
                            WORKFLOW_ACTION</b>
                            <a href="#WORKFLOW_ACTION"><span class="icon ion-ios-link"></span></a>
                        </span>
                    </td>
                </tr>
                    <tr>
                        <td class="col-md-4">
                            <i>Type : </i>        <code><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/string" target="_blank" >string</a></code>

                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-4">
                            <i>Default value : </i><code>&#x27;registrazionepagamento&#x27;</code>
                        </td>
                    </tr>
                        <tr>
                            <td class="col-md-4">
                                    <div class="io-line">Defined in <a href="" data-line="46" class="link-to-prism">src/app/application/pages/pagamento.component.ts:46</a></div>
                            </td>
                        </tr>


            </tbody>
        </table>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="activeNew"></a>
                        <span class="name">
                            <b>
                            activeNew</b>
                            <a href="#activeNew"><span class="icon ion-ios-link"></span></a>
                        </span>
                    </td>
                </tr>
                    <tr>
                        <td class="col-md-4">
                            <i>Default value : </i><code>false</code>
                        </td>
                    </tr>
                            <tr>
                                <td class="col-md-4">
                                    <div class="io-line">Inherited from         <code><a href="../components/BaseEntityComponent.html" target="_self" >BaseEntityComponent</a></code>
</div>
                                </td>
                            </tr>
                        <tr>
                            <td class="col-md-4">
                                    <div class="io-line">Defined in         <code><a href="../components/BaseEntityComponent.html#source" target="_self" >BaseEntityComponent:43</a></code>
</div>
                            </td>
                        </tr>


            </tbody>
        </table>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="fields"></a>
                        <span class="name">
                            <b>
                                <span class="modifier">Protected</span>
                            fields</b>
                            <a href="#fields"><span class="icon ion-ios-link"></span></a>
                        </span>
                    </td>
                </tr>
                    <tr>
                        <td class="col-md-4">
                            <i>Type : </i>        <code><a href="../interfaces/Field.html" target="_self" >FormlyFieldConfig[]</a></code>

                        </td>
                    </tr>
                            <tr>
                                <td class="col-md-4">
                                    <div class="io-line">Inherited from         <code><a href="../components/BaseEntityComponent.html" target="_self" >BaseEntityComponent</a></code>
</div>
                                </td>
                            </tr>
                        <tr>
                            <td class="col-md-4">
                                    <div class="io-line">Defined in         <code><a href="../components/BaseEntityComponent.html#source" target="_self" >BaseEntityComponent:37</a></code>
</div>
                            </td>
                        </tr>


            </tbody>
        </table>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="form"></a>
                        <span class="name">
                            <b>
                            form</b>
                            <a href="#form"><span class="icon ion-ios-link"></span></a>
                        </span>
                    </td>
                </tr>
                    <tr>
                        <td class="col-md-4">
                            <i>Default value : </i><code>new FormGroup({})</code>
                        </td>
                    </tr>
                            <tr>
                                <td class="col-md-4">
                                    <div class="io-line">Inherited from         <code><a href="../components/BaseEntityComponent.html" target="_self" >BaseEntityComponent</a></code>
</div>
                                </td>
                            </tr>
                        <tr>
                            <td class="col-md-4">
                                    <div class="io-line">Defined in         <code><a href="../components/BaseEntityComponent.html#source" target="_self" >BaseEntityComponent:26</a></code>
</div>
                            </td>
                        </tr>


            </tbody>
        </table>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="initObj"></a>
                        <span class="name">
                            <b>
                                <span class="modifier">Public</span>
                            initObj</b>
                            <a href="#initObj"><span class="icon ion-ios-link"></span></a>
                        </span>
                    </td>
                </tr>
                    <tr>
                        <td class="col-md-4">
                            <i>Type : </i>        <code><a href="https://www.typescriptlang.org/docs/handbook/basic-types.html" target="_blank" >any</a></code>

                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-4">
                            <i>Default value : </i><code>null</code>
                        </td>
                    </tr>
                            <tr>
                                <td class="col-md-4">
                                    <div class="io-line">Inherited from         <code><a href="../components/BaseEntityComponent.html" target="_self" >BaseEntityComponent</a></code>
</div>
                                </td>
                            </tr>
                        <tr>
                            <td class="col-md-4">
                                    <div class="io-line">Defined in         <code><a href="../components/BaseEntityComponent.html#source" target="_self" >BaseEntityComponent:57</a></code>
</div>
                            </td>
                        </tr>


            </tbody>
        </table>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="isLoading"></a>
                        <span class="name">
                            <b>
                            isLoading</b>
                            <a href="#isLoading"><span class="icon ion-ios-link"></span></a>
                        </span>
                    </td>
                </tr>
                    <tr>
                        <td class="col-md-4">
                            <i>Default value : </i><code>true</code>
                        </td>
                    </tr>
                            <tr>
                                <td class="col-md-4">
                                    <div class="io-line">Inherited from         <code><a href="../components/BaseEntityComponent.html" target="_self" >BaseEntityComponent</a></code>
</div>
                                </td>
                            </tr>
                        <tr>
                            <td class="col-md-4">
                                    <div class="io-line">Defined in         <code><a href="../components/BaseEntityComponent.html#source" target="_self" >BaseEntityComponent:24</a></code>
</div>
                            </td>
                        </tr>


            </tbody>
        </table>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="isRemovable"></a>
                        <span class="name">
                            <b>
                            isRemovable</b>
                            <a href="#isRemovable"><span class="icon ion-ios-link"></span></a>
                        </span>
                    </td>
                </tr>
                    <tr>
                        <td class="col-md-4">
                            <i>Default value : </i><code>false</code>
                        </td>
                    </tr>
                            <tr>
                                <td class="col-md-4">
                                    <div class="io-line">Inherited from         <code><a href="../components/BaseEntityComponent.html" target="_self" >BaseEntityComponent</a></code>
</div>
                                </td>
                            </tr>
                        <tr>
                            <td class="col-md-4">
                                    <div class="io-line">Defined in         <code><a href="../components/BaseEntityComponent.html#source" target="_self" >BaseEntityComponent:49</a></code>
</div>
                            </td>
                        </tr>


            </tbody>
        </table>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="locationBack"></a>
                        <span class="name">
                            <b>
                            locationBack</b>
                            <a href="#locationBack"><span class="icon ion-ios-link"></span></a>
                        </span>
                    </td>
                </tr>
                    <tr>
                        <td class="col-md-4">
                            <i>Type : </i>        <code><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Boolean" target="_blank" >Boolean</a></code>

                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-4">
                            <i>Default value : </i><code>true</code>
                        </td>
                    </tr>
                            <tr>
                                <td class="col-md-4">
                                    <div class="io-line">Inherited from         <code><a href="../components/BaseEntityComponent.html" target="_self" >BaseEntityComponent</a></code>
</div>
                                </td>
                            </tr>
                        <tr>
                            <td class="col-md-4">
                                    <div class="io-line">Defined in         <code><a href="../components/BaseEntityComponent.html#source" target="_self" >BaseEntityComponent:55</a></code>
</div>
                            </td>
                        </tr>


            </tbody>
        </table>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="model"></a>
                        <span class="name">
                            <b>
                            model</b>
                            <a href="#model"><span class="icon ion-ios-link"></span></a>
                        </span>
                    </td>
                </tr>
                    <tr>
                        <td class="col-md-4">
                            <i>Type : </i>        <code><a href="https://www.typescriptlang.org/docs/handbook/basic-types.html" target="_blank" >any</a></code>

                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-4">
                            <i>Default value : </i><code>{}</code>
                        </td>
                    </tr>
                            <tr>
                                <td class="col-md-4">
                                    <div class="io-line">Inherited from         <code><a href="../components/BaseEntityComponent.html" target="_self" >BaseEntityComponent</a></code>
</div>
                                </td>
                            </tr>
                        <tr>
                            <td class="col-md-4">
                                    <div class="io-line">Defined in         <code><a href="../components/BaseEntityComponent.html#source" target="_self" >BaseEntityComponent:28</a></code>
</div>
                            </td>
                        </tr>


            </tbody>
        </table>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="newPath"></a>
                        <span class="name">
                            <b>
                            newPath</b>
                            <a href="#newPath"><span class="icon ion-ios-link"></span></a>
                        </span>
                    </td>
                </tr>
                    <tr>
                        <td class="col-md-4">
                            <i>Type : </i>        <code><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/string" target="_blank" >string</a></code>

                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-4">
                            <i>Default value : </i><code>null</code>
                        </td>
                    </tr>
                            <tr>
                                <td class="col-md-4">
                                    <div class="io-line">Inherited from         <code><a href="../components/BaseEntityComponent.html" target="_self" >BaseEntityComponent</a></code>
</div>
                                </td>
                            </tr>
                        <tr>
                            <td class="col-md-4">
                                    <div class="io-line">Defined in         <code><a href="../components/BaseEntityComponent.html#source" target="_self" >BaseEntityComponent:47</a></code>
</div>
                            </td>
                        </tr>


            </tbody>
        </table>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="onDestroy$"></a>
                        <span class="name">
                            <b>
                                <span class="modifier">Protected</span>
                            onDestroy$</b>
                            <a href="#onDestroy$"><span class="icon ion-ios-link"></span></a>
                        </span>
                    </td>
                </tr>
                    <tr>
                        <td class="col-md-4">
                            <i>Default value : </i><code>new Subject&lt;void&gt;()</code>
                        </td>
                    </tr>
                            <tr>
                                <td class="col-md-4">
                                    <div class="io-line">Inherited from         <code><a href="../components/BaseEntityComponent.html" target="_self" >BaseEntityComponent</a></code>
</div>
                                </td>
                            </tr>
                        <tr>
                            <td class="col-md-4">
                                    <div class="io-line">Defined in         <code><a href="../components/BaseEntityComponent.html#source" target="_self" >BaseEntityComponent:23</a></code>
</div>
                            </td>
                        </tr>


            </tbody>
        </table>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="options"></a>
                        <span class="name">
                            <b>
                            options</b>
                            <a href="#options"><span class="icon ion-ios-link"></span></a>
                        </span>
                    </td>
                </tr>
                    <tr>
                        <td class="col-md-4">
                            <i>Type : </i>        <code><a href="../interfaces/Option.html" target="_self" >FormlyFormOptions</a></code>

                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-4">
                            <i>Default value : </i><code>{
    formState: {
      model: this.model,
      isLoading: this.isLoading,
    },
  }</code>
                        </td>
                    </tr>
                            <tr>
                                <td class="col-md-4">
                                    <div class="io-line">Inherited from         <code><a href="../components/BaseEntityComponent.html" target="_self" >BaseEntityComponent</a></code>
</div>
                                </td>
                            </tr>
                        <tr>
                            <td class="col-md-4">
                                    <div class="io-line">Defined in         <code><a href="../components/BaseEntityComponent.html#source" target="_self" >BaseEntityComponent:30</a></code>
</div>
                            </td>
                        </tr>


            </tbody>
        </table>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="researchPath"></a>
                        <span class="name">
                            <b>
                            researchPath</b>
                            <a href="#researchPath"><span class="icon ion-ios-link"></span></a>
                        </span>
                    </td>
                </tr>
                    <tr>
                        <td class="col-md-4">
                            <i>Type : </i>        <code><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/string" target="_blank" >string</a></code>

                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-4">
                            <i>Default value : </i><code>null</code>
                        </td>
                    </tr>
                            <tr>
                                <td class="col-md-4">
                                    <div class="io-line">Inherited from         <code><a href="../components/BaseEntityComponent.html" target="_self" >BaseEntityComponent</a></code>
</div>
                                </td>
                            </tr>
                        <tr>
                            <td class="col-md-4">
                                    <div class="io-line">Defined in         <code><a href="../components/BaseEntityComponent.html#source" target="_self" >BaseEntityComponent:45</a></code>
</div>
                            </td>
                        </tr>


            </tbody>
        </table>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="returnUrl"></a>
                        <span class="name">
                            <b>
                            returnUrl</b>
                            <a href="#returnUrl"><span class="icon ion-ios-link"></span></a>
                        </span>
                    </td>
                </tr>
                    <tr>
                        <td class="col-md-4">
                            <i>Type : </i>        <code><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/string" target="_blank" >string</a></code>

                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-4">
                            <i>Default value : </i><code>null</code>
                        </td>
                    </tr>
                            <tr>
                                <td class="col-md-4">
                                    <div class="io-line">Inherited from         <code><a href="../components/BaseEntityComponent.html" target="_self" >BaseEntityComponent</a></code>
</div>
                                </td>
                            </tr>
                        <tr>
                            <td class="col-md-4">
                                    <div class="io-line">Defined in         <code><a href="../components/BaseEntityComponent.html#source" target="_self" >BaseEntityComponent:53</a></code>
</div>
                            </td>
                        </tr>


            </tbody>
        </table>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="service"></a>
                        <span class="name">
                            <b>
                                <span class="modifier">Protected</span>
                            service</b>
                            <a href="#service"><span class="icon ion-ios-link"></span></a>
                        </span>
                    </td>
                </tr>
                    <tr>
                        <td class="col-md-4">
                            <i>Type : </i>        <code><a href="../interfaces/ServiceEntity.html" target="_self" >ServiceEntity</a></code>

                        </td>
                    </tr>
                            <tr>
                                <td class="col-md-4">
                                    <div class="io-line">Inherited from         <code><a href="../components/BaseEntityComponent.html" target="_self" >BaseEntityComponent</a></code>
</div>
                                </td>
                            </tr>
                        <tr>
                            <td class="col-md-4">
                                    <div class="io-line">Defined in         <code><a href="../components/BaseEntityComponent.html#source" target="_self" >BaseEntityComponent:41</a></code>
</div>
                            </td>
                        </tr>


            </tbody>
        </table>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="sub"></a>
                        <span class="name">
                            <b>
                                <span class="modifier">Private</span>
                            sub</b>
                            <a href="#sub"><span class="icon ion-ios-link"></span></a>
                        </span>
                    </td>
                </tr>
                    <tr>
                        <td class="col-md-4">
                            <i>Type : </i>    <code>Subscription</code>

                        </td>
                    </tr>
                            <tr>
                                <td class="col-md-4">
                                    <div class="io-line">Inherited from         <code><a href="../components/BaseEntityComponent.html" target="_self" >BaseEntityComponent</a></code>
</div>
                                </td>
                            </tr>
                        <tr>
                            <td class="col-md-4">
                                    <div class="io-line">Defined in         <code><a href="../components/BaseEntityComponent.html#source" target="_self" >BaseEntityComponent:51</a></code>
</div>
                            </td>
                        </tr>


            </tbody>
        </table>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="title"></a>
                        <span class="name">
                            <b>
                            title</b>
                            <a href="#title"><span class="icon ion-ios-link"></span></a>
                        </span>
                    </td>
                </tr>
                    <tr>
                        <td class="col-md-4">
                            <i>Type : </i>    <code>null</code>

                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-4">
                            <i>Default value : </i><code>null</code>
                        </td>
                    </tr>
                            <tr>
                                <td class="col-md-4">
                                    <div class="io-line">Inherited from         <code><a href="../components/BaseEntityComponent.html" target="_self" >BaseEntityComponent</a></code>
</div>
                                </td>
                            </tr>
                        <tr>
                            <td class="col-md-4">
                                    <div class="io-line">Defined in         <code><a href="../components/BaseEntityComponent.html#source" target="_self" >BaseEntityComponent:39</a></code>
</div>
                            </td>
                        </tr>


            </tbody>
        </table>
</section>

    <section>
    <h3 id="accessors">
        Accessors
    </h3>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="workflowAction"></a>
                        <span class="name"><b>workflowAction</b><a href="#workflowAction"><span class="icon ion-ios-link"></span></a></span>
                    </td>
                </tr>

                <tr>
                    <td class="col-md-4">
                        <span class="accessor"><b>get</b><code>workflowAction()</code></span>
                    </td>
                </tr>
                            <tr>
                                <td class="col-md-4">
                                    <div class="io-line">Defined in <a href="" data-line="49" class="link-to-prism">src/app/application/pages/pagamento.component.ts:49</a></div>
                                </td>
                            </tr>

            </tbody>
        </table>
</section>
</div>


    <div class="tab-pane fade  tab-source-code" id="c-source">
        <pre class="line-numbers compodoc-sourcecode"><code class="language-typescript">import { Component, OnInit } from &#x27;@angular/core&#x27;;
import { FormlyFieldConfig, Field } from &#x27;@ngx-formly/core&#x27;;
import { BaseEntityComponent } from &#x27;src/app/shared&#x27;;
import { ApplicationService } from &#x27;../application.service&#x27;;
import { ActivatedRoute, Router } from &#x27;@angular/router&#x27;;
import { encode, decode } from &#x27;base64-arraybuffer&#x27;;
import ControlUtils from &#x27;src/app/shared/dynamic-form/control-utils&#x27;;
import { FileDetector } from &#x27;protractor&#x27;;
import { FormlyFieldConfigCache } from &#x27;@ngx-formly/core/lib/components/formly.field.config&#x27;;
import { takeUntil, startWith, tap, filter, map, distinct } from &#x27;rxjs/operators&#x27;;
import { ScadenzaService } from &#x27;../scadenza.service&#x27;;
import {Location} from &#x27;@angular/common&#x27;;

@Component({
  selector: &#x27;app-pagamento&#x27;,
  template: &#x60;
  &lt;div class&#x3D;&quot;container-fluid&quot;&gt;
  &lt;ngx-loading [show]&#x3D;&quot;isLoading&quot; [config]&#x3D;&quot;{ backdropBorderRadius: &#x27;14px&#x27; }&quot;&gt;&lt;/ngx-loading&gt;
  &lt;div class&#x3D;&quot;btn-toolbar mb-4&quot; role&#x3D;&quot;toolbar&quot;&gt;
  &lt;div class&#x3D;&quot;btn-group btn-group&quot;&gt;        
    &lt;button class&#x3D;&quot;btn btn-outline-primary border-0 rounded-0&quot; [disabled]&#x3D;&quot;!form.valid || !form.dirty&quot; (click)&#x3D;&quot;onSubmit()&quot; &gt;              
      &lt;span class&#x3D;&quot;oi oi-arrow-top&quot;&gt;&lt;/span&gt;  
      &lt;span class&#x3D;&quot;ml-2&quot;&gt;Aggiorna&lt;/span&gt;              
    &lt;/button&gt; 
    &lt;button class&#x3D;&quot;btn btn-outline-primary border-0 rounded-0&quot; (click)&#x3D;&quot;onValidate()&quot; &gt;              
    &lt;span class&#x3D;&quot;oi oi-flash&quot;&gt;&lt;/span&gt;  
    &lt;span class&#x3D;&quot;ml-2&quot;&gt;Valida&lt;/span&gt;              
  &lt;/button&gt; 
  &lt;/div&gt;
  &lt;/div&gt;
  &lt;h4 *ngIf&#x3D;&quot;title&quot;&gt;{{title}}&lt;/h4&gt;

  &lt;form [formGroup]&#x3D;&quot;form&quot;&gt;
      &lt;formly-form [model]&#x3D;&quot;model&quot; [fields]&#x3D;&quot;fields&quot; [form]&#x3D;&quot;form&quot; [options]&#x3D;&quot;options&quot;&gt;
      &lt;/formly-form&gt;
  &lt;/form&gt;
  &lt;button class&#x3D;&quot;btn btn-primary mt-3&quot; type&#x3D;&quot;button&quot; [disabled]&#x3D;&quot;!form.valid&quot; (click)&#x3D;&quot;onSubmit()&quot;&gt;Salva&lt;/button&gt;
  &lt;/div&gt;
  &#x60;,
  styles: []
})

export class PagamentoComponent extends BaseEntityComponent {
  
  public STATE &#x3D; &#x27;inpagamento&#x27;;
  public static WORKFLOW_ACTION: string &#x3D; &#x27;registrazionepagamento&#x27;; //TRASITION
  public static ABSULTE_PATH: string &#x3D; &#x27;home/pagamento&#x27;;

  get workflowAction(): string{
    return PagamentoComponent.WORKFLOW_ACTION;
  }


  fields: FormlyFieldConfig[] &#x3D; [
    {
      className: &#x27;section-label&#x27;,
      template: &#x27;&lt;h5&gt;&lt;/h5&gt;&#x27;,
    },
    {
      key: &#x27;id&#x27;,
      type: &#x27;external&#x27;,
      className: &quot;col-md-12&quot;,
      templateOptions: {
        label: &#x27;Scadenza&#x27;,
        type: &#x27;string&#x27;,            
        entityName: &#x27;scadenza&#x27;,
        entityLabel: &#x27;Scadenza&#x27;,
        entityPath: &#x27;home/scadenze&#x27;,
        codeProp: &#x27;id&#x27;,
        descriptionProp: &#x27;dovuto_tranche&#x27;,
        descriptionFunc: (data) &#x3D;&gt; {
            if (data &amp;&amp; data.dovuto_tranche){
              this.model.prelievo &#x3D; data.prelievo;
              return data.dovuto_tranche +&#x27; - &#x27; + &#x27;Convenzione n. &#x27;+data.convenzione.id+&#x27; - &#x27;+data.convenzione.descrizione_titolo;
            }
            return &#x27;&#x27;;
        },
        copymodel: false,
        isLoading: false,          
        disabled: true,
      },
      // expressionProperties: {
      //   &#x27;templateOptions.disabled&#x27;: (model: any, formState: any) &#x3D;&gt; {        
      //     return model.id;
      //   },
      // },
    },     
    {
      fieldGroupClassName: &#x27;row&#x27;,
      fieldGroup: [    
        {
          key: &#x27;data_ordincasso&#x27;,
          type: &#x27;datepicker&#x27;,
          className: &quot;col-md-5&quot;,
          templateOptions: {
            required: true,
            label: &#x27;Data ordinativo incasso&#x27;,          
          },        
        },
        {
          key: &#x27;num_ordincasso&#x27;,
          type: &#x27;input&#x27;,
          className: &quot;col-md-5&quot;,
          templateOptions: {
            required: true,
            label: &#x27;Numero ordinativo incasso&#x27;,                    
          },        
        },    
    ]}, 
    {
      key: &#x27;prelievo&#x27;,
      type: &#x27;select&#x27;,      
      //defaultValue: &#x27;PRE_NO&#x27;,
      templateOptions: {
        options: [
          { label: &#x27;Nessun prelievo&#x27;, value: &#x27;PRE_NO&#x27; },
          { label: &#x27;Prelievo applicabile&#x27;, value: &#x27;PRE_SI&#x27; },          
        ],
        label: &#x27;Prelievo&#x27;,
        required: true,
      },
    },
    {
      key: &#x27;note&#x27;,
      type: &#x27;textarea&#x27;,
      templateOptions: {      
        label: &#x27;Note&#x27;,        
        rows: 5,     
      },        
    }, 
  ]

  
  constructor(protected service: ApplicationService, protected scadService: ScadenzaService, protected route: ActivatedRoute, protected router: Router, protected location: Location) {
    super(route, router, location)
    this.isLoading &#x3D; false;
  }

  ngOnInit() {
    
    this.route.params.subscribe(params &#x3D;&gt; {
      if (params[&#x27;id&#x27;]) {                  
        //leggere la minimal della convenzione        
          this.isLoading&#x3D;true;
          this.model &#x3D; { convenzione: {}};
          //leggere la minimal della convenzione        
          this.scadService.getById(params[&#x27;id&#x27;]).subscribe(
            result &#x3D;&gt; {
              if (result){            
                  setTimeout(() &#x3D;&gt; {
                    this.model &#x3D; {...this.model, ...result};   
                    this.options.formState.model &#x3D; this.model;         
                  },0)
              }
              this.isLoading&#x3D;false;
            }
          );
        }        
      });    
  }

  onSubmit() {
    if (this.form.valid) {
      this.isLoading &#x3D; true;
      var tosubmit &#x3D; { id: this.model.id, ...this.form.value };      
      this.service.pagamentoStep(tosubmit,true).subscribe(
        result &#x3D;&gt; {          
          this.isLoading &#x3D; false;          
          this.router.navigate([&#x27;home/dashboard/dashboard1&#x27;]);                
        },
        error &#x3D;&gt; {
          this.isLoading &#x3D; false;
          //this.service.messageService.error(error);          
        });
    }
  }
}
</code></pre>
    </div>



    <div class="tab-pane fade " id="c-tree">
        <div id="tree-container"></div>
        <div class="tree-legend">
            <div class="title">
                <b>Legend</b>
            </div>
            <div>
                <div class="color htmlelement"></div><span>Html element</span>
            </div>
            <div>
                <div class="color component"></div><span>Component</span>
            </div>
            <div>
                <div class="color directive"></div><span>Html element with directive</span>
            </div>
        </div>
    </div>

    
</div>

<script src="../js/libs/vis.min.js"></script>
<script src="../js/libs/htmlparser.js"></script>
<script src="../js/libs/deep-iterator.js"></script>
<script>
        var COMPONENT_TEMPLATE = '<div><div class="container-fluid"><ngx-loading [show]="isLoading" [config]="{ backdropBorderRadius: \'14px\' }"></ngx-loading><div class="btn-toolbar mb-4" role="toolbar"><div class="btn-group btn-group">  <button class="btn btn-outline-primary border-0 rounded-0" [disabled]="!form.valid || !form.dirty" (click)="onSubmit()" >    <span class="oi oi-arrow-top"></span>    <span class="ml-2">Aggiorna</span>  </button>  <button class="btn btn-outline-primary border-0 rounded-0" (click)="onValidate()" >  <span class="oi oi-flash"></span>  <span class="ml-2">Valida</span></button></div></div><h4 *ngIf="title">{{title}}</h4><form [formGroup]="form">    <formly-form [model]="model" [fields]="fields" [form]="form" [options]="options">    </formly-form></form><button class="btn btn-primary mt-3" type="button" [disabled]="!form.valid" (click)="onSubmit()">Salva</button></div></div>'
    var COMPONENTS = [{'name': 'AccordionInfoWrapperComponent', 'selector': 'formly-wrapper-accordioninfo'},{'name': 'AccordionWrapperComponent', 'selector': 'formly-wrapper-accordion'},{'name': 'AllegatiComponent', 'selector': 'app-allegati'},{'name': 'AppComponent', 'selector': 'app-root'},{'name': 'ApprovazionedetailsComponent', 'selector': 'app-approvazionedetails'},{'name': 'AssignmentDetailPageComponent', 'selector': 'app-assignment-detail-page'},{'name': 'AziendaLocComponent', 'selector': 'app-aziendaloc'},{'name': 'AziendeLocComponent', 'selector': 'app-aziendeloc'},{'name': 'BaseEntityComponent', 'selector': ''},{'name': 'BaseResearchComponent', 'selector': ''},{'name': 'BlankComponent', 'selector': 'app-blank-layout'},{'name': 'BolloRepertoriazioneComponent', 'selector': 'app-bollorepertoriazione'},{'name': 'BreadcrumbComponent', 'selector': 'app-breadcrumb'},{'name': 'ClassificazioneComponent', 'selector': 'app-classificazione'},{'name': 'ClassificazioniComponent', 'selector': 'app-classificazioni'},{'name': 'CollapseWrapperComponent', 'selector': 'app-collapse-wrapper'},{'name': 'ConfirmationDialogComponent', 'selector': 'app-confirmation-dialog'},{'name': 'ControlGenericListComponent', 'selector': 'app-control-generic-list'},{'name': 'ConvenzioneComponent', 'selector': 'app-convenzione'},{'name': 'ConvenzionedetailsComponent', 'selector': 'app-convenzionedetails'},{'name': 'ConvenzioniComponent', 'selector': 'app-convenzionis'},{'name': 'ConvenzioniresultComponent', 'selector': 'app-convenzioniresult'},{'name': 'ConvvalidationComponent', 'selector': 'app-convvalidation'},{'name': 'Dashboard1Component', 'selector': ''},{'name': 'Dashboard2Component', 'selector': ''},{'name': 'DatepickerTypeComponent', 'selector': 'app-datapicker-type'},{'name': 'DocumentiTitulus', 'selector': 'app-documenti'},{'name': 'DynamicFormComponent', 'selector': 'app-dynamic-form'},{'name': 'DynamicTableComponent', 'selector': 'app-grid'},{'name': 'EmissioneComponent', 'selector': 'app-emissione'},{'name': 'EsecuzionedetailsComponent', 'selector': 'app-esecuzionedetails'},{'name': 'ExternalobjTypeComponent', 'selector': 'formly-field-ext'},{'name': 'ExternalqueryComponent', 'selector': 'app-externalquery'},{'name': 'ExternalTypeComponent', 'selector': 'app-external-type'},{'name': 'FaseWrapperComponent', 'selector': 'app-fase-wrapper'},{'name': 'FirmaControparteComponent', 'selector': 'app-firmacontroparte'},{'name': 'FirmaDirettoreComponent', 'selector': 'app-firmadirettore'},{'name': 'FormInfraComponent', 'selector': 'app-form-infra'},{'name': 'FormlyFieldButton', 'selector': 'formly-field-button'},{'name': 'FormlyFieldTemplate', 'selector': 'formly-template'},{'name': 'FormlyFieldTypeahead', 'selector': 'formly-field-typeahead'},{'name': 'FormlyHorizontalWrapper', 'selector': 'formly-horizontal-wrapper'},{'name': 'FullComponent', 'selector': 'app-full-layout'},{'name': 'GenericTypeComponent', 'selector': 'app-generic-type'},{'name': 'GridFormlyCellComponent', 'selector': 'formly-ag-grid-cell'},{'name': 'GridTypeComponent', 'selector': 'formly-field-grid'},{'name': 'HomeComponent', 'selector': 'app-home'},{'name': 'InfocardComponent', 'selector': 'app-info-card'},{'name': 'InputFileComponent', 'selector': 'app-input-file'},{'name': 'InvioRichiestaPagamentoComponent', 'selector': 'app-inviorichiestapagamento'},{'name': 'LogAttivitaComponent', 'selector': 'app-logattivita'},{'name': 'LookupComponent', 'selector': 'app-lookup'},{'name': 'MappingRuoli', 'selector': 'app-mappingruoli'},{'name': 'MappingRuolo', 'selector': 'app-ruolo'},{'name': 'MappingUfficioTitulus', 'selector': 'app-mappingufficio'},{'name': 'MappingUfficiTitulus', 'selector': 'app-mappinguffici'},{'name': 'MessageComponent', 'selector': 'app-message'},{'name': 'MultistepSchematipoComponent', 'selector': 'app-multistep-schematipo'},{'name': 'NavigationComponent', 'selector': 'app-navigation'},{'name': 'NavstepperWrapperComponent', 'selector': 'app-navstepper-wrapper'},{'name': 'NotFoundComponent', 'selector': 'notfound'},{'name': 'NotificationsComponent', 'selector': 'app-notifications'},{'name': 'PagamentoComponent', 'selector': 'app-pagamento'},{'name': 'PanelWrapperComponent', 'selector': 'formly-wrapper-panel'},{'name': 'PdfInfraComponent', 'selector': 'app-pdf-infra'},{'name': 'PdfTypeComponent', 'selector': 'app-pdf-type'},{'name': 'PdfTypeInputComponent', 'selector': 'app-pdf-type-input'},{'name': 'PermissionComponent', 'selector': 'app-permission'},{'name': 'PermissionsComponent', 'selector': 'app-permissions'},{'name': 'PersoneinterneTitulus', 'selector': 'app-personeinterne'},{'name': 'QueryBuilderComponent', 'selector': 'app-query-builder'},{'name': 'RangedetailsComponent', 'selector': 'app-rangedetails'},{'name': 'RepeatTypeComponent', 'selector': 'formly-repeat-section'},{'name': 'RepertoriazionedetailsComponent', 'selector': 'app-repertoriazionedetails'},{'name': 'RichiestaEmissioneComponent', 'selector': 'app-richiestaemissione'},{'name': 'RightaddonsWrapperComponent', 'selector': 'formly-wrapper-rightaddons'},{'name': 'RoleComponent', 'selector': 'app-role'},{'name': 'RolesComponent', 'selector': 'app-roles'},{'name': 'ScadenzaComponent', 'selector': 'app-scadenza'},{'name': 'ScadenzeComponent', 'selector': 'app-scadenze'},{'name': 'ScadenzedetailsComponent', 'selector': 'app-scadenzedetails'},{'name': 'ScadenzeresultComponent', 'selector': 'app-scadenzeresult'},{'name': 'SelectTypeComponent', 'selector': 'app-select-type'},{'name': 'ShowErrorsComponent', 'selector': 'app-show-errors'},{'name': 'SidebarComponent', 'selector': 'app-sidebar'},{'name': 'SottoscrizioneComponent', 'selector': 'app-sottoscrizione'},{'name': 'SottoscrizionedetailsComponent', 'selector': 'app-sottoscrizionedetails'},{'name': 'StruttureEsterneTitulus', 'selector': 'app-struttureinterne'},{'name': 'StruttureInterneTitulus', 'selector': 'app-struttureinterne'},{'name': 'SystemErrorComponent', 'selector': 'systemerror'},{'name': 'TableGroupTypeComponent', 'selector': 'app-tablegroup-type'},{'name': 'TableLookupTypeComponent', 'selector': 'app-tablelookup-type'},{'name': 'TableTypeComponent', 'selector': 'app-table-type'},{'name': 'TabTypeComponent', 'selector': 'app-tab-type'},{'name': 'TaskComponent', 'selector': 'app-task'},{'name': 'TaskListComponent', 'selector': 'app-tasklist'},{'name': 'TasksComponent', 'selector': 'app-tasks'},{'name': 'TestTabComponent', 'selector': 'app-test-tab'},{'name': 'TipoPagamentiComponent', 'selector': 'app-tipopagamenti'},{'name': 'TipoPagamentoComponent', 'selector': 'app-tipopagamento'},{'name': 'TooltipWrapperComponent', 'selector': 'formly-wrapper-tooltip'},{'name': 'UploadfileComponent', 'selector': 'app-uploadfile'},{'name': 'UserComponent', 'selector': 'app-user'},{'name': 'UserLoginComponent', 'selector': 'app-user-login'},{'name': 'UsersComponent', 'selector': 'app-users'},{'name': 'UserTaskDetailComponent', 'selector': 'app-user-task-detail'}];
    var DIRECTIVES = [];
    var ACTUAL_COMPONENT = {'name': 'PagamentoComponent'};
</script>
<script src="../js/tree.js"></script>










                   




                   </div><div class="search-results">
    <div class="has-results">
        <h1 class="search-results-title"><span class='search-results-count'></span> result-matching "<span class='search-query'></span>"</h1>
        <ul class="search-results-list"></ul>
    </div>
    <div class="no-results">
        <h1 class="search-results-title">No results matching "<span class='search-query'></span>"</h1>
    </div>
</div>
</div>
               <!-- END CONTENT -->
           </div>
       </div>

       <script>
            var COMPODOC_CURRENT_PAGE_DEPTH = 1;
            var COMPODOC_CURRENT_PAGE_CONTEXT = 'component';
            var COMPODOC_CURRENT_PAGE_URL = 'PagamentoComponent.html';
       </script>

       <script src="../js/libs/custom-elements.min.js"></script>
       <script src="../js/libs/lit-html.js"></script>
       <!-- Required to polyfill modern browsers as code is ES5 for IE... -->
       <script src="../js/libs/custom-elements-es5-adapter.js" charset="utf-8" defer></script>
       <script src="../js/menu-wc.js" defer></script>

       <script src="../js/libs/bootstrap-native.js"></script>

       <script src="../js/libs/es6-shim.min.js"></script>
       <script src="../js/libs/EventDispatcher.js"></script>
       <script src="../js/libs/promise.min.js"></script>
       <script src="../js/libs/zepto.min.js"></script>

       <script src="../js/compodoc.js"></script>

       <script src="../js/tabs.js"></script>
       <script src="../js/menu.js"></script>
       <script src="../js/libs/clipboard.min.js"></script>
       <script src="../js/libs/prism.js"></script>
       <script src="../js/sourceCode.js"></script>
          <script src="../js/search/search.js"></script>
          <script src="../js/search/lunr.min.js"></script>
          <script src="../js/search/search-lunr.js"></script>
          <script src="../js/search/search_index.js"></script>
       <script src="../js/lazy-load-graphs.js"></script>


    </body>
</html>
