<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>UniConv app documentation</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="icon" type="image/x-icon" href="../images/favicon.ico">
	      <link rel="stylesheet" href="../styles/style.css">
    </head>
    <body>

        <div class="navbar navbar-default navbar-fixed-top visible-xs">
            <a href="../" class="navbar-brand">UniConv app documentation</a>
            <button type="button" class="btn btn-default btn-menu ion-ios-menu" id="btn-menu"></button>
        </div>

        <div class="xs-menu menu" id="mobile-menu">
                <div id="book-search-input" role="search"><input type="text" placeholder="Type to search"></div>            <compodoc-menu></compodoc-menu>
        </div>

        <div class="container-fluid main">
           <div class="row main">
               <div class="hidden-xs menu">
                   <compodoc-menu mode="normal"></compodoc-menu>
               </div>
               <!-- START CONTENT -->
               <div class="content component">
                   <div class="content-data">




<ol class="breadcrumb">
  <li>Components</li>
  <li>RepeatTypeComponent</li>
</ol>

<ul class="nav nav-tabs" role="tablist">
        <li class="active">
            <a href="#info" role="tab" id="info-tab" data-toggle="tab" data-link="info">Info</a>
        </li>
        <li >
            <a href="#source" role="tab" id="source-tab" data-toggle="tab" data-link="source">Source</a>
        </li>
        <li >
            <a href="#tree" role="tab" id="tree-tab" data-toggle="tab" data-link="dom-tree">DOM Tree</a>
        </li>
</ul>

<div class="tab-content">
    <div class="tab-pane fade active in" id="c-info"><p class="comment">
    <h3>File</h3>
</p>
<p class="comment">
    <code>src/app/shared/dynamic-form/repeat-type.component.ts</code>
</p>


    <p class="comment">
        <h3>Extends</h3>
    </p>
    <p class="comment">
                <code><a href="../interfaces/Field.html" target="_self" >FieldArrayType</a></code>
    </p>



<section>
    <h3>Metadata</h3>
    <table class="table table-sm table-hover">
        <tbody>











            <tr>
                <td class="col-md-3">selector</td>
                <td class="col-md-9"><code>formly-repeat-section</code></td>
            </tr>



            <tr>
                <td class="col-md-3">template</td>
                <td class="col-md-9"><pre class="line-numbers"><code class="language-html">&lt;div class&#x3D;&quot;mb-2&quot;&gt;
  &lt;div *ngIf&#x3D;&quot;to.label&quot;&gt;{{to.label}} &lt;/div&gt;
  &lt;button *ngIf&#x3D;&quot;!to.btnHidden&quot; type&#x3D;&quot;button&quot; [disabled]&#x3D;&quot;checkAddButtonDisability()&quot; class&#x3D;&quot;btn btn-sm btn-outline-primary border-0 rounded-0&quot; (click)&#x3D;&quot;onAddNew()&quot;  &gt;
    &lt;span class&#x3D;&quot;oi oi-plus&quot;&gt;&lt;/span&gt;
    &lt;span class&#x3D;&quot;ml-2&quot;&gt;Aggiungi&lt;/span&gt;
  &lt;/button&gt;
&lt;/div&gt;
&lt;div *ngFor&#x3D;&quot;let subfield of field.fieldGroup; let i &#x3D; index;&quot;&gt;
    &lt;formly-group
      [model]&#x3D;&quot;model[i]&quot;
      [field]&#x3D;&quot;subfield&quot;&gt;
    &lt;/formly-group&gt;
    &lt;div *ngIf&#x3D;&quot;!to.btnRemoveHidden&quot; class&#x3D;&quot;mb-2&quot;&gt;
      &lt;button *ngIf&#x3D;&quot;!btnRemoveHiddenFunc(model[i])&quot; type&#x3D;&quot;button&quot; class&#x3D;&quot;btn btn-sm btn-outline-primary border-0 rounded-0&quot; (click)&#x3D;&quot;onRemoveRepeat(i)&quot;  &gt;
        &lt;span class&#x3D;&quot;oi oi-trash&quot;&gt;&lt;/span&gt;
        &lt;span class&#x3D;&quot;ml-2&quot;&gt;Rimuovi&lt;/span&gt;
      &lt;/button&gt;
    &lt;/div&gt;
    &lt;div *ngIf&#x3D;&quot;subfield.template&quot; [innerHTML]&#x3D;&quot;subfield.template&quot;&gt;
    &lt;/div&gt;
    &lt;div *ngIf&#x3D;&quot;to.template&quot; [innerHTML]&#x3D;&quot;to.template&quot;&gt;
    &lt;/div&gt;
&lt;/div&gt;
&lt;div *ngIf&#x3D;&quot;showError&quot; class&#x3D;&quot;invalid-feedback&quot; [style.display]&#x3D;&quot;&#x27;block&#x27;&quot;&gt;
&lt;formly-validation-message [field]&#x3D;&quot;field&quot;&gt;&lt;/formly-validation-message&gt;
&lt;/div&gt;
</code></pre></td>
            </tr>









        </tbody>
    </table>
</section>

    <section>
    <h3 id="index">Index</h3>
    <table class="table table-sm table-bordered index-table">
        <tbody>

                <tr>
                    <td class="col-md-4">
                        <h6><b>Methods</b></h6>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <ul class="index-list">
                            <li>
                                <a href="#btnRemoveHiddenFunc">btnRemoveHiddenFunc</a>
                            </li>
                            <li>
                                <a href="#checkAddButtonDisability">checkAddButtonDisability</a>
                            </li>
                            <li>
                                <a href="#clearFormArray">clearFormArray</a>
                            </li>
                            <li>
                                <a href="#ngOnInit">ngOnInit</a>
                            </li>
                            <li>
                                <a href="#onAddNew">onAddNew</a>
                            </li>
                            <li>
                                <a href="#onRemoveRepeat">onRemoveRepeat</a>
                            </li>
                        </ul>
                    </td>
                </tr>





        </tbody>
    </table>
</section>

    <section>
    <h3 id="constructor">Constructor</h3>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
<code>constructor(cd: <a href="https://angular.io/api/core/ChangeDetectorRef" target="_blank">ChangeDetectorRef</a>)</code>
                    </td>
                </tr>
                        <tr>
                            <td class="col-md-4">
                                <div class="io-line">Defined in <a href="" data-line="39" class="link-to-prism">src/app/shared/dynamic-form/repeat-type.component.ts:39</a></div>
                            </td>
                        </tr>

                <tr>
                    <td class="col-md-4">
                            <div>
                                    <b>Parameters :</b>
                                    <table class="params">
                                        <thead>
                                            <tr>
                                                <td>Name</td>
                                                    <td>Type</td>
                                                <td>Optional</td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                                <tr>
                                                        <td>cd</td>
                                                  
                                                        <td>
                                                                        <code><a href="https://angular.io/api/core/ChangeDetectorRef" target="_blank" >ChangeDetectorRef</a></code>
                                                        </td>
                                                  
                                                    <td>
                                                            No
                                                    </td>
                                                    
                                                </tr>
                                        </tbody>
                                    </table>
                            </div>
                    </td>
                </tr>
            </tbody>
        </table>
</section>





    <section>
    
    <h3 id="methods">
        Methods
    </h3>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="btnRemoveHiddenFunc"></a>
                    <span class="name">
                        <b>
                            btnRemoveHiddenFunc
                        </b>
                        <a href="#btnRemoveHiddenFunc"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
            <tr>
                <td class="col-md-4">
<code>btnRemoveHiddenFunc(model)</code>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">
                    <div class="io-line">Defined in <a href="" data-line="75"
                            class="link-to-prism">src/app/shared/dynamic-form/repeat-type.component.ts:75</a></div>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">

                    <div class="io-description">
                        <b>Parameters :</b>
                        <table class="params">
                            <thead>
                                <tr>
                                    <td>Name</td>
                                    <td>Optional</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>model</td>

                                    <td>
                                        No
                                    </td>


                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div>
                    </div>
                    <div class="io-description">
                        <b>Returns : </b>        <code><a href="https://www.typescriptlang.org/docs/handbook/basic-types.html" target="_blank" >any</a></code>

                    </div>
                    <div class="io-description">
                        
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="checkAddButtonDisability"></a>
                    <span class="name">
                        <b>
                            checkAddButtonDisability
                        </b>
                        <a href="#checkAddButtonDisability"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
            <tr>
                <td class="col-md-4">
<code>checkAddButtonDisability()</code>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">
                    <div class="io-line">Defined in <a href="" data-line="57"
                            class="link-to-prism">src/app/shared/dynamic-form/repeat-type.component.ts:57</a></div>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">

                    <div class="io-description">
                        <b>Returns : </b>        <code><a href="https://www.typescriptlang.org/docs/handbook/basic-types.html" target="_blank" >any</a></code>

                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="clearFormArray"></a>
                    <span class="name">
                        <b>
                            clearFormArray
                        </b>
                        <a href="#clearFormArray"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
            <tr>
                <td class="col-md-4">
<code>clearFormArray()</code>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">
                    <div class="io-line">Defined in <a href="" data-line="95"
                            class="link-to-prism">src/app/shared/dynamic-form/repeat-type.component.ts:95</a></div>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">

                    <div class="io-description">
                        <b>Returns : </b>        <code><a href="https://www.typescriptlang.org/docs/handbook/basic-types.html" target="_blank" >void</a></code>

                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="ngOnInit"></a>
                    <span class="name">
                        <b>
                            ngOnInit
                        </b>
                        <a href="#ngOnInit"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
            <tr>
                <td class="col-md-4">
<code>ngOnInit()</code>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">
                    <div class="io-line">Defined in <a href="" data-line="44"
                            class="link-to-prism">src/app/shared/dynamic-form/repeat-type.component.ts:44</a></div>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">

                    <div class="io-description">
                        <b>Returns : </b>        <code><a href="https://www.typescriptlang.org/docs/handbook/basic-types.html" target="_blank" >void</a></code>

                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="onAddNew"></a>
                    <span class="name">
                        <b>
                            onAddNew
                        </b>
                        <a href="#onAddNew"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
            <tr>
                <td class="col-md-4">
<code>onAddNew()</code>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">
                    <div class="io-line">Defined in <a href="" data-line="65"
                            class="link-to-prism">src/app/shared/dynamic-form/repeat-type.component.ts:65</a></div>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">

                    <div class="io-description">
                        <b>Returns : </b>        <code><a href="https://www.typescriptlang.org/docs/handbook/basic-types.html" target="_blank" >void</a></code>

                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="onRemoveRepeat"></a>
                    <span class="name">
                        <b>
                            onRemoveRepeat
                        </b>
                        <a href="#onRemoveRepeat"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
            <tr>
                <td class="col-md-4">
<code>onRemoveRepeat(index)</code>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">
                    <div class="io-line">Defined in <a href="" data-line="82"
                            class="link-to-prism">src/app/shared/dynamic-form/repeat-type.component.ts:82</a></div>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">

                    <div class="io-description">
                        <b>Parameters :</b>
                        <table class="params">
                            <thead>
                                <tr>
                                    <td>Name</td>
                                    <td>Optional</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>index</td>

                                    <td>
                                        No
                                    </td>


                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div>
                    </div>
                    <div class="io-description">
                        <b>Returns : </b>        <code><a href="https://www.typescriptlang.org/docs/handbook/basic-types.html" target="_blank" >void</a></code>

                    </div>
                    <div class="io-description">
                        
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</section>

</div>


    <div class="tab-pane fade  tab-source-code" id="c-source">
        <pre class="line-numbers compodoc-sourcecode"><code class="language-typescript">import { Component, ChangeDetectorRef } from &#x27;@angular/core&#x27;;
import { FieldArrayType, FormlyFormBuilder } from &#x27;@ngx-formly/core&#x27;;
import { Observable } from &#x27;rxjs&#x27;;
import { FormArray } from &#x27;@angular/forms&#x27;;
import { map } from &#x27;rxjs/operators&#x27;;

@Component({
  selector: &#x27;formly-repeat-section&#x27;,
  template: &#x60;  
  &lt;div class&#x3D;&quot;mb-2&quot;&gt;  
    &lt;div *ngIf&#x3D;&quot;to.label&quot;&gt;{{to.label}} &lt;/div&gt; 
    &lt;button *ngIf&#x3D;&quot;!to.btnHidden&quot; type&#x3D;&quot;button&quot; [disabled]&#x3D;&quot;checkAddButtonDisability()&quot; class&#x3D;&quot;btn btn-sm btn-outline-primary border-0 rounded-0&quot; (click)&#x3D;&quot;onAddNew()&quot;  &gt;              
      &lt;span class&#x3D;&quot;oi oi-plus&quot;&gt;&lt;/span&gt;
      &lt;span class&#x3D;&quot;ml-2&quot;&gt;Aggiungi&lt;/span&gt;
    &lt;/button&gt;  
  &lt;/div&gt;   
  &lt;div *ngFor&#x3D;&quot;let subfield of field.fieldGroup; let i &#x3D; index;&quot;&gt;
      &lt;formly-group     
        [model]&#x3D;&quot;model[i]&quot;          
        [field]&#x3D;&quot;subfield&quot;&gt;              
      &lt;/formly-group&gt;              
      &lt;div *ngIf&#x3D;&quot;!to.btnRemoveHidden&quot; class&#x3D;&quot;mb-2&quot;&gt;
        &lt;button *ngIf&#x3D;&quot;!btnRemoveHiddenFunc(model[i])&quot; type&#x3D;&quot;button&quot; class&#x3D;&quot;btn btn-sm btn-outline-primary border-0 rounded-0&quot; (click)&#x3D;&quot;onRemoveRepeat(i)&quot;  &gt;              
          &lt;span class&#x3D;&quot;oi oi-trash&quot;&gt;&lt;/span&gt;  
          &lt;span class&#x3D;&quot;ml-2&quot;&gt;Rimuovi&lt;/span&gt;
        &lt;/button&gt;
      &lt;/div&gt;    
      &lt;div *ngIf&#x3D;&quot;subfield.template&quot; [innerHTML]&#x3D;&quot;subfield.template&quot;&gt;                           
      &lt;/div&gt; 
      &lt;div *ngIf&#x3D;&quot;to.template&quot; [innerHTML]&#x3D;&quot;to.template&quot;&gt;                           
      &lt;/div&gt;    
  &lt;/div&gt;
  &lt;div *ngIf&#x3D;&quot;showError&quot; class&#x3D;&quot;invalid-feedback&quot; [style.display]&#x3D;&quot;&#x27;block&#x27;&quot;&gt;
  &lt;formly-validation-message [field]&#x3D;&quot;field&quot;&gt;&lt;/formly-validation-message&gt;
  &lt;/div&gt;
  &#x60;,
})

export class RepeatTypeComponent extends FieldArrayType {
  constructor(private cd: ChangeDetectorRef) {
    super();            
  }

  ngOnInit(){    
    let count&#x3D; 0;
    if (this.model)
      count &#x3D; this.model.length;

    if (this.to.min &amp;&amp; this.to.min&gt;0){
      for (let index &#x3D; count; index &lt; this.to.min; index++) {
        setTimeout(()&#x3D;&gt; { this.add();  },0);            
      }
      this.cd.detectChanges();    
    }
  }  

  checkAddButtonDisability(){
    if (this.model)
      return this.to.disabled || //se il componente è disabilitato
        (!this.to.disabled &amp;&amp; (this.to.max !&#x3D; null ? this.model.length &#x3D;&#x3D; this.to.max : false));
    else 
      return this.to.disabled;
  }

  onAddNew(){    
    if (this.to.onAddInitialModel){
      let init &#x3D; this.to.onAddInitialModel();
      this.add(null,init);
    }else{
      this.add();
      this.cd.detectChanges();     
    }    
  }
  
  btnRemoveHiddenFunc(model){
    if (this.to.btnRemoveHiddenFunc){
      return this.to.btnRemoveHiddenFunc(model);
    }
    return false;
  }

  onRemoveRepeat(index){
    if (this.to.onRemove){            
      let id &#x3D; this.formControl.at(index).get(&#x27;id&#x27;).value;   
      (this.to.onRemove(id) as Observable&lt;any&gt;).subscribe(
        data &#x3D;&gt; { this.remove(index); },
        err &#x3D;&gt; {},
      );
    }else{
      this.remove(index);
      this.cd.detectChanges();      
    }
  }

  clearFormArray() {
    while (this.formControl.length !&#x3D;&#x3D; 0) {
      this.remove(0);
    }
  }


  // callbackRemove(index, context){
  //   context.remove(index); 
  //   context.formControl.removeAt(index);
  // }
}</code></pre>
    </div>



    <div class="tab-pane fade " id="c-tree">
        <div id="tree-container"></div>
        <div class="tree-legend">
            <div class="title">
                <b>Legend</b>
            </div>
            <div>
                <div class="color htmlelement"></div><span>Html element</span>
            </div>
            <div>
                <div class="color component"></div><span>Component</span>
            </div>
            <div>
                <div class="color directive"></div><span>Html element with directive</span>
            </div>
        </div>
    </div>

    
</div>

<script src="../js/libs/vis.min.js"></script>
<script src="../js/libs/htmlparser.js"></script>
<script src="../js/libs/deep-iterator.js"></script>
<script>
        var COMPONENT_TEMPLATE = '<div><div class="mb-2">  <div *ngIf="to.label">{{to.label}} </div>  <button *ngIf="!to.btnHidden" type="button" [disabled]="checkAddButtonDisability()" class="btn btn-sm btn-outline-primary border-0 rounded-0" (click)="onAddNew()"  >    <span class="oi oi-plus"></span>    <span class="ml-2">Aggiungi</span>  </button></div><div *ngFor="let subfield of field.fieldGroup; let i = index;">    <formly-group      [model]="model[i]"      [field]="subfield">    </formly-group>    <div *ngIf="!to.btnRemoveHidden" class="mb-2">      <button *ngIf="!btnRemoveHiddenFunc(model[i])" type="button" class="btn btn-sm btn-outline-primary border-0 rounded-0" (click)="onRemoveRepeat(i)"  >        <span class="oi oi-trash"></span>        <span class="ml-2">Rimuovi</span>      </button>    </div>    <div *ngIf="subfield.template" [innerHTML]="subfield.template">    </div>    <div *ngIf="to.template" [innerHTML]="to.template">    </div></div><div *ngIf="showError" class="invalid-feedback" [style.display]="\'block\'"><formly-validation-message [field]="field"></formly-validation-message></div></div>'
    var COMPONENTS = [{'name': 'AccordionInfoWrapperComponent', 'selector': 'formly-wrapper-accordioninfo'},{'name': 'AccordionWrapperComponent', 'selector': 'formly-wrapper-accordion'},{'name': 'AllegatiComponent', 'selector': 'app-allegati'},{'name': 'AppComponent', 'selector': 'app-root'},{'name': 'ApprovazionedetailsComponent', 'selector': 'app-approvazionedetails'},{'name': 'AssignmentDetailPageComponent', 'selector': 'app-assignment-detail-page'},{'name': 'AziendaLocComponent', 'selector': 'app-aziendaloc'},{'name': 'AziendeLocComponent', 'selector': 'app-aziendeloc'},{'name': 'BaseEntityComponent', 'selector': ''},{'name': 'BaseResearchComponent', 'selector': ''},{'name': 'BlankComponent', 'selector': 'app-blank-layout'},{'name': 'BolloRepertoriazioneComponent', 'selector': 'app-bollorepertoriazione'},{'name': 'BreadcrumbComponent', 'selector': 'app-breadcrumb'},{'name': 'ClassificazioneComponent', 'selector': 'app-classificazione'},{'name': 'ClassificazioniComponent', 'selector': 'app-classificazioni'},{'name': 'CollapseWrapperComponent', 'selector': 'app-collapse-wrapper'},{'name': 'ConfirmationDialogComponent', 'selector': 'app-confirmation-dialog'},{'name': 'ControlGenericListComponent', 'selector': 'app-control-generic-list'},{'name': 'ConvenzioneComponent', 'selector': 'app-convenzione'},{'name': 'ConvenzionedetailsComponent', 'selector': 'app-convenzionedetails'},{'name': 'ConvenzioniComponent', 'selector': 'app-convenzionis'},{'name': 'ConvenzioniresultComponent', 'selector': 'app-convenzioniresult'},{'name': 'ConvvalidationComponent', 'selector': 'app-convvalidation'},{'name': 'Dashboard1Component', 'selector': ''},{'name': 'Dashboard2Component', 'selector': ''},{'name': 'DatepickerTypeComponent', 'selector': 'app-datapicker-type'},{'name': 'DocumentiTitulus', 'selector': 'app-documenti'},{'name': 'DynamicFormComponent', 'selector': 'app-dynamic-form'},{'name': 'DynamicTableComponent', 'selector': 'app-grid'},{'name': 'EmissioneComponent', 'selector': 'app-emissione'},{'name': 'EsecuzionedetailsComponent', 'selector': 'app-esecuzionedetails'},{'name': 'ExternalobjTypeComponent', 'selector': 'formly-field-ext'},{'name': 'ExternalqueryComponent', 'selector': 'app-externalquery'},{'name': 'ExternalTypeComponent', 'selector': 'app-external-type'},{'name': 'FaseWrapperComponent', 'selector': 'app-fase-wrapper'},{'name': 'FirmaControparteComponent', 'selector': 'app-firmacontroparte'},{'name': 'FirmaDirettoreComponent', 'selector': 'app-firmadirettore'},{'name': 'FormInfraComponent', 'selector': 'app-form-infra'},{'name': 'FormlyFieldButton', 'selector': 'formly-field-button'},{'name': 'FormlyFieldTemplate', 'selector': 'formly-template'},{'name': 'FormlyFieldTypeahead', 'selector': 'formly-field-typeahead'},{'name': 'FormlyHorizontalWrapper', 'selector': 'formly-horizontal-wrapper'},{'name': 'FullComponent', 'selector': 'app-full-layout'},{'name': 'GenericTypeComponent', 'selector': 'app-generic-type'},{'name': 'GridFormlyCellComponent', 'selector': 'formly-ag-grid-cell'},{'name': 'GridTypeComponent', 'selector': 'formly-field-grid'},{'name': 'HomeComponent', 'selector': 'app-home'},{'name': 'InfocardComponent', 'selector': 'app-info-card'},{'name': 'InputFileComponent', 'selector': 'app-input-file'},{'name': 'InvioRichiestaPagamentoComponent', 'selector': 'app-inviorichiestapagamento'},{'name': 'LogAttivitaComponent', 'selector': 'app-logattivita'},{'name': 'LookupComponent', 'selector': 'app-lookup'},{'name': 'MappingRuoli', 'selector': 'app-mappingruoli'},{'name': 'MappingRuolo', 'selector': 'app-ruolo'},{'name': 'MappingUfficioTitulus', 'selector': 'app-mappingufficio'},{'name': 'MappingUfficiTitulus', 'selector': 'app-mappinguffici'},{'name': 'MessageComponent', 'selector': 'app-message'},{'name': 'MultistepSchematipoComponent', 'selector': 'app-multistep-schematipo'},{'name': 'NavigationComponent', 'selector': 'app-navigation'},{'name': 'NavstepperWrapperComponent', 'selector': 'app-navstepper-wrapper'},{'name': 'NotFoundComponent', 'selector': 'notfound'},{'name': 'NotificationsComponent', 'selector': 'app-notifications'},{'name': 'PagamentoComponent', 'selector': 'app-pagamento'},{'name': 'PanelWrapperComponent', 'selector': 'formly-wrapper-panel'},{'name': 'PdfInfraComponent', 'selector': 'app-pdf-infra'},{'name': 'PdfTypeComponent', 'selector': 'app-pdf-type'},{'name': 'PdfTypeInputComponent', 'selector': 'app-pdf-type-input'},{'name': 'PermissionComponent', 'selector': 'app-permission'},{'name': 'PermissionsComponent', 'selector': 'app-permissions'},{'name': 'PersoneinterneTitulus', 'selector': 'app-personeinterne'},{'name': 'QueryBuilderComponent', 'selector': 'app-query-builder'},{'name': 'RangedetailsComponent', 'selector': 'app-rangedetails'},{'name': 'RepeatTypeComponent', 'selector': 'formly-repeat-section'},{'name': 'RepertoriazionedetailsComponent', 'selector': 'app-repertoriazionedetails'},{'name': 'RichiestaEmissioneComponent', 'selector': 'app-richiestaemissione'},{'name': 'RightaddonsWrapperComponent', 'selector': 'formly-wrapper-rightaddons'},{'name': 'RoleComponent', 'selector': 'app-role'},{'name': 'RolesComponent', 'selector': 'app-roles'},{'name': 'ScadenzaComponent', 'selector': 'app-scadenza'},{'name': 'ScadenzeComponent', 'selector': 'app-scadenze'},{'name': 'ScadenzedetailsComponent', 'selector': 'app-scadenzedetails'},{'name': 'ScadenzeresultComponent', 'selector': 'app-scadenzeresult'},{'name': 'SelectTypeComponent', 'selector': 'app-select-type'},{'name': 'ShowErrorsComponent', 'selector': 'app-show-errors'},{'name': 'SidebarComponent', 'selector': 'app-sidebar'},{'name': 'SottoscrizioneComponent', 'selector': 'app-sottoscrizione'},{'name': 'SottoscrizionedetailsComponent', 'selector': 'app-sottoscrizionedetails'},{'name': 'StruttureEsterneTitulus', 'selector': 'app-struttureinterne'},{'name': 'StruttureInterneTitulus', 'selector': 'app-struttureinterne'},{'name': 'SystemErrorComponent', 'selector': 'systemerror'},{'name': 'TableGroupTypeComponent', 'selector': 'app-tablegroup-type'},{'name': 'TableLookupTypeComponent', 'selector': 'app-tablelookup-type'},{'name': 'TableTypeComponent', 'selector': 'app-table-type'},{'name': 'TabTypeComponent', 'selector': 'app-tab-type'},{'name': 'TaskComponent', 'selector': 'app-task'},{'name': 'TaskListComponent', 'selector': 'app-tasklist'},{'name': 'TasksComponent', 'selector': 'app-tasks'},{'name': 'TestTabComponent', 'selector': 'app-test-tab'},{'name': 'TipoPagamentiComponent', 'selector': 'app-tipopagamenti'},{'name': 'TipoPagamentoComponent', 'selector': 'app-tipopagamento'},{'name': 'TooltipWrapperComponent', 'selector': 'formly-wrapper-tooltip'},{'name': 'UploadfileComponent', 'selector': 'app-uploadfile'},{'name': 'UserComponent', 'selector': 'app-user'},{'name': 'UserLoginComponent', 'selector': 'app-user-login'},{'name': 'UsersComponent', 'selector': 'app-users'},{'name': 'UserTaskDetailComponent', 'selector': 'app-user-task-detail'}];
    var DIRECTIVES = [];
    var ACTUAL_COMPONENT = {'name': 'RepeatTypeComponent'};
</script>
<script src="../js/tree.js"></script>










                   




                   </div><div class="search-results">
    <div class="has-results">
        <h1 class="search-results-title"><span class='search-results-count'></span> result-matching "<span class='search-query'></span>"</h1>
        <ul class="search-results-list"></ul>
    </div>
    <div class="no-results">
        <h1 class="search-results-title">No results matching "<span class='search-query'></span>"</h1>
    </div>
</div>
</div>
               <!-- END CONTENT -->
           </div>
       </div>

       <script>
            var COMPODOC_CURRENT_PAGE_DEPTH = 1;
            var COMPODOC_CURRENT_PAGE_CONTEXT = 'component';
            var COMPODOC_CURRENT_PAGE_URL = 'RepeatTypeComponent.html';
       </script>

       <script src="../js/libs/custom-elements.min.js"></script>
       <script src="../js/libs/lit-html.js"></script>
       <!-- Required to polyfill modern browsers as code is ES5 for IE... -->
       <script src="../js/libs/custom-elements-es5-adapter.js" charset="utf-8" defer></script>
       <script src="../js/menu-wc.js" defer></script>

       <script src="../js/libs/bootstrap-native.js"></script>

       <script src="../js/libs/es6-shim.min.js"></script>
       <script src="../js/libs/EventDispatcher.js"></script>
       <script src="../js/libs/promise.min.js"></script>
       <script src="../js/libs/zepto.min.js"></script>

       <script src="../js/compodoc.js"></script>

       <script src="../js/tabs.js"></script>
       <script src="../js/menu.js"></script>
       <script src="../js/libs/clipboard.min.js"></script>
       <script src="../js/libs/prism.js"></script>
       <script src="../js/sourceCode.js"></script>
          <script src="../js/search/search.js"></script>
          <script src="../js/search/lunr.min.js"></script>
          <script src="../js/search/search-lunr.js"></script>
          <script src="../js/search/search_index.js"></script>
       <script src="../js/lazy-load-graphs.js"></script>


    </body>
</html>
