<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>UniConv app documentation</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="icon" type="image/x-icon" href="../images/favicon.ico">
	      <link rel="stylesheet" href="../styles/style.css">
    </head>
    <body>

        <div class="navbar navbar-default navbar-fixed-top visible-xs">
            <a href="../" class="navbar-brand">UniConv app documentation</a>
            <button type="button" class="btn btn-default btn-menu ion-ios-menu" id="btn-menu"></button>
        </div>

        <div class="xs-menu menu" id="mobile-menu">
                <div id="book-search-input" role="search"><input type="text" placeholder="Type to search"></div>            <compodoc-menu></compodoc-menu>
        </div>

        <div class="container-fluid main">
           <div class="row main">
               <div class="hidden-xs menu">
                   <compodoc-menu mode="normal"></compodoc-menu>
               </div>
               <!-- START CONTENT -->
               <div class="content component">
                   <div class="content-data">




<ol class="breadcrumb">
  <li>Components</li>
  <li>ShowErrorsComponent</li>
</ol>

<ul class="nav nav-tabs" role="tablist">
        <li class="active">
            <a href="#info" role="tab" id="info-tab" data-toggle="tab" data-link="info">Info</a>
        </li>
        <li >
            <a href="#source" role="tab" id="source-tab" data-toggle="tab" data-link="source">Source</a>
        </li>
        <li >
            <a href="#tree" role="tab" id="tree-tab" data-toggle="tab" data-link="dom-tree">DOM Tree</a>
        </li>
</ul>

<div class="tab-content">
    <div class="tab-pane fade active in" id="c-info"><p class="comment">
    <h3>File</h3>
</p>
<p class="comment">
    <code>src/app/shared/show-errors/show-errors.component.ts</code>
</p>



    <p class="comment">
        <h3>Implements</h3>
    </p>
    <p class="comment">
                    <code><a href="https://angular.io/api/core/OnInit" target="_blank" >OnInit</a></code>
    </p>


<section>
    <h3>Metadata</h3>
    <table class="table table-sm table-hover">
        <tbody>











            <tr>
                <td class="col-md-3">selector</td>
                <td class="col-md-9"><code>app-show-errors</code></td>
            </tr>



            <tr>
                <td class="col-md-3">template</td>
                <td class="col-md-9"><pre class="line-numbers"><code class="language-html">&lt;div *ngIf&#x3D;&quot;shouldShowErrors()&quot;&gt;
  &lt;span class&#x3D;&quot;small form-text text-danger&quot; *ngFor&#x3D;&quot;let error of listOfErrors()&quot;&gt;{{error}}&lt;/span&gt;
&lt;/div&gt;
</code></pre></td>
            </tr>









        </tbody>
    </table>
</section>

    <section>
    <h3 id="index">Index</h3>
    <table class="table table-sm table-bordered index-table">
        <tbody>
                <tr>
                    <td class="col-md-4">
                        <h6><b>Properties</b></h6>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <ul class="index-list">
                            <li>
                                    <span class="modifier">Private</span>
                                    <span class="modifier">Static</span>
                                    <span class="modifier">Readonly</span>
                                <a href="#errorMessages">errorMessages</a>
                            </li>
                        </ul>
                    </td>
                </tr>

                <tr>
                    <td class="col-md-4">
                        <h6><b>Methods</b></h6>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <ul class="index-list">
                            <li>
                                    <span class="modifier">Private</span>
                                <a href="#getMessage">getMessage</a>
                            </li>
                            <li>
                                <a href="#listOfErrors">listOfErrors</a>
                            </li>
                            <li>
                                <a href="#ngOnInit">ngOnInit</a>
                            </li>
                            <li>
                                <a href="#shouldShowErrors">shouldShowErrors</a>
                            </li>
                        </ul>
                    </td>
                </tr>

                <tr>
                    <td class="col-md-4">
                        <h6><b>Inputs</b></h6>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <ul class="index-list">
                            <li>
                                <a href="#control">control</a>
                            </li>
                        </ul>
                    </td>
                </tr>




        </tbody>
    </table>
</section>

    <section>
    <h3 id="constructor">Constructor</h3>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
<code>constructor()</code>
                    </td>
                </tr>
                        <tr>
                            <td class="col-md-4">
                                <div class="io-line">Defined in <a href="" data-line="46" class="link-to-prism">src/app/shared/show-errors/show-errors.component.ts:46</a></div>
                            </td>
                        </tr>

            </tbody>
        </table>
</section>

    <section>
    <h3 id="inputs">Inputs</h3>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="control"></a>
                        <b>control</b>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <i>Type : </i>    <code>AbstractControlDirective | AbstractControl</code>

                    </td>
                </tr>
                        <tr>
                            <td class="col-md-2" colspan="2">
                                    <div class="io-line">Defined in <a href="" data-line="27" class="link-to-prism">src/app/shared/show-errors/show-errors.component.ts:27</a></div>
                            </td>
                        </tr>
            </tbody>
        </table>
</section>



    <section>
    
    <h3 id="methods">
        Methods
    </h3>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="getMessage"></a>
                    <span class="name">
                        <b>
                            <span class="modifier">Private</span>
                            getMessage
                        </b>
                        <a href="#getMessage"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
            <tr>
                <td class="col-md-4">
                    <span class="modifier-icon icon ion-ios-reset"></span>
                    <code>getMessage(type: <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/string" target="_blank">string</a>, params: <a href="https://www.typescriptlang.org/docs/handbook/basic-types.html" target="_blank">any</a>)</code>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">
                    <div class="io-line">Defined in <a href="" data-line="40"
                            class="link-to-prism">src/app/shared/show-errors/show-errors.component.ts:40</a></div>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">

                    <div class="io-description">
                        <b>Parameters :</b>
                        <table class="params">
                            <thead>
                                <tr>
                                    <td>Name</td>
                                    <td>Type</td>
                                    <td>Optional</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>type</td>
                                    <td>
                                                <code><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/string" target="_blank" >string</a></code>
                                    </td>

                                    <td>
                                        No
                                    </td>


                                </tr>
                                <tr>
                                    <td>params</td>
                                    <td>
                                                <code><a href="https://www.typescriptlang.org/docs/handbook/basic-types.html" target="_blank" >any</a></code>
                                    </td>

                                    <td>
                                        No
                                    </td>


                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div>
                    </div>
                    <div class="io-description">
                        <b>Returns : </b>        <code><a href="https://www.typescriptlang.org/docs/handbook/basic-types.html" target="_blank" >any</a></code>

                    </div>
                    <div class="io-description">
                        
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="listOfErrors"></a>
                    <span class="name">
                        <b>
                            listOfErrors
                        </b>
                        <a href="#listOfErrors"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
            <tr>
                <td class="col-md-4">
<code>listOfErrors()</code>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">
                    <div class="io-line">Defined in <a href="" data-line="35"
                            class="link-to-prism">src/app/shared/show-errors/show-errors.component.ts:35</a></div>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">

                    <div class="io-description">
                        <b>Returns : </b>    <code>string[]</code>

                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="ngOnInit"></a>
                    <span class="name">
                        <b>
                            ngOnInit
                        </b>
                        <a href="#ngOnInit"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
            <tr>
                <td class="col-md-4">
<code>ngOnInit()</code>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">
                    <div class="io-line">Defined in <a href="" data-line="50"
                            class="link-to-prism">src/app/shared/show-errors/show-errors.component.ts:50</a></div>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">

                    <div class="io-description">
                        <b>Returns : </b>        <code><a href="https://www.typescriptlang.org/docs/handbook/basic-types.html" target="_blank" >void</a></code>

                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="shouldShowErrors"></a>
                    <span class="name">
                        <b>
                            shouldShowErrors
                        </b>
                        <a href="#shouldShowErrors"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
            <tr>
                <td class="col-md-4">
<code>shouldShowErrors()</code>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">
                    <div class="io-line">Defined in <a href="" data-line="29"
                            class="link-to-prism">src/app/shared/show-errors/show-errors.component.ts:29</a></div>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">

                    <div class="io-description">
                        <b>Returns : </b>        <code><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/boolean" target="_blank" >boolean</a></code>

                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</section>
    <section>
    
        <h3 id="inputs">
            Properties
        </h3>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="errorMessages"></a>
                        <span class="name">
                            <b>
                                <span class="modifier">Private</span>
                                <span class="modifier">Static</span>
                                <span class="modifier">Readonly</span>
                            errorMessages</b>
                            <a href="#errorMessages"><span class="icon ion-ios-link"></span></a>
                        </span>
                    </td>
                </tr>
                    <tr>
                        <td class="col-md-4">
                            <i>Type : </i>        <code><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/object" target="_blank" >object</a></code>

                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-4">
                            <i>Default value : </i><code>{
    &#x27;required&#x27;: () &#x3D;&gt; &#x27;Campo richiesto&#x27;,
    &#x27;minlength&#x27;: (params) &#x3D;&gt; &#x27;Numero minimo di caratteri è &#x27; + params.requiredLength,
    &#x27;maxlength&#x27;: (params) &#x3D;&gt; &#x27;Numero massimo di caratteri ammessi è &#x27; + params.requiredLength,
    &#x27;pattern&#x27;: (params) &#x3D;&gt; &#x27;Il formato richiesto è &#x27; + params.requiredPattern,
    &#x27;years&#x27;: (params) &#x3D;&gt; params.message,
    &#x27;countryCity&#x27;: (params) &#x3D;&gt; params.message,
    &#x27;uniqueName&#x27;: (params) &#x3D;&gt; params.message,
    &#x27;telephoneNumbers&#x27;: (params) &#x3D;&gt; params.message,
    &#x27;telephoneNumber&#x27;: (params) &#x3D;&gt; params.message
  }</code>
                        </td>
                    </tr>
                        <tr>
                            <td class="col-md-4">
                                    <div class="io-line">Defined in <a href="" data-line="14" class="link-to-prism">src/app/shared/show-errors/show-errors.component.ts:14</a></div>
                            </td>
                        </tr>


            </tbody>
        </table>
</section>

</div>


    <div class="tab-pane fade  tab-source-code" id="c-source">
        <pre class="line-numbers compodoc-sourcecode"><code class="language-typescript">import { Component, OnInit, Input } from &#x27;@angular/core&#x27;;
import { AbstractControlDirective, AbstractControl } from &#x27;@angular/forms&#x27;;
/* Componenete per la visualizzazione degli errori  */
@Component({
  selector: &#x27;app-show-errors&#x27;,
  template: &#x60;
  &lt;div *ngIf&#x3D;&quot;shouldShowErrors()&quot;&gt;
    &lt;span class&#x3D;&quot;small form-text text-danger&quot; *ngFor&#x3D;&quot;let error of listOfErrors()&quot;&gt;{{error}}&lt;/span&gt;
  &lt;/div&gt;
  &#x60;,
})
export class ShowErrorsComponent implements OnInit {

  private static readonly errorMessages &#x3D; {
    &#x27;required&#x27;: () &#x3D;&gt; &#x27;Campo richiesto&#x27;,
    &#x27;minlength&#x27;: (params) &#x3D;&gt; &#x27;Numero minimo di caratteri è &#x27; + params.requiredLength,
    &#x27;maxlength&#x27;: (params) &#x3D;&gt; &#x27;Numero massimo di caratteri ammessi è &#x27; + params.requiredLength,
    &#x27;pattern&#x27;: (params) &#x3D;&gt; &#x27;Il formato richiesto è &#x27; + params.requiredPattern,
    &#x27;years&#x27;: (params) &#x3D;&gt; params.message,
    &#x27;countryCity&#x27;: (params) &#x3D;&gt; params.message,
    &#x27;uniqueName&#x27;: (params) &#x3D;&gt; params.message,
    &#x27;telephoneNumbers&#x27;: (params) &#x3D;&gt; params.message,
    &#x27;telephoneNumber&#x27;: (params) &#x3D;&gt; params.message
  };

  @Input()
  private control: AbstractControlDirective | AbstractControl;
 
  shouldShowErrors(): boolean {
    return this.control &amp;&amp;
      this.control.errors &amp;&amp;
      (this.control.dirty || this.control.touched);
  }

  listOfErrors(): string[] {
    return Object.keys(this.control.errors)
      .map(field &#x3D;&gt; this.getMessage(field, this.control.errors[field]));
  }
 
  private getMessage(type: string, params: any) {
    if (Object.keys(ShowErrorsComponent.errorMessages).includes(type))
      return ShowErrorsComponent.errorMessages[type](params);
    else{
      console.log(type);
    }
  } 

  constructor() { }

  ngOnInit() {
  }

}
</code></pre>
    </div>



    <div class="tab-pane fade " id="c-tree">
        <div id="tree-container"></div>
        <div class="tree-legend">
            <div class="title">
                <b>Legend</b>
            </div>
            <div>
                <div class="color htmlelement"></div><span>Html element</span>
            </div>
            <div>
                <div class="color component"></div><span>Component</span>
            </div>
            <div>
                <div class="color directive"></div><span>Html element with directive</span>
            </div>
        </div>
    </div>

    
</div>

<script src="../js/libs/vis.min.js"></script>
<script src="../js/libs/htmlparser.js"></script>
<script src="../js/libs/deep-iterator.js"></script>
<script>
        var COMPONENT_TEMPLATE = '<div><div *ngIf="shouldShowErrors()">  <span class="small form-text text-danger" *ngFor="let error of listOfErrors()">{{error}}</span></div></div>'
    var COMPONENTS = [{'name': 'AccordionInfoWrapperComponent', 'selector': 'formly-wrapper-accordioninfo'},{'name': 'AccordionWrapperComponent', 'selector': 'formly-wrapper-accordion'},{'name': 'AllegatiComponent', 'selector': 'app-allegati'},{'name': 'AppComponent', 'selector': 'app-root'},{'name': 'ApprovazionedetailsComponent', 'selector': 'app-approvazionedetails'},{'name': 'AssignmentDetailPageComponent', 'selector': 'app-assignment-detail-page'},{'name': 'AziendaLocComponent', 'selector': 'app-aziendaloc'},{'name': 'AziendeLocComponent', 'selector': 'app-aziendeloc'},{'name': 'BaseEntityComponent', 'selector': ''},{'name': 'BaseResearchComponent', 'selector': ''},{'name': 'BlankComponent', 'selector': 'app-blank-layout'},{'name': 'BolloRepertoriazioneComponent', 'selector': 'app-bollorepertoriazione'},{'name': 'BreadcrumbComponent', 'selector': 'app-breadcrumb'},{'name': 'ClassificazioneComponent', 'selector': 'app-classificazione'},{'name': 'ClassificazioniComponent', 'selector': 'app-classificazioni'},{'name': 'CollapseWrapperComponent', 'selector': 'app-collapse-wrapper'},{'name': 'ConfirmationDialogComponent', 'selector': 'app-confirmation-dialog'},{'name': 'ControlGenericListComponent', 'selector': 'app-control-generic-list'},{'name': 'ConvenzioneComponent', 'selector': 'app-convenzione'},{'name': 'ConvenzionedetailsComponent', 'selector': 'app-convenzionedetails'},{'name': 'ConvenzioniComponent', 'selector': 'app-convenzionis'},{'name': 'ConvenzioniresultComponent', 'selector': 'app-convenzioniresult'},{'name': 'ConvvalidationComponent', 'selector': 'app-convvalidation'},{'name': 'Dashboard1Component', 'selector': ''},{'name': 'Dashboard2Component', 'selector': ''},{'name': 'DatepickerTypeComponent', 'selector': 'app-datapicker-type'},{'name': 'DocumentiTitulus', 'selector': 'app-documenti'},{'name': 'DynamicFormComponent', 'selector': 'app-dynamic-form'},{'name': 'DynamicTableComponent', 'selector': 'app-grid'},{'name': 'EmissioneComponent', 'selector': 'app-emissione'},{'name': 'EsecuzionedetailsComponent', 'selector': 'app-esecuzionedetails'},{'name': 'ExternalobjTypeComponent', 'selector': 'formly-field-ext'},{'name': 'ExternalqueryComponent', 'selector': 'app-externalquery'},{'name': 'ExternalTypeComponent', 'selector': 'app-external-type'},{'name': 'FaseWrapperComponent', 'selector': 'app-fase-wrapper'},{'name': 'FirmaControparteComponent', 'selector': 'app-firmacontroparte'},{'name': 'FirmaDirettoreComponent', 'selector': 'app-firmadirettore'},{'name': 'FormInfraComponent', 'selector': 'app-form-infra'},{'name': 'FormlyFieldButton', 'selector': 'formly-field-button'},{'name': 'FormlyFieldTemplate', 'selector': 'formly-template'},{'name': 'FormlyFieldTypeahead', 'selector': 'formly-field-typeahead'},{'name': 'FormlyHorizontalWrapper', 'selector': 'formly-horizontal-wrapper'},{'name': 'FullComponent', 'selector': 'app-full-layout'},{'name': 'GenericTypeComponent', 'selector': 'app-generic-type'},{'name': 'GridFormlyCellComponent', 'selector': 'formly-ag-grid-cell'},{'name': 'GridTypeComponent', 'selector': 'formly-field-grid'},{'name': 'HomeComponent', 'selector': 'app-home'},{'name': 'InfocardComponent', 'selector': 'app-info-card'},{'name': 'InputFileComponent', 'selector': 'app-input-file'},{'name': 'InvioRichiestaPagamentoComponent', 'selector': 'app-inviorichiestapagamento'},{'name': 'LogAttivitaComponent', 'selector': 'app-logattivita'},{'name': 'LookupComponent', 'selector': 'app-lookup'},{'name': 'MappingRuoli', 'selector': 'app-mappingruoli'},{'name': 'MappingRuolo', 'selector': 'app-ruolo'},{'name': 'MappingUfficioTitulus', 'selector': 'app-mappingufficio'},{'name': 'MappingUfficiTitulus', 'selector': 'app-mappinguffici'},{'name': 'MessageComponent', 'selector': 'app-message'},{'name': 'MultistepSchematipoComponent', 'selector': 'app-multistep-schematipo'},{'name': 'NavigationComponent', 'selector': 'app-navigation'},{'name': 'NavstepperWrapperComponent', 'selector': 'app-navstepper-wrapper'},{'name': 'NotFoundComponent', 'selector': 'notfound'},{'name': 'NotificationsComponent', 'selector': 'app-notifications'},{'name': 'PagamentoComponent', 'selector': 'app-pagamento'},{'name': 'PanelWrapperComponent', 'selector': 'formly-wrapper-panel'},{'name': 'PdfInfraComponent', 'selector': 'app-pdf-infra'},{'name': 'PdfTypeComponent', 'selector': 'app-pdf-type'},{'name': 'PdfTypeInputComponent', 'selector': 'app-pdf-type-input'},{'name': 'PermissionComponent', 'selector': 'app-permission'},{'name': 'PermissionsComponent', 'selector': 'app-permissions'},{'name': 'PersoneinterneTitulus', 'selector': 'app-personeinterne'},{'name': 'QueryBuilderComponent', 'selector': 'app-query-builder'},{'name': 'RangedetailsComponent', 'selector': 'app-rangedetails'},{'name': 'RepeatTypeComponent', 'selector': 'formly-repeat-section'},{'name': 'RepertoriazionedetailsComponent', 'selector': 'app-repertoriazionedetails'},{'name': 'RichiestaEmissioneComponent', 'selector': 'app-richiestaemissione'},{'name': 'RightaddonsWrapperComponent', 'selector': 'formly-wrapper-rightaddons'},{'name': 'RoleComponent', 'selector': 'app-role'},{'name': 'RolesComponent', 'selector': 'app-roles'},{'name': 'ScadenzaComponent', 'selector': 'app-scadenza'},{'name': 'ScadenzeComponent', 'selector': 'app-scadenze'},{'name': 'ScadenzedetailsComponent', 'selector': 'app-scadenzedetails'},{'name': 'ScadenzeresultComponent', 'selector': 'app-scadenzeresult'},{'name': 'SelectTypeComponent', 'selector': 'app-select-type'},{'name': 'ShowErrorsComponent', 'selector': 'app-show-errors'},{'name': 'SidebarComponent', 'selector': 'app-sidebar'},{'name': 'SottoscrizioneComponent', 'selector': 'app-sottoscrizione'},{'name': 'SottoscrizionedetailsComponent', 'selector': 'app-sottoscrizionedetails'},{'name': 'StruttureEsterneTitulus', 'selector': 'app-struttureinterne'},{'name': 'StruttureInterneTitulus', 'selector': 'app-struttureinterne'},{'name': 'SystemErrorComponent', 'selector': 'systemerror'},{'name': 'TableGroupTypeComponent', 'selector': 'app-tablegroup-type'},{'name': 'TableLookupTypeComponent', 'selector': 'app-tablelookup-type'},{'name': 'TableTypeComponent', 'selector': 'app-table-type'},{'name': 'TabTypeComponent', 'selector': 'app-tab-type'},{'name': 'TaskComponent', 'selector': 'app-task'},{'name': 'TaskListComponent', 'selector': 'app-tasklist'},{'name': 'TasksComponent', 'selector': 'app-tasks'},{'name': 'TestTabComponent', 'selector': 'app-test-tab'},{'name': 'TipoPagamentiComponent', 'selector': 'app-tipopagamenti'},{'name': 'TipoPagamentoComponent', 'selector': 'app-tipopagamento'},{'name': 'TooltipWrapperComponent', 'selector': 'formly-wrapper-tooltip'},{'name': 'UploadfileComponent', 'selector': 'app-uploadfile'},{'name': 'UserComponent', 'selector': 'app-user'},{'name': 'UserLoginComponent', 'selector': 'app-user-login'},{'name': 'UsersComponent', 'selector': 'app-users'},{'name': 'UserTaskDetailComponent', 'selector': 'app-user-task-detail'}];
    var DIRECTIVES = [];
    var ACTUAL_COMPONENT = {'name': 'ShowErrorsComponent'};
</script>
<script src="../js/tree.js"></script>










                   




                   </div><div class="search-results">
    <div class="has-results">
        <h1 class="search-results-title"><span class='search-results-count'></span> result-matching "<span class='search-query'></span>"</h1>
        <ul class="search-results-list"></ul>
    </div>
    <div class="no-results">
        <h1 class="search-results-title">No results matching "<span class='search-query'></span>"</h1>
    </div>
</div>
</div>
               <!-- END CONTENT -->
           </div>
       </div>

       <script>
            var COMPODOC_CURRENT_PAGE_DEPTH = 1;
            var COMPODOC_CURRENT_PAGE_CONTEXT = 'component';
            var COMPODOC_CURRENT_PAGE_URL = 'ShowErrorsComponent.html';
       </script>

       <script src="../js/libs/custom-elements.min.js"></script>
       <script src="../js/libs/lit-html.js"></script>
       <!-- Required to polyfill modern browsers as code is ES5 for IE... -->
       <script src="../js/libs/custom-elements-es5-adapter.js" charset="utf-8" defer></script>
       <script src="../js/menu-wc.js" defer></script>

       <script src="../js/libs/bootstrap-native.js"></script>

       <script src="../js/libs/es6-shim.min.js"></script>
       <script src="../js/libs/EventDispatcher.js"></script>
       <script src="../js/libs/promise.min.js"></script>
       <script src="../js/libs/zepto.min.js"></script>

       <script src="../js/compodoc.js"></script>

       <script src="../js/tabs.js"></script>
       <script src="../js/menu.js"></script>
       <script src="../js/libs/clipboard.min.js"></script>
       <script src="../js/libs/prism.js"></script>
       <script src="../js/sourceCode.js"></script>
          <script src="../js/search/search.js"></script>
          <script src="../js/search/lunr.min.js"></script>
          <script src="../js/search/search-lunr.js"></script>
          <script src="../js/search/search_index.js"></script>
       <script src="../js/lazy-load-graphs.js"></script>


    </body>
</html>
