<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>UniConv app documentation</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="icon" type="image/x-icon" href="../images/favicon.ico">
	      <link rel="stylesheet" href="../styles/style.css">
    </head>
    <body>

        <div class="navbar navbar-default navbar-fixed-top visible-xs">
            <a href="../" class="navbar-brand">UniConv app documentation</a>
            <button type="button" class="btn btn-default btn-menu ion-ios-menu" id="btn-menu"></button>
        </div>

        <div class="xs-menu menu" id="mobile-menu">
                <div id="book-search-input" role="search"><input type="text" placeholder="Type to search"></div>            <compodoc-menu></compodoc-menu>
        </div>

        <div class="container-fluid main">
           <div class="row main">
               <div class="hidden-xs menu">
                   <compodoc-menu mode="normal"></compodoc-menu>
               </div>
               <!-- START CONTENT -->
               <div class="content component">
                   <div class="content-data">




<ol class="breadcrumb">
  <li>Components</li>
  <li>TableTypeComponent</li>
</ol>

<ul class="nav nav-tabs" role="tablist">
        <li class="active">
            <a href="#info" role="tab" id="info-tab" data-toggle="tab" data-link="info">Info</a>
        </li>
        <li >
            <a href="#source" role="tab" id="source-tab" data-toggle="tab" data-link="source">Source</a>
        </li>
        <li >
            <a href="#tree" role="tab" id="tree-tab" data-toggle="tab" data-link="dom-tree">DOM Tree</a>
        </li>
</ul>

<div class="tab-content">
    <div class="tab-pane fade active in" id="c-info"><p class="comment">
    <h3>File</h3>
</p>
<p class="comment">
    <code>src/app/shared/dynamic-form/table-type.component.ts</code>
</p>


    <p class="comment">
        <h3>Extends</h3>
    </p>
    <p class="comment">
                <code><a href="../interfaces/Field.html" target="_self" >FieldArrayType</a></code>
    </p>



<section>
    <h3>Metadata</h3>
    <table class="table table-sm table-hover">
        <tbody>











            <tr>
                <td class="col-md-3">selector</td>
                <td class="col-md-9"><code>app-table-type</code></td>
            </tr>



            <tr>
                <td class="col-md-3">template</td>
                <td class="col-md-9"><pre class="line-numbers"><code class="language-html">  &lt;div class&#x3D;&quot;btn-toolbar mb-2&quot; role&#x3D;&quot;toolbar&quot; *ngIf&#x3D;&quot;!to.hidetoolbar&quot;&gt;
    &lt;div class&#x3D;&quot;btn-group btn-group-sm&quot;&gt;
        &lt;button type&#x3D;&quot;button&quot; class&#x3D;&quot;btn btn-outline-primary border-0 rounded-0&quot; (click)&#x3D;&quot;addFirst()&quot;  &gt;
            &lt;span class&#x3D;&quot;oi oi-plus&quot;&gt;&lt;/span&gt;
            &lt;span class&#x3D;&quot;ml-2&quot;&gt;Aggiungi&lt;/span&gt;
        &lt;/button&gt;
        &lt;button type&#x3D;&quot;button&quot; class&#x3D;&quot;btn btn-outline-primary border-0 rounded-0&quot; [disabled]&#x3D;&quot;to.selected.length &#x3D;&#x3D; 0&quot; (click)&#x3D;&quot;removeSelected()&quot;  &gt;
            &lt;span class&#x3D;&quot;oi oi-trash&quot;&gt;&lt;/span&gt;
            &lt;span class&#x3D;&quot;ml-2&quot;&gt;Rimuovi&lt;/span&gt;
        &lt;/button&gt;
    &lt;/div&gt;
&lt;/div&gt;

&lt;ngx-datatable
  #table  class&#x3D;&quot;bootstrap&quot;
  [rows]&#x3D;&quot;model&quot;
  [columns]&#x3D;&quot;to.columns&quot;
  [columnMode]&#x3D;&quot;to.columnMode&quot;
  [rowHeight]&#x3D;&quot;to.rowHeight&quot;
  [headerHeight]&#x3D;&quot;to.headerHeight&quot;
  [footerHeight]&#x3D;&quot;to.footerHeight&quot;
  [limit]&#x3D;&quot;to.limit&quot;
  [scrollbarH]&#x3D;&quot;to.scrollbarH&quot;
  [reorderable]&#x3D;&quot;to.reorderable&quot;
  [externalSorting]&#x3D;&quot;true&quot;
  [selected]&#x3D;&quot;to.selected&quot;
  [selectionType]&#x3D;&quot;&#x27;single&#x27;&quot;
  (sort)&#x3D;&quot;onSort($event)&quot;
  (select)&#x3D;&#x27;onSelect($event)&#x27;
  (activate)&#x3D;&#x27;onEvents($event)&#x27;&gt;

  &lt;!-- Row Detail Template --&gt;
  &lt;ngx-datatable-row-detail
    [rowHeight]&#x3D;&quot;100&quot;
    #myDetailRow
    (toggle)&#x3D;&quot;onDetailToggle($event)&quot;
  &gt;
  &lt;/ngx-datatable-row-detail&gt;

&lt;/ngx-datatable&gt;

&lt;ng-template #defaultcolumn ngx-datatable-cell-template let-rowIndex&#x3D;&quot;rowIndex&quot; let-value&#x3D;&quot;value&quot; let-row&#x3D;&quot;row&quot; let-column&#x3D;&quot;column&quot; &gt;
&lt;formly-field [field]&#x3D;&quot;getField(field, column, rowIndex)&quot;&gt;&lt;/formly-field&gt;
&lt;/ng-template&gt;

&lt;ng-template #valuecolumn ngx-datatable-cell-template let-rowIndex&#x3D;&quot;rowIndex&quot; let-value&#x3D;&quot;value&quot; let-row&#x3D;&quot;row&quot; let-column&#x3D;&quot;column&quot; &gt;
{{ value }}
&lt;/ng-template&gt;


&lt;ng-template #expaderdetailcolumn let-row&#x3D;&quot;row&quot; let-expanded&#x3D;&quot;expanded&quot; ngx-datatable-cell-template&gt;
  &lt;div style&#x3D;&quot;padding-left:5px;&quot;&gt;
    &lt;a
      [class.datatable-icon-right]&#x3D;&quot;!expanded&quot;
      [class.datatable-icon-down]&#x3D;&quot;expanded&quot;
      title&#x3D;&quot;Expand/Collapse Row&quot;
      (click)&#x3D;&quot;toggleExpandRow(row)&quot;&gt;
    &lt;/a&gt;
  &lt;/div&gt;
&lt;/ng-template&gt;

</code></pre></td>
            </tr>









        </tbody>
    </table>
</section>

    <section>
    <h3 id="index">Index</h3>
    <table class="table table-sm table-bordered index-table">
        <tbody>
                <tr>
                    <td class="col-md-4">
                        <h6><b>Properties</b></h6>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <ul class="index-list">
                            <li>
                                <a href="#columns">columns</a>
                            </li>
                            <li>
                                    <span class="modifier">Public</span>
                                <a href="#defaultColumn">defaultColumn</a>
                            </li>
                            <li>
                                    <span class="modifier">Public</span>
                                <a href="#expaderdetailcolumn">expaderdetailcolumn</a>
                            </li>
                            <li>
                                <a href="#table">table</a>
                            </li>
                            <li>
                                    <span class="modifier">Public</span>
                                <a href="#valuecolumn">valuecolumn</a>
                            </li>
                        </ul>
                    </td>
                </tr>

                <tr>
                    <td class="col-md-4">
                        <h6><b>Methods</b></h6>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <ul class="index-list">
                            <li>
                                <a href="#addFirst">addFirst</a>
                            </li>
                            <li>
                                <a href="#getField">getField</a>
                            </li>
                            <li>
                                <a href="#getModel">getModel</a>
                            </li>
                            <li>
                                <a href="#ngDoCheck">ngDoCheck</a>
                            </li>
                            <li>
                                <a href="#ngOnInit">ngOnInit</a>
                            </li>
                            <li>
                                <a href="#onDetailToggle">onDetailToggle</a>
                            </li>
                            <li>
                                <a href="#onEvents">onEvents</a>
                            </li>
                            <li>
                                <a href="#onSelect">onSelect</a>
                            </li>
                            <li>
                                <a href="#onSort">onSort</a>
                            </li>
                            <li>
                                <a href="#removeSelected">removeSelected</a>
                            </li>
                            <li>
                                <a href="#toggleExpandRow">toggleExpandRow</a>
                            </li>
                        </ul>
                    </td>
                </tr>





        </tbody>
    </table>
</section>






    <section>
    
    <h3 id="methods">
        Methods
    </h3>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="addFirst"></a>
                    <span class="name">
                        <b>
                            addFirst
                        </b>
                        <a href="#addFirst"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
            <tr>
                <td class="col-md-4">
<code>addFirst()</code>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">
                    <div class="io-line">Defined in <a href="" data-line="189"
                            class="link-to-prism">src/app/shared/dynamic-form/table-type.component.ts:189</a></div>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">

                    <div class="io-description">
                        <b>Returns : </b>        <code><a href="https://www.typescriptlang.org/docs/handbook/basic-types.html" target="_blank" >void</a></code>

                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="getField"></a>
                    <span class="name">
                        <b>
                            getField
                        </b>
                        <a href="#getField"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
            <tr>
                <td class="col-md-4">
<code>getField(field: <a href="../interfaces/Field.html">FormlyFieldConfig</a>, column: TableColumn, rowIndex: <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/number" target="_blank">number</a>)</code>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">
                    <div class="io-line">Defined in <a href="" data-line="151"
                            class="link-to-prism">src/app/shared/dynamic-form/table-type.component.ts:151</a></div>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">

                    <div class="io-description">
                        <b>Parameters :</b>
                        <table class="params">
                            <thead>
                                <tr>
                                    <td>Name</td>
                                    <td>Type</td>
                                    <td>Optional</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>field</td>
                                    <td>
                                                <code><a href="../interfaces/Field.html" target="_self" >FormlyFieldConfig</a></code>
                                    </td>

                                    <td>
                                        No
                                    </td>


                                </tr>
                                <tr>
                                    <td>column</td>
                                    <td>
                                            <code>TableColumn</code>
                                    </td>

                                    <td>
                                        No
                                    </td>


                                </tr>
                                <tr>
                                    <td>rowIndex</td>
                                    <td>
                                                <code><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/number" target="_blank" >number</a></code>
                                    </td>

                                    <td>
                                        No
                                    </td>


                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div>
                    </div>
                    <div class="io-description">
                        <b>Returns : </b>        <code><a href="https://www.typescriptlang.org/docs/handbook/basic-types.html" target="_blank" >any</a></code>

                    </div>
                    <div class="io-description">
                        
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="getModel"></a>
                    <span class="name">
                        <b>
                            getModel
                        </b>
                        <a href="#getModel"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
            <tr>
                <td class="col-md-4">
<code>getModel(model, column: TableColumn, rowIndex)</code>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">
                    <div class="io-line">Defined in <a href="" data-line="156"
                            class="link-to-prism">src/app/shared/dynamic-form/table-type.component.ts:156</a></div>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">

                    <div class="io-description">
                        <b>Parameters :</b>
                        <table class="params">
                            <thead>
                                <tr>
                                    <td>Name</td>
                                    <td>Type</td>
                                    <td>Optional</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>model</td>
                                    <td>
                                    </td>

                                    <td>
                                        No
                                    </td>


                                </tr>
                                <tr>
                                    <td>column</td>
                                    <td>
                                            <code>TableColumn</code>
                                    </td>

                                    <td>
                                        No
                                    </td>


                                </tr>
                                <tr>
                                    <td>rowIndex</td>
                                    <td>
                                    </td>

                                    <td>
                                        No
                                    </td>


                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div>
                    </div>
                    <div class="io-description">
                        <b>Returns : </b>        <code><a href="https://www.typescriptlang.org/docs/handbook/basic-types.html" target="_blank" >any</a></code>

                    </div>
                    <div class="io-description">
                        
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="ngDoCheck"></a>
                    <span class="name">
                        <b>
                            ngDoCheck
                        </b>
                        <a href="#ngDoCheck"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
            <tr>
                <td class="col-md-4">
<code>ngDoCheck()</code>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">
                    <div class="io-line">Defined in <a href="" data-line="201"
                            class="link-to-prism">src/app/shared/dynamic-form/table-type.component.ts:201</a></div>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">

                    <div class="io-description">
                        <b>Returns : </b>        <code><a href="https://www.typescriptlang.org/docs/handbook/basic-types.html" target="_blank" >void</a></code>

                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="ngOnInit"></a>
                    <span class="name">
                        <b>
                            ngOnInit
                        </b>
                        <a href="#ngOnInit"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
            <tr>
                <td class="col-md-4">
<code>ngOnInit()</code>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">
                    <div class="io-line">Defined in <a href="" data-line="86"
                            class="link-to-prism">src/app/shared/dynamic-form/table-type.component.ts:86</a></div>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">

                    <div class="io-description">
                        <b>Returns : </b>        <code><a href="https://www.typescriptlang.org/docs/handbook/basic-types.html" target="_blank" >void</a></code>

                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="onDetailToggle"></a>
                    <span class="name">
                        <b>
                            onDetailToggle
                        </b>
                        <a href="#onDetailToggle"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
            <tr>
                <td class="col-md-4">
<code>onDetailToggle(event)</code>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">
                    <div class="io-line">Defined in <a href="" data-line="209"
                            class="link-to-prism">src/app/shared/dynamic-form/table-type.component.ts:209</a></div>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">

                    <div class="io-description">
                        <b>Parameters :</b>
                        <table class="params">
                            <thead>
                                <tr>
                                    <td>Name</td>
                                    <td>Optional</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>event</td>

                                    <td>
                                        No
                                    </td>


                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div>
                    </div>
                    <div class="io-description">
                        <b>Returns : </b>        <code><a href="https://www.typescriptlang.org/docs/handbook/basic-types.html" target="_blank" >void</a></code>

                    </div>
                    <div class="io-description">
                        
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="onEvents"></a>
                    <span class="name">
                        <b>
                            onEvents
                        </b>
                        <a href="#onEvents"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
            <tr>
                <td class="col-md-4">
<code>onEvents(event)</code>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">
                    <div class="io-line">Defined in <a href="" data-line="182"
                            class="link-to-prism">src/app/shared/dynamic-form/table-type.component.ts:182</a></div>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">

                    <div class="io-description">
                        <b>Parameters :</b>
                        <table class="params">
                            <thead>
                                <tr>
                                    <td>Name</td>
                                    <td>Optional</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>event</td>

                                    <td>
                                        No
                                    </td>


                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div>
                    </div>
                    <div class="io-description">
                        <b>Returns : </b>        <code><a href="https://www.typescriptlang.org/docs/handbook/basic-types.html" target="_blank" >void</a></code>

                    </div>
                    <div class="io-description">
                        
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="onSelect"></a>
                    <span class="name">
                        <b>
                            onSelect
                        </b>
                        <a href="#onSelect"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
            <tr>
                <td class="col-md-4">
<code>onSelect(selected)</code>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">
                    <div class="io-line">Defined in <a href="" data-line="175"
                            class="link-to-prism">src/app/shared/dynamic-form/table-type.component.ts:175</a></div>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">

                    <div class="io-description">
                        <b>Parameters :</b>
                        <table class="params">
                            <thead>
                                <tr>
                                    <td>Name</td>
                                    <td>Optional</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>selected</td>

                                    <td>
                                        No
                                    </td>


                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div>
                    </div>
                    <div class="io-description">
                        <b>Returns : </b>        <code><a href="https://www.typescriptlang.org/docs/handbook/basic-types.html" target="_blank" >void</a></code>

                    </div>
                    <div class="io-description">
                        
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="onSort"></a>
                    <span class="name">
                        <b>
                            onSort
                        </b>
                        <a href="#onSort"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
            <tr>
                <td class="col-md-4">
<code>onSort(event)</code>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">
                    <div class="io-line">Defined in <a href="" data-line="160"
                            class="link-to-prism">src/app/shared/dynamic-form/table-type.component.ts:160</a></div>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">

                    <div class="io-description">
                        <b>Parameters :</b>
                        <table class="params">
                            <thead>
                                <tr>
                                    <td>Name</td>
                                    <td>Optional</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>event</td>

                                    <td>
                                        No
                                    </td>


                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div>
                    </div>
                    <div class="io-description">
                        <b>Returns : </b>        <code><a href="https://www.typescriptlang.org/docs/handbook/basic-types.html" target="_blank" >void</a></code>

                    </div>
                    <div class="io-description">
                        
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="removeSelected"></a>
                    <span class="name">
                        <b>
                            removeSelected
                        </b>
                        <a href="#removeSelected"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
            <tr>
                <td class="col-md-4">
<code>removeSelected()</code>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">
                    <div class="io-line">Defined in <a href="" data-line="194"
                            class="link-to-prism">src/app/shared/dynamic-form/table-type.component.ts:194</a></div>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">

                    <div class="io-description">
                        <b>Returns : </b>        <code><a href="https://www.typescriptlang.org/docs/handbook/basic-types.html" target="_blank" >void</a></code>

                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="toggleExpandRow"></a>
                    <span class="name">
                        <b>
                            toggleExpandRow
                        </b>
                        <a href="#toggleExpandRow"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
            <tr>
                <td class="col-md-4">
<code>toggleExpandRow(row)</code>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">
                    <div class="io-line">Defined in <a href="" data-line="213"
                            class="link-to-prism">src/app/shared/dynamic-form/table-type.component.ts:213</a></div>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">

                    <div class="io-description">
                        <b>Parameters :</b>
                        <table class="params">
                            <thead>
                                <tr>
                                    <td>Name</td>
                                    <td>Optional</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>row</td>

                                    <td>
                                        No
                                    </td>


                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div>
                    </div>
                    <div class="io-description">
                        <b>Returns : </b>        <code><a href="https://www.typescriptlang.org/docs/handbook/basic-types.html" target="_blank" >void</a></code>

                    </div>
                    <div class="io-description">
                        
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</section>
    <section>
    
        <h3 id="inputs">
            Properties
        </h3>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="columns"></a>
                        <span class="name">
                            <b>
                            columns</b>
                            <a href="#columns"><span class="icon ion-ios-link"></span></a>
                        </span>
                    </td>
                </tr>
                    <tr>
                        <td class="col-md-4">
                            <i>Type : </i>    <code>TableColumn[]</code>

                        </td>
                    </tr>
                        <tr>
                            <td class="col-md-4">
                                    <div class="io-line">Defined in <a href="" data-line="83" class="link-to-prism">src/app/shared/dynamic-form/table-type.component.ts:83</a></div>
                            </td>
                        </tr>


            </tbody>
        </table>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="defaultColumn"></a>
                        <span class="name">
                            <b>
                                <span class="modifier">Public</span>
                            defaultColumn</b>
                            <a href="#defaultColumn"><span class="icon ion-ios-link"></span></a>
                        </span>
                    </td>
                </tr>
                    <tr>
                        <td class="col-md-4">
                            <i>Type : </i>    <code>TemplateRef&lt;any&gt;</code>

                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-4">
                            <b>Decorators : </b>
                            <br />
                            <code>
                                @ViewChild(&#x27;defaultcolumn&#x27;)<br />
                            </code>
                        </td>
                    </tr>
                        <tr>
                            <td class="col-md-4">
                                    <div class="io-line">Defined in <a href="" data-line="78" class="link-to-prism">src/app/shared/dynamic-form/table-type.component.ts:78</a></div>
                            </td>
                        </tr>


            </tbody>
        </table>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="expaderdetailcolumn"></a>
                        <span class="name">
                            <b>
                                <span class="modifier">Public</span>
                            expaderdetailcolumn</b>
                            <a href="#expaderdetailcolumn"><span class="icon ion-ios-link"></span></a>
                        </span>
                    </td>
                </tr>
                    <tr>
                        <td class="col-md-4">
                            <i>Type : </i>    <code>TemplateRef&lt;any&gt;</code>

                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-4">
                            <b>Decorators : </b>
                            <br />
                            <code>
                                @ViewChild(&#x27;expaderdetailcolumn&#x27;)<br />
                            </code>
                        </td>
                    </tr>
                        <tr>
                            <td class="col-md-4">
                                    <div class="io-line">Defined in <a href="" data-line="80" class="link-to-prism">src/app/shared/dynamic-form/table-type.component.ts:80</a></div>
                            </td>
                        </tr>


            </tbody>
        </table>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="table"></a>
                        <span class="name">
                            <b>
                            table</b>
                            <a href="#table"><span class="icon ion-ios-link"></span></a>
                        </span>
                    </td>
                </tr>
                    <tr>
                        <td class="col-md-4">
                            <i>Type : </i>        <code><a href="https://www.typescriptlang.org/docs/handbook/basic-types.html" target="_blank" >any</a></code>

                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-4">
                            <b>Decorators : </b>
                            <br />
                            <code>
                                @ViewChild(&#x27;table&#x27;)<br />
                            </code>
                        </td>
                    </tr>
                        <tr>
                            <td class="col-md-4">
                                    <div class="io-line">Defined in <a href="" data-line="76" class="link-to-prism">src/app/shared/dynamic-form/table-type.component.ts:76</a></div>
                            </td>
                        </tr>


            </tbody>
        </table>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="valuecolumn"></a>
                        <span class="name">
                            <b>
                                <span class="modifier">Public</span>
                            valuecolumn</b>
                            <a href="#valuecolumn"><span class="icon ion-ios-link"></span></a>
                        </span>
                    </td>
                </tr>
                    <tr>
                        <td class="col-md-4">
                            <i>Type : </i>    <code>TemplateRef&lt;any&gt;</code>

                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-4">
                            <b>Decorators : </b>
                            <br />
                            <code>
                                @ViewChild(&#x27;valuecolumn&#x27;)<br />
                            </code>
                        </td>
                    </tr>
                        <tr>
                            <td class="col-md-4">
                                    <div class="io-line">Defined in <a href="" data-line="79" class="link-to-prism">src/app/shared/dynamic-form/table-type.component.ts:79</a></div>
                            </td>
                        </tr>


            </tbody>
        </table>
</section>

</div>


    <div class="tab-pane fade  tab-source-code" id="c-source">
        <pre class="line-numbers compodoc-sourcecode"><code class="language-typescript">import { Component, ViewChild, TemplateRef } from &#x27;@angular/core&#x27;;
import { FormlyFieldConfig, FieldArrayType } from &#x27;@ngx-formly/core&#x27;;
import { TableColumn } from &#x27;@swimlane/ngx-datatable/release/types&#x27;;


@Component({
  selector: &#x27;app-table-type&#x27;,
  template: &#x60;
  &lt;div class&#x3D;&quot;btn-toolbar mb-2&quot; role&#x3D;&quot;toolbar&quot; *ngIf&#x3D;&quot;!to.hidetoolbar&quot;&gt;
    &lt;div class&#x3D;&quot;btn-group btn-group-sm&quot;&gt;    
        &lt;button type&#x3D;&quot;button&quot; class&#x3D;&quot;btn btn-outline-primary border-0 rounded-0&quot; (click)&#x3D;&quot;addFirst()&quot;  &gt;              
            &lt;span class&#x3D;&quot;oi oi-plus&quot;&gt;&lt;/span&gt;
            &lt;span class&#x3D;&quot;ml-2&quot;&gt;Aggiungi&lt;/span&gt;
        &lt;/button&gt;    
        &lt;button type&#x3D;&quot;button&quot; class&#x3D;&quot;btn btn-outline-primary border-0 rounded-0&quot; [disabled]&#x3D;&quot;to.selected.length &#x3D;&#x3D; 0&quot; (click)&#x3D;&quot;removeSelected()&quot;  &gt;              
            &lt;span class&#x3D;&quot;oi oi-trash&quot;&gt;&lt;/span&gt;  
            &lt;span class&#x3D;&quot;ml-2&quot;&gt;Rimuovi&lt;/span&gt;
        &lt;/button&gt;
    &lt;/div&gt;
&lt;/div&gt;

&lt;ngx-datatable
  #table  class&#x3D;&quot;bootstrap&quot; 
  [rows]&#x3D;&quot;model&quot;
  [columns]&#x3D;&quot;to.columns&quot;
  [columnMode]&#x3D;&quot;to.columnMode&quot;
  [rowHeight]&#x3D;&quot;to.rowHeight&quot;   
  [headerHeight]&#x3D;&quot;to.headerHeight&quot;      
  [footerHeight]&#x3D;&quot;to.footerHeight&quot;
  [limit]&#x3D;&quot;to.limit&quot;  
  [scrollbarH]&#x3D;&quot;to.scrollbarH&quot;      
  [reorderable]&#x3D;&quot;to.reorderable&quot;    
  [externalSorting]&#x3D;&quot;true&quot;
  [selected]&#x3D;&quot;to.selected&quot;
  [selectionType]&#x3D;&quot;&#x27;single&#x27;&quot;
  (sort)&#x3D;&quot;onSort($event)&quot;
  (select)&#x3D;&#x27;onSelect($event)&#x27;
  (activate)&#x3D;&#x27;onEvents($event)&#x27;&gt;
  
  &lt;!-- Row Detail Template --&gt;
  &lt;ngx-datatable-row-detail
    [rowHeight]&#x3D;&quot;100&quot;
    #myDetailRow
    (toggle)&#x3D;&quot;onDetailToggle($event)&quot;
  &gt; 
  &lt;/ngx-datatable-row-detail&gt;

&lt;/ngx-datatable&gt;
  
&lt;ng-template #defaultcolumn ngx-datatable-cell-template let-rowIndex&#x3D;&quot;rowIndex&quot; let-value&#x3D;&quot;value&quot; let-row&#x3D;&quot;row&quot; let-column&#x3D;&quot;column&quot; &gt;
&lt;formly-field [field]&#x3D;&quot;getField(field, column, rowIndex)&quot;&gt;&lt;/formly-field&gt;
&lt;/ng-template&gt;  

&lt;ng-template #valuecolumn ngx-datatable-cell-template let-rowIndex&#x3D;&quot;rowIndex&quot; let-value&#x3D;&quot;value&quot; let-row&#x3D;&quot;row&quot; let-column&#x3D;&quot;column&quot; &gt;
{{ value }}    
&lt;/ng-template&gt;  


&lt;ng-template #expaderdetailcolumn let-row&#x3D;&quot;row&quot; let-expanded&#x3D;&quot;expanded&quot; ngx-datatable-cell-template&gt;
  &lt;div style&#x3D;&quot;padding-left:5px;&quot;&gt;
    &lt;a    
      [class.datatable-icon-right]&#x3D;&quot;!expanded&quot;
      [class.datatable-icon-down]&#x3D;&quot;expanded&quot;
      title&#x3D;&quot;Expand/Collapse Row&quot;
      (click)&#x3D;&quot;toggleExpandRow(row)&quot;&gt;      
    &lt;/a&gt;                          
  &lt;/div&gt; 
&lt;/ng-template&gt;

&#x60;
})

// &lt;h1&gt;Model&lt;/h1&gt;
// &lt;pre&gt;{{ model | json }}&lt;/pre&gt;
export class TableTypeComponent extends FieldArrayType {  
  @ViewChild(&#x27;table&#x27;) table: any;

  @ViewChild(&#x27;defaultcolumn&#x27;) public defaultColumn: TemplateRef&lt;any&gt;;
  @ViewChild(&#x27;valuecolumn&#x27;) public valuecolumn: TemplateRef&lt;any&gt;;  
  @ViewChild(&#x27;expaderdetailcolumn&#x27;) public expaderdetailcolumn: TemplateRef&lt;any&gt;;  
    
  //descrizione delle colonne della tabella
  columns: TableColumn[];
  //selected &#x3D; [];

  ngOnInit() {    

    if(this.to.detailRow){
      this.table.rowDetail.template &#x3D; this.to.detailRow;
    }

    if (!(&#x27;selected&#x27; in this.to)){
      Object.defineProperty(this.to,&#x27;selected&#x27;,{
        enumerable: true,
        configurable: true,
        writable: true
      });
      this.to.selected&#x3D; [];
    }

    if (typeof this.to.columns !&#x3D;&#x3D; &#x27;undefined&#x27;){
      //configurazione basata sulla dichiarazione delle colonne nel json 
      // modalità implicità di costruzione delle colonne 
        // columns: [
        //   { name: &#x27;Id&#x27;, prop: &#x27;id&#x27;, width: 10},
        //   { name: &#x27;Nome utente&#x27;, prop: &#x27;name&#x27; },
        //   { name: &#x27;Email&#x27;, prop: &#x27;email&#x27; },
        // ],
      this.to.columns.forEach(column &#x3D;&gt;  { 
        if (column.cellTemplate &#x3D;&#x3D; undefined){
          column.cellTemplate &#x3D; this.defaultColumn; 
          if (column.wrapper){
            if (column.wrapper&#x3D;&#x3D;&#x27;value&#x27;)
              column.cellTemplate &#x3D; this.valuecolumn; 
          }                       
        }
        });

    } else{
      //costruzione dinamica delle colonne partendo dai campi aggiunta eventuali proprietà 
      //di colonna all&#x27;interno delle template option dei campi
      //
      this.to.columns &#x3D;  this.field.fieldArray.fieldGroup.map(el &#x3D;&gt; {      
        
        let c &#x3D; { 
          name: el.templateOptions.label, 
          prop: el.key,                                  
          cellTemplate: this.defaultColumn                  
        }
        el.templateOptions.label &#x3D; &quot;&quot;;
         
        if (&#x27;column&#x27; in el.templateOptions){
          //copio tutte le proprietà relativa alla colonna 
          Object.keys(el.templateOptions.column).forEach(prop &#x3D;&gt; {
            if (prop&#x3D;&#x3D;&#x27;cellTemplate&#x27;){
              c.cellTemplate &#x3D; this[el.templateOptions.column[prop]]
            }else{
              c[prop] &#x3D; el.templateOptions.column[prop]
            }
          }
          );
        }

        return c;
      });
      
    }   
    
  }

  getField( field: FormlyFieldConfig, column: TableColumn, rowIndex: number ) : any {         
    let result &#x3D; field.fieldGroup[rowIndex].fieldGroup.find(f &#x3D;&gt; f.key &#x3D;&#x3D;&#x3D; column.prop);
    return result;
  }

  getModel(model, column: TableColumn, rowIndex): any {
    return model[rowIndex];
  }

  onSort(event) {
    const sort &#x3D; event.sorts[0];
    this.model.sort((a , b) &#x3D;&gt; {   
        if (a[sort.prop] !&#x3D; null &amp;&amp; b[sort.prop] !&#x3D; null){             
          if (typeof a[sort.prop] &#x3D;&#x3D;&#x3D;  &quot;number&quot;){
              return (a[sort.prop]&gt;(b[sort.prop]) * (sort.dir &#x3D;&#x3D;&#x3D; &#x27;desc&#x27; ? -1 : 1));  
          }    
          return (a[sort.prop].localeCompare(b[sort.prop]) * (sort.dir &#x3D;&#x3D;&#x3D; &#x27;desc&#x27; ? -1 : 1));    
        }
    });          

    //this.formControl.reset();
    this.formControl.patchValue(this.model);   
  }

  onSelect(selected) {
      if (this.to.onSelected){
        this.to.onSelected(selected);
      } 
      //console.log(&#x27;Select Event&#x27;, selected, this.selected);
  }

  onEvents(event) {
    if (event.type &#x3D;&#x3D; &quot;dblclick&quot; &amp;&amp; typeof this.to.onDblclickRow !&#x3D;&#x3D; &quot;undefined&quot;){
      this.to.onDblclickRow(event);    
    }
  }


  addFirst(){    
    this.add();        
    this.formControl.markAsDirty();
  }

  removeSelected(){    
    let index &#x3D; this.model.indexOf(this.to.selected[0])
    this.remove(index);
    this.formControl.markAsDirty();
    this.to.selected &#x3D; [];       
  }

  ngDoCheck() {    

    //fix per la tabella di risultato query
    //let ma &#x3D; this.model as Array&lt;any&gt;;    
    //this.model &#x3D; ma.filter(x &#x3D;&gt; Object.keys(x).length !&#x3D;&#x3D; 0);    
     
  }

  onDetailToggle(event) {
    //console.log(&#x27;Detail Toggled&#x27;, event);
  }

  toggleExpandRow(row) {
    //console.log(&#x27;Toggled Expand Row!&#x27;, row);
    this.table.rowDetail.toggleExpandRow(row);
  }
}
</code></pre>
    </div>



    <div class="tab-pane fade " id="c-tree">
        <div id="tree-container"></div>
        <div class="tree-legend">
            <div class="title">
                <b>Legend</b>
            </div>
            <div>
                <div class="color htmlelement"></div><span>Html element</span>
            </div>
            <div>
                <div class="color component"></div><span>Component</span>
            </div>
            <div>
                <div class="color directive"></div><span>Html element with directive</span>
            </div>
        </div>
    </div>

    
</div>

<script src="../js/libs/vis.min.js"></script>
<script src="../js/libs/htmlparser.js"></script>
<script src="../js/libs/deep-iterator.js"></script>
<script>
        var COMPONENT_TEMPLATE = '<div>  <div class="btn-toolbar mb-2" role="toolbar" *ngIf="!to.hidetoolbar">    <div class="btn-group btn-group-sm">        <button type="button" class="btn btn-outline-primary border-0 rounded-0" (click)="addFirst()"  >            <span class="oi oi-plus"></span>            <span class="ml-2">Aggiungi</span>        </button>        <button type="button" class="btn btn-outline-primary border-0 rounded-0" [disabled]="to.selected.length == 0" (click)="removeSelected()"  >            <span class="oi oi-trash"></span>            <span class="ml-2">Rimuovi</span>        </button>    </div></div><ngx-datatable  #table  class="bootstrap"  [rows]="model"  [columns]="to.columns"  [columnMode]="to.columnMode"  [rowHeight]="to.rowHeight"  [headerHeight]="to.headerHeight"  [footerHeight]="to.footerHeight"  [limit]="to.limit"  [scrollbarH]="to.scrollbarH"  [reorderable]="to.reorderable"  [externalSorting]="true"  [selected]="to.selected"  [selectionType]="\'single\'"  (sort)="onSort($event)"  (select)=\'onSelect($event)\'  (activate)=\'onEvents($event)\'>  <!-- Row Detail Template -->  <ngx-datatable-row-detail    [rowHeight]="100"    #myDetailRow    (toggle)="onDetailToggle($event)"  >  </ngx-datatable-row-detail></ngx-datatable><ng-template #defaultcolumn ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row" let-column="column" ><formly-field [field]="getField(field, column, rowIndex)"></formly-field></ng-template><ng-template #valuecolumn ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row" let-column="column" >{{ value }}</ng-template><ng-template #expaderdetailcolumn let-row="row" let-expanded="expanded" ngx-datatable-cell-template>  <div style="padding-left:5px;">    <a      [class.datatable-icon-right]="!expanded"      [class.datatable-icon-down]="expanded"      title="Expand/Collapse Row"      (click)="toggleExpandRow(row)">    </a>  </div></ng-template></div>'
    var COMPONENTS = [{'name': 'AccordionInfoWrapperComponent', 'selector': 'formly-wrapper-accordioninfo'},{'name': 'AccordionWrapperComponent', 'selector': 'formly-wrapper-accordion'},{'name': 'AllegatiComponent', 'selector': 'app-allegati'},{'name': 'AppComponent', 'selector': 'app-root'},{'name': 'ApprovazionedetailsComponent', 'selector': 'app-approvazionedetails'},{'name': 'AssignmentDetailPageComponent', 'selector': 'app-assignment-detail-page'},{'name': 'AziendaLocComponent', 'selector': 'app-aziendaloc'},{'name': 'AziendeLocComponent', 'selector': 'app-aziendeloc'},{'name': 'BaseEntityComponent', 'selector': ''},{'name': 'BaseResearchComponent', 'selector': ''},{'name': 'BlankComponent', 'selector': 'app-blank-layout'},{'name': 'BolloRepertoriazioneComponent', 'selector': 'app-bollorepertoriazione'},{'name': 'BreadcrumbComponent', 'selector': 'app-breadcrumb'},{'name': 'ClassificazioneComponent', 'selector': 'app-classificazione'},{'name': 'ClassificazioniComponent', 'selector': 'app-classificazioni'},{'name': 'CollapseWrapperComponent', 'selector': 'app-collapse-wrapper'},{'name': 'ConfirmationDialogComponent', 'selector': 'app-confirmation-dialog'},{'name': 'ControlGenericListComponent', 'selector': 'app-control-generic-list'},{'name': 'ConvenzioneComponent', 'selector': 'app-convenzione'},{'name': 'ConvenzionedetailsComponent', 'selector': 'app-convenzionedetails'},{'name': 'ConvenzioniComponent', 'selector': 'app-convenzionis'},{'name': 'ConvenzioniresultComponent', 'selector': 'app-convenzioniresult'},{'name': 'ConvvalidationComponent', 'selector': 'app-convvalidation'},{'name': 'Dashboard1Component', 'selector': ''},{'name': 'Dashboard2Component', 'selector': ''},{'name': 'DatepickerTypeComponent', 'selector': 'app-datapicker-type'},{'name': 'DocumentiTitulus', 'selector': 'app-documenti'},{'name': 'DynamicFormComponent', 'selector': 'app-dynamic-form'},{'name': 'DynamicTableComponent', 'selector': 'app-grid'},{'name': 'EmissioneComponent', 'selector': 'app-emissione'},{'name': 'EsecuzionedetailsComponent', 'selector': 'app-esecuzionedetails'},{'name': 'ExternalobjTypeComponent', 'selector': 'formly-field-ext'},{'name': 'ExternalqueryComponent', 'selector': 'app-externalquery'},{'name': 'ExternalTypeComponent', 'selector': 'app-external-type'},{'name': 'FaseWrapperComponent', 'selector': 'app-fase-wrapper'},{'name': 'FirmaControparteComponent', 'selector': 'app-firmacontroparte'},{'name': 'FirmaDirettoreComponent', 'selector': 'app-firmadirettore'},{'name': 'FormInfraComponent', 'selector': 'app-form-infra'},{'name': 'FormlyFieldButton', 'selector': 'formly-field-button'},{'name': 'FormlyFieldTemplate', 'selector': 'formly-template'},{'name': 'FormlyFieldTypeahead', 'selector': 'formly-field-typeahead'},{'name': 'FormlyHorizontalWrapper', 'selector': 'formly-horizontal-wrapper'},{'name': 'FullComponent', 'selector': 'app-full-layout'},{'name': 'GenericTypeComponent', 'selector': 'app-generic-type'},{'name': 'GridFormlyCellComponent', 'selector': 'formly-ag-grid-cell'},{'name': 'GridTypeComponent', 'selector': 'formly-field-grid'},{'name': 'HomeComponent', 'selector': 'app-home'},{'name': 'InfocardComponent', 'selector': 'app-info-card'},{'name': 'InputFileComponent', 'selector': 'app-input-file'},{'name': 'InvioRichiestaPagamentoComponent', 'selector': 'app-inviorichiestapagamento'},{'name': 'LogAttivitaComponent', 'selector': 'app-logattivita'},{'name': 'LookupComponent', 'selector': 'app-lookup'},{'name': 'MappingRuoli', 'selector': 'app-mappingruoli'},{'name': 'MappingRuolo', 'selector': 'app-ruolo'},{'name': 'MappingUfficioTitulus', 'selector': 'app-mappingufficio'},{'name': 'MappingUfficiTitulus', 'selector': 'app-mappinguffici'},{'name': 'MessageComponent', 'selector': 'app-message'},{'name': 'MultistepSchematipoComponent', 'selector': 'app-multistep-schematipo'},{'name': 'NavigationComponent', 'selector': 'app-navigation'},{'name': 'NavstepperWrapperComponent', 'selector': 'app-navstepper-wrapper'},{'name': 'NotFoundComponent', 'selector': 'notfound'},{'name': 'NotificationsComponent', 'selector': 'app-notifications'},{'name': 'PagamentoComponent', 'selector': 'app-pagamento'},{'name': 'PanelWrapperComponent', 'selector': 'formly-wrapper-panel'},{'name': 'PdfInfraComponent', 'selector': 'app-pdf-infra'},{'name': 'PdfTypeComponent', 'selector': 'app-pdf-type'},{'name': 'PdfTypeInputComponent', 'selector': 'app-pdf-type-input'},{'name': 'PermissionComponent', 'selector': 'app-permission'},{'name': 'PermissionsComponent', 'selector': 'app-permissions'},{'name': 'PersoneinterneTitulus', 'selector': 'app-personeinterne'},{'name': 'QueryBuilderComponent', 'selector': 'app-query-builder'},{'name': 'RangedetailsComponent', 'selector': 'app-rangedetails'},{'name': 'RepeatTypeComponent', 'selector': 'formly-repeat-section'},{'name': 'RepertoriazionedetailsComponent', 'selector': 'app-repertoriazionedetails'},{'name': 'RichiestaEmissioneComponent', 'selector': 'app-richiestaemissione'},{'name': 'RightaddonsWrapperComponent', 'selector': 'formly-wrapper-rightaddons'},{'name': 'RoleComponent', 'selector': 'app-role'},{'name': 'RolesComponent', 'selector': 'app-roles'},{'name': 'ScadenzaComponent', 'selector': 'app-scadenza'},{'name': 'ScadenzeComponent', 'selector': 'app-scadenze'},{'name': 'ScadenzedetailsComponent', 'selector': 'app-scadenzedetails'},{'name': 'ScadenzeresultComponent', 'selector': 'app-scadenzeresult'},{'name': 'SelectTypeComponent', 'selector': 'app-select-type'},{'name': 'ShowErrorsComponent', 'selector': 'app-show-errors'},{'name': 'SidebarComponent', 'selector': 'app-sidebar'},{'name': 'SottoscrizioneComponent', 'selector': 'app-sottoscrizione'},{'name': 'SottoscrizionedetailsComponent', 'selector': 'app-sottoscrizionedetails'},{'name': 'StruttureEsterneTitulus', 'selector': 'app-struttureinterne'},{'name': 'StruttureInterneTitulus', 'selector': 'app-struttureinterne'},{'name': 'SystemErrorComponent', 'selector': 'systemerror'},{'name': 'TableGroupTypeComponent', 'selector': 'app-tablegroup-type'},{'name': 'TableLookupTypeComponent', 'selector': 'app-tablelookup-type'},{'name': 'TableTypeComponent', 'selector': 'app-table-type'},{'name': 'TabTypeComponent', 'selector': 'app-tab-type'},{'name': 'TaskComponent', 'selector': 'app-task'},{'name': 'TaskListComponent', 'selector': 'app-tasklist'},{'name': 'TasksComponent', 'selector': 'app-tasks'},{'name': 'TestTabComponent', 'selector': 'app-test-tab'},{'name': 'TipoPagamentiComponent', 'selector': 'app-tipopagamenti'},{'name': 'TipoPagamentoComponent', 'selector': 'app-tipopagamento'},{'name': 'TooltipWrapperComponent', 'selector': 'formly-wrapper-tooltip'},{'name': 'UploadfileComponent', 'selector': 'app-uploadfile'},{'name': 'UserComponent', 'selector': 'app-user'},{'name': 'UserLoginComponent', 'selector': 'app-user-login'},{'name': 'UsersComponent', 'selector': 'app-users'},{'name': 'UserTaskDetailComponent', 'selector': 'app-user-task-detail'}];
    var DIRECTIVES = [];
    var ACTUAL_COMPONENT = {'name': 'TableTypeComponent'};
</script>
<script src="../js/tree.js"></script>










                   




                   </div><div class="search-results">
    <div class="has-results">
        <h1 class="search-results-title"><span class='search-results-count'></span> result-matching "<span class='search-query'></span>"</h1>
        <ul class="search-results-list"></ul>
    </div>
    <div class="no-results">
        <h1 class="search-results-title">No results matching "<span class='search-query'></span>"</h1>
    </div>
</div>
</div>
               <!-- END CONTENT -->
           </div>
       </div>

       <script>
            var COMPODOC_CURRENT_PAGE_DEPTH = 1;
            var COMPODOC_CURRENT_PAGE_CONTEXT = 'component';
            var COMPODOC_CURRENT_PAGE_URL = 'TableTypeComponent.html';
       </script>

       <script src="../js/libs/custom-elements.min.js"></script>
       <script src="../js/libs/lit-html.js"></script>
       <!-- Required to polyfill modern browsers as code is ES5 for IE... -->
       <script src="../js/libs/custom-elements-es5-adapter.js" charset="utf-8" defer></script>
       <script src="../js/menu-wc.js" defer></script>

       <script src="../js/libs/bootstrap-native.js"></script>

       <script src="../js/libs/es6-shim.min.js"></script>
       <script src="../js/libs/EventDispatcher.js"></script>
       <script src="../js/libs/promise.min.js"></script>
       <script src="../js/libs/zepto.min.js"></script>

       <script src="../js/compodoc.js"></script>

       <script src="../js/tabs.js"></script>
       <script src="../js/menu.js"></script>
       <script src="../js/libs/clipboard.min.js"></script>
       <script src="../js/libs/prism.js"></script>
       <script src="../js/sourceCode.js"></script>
          <script src="../js/search/search.js"></script>
          <script src="../js/search/lunr.min.js"></script>
          <script src="../js/search/search-lunr.js"></script>
          <script src="../js/search/search_index.js"></script>
       <script src="../js/lazy-load-graphs.js"></script>


    </body>
</html>
