<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>UniConv app documentation</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="icon" type="image/x-icon" href="../images/favicon.ico">
	      <link rel="stylesheet" href="../styles/style.css">
    </head>
    <body>

        <div class="navbar navbar-default navbar-fixed-top visible-xs">
            <a href="../" class="navbar-brand">UniConv app documentation</a>
            <button type="button" class="btn btn-default btn-menu ion-ios-menu" id="btn-menu"></button>
        </div>

        <div class="xs-menu menu" id="mobile-menu">
                <div id="book-search-input" role="search"><input type="text" placeholder="Type to search"></div>            <compodoc-menu></compodoc-menu>
        </div>

        <div class="container-fluid main">
           <div class="row main">
               <div class="hidden-xs menu">
                   <compodoc-menu mode="normal"></compodoc-menu>
               </div>
               <!-- START CONTENT -->
               <div class="content component">
                   <div class="content-data">




<ol class="breadcrumb">
  <li>Components</li>
  <li>TableGroupTypeComponent</li>
</ol>

<ul class="nav nav-tabs" role="tablist">
        <li class="active">
            <a href="#info" role="tab" id="info-tab" data-toggle="tab" data-link="info">Info</a>
        </li>
        <li >
            <a href="#source" role="tab" id="source-tab" data-toggle="tab" data-link="source">Source</a>
        </li>
        <li >
            <a href="#tree" role="tab" id="tree-tab" data-toggle="tab" data-link="dom-tree">DOM Tree</a>
        </li>
</ul>

<div class="tab-content">
    <div class="tab-pane fade active in" id="c-info"><p class="comment">
    <h3>File</h3>
</p>
<p class="comment">
    <code>src/app/shared/dynamic-form/tablegroup-type.component.ts</code>
</p>


    <p class="comment">
        <h3>Extends</h3>
    </p>
    <p class="comment">
                <code><a href="../interfaces/Field.html" target="_self" >FieldArrayType</a></code>
    </p>



<section>
    <h3>Metadata</h3>
    <table class="table table-sm table-hover">
        <tbody>











            <tr>
                <td class="col-md-3">selector</td>
                <td class="col-md-9"><code>app-tablegroup-type</code></td>
            </tr>



            <tr>
                <td class="col-md-3">template</td>
                <td class="col-md-9"><pre class="line-numbers"><code class="language-html">
&lt;ngx-datatable
  #grouptable  class&#x3D;&quot;bootstrap expandable&quot;
  [rows]&#x3D;&quot;model&quot;
  [groupRowsBy]&#x3D;&quot;to.groupRowsBy&quot;
  [columns]&#x3D;&quot;to.columns&quot;
  [columnMode]&#x3D;&quot;to.columnMode&quot;
  [rowHeight]&#x3D;&quot;to.rowHeight&quot;
  [headerHeight]&#x3D;&quot;to.headerHeight&quot;
  [footerHeight]&#x3D;&quot;to.footerHeight&quot;
  [scrollbarH]&#x3D;&quot;to.scrollbarH&quot;
  [scrollbarV]&#x3D;&quot;to.scrollbarV&quot;
  [reorderable]&#x3D;&quot;to.reorderable&quot;
  [selected]&#x3D;&quot;to.selected&quot;
  [selectionType]&#x3D;&quot;&#x27;single&#x27;&quot;
  [groupExpansionDefault]&#x3D;&quot;to.groupExpansionDefault&quot;
  [summaryRow]&#x3D;&quot;to.enableSummary&quot;
  [summaryPosition]&#x3D;&quot;to.summaryPosition&quot;
  [summaryHeight]&#x3D;&quot;&#x27;auto&#x27;&quot;
  (activate)&#x3D;&#x27;onEvents($event)&#x27;
&gt;


&lt;ngx-datatable-row-detail  [rowHeight]&#x3D;&quot;&#x27;auto&#x27;&quot; #myDetailRow&gt;
&lt;/ngx-datatable-row-detail&gt;

&lt;!-- Group Header Template --&gt;
&lt;ngx-datatable-group-header [rowHeight]&#x3D;&quot;70&quot; #myGroupHeader (toggle)&#x3D;&quot;onDetailToggle($event)&quot;&gt;
  &lt;ng-template let-group&#x3D;&quot;group&quot; let-expanded&#x3D;&quot;expanded&quot; ngx-datatable-group-header-template&gt;
    &lt;div style&#x3D;&quot;padding-left:5px;&quot;&gt;
      &lt;a
        [class.datatable-icon-right]&#x3D;&quot;!expanded&quot;
        [class.datatable-icon-down]&#x3D;&quot;expanded&quot;
        title&#x3D;&quot;Expand/Collapse Group&quot;
        (click)&#x3D;&quot;toggleExpandGroup(group)&quot;&gt;
        &lt;b&gt;{{ getGroupHeaderTitle(group) }}&lt;/b&gt;
      &lt;/a&gt;
    &lt;/div&gt;
  &lt;/ng-template&gt;
&lt;/ngx-datatable-group-header&gt;

&lt;/ngx-datatable&gt;

&lt;!-- Colonna per azioni --&gt;
&lt;ng-template #staterow let-row&#x3D;&quot;row&quot; let-value&#x3D;&quot;value&quot;&gt;
  &lt;strong&gt;{{ value }}&lt;/strong&gt;
  &lt;i class&#x3D;&quot;pb-icon icon-edit&quot;&gt;&lt;/i&gt;
  &lt;i *ngIf&#x3D;&quot;row.canDelete &#x3D;&#x3D; true&quot; class&#x3D;&quot;pb-icon icon-garbage&quot;&gt;&lt;/i&gt;
  &lt;i *ngIf&#x3D;&quot;row.canSend&#x3D;&#x3D; true&quot; class&#x3D;&quot;pb-icon icon-send&quot;&gt;&lt;/i&gt;
&lt;/ng-template&gt;


&lt;!-- Colonna per aprire il dettaglio --&gt;
&lt;ng-template #colDetail let-row&#x3D;&quot;row&quot; let-expanded&#x3D;&quot;expanded&quot; ngx-datatable-cell-template&gt;
  &lt;a
    href&#x3D;&quot;javascript:void(0)&quot;
    [class.datatable-icon-right]&#x3D;&quot;!expanded&quot;
    [class.datatable-icon-down]&#x3D;&quot;expanded&quot;
    title&#x3D;&quot;Expand/Collapse Row&quot;
    (click)&#x3D;&quot;toggleExpandRow(row)&quot;&gt;
  &lt;/a&gt;
&lt;/ng-template&gt;

</code></pre></td>
            </tr>









        </tbody>
    </table>
</section>

    <section>
    <h3 id="index">Index</h3>
    <table class="table table-sm table-bordered index-table">
        <tbody>
                <tr>
                    <td class="col-md-4">
                        <h6><b>Properties</b></h6>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <ul class="index-list">
                            <li>
                                <a href="#colDetail">colDetail</a>
                            </li>
                            <li>
                                <a href="#table">table</a>
                            </li>
                        </ul>
                    </td>
                </tr>

                <tr>
                    <td class="col-md-4">
                        <h6><b>Methods</b></h6>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <ul class="index-list">
                            <li>
                                <a href="#getGroupHeaderTitle">getGroupHeaderTitle</a>
                            </li>
                            <li>
                                <a href="#getGroupRowHeight">getGroupRowHeight</a>
                            </li>
                            <li>
                                <a href="#getHeight">getHeight</a>
                            </li>
                            <li>
                                <a href="#ngDoCheck">ngDoCheck</a>
                            </li>
                            <li>
                                <a href="#ngOnInit">ngOnInit</a>
                            </li>
                            <li>
                                <a href="#onDetailToggle">onDetailToggle</a>
                            </li>
                            <li>
                                <a href="#onEvents">onEvents</a>
                            </li>
                            <li>
                                <a href="#toggleExpandGroup">toggleExpandGroup</a>
                            </li>
                            <li>
                                <a href="#toggleExpandRow">toggleExpandRow</a>
                            </li>
                        </ul>
                    </td>
                </tr>





        </tbody>
    </table>
</section>

    <section>
    <h3 id="constructor">Constructor</h3>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
<code>constructor(builder: FormlyFormBuilder, differs: <a href="https://angular.io/api/core/KeyValueDiffers" target="_blank">KeyValueDiffers</a>)</code>
                    </td>
                </tr>
                        <tr>
                            <td class="col-md-4">
                                <div class="io-line">Defined in <a href="" data-line="85" class="link-to-prism">src/app/shared/dynamic-form/tablegroup-type.component.ts:85</a></div>
                            </td>
                        </tr>

                <tr>
                    <td class="col-md-4">
                            <div>
                                    <b>Parameters :</b>
                                    <table class="params">
                                        <thead>
                                            <tr>
                                                <td>Name</td>
                                                    <td>Type</td>
                                                <td>Optional</td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                                <tr>
                                                        <td>builder</td>
                                                  
                                                        <td>
                                                                    <code>FormlyFormBuilder</code>
                                                        </td>
                                                  
                                                    <td>
                                                            No
                                                    </td>
                                                    
                                                </tr>
                                                <tr>
                                                        <td>differs</td>
                                                  
                                                        <td>
                                                                        <code><a href="https://angular.io/api/core/KeyValueDiffers" target="_blank" >KeyValueDiffers</a></code>
                                                        </td>
                                                  
                                                    <td>
                                                            No
                                                    </td>
                                                    
                                                </tr>
                                        </tbody>
                                    </table>
                            </div>
                    </td>
                </tr>
            </tbody>
        </table>
</section>





    <section>
    
    <h3 id="methods">
        Methods
    </h3>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="getGroupHeaderTitle"></a>
                    <span class="name">
                        <b>
                            getGroupHeaderTitle
                        </b>
                        <a href="#getGroupHeaderTitle"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
            <tr>
                <td class="col-md-4">
<code>getGroupHeaderTitle(group)</code>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">
                    <div class="io-line">Defined in <a href="" data-line="187"
                            class="link-to-prism">src/app/shared/dynamic-form/tablegroup-type.component.ts:187</a></div>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">

                    <div class="io-description">
                        <b>Parameters :</b>
                        <table class="params">
                            <thead>
                                <tr>
                                    <td>Name</td>
                                    <td>Optional</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>group</td>

                                    <td>
                                        No
                                    </td>


                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div>
                    </div>
                    <div class="io-description">
                        <b>Returns : </b>        <code><a href="https://www.typescriptlang.org/docs/handbook/basic-types.html" target="_blank" >any</a></code>

                    </div>
                    <div class="io-description">
                        
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="getGroupRowHeight"></a>
                    <span class="name">
                        <b>
                            getGroupRowHeight
                        </b>
                        <a href="#getGroupRowHeight"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
            <tr>
                <td class="col-md-4">
<code>getGroupRowHeight(group, rowHeight)</code>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">
                    <div class="io-line">Defined in <a href="" data-line="158"
                            class="link-to-prism">src/app/shared/dynamic-form/tablegroup-type.component.ts:158</a></div>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">

                    <div class="io-description">
                        <b>Parameters :</b>
                        <table class="params">
                            <thead>
                                <tr>
                                    <td>Name</td>
                                    <td>Optional</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>group</td>

                                    <td>
                                        No
                                    </td>


                                </tr>
                                <tr>
                                    <td>rowHeight</td>

                                    <td>
                                        No
                                    </td>


                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div>
                    </div>
                    <div class="io-description">
                        <b>Returns : </b>    <code>{}</code>

                    </div>
                    <div class="io-description">
                        
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="getHeight"></a>
                    <span class="name">
                        <b>
                            getHeight
                        </b>
                        <a href="#getHeight"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
            <tr>
                <td class="col-md-4">
<code>getHeight(row: <a href="https://www.typescriptlang.org/docs/handbook/basic-types.html" target="_blank">any</a>, index: <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/number" target="_blank">number</a>)</code>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">
                    <div class="io-line">Defined in <a href="" data-line="183"
                            class="link-to-prism">src/app/shared/dynamic-form/tablegroup-type.component.ts:183</a></div>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">

                    <div class="io-description">
                        <b>Parameters :</b>
                        <table class="params">
                            <thead>
                                <tr>
                                    <td>Name</td>
                                    <td>Type</td>
                                    <td>Optional</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>row</td>
                                    <td>
                                                <code><a href="https://www.typescriptlang.org/docs/handbook/basic-types.html" target="_blank" >any</a></code>
                                    </td>

                                    <td>
                                        No
                                    </td>


                                </tr>
                                <tr>
                                    <td>index</td>
                                    <td>
                                                <code><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/number" target="_blank" >number</a></code>
                                    </td>

                                    <td>
                                        No
                                    </td>


                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div>
                    </div>
                    <div class="io-description">
                        <b>Returns : </b>        <code><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/number" target="_blank" >number</a></code>

                    </div>
                    <div class="io-description">
                        
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="ngDoCheck"></a>
                    <span class="name">
                        <b>
                            ngDoCheck
                        </b>
                        <a href="#ngDoCheck"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
            <tr>
                <td class="col-md-4">
<code>ngDoCheck()</code>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">
                    <div class="io-line">Defined in <a href="" data-line="154"
                            class="link-to-prism">src/app/shared/dynamic-form/tablegroup-type.component.ts:154</a></div>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">

                    <div class="io-description">
                        <b>Returns : </b>        <code><a href="https://www.typescriptlang.org/docs/handbook/basic-types.html" target="_blank" >void</a></code>

                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="ngOnInit"></a>
                    <span class="name">
                        <b>
                            ngOnInit
                        </b>
                        <a href="#ngOnInit"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
            <tr>
                <td class="col-md-4">
<code>ngOnInit()</code>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">
                    <div class="io-line">Defined in <a href="" data-line="92"
                            class="link-to-prism">src/app/shared/dynamic-form/tablegroup-type.component.ts:92</a></div>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">

                    <div class="io-description">
                        <b>Returns : </b>        <code><a href="https://www.typescriptlang.org/docs/handbook/basic-types.html" target="_blank" >void</a></code>

                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="onDetailToggle"></a>
                    <span class="name">
                        <b>
                            onDetailToggle
                        </b>
                        <a href="#onDetailToggle"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
            <tr>
                <td class="col-md-4">
<code>onDetailToggle(event)</code>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">
                    <div class="io-line">Defined in <a href="" data-line="174"
                            class="link-to-prism">src/app/shared/dynamic-form/tablegroup-type.component.ts:174</a></div>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">

                    <div class="io-description">
                        <b>Parameters :</b>
                        <table class="params">
                            <thead>
                                <tr>
                                    <td>Name</td>
                                    <td>Optional</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>event</td>

                                    <td>
                                        No
                                    </td>


                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div>
                    </div>
                    <div class="io-description">
                        <b>Returns : </b>        <code><a href="https://www.typescriptlang.org/docs/handbook/basic-types.html" target="_blank" >void</a></code>

                    </div>
                    <div class="io-description">
                        
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="onEvents"></a>
                    <span class="name">
                        <b>
                            onEvents
                        </b>
                        <a href="#onEvents"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
            <tr>
                <td class="col-md-4">
<code>onEvents(event)</code>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">
                    <div class="io-line">Defined in <a href="" data-line="148"
                            class="link-to-prism">src/app/shared/dynamic-form/tablegroup-type.component.ts:148</a></div>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">

                    <div class="io-description">
                        <b>Parameters :</b>
                        <table class="params">
                            <thead>
                                <tr>
                                    <td>Name</td>
                                    <td>Optional</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>event</td>

                                    <td>
                                        No
                                    </td>


                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div>
                    </div>
                    <div class="io-description">
                        <b>Returns : </b>        <code><a href="https://www.typescriptlang.org/docs/handbook/basic-types.html" target="_blank" >void</a></code>

                    </div>
                    <div class="io-description">
                        
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="toggleExpandGroup"></a>
                    <span class="name">
                        <b>
                            toggleExpandGroup
                        </b>
                        <a href="#toggleExpandGroup"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
            <tr>
                <td class="col-md-4">
<code>toggleExpandGroup(group)</code>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">
                    <div class="io-line">Defined in <a href="" data-line="169"
                            class="link-to-prism">src/app/shared/dynamic-form/tablegroup-type.component.ts:169</a></div>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">

                    <div class="io-description">
                        <b>Parameters :</b>
                        <table class="params">
                            <thead>
                                <tr>
                                    <td>Name</td>
                                    <td>Optional</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>group</td>

                                    <td>
                                        No
                                    </td>


                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div>
                    </div>
                    <div class="io-description">
                        <b>Returns : </b>        <code><a href="https://www.typescriptlang.org/docs/handbook/basic-types.html" target="_blank" >void</a></code>

                    </div>
                    <div class="io-description">
                        
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="toggleExpandRow"></a>
                    <span class="name">
                        <b>
                            toggleExpandRow
                        </b>
                        <a href="#toggleExpandRow"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
            <tr>
                <td class="col-md-4">
<code>toggleExpandRow(row)</code>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">
                    <div class="io-line">Defined in <a href="" data-line="178"
                            class="link-to-prism">src/app/shared/dynamic-form/tablegroup-type.component.ts:178</a></div>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">

                    <div class="io-description">
                        <b>Parameters :</b>
                        <table class="params">
                            <thead>
                                <tr>
                                    <td>Name</td>
                                    <td>Optional</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>row</td>

                                    <td>
                                        No
                                    </td>


                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div>
                    </div>
                    <div class="io-description">
                        <b>Returns : </b>        <code><a href="https://www.typescriptlang.org/docs/handbook/basic-types.html" target="_blank" >void</a></code>

                    </div>
                    <div class="io-description">
                        
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</section>
    <section>
    
        <h3 id="inputs">
            Properties
        </h3>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="colDetail"></a>
                        <span class="name">
                            <b>
                            colDetail</b>
                            <a href="#colDetail"><span class="icon ion-ios-link"></span></a>
                        </span>
                    </td>
                </tr>
                    <tr>
                        <td class="col-md-4">
                            <i>Type : </i>        <code><a href="https://www.typescriptlang.org/docs/handbook/basic-types.html" target="_blank" >any</a></code>

                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-4">
                            <b>Decorators : </b>
                            <br />
                            <code>
                                @ViewChild(&#x27;colDetail&#x27;)<br />
                            </code>
                        </td>
                    </tr>
                        <tr>
                            <td class="col-md-4">
                                    <div class="io-line">Defined in <a href="" data-line="85" class="link-to-prism">src/app/shared/dynamic-form/tablegroup-type.component.ts:85</a></div>
                            </td>
                        </tr>


            </tbody>
        </table>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="table"></a>
                        <span class="name">
                            <b>
                            table</b>
                            <a href="#table"><span class="icon ion-ios-link"></span></a>
                        </span>
                    </td>
                </tr>
                    <tr>
                        <td class="col-md-4">
                            <i>Type : </i>        <code><a href="https://www.typescriptlang.org/docs/handbook/basic-types.html" target="_blank" >any</a></code>

                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-4">
                            <b>Decorators : </b>
                            <br />
                            <code>
                                @ViewChild(&#x27;grouptable&#x27;)<br />
                            </code>
                        </td>
                    </tr>
                        <tr>
                            <td class="col-md-4">
                                    <div class="io-line">Defined in <a href="" data-line="84" class="link-to-prism">src/app/shared/dynamic-form/tablegroup-type.component.ts:84</a></div>
                            </td>
                        </tr>


            </tbody>
        </table>
</section>

</div>


    <div class="tab-pane fade  tab-source-code" id="c-source">
        <pre class="line-numbers compodoc-sourcecode"><code class="language-typescript">import { Component, OnInit, Input, ViewChild, TemplateRef, KeyValueDiffers } from &#x27;@angular/core&#x27;;
import { FormGroup } from &#x27;@angular/forms&#x27;;
import { FormlyFieldConfig, FieldArrayType, FormlyFormBuilder } from &#x27;@ngx-formly/core&#x27;;
import { TableColumn } from &#x27;@swimlane/ngx-datatable/release/types&#x27;;
import { Router } from &#x27;@angular/router&#x27;;
import { Page, PagedData } from &#x27;../lookup/page&#x27;;
import { SSL_OP_DONT_INSERT_EMPTY_FRAGMENTS } from &#x27;constants&#x27;;
import { DatatableRowDetailDirective } from &#x27;@swimlane/ngx-datatable&#x27;;

@Component({
  selector: &#x27;app-tablegroup-type&#x27;,
  template: &#x60;  

&lt;ngx-datatable
  #grouptable  class&#x3D;&quot;bootstrap expandable&quot; 
  [rows]&#x3D;&quot;model&quot;
  [groupRowsBy]&#x3D;&quot;to.groupRowsBy&quot;
  [columns]&#x3D;&quot;to.columns&quot;
  [columnMode]&#x3D;&quot;to.columnMode&quot;
  [rowHeight]&#x3D;&quot;to.rowHeight&quot;   
  [headerHeight]&#x3D;&quot;to.headerHeight&quot;      
  [footerHeight]&#x3D;&quot;to.footerHeight&quot;
  [scrollbarH]&#x3D;&quot;to.scrollbarH&quot;    
  [scrollbarV]&#x3D;&quot;to.scrollbarV&quot;  
  [reorderable]&#x3D;&quot;to.reorderable&quot;    
  [selected]&#x3D;&quot;to.selected&quot;
  [selectionType]&#x3D;&quot;&#x27;single&#x27;&quot;
  [groupExpansionDefault]&#x3D;&quot;to.groupExpansionDefault&quot;
  [summaryRow]&#x3D;&quot;to.enableSummary&quot;
  [summaryPosition]&#x3D;&quot;to.summaryPosition&quot;
  [summaryHeight]&#x3D;&quot;&#x27;auto&#x27;&quot;
  (activate)&#x3D;&#x27;onEvents($event)&#x27;
&gt;     


&lt;ngx-datatable-row-detail  [rowHeight]&#x3D;&quot;&#x27;auto&#x27;&quot; #myDetailRow&gt;
&lt;/ngx-datatable-row-detail&gt;

&lt;!-- Group Header Template --&gt;
&lt;ngx-datatable-group-header [rowHeight]&#x3D;&quot;70&quot; #myGroupHeader (toggle)&#x3D;&quot;onDetailToggle($event)&quot;&gt;
  &lt;ng-template let-group&#x3D;&quot;group&quot; let-expanded&#x3D;&quot;expanded&quot; ngx-datatable-group-header-template&gt;
    &lt;div style&#x3D;&quot;padding-left:5px;&quot;&gt;
      &lt;a    
        [class.datatable-icon-right]&#x3D;&quot;!expanded&quot;
        [class.datatable-icon-down]&#x3D;&quot;expanded&quot;
        title&#x3D;&quot;Expand/Collapse Group&quot;
        (click)&#x3D;&quot;toggleExpandGroup(group)&quot;&gt;
        &lt;b&gt;{{ getGroupHeaderTitle(group) }}&lt;/b&gt;
      &lt;/a&gt;                          
    &lt;/div&gt;
  &lt;/ng-template&gt;
&lt;/ngx-datatable-group-header&gt;

&lt;/ngx-datatable&gt;

&lt;!-- Colonna per azioni --&gt;
&lt;ng-template #staterow let-row&#x3D;&quot;row&quot; let-value&#x3D;&quot;value&quot;&gt;
  &lt;strong&gt;{{ value }}&lt;/strong&gt;
  &lt;i class&#x3D;&quot;pb-icon icon-edit&quot;&gt;&lt;/i&gt;
  &lt;i *ngIf&#x3D;&quot;row.canDelete &#x3D;&#x3D; true&quot; class&#x3D;&quot;pb-icon icon-garbage&quot;&gt;&lt;/i&gt;
  &lt;i *ngIf&#x3D;&quot;row.canSend&#x3D;&#x3D; true&quot; class&#x3D;&quot;pb-icon icon-send&quot;&gt;&lt;/i&gt;
&lt;/ng-template&gt;


&lt;!-- Colonna per aprire il dettaglio --&gt;
&lt;ng-template #colDetail let-row&#x3D;&quot;row&quot; let-expanded&#x3D;&quot;expanded&quot; ngx-datatable-cell-template&gt;
  &lt;a
    href&#x3D;&quot;javascript:void(0)&quot;
    [class.datatable-icon-right]&#x3D;&quot;!expanded&quot;
    [class.datatable-icon-down]&#x3D;&quot;expanded&quot;
    title&#x3D;&quot;Expand/Collapse Row&quot;
    (click)&#x3D;&quot;toggleExpandRow(row)&quot;&gt;
  &lt;/a&gt;
&lt;/ng-template&gt;

&#x60;
})

//&lt;h1&gt;Model&lt;/h1&gt;
//&lt;pre&gt;{{ model | json }}&lt;/pre&gt;

export class TableGroupTypeComponent extends FieldArrayType {  
  
  @ViewChild(&#x27;grouptable&#x27;) table: any;  
  @ViewChild(&#x27;colDetail&#x27;) colDetail: any;

  constructor(builder: FormlyFormBuilder, private differs: KeyValueDiffers) {    
    super(builder);        
  
  }
        
  ngOnInit() {      
    
    if (!(&#x27;selected&#x27; in this.to)){
      Object.defineProperty(this.to,&#x27;selected&#x27;,{
        enumerable: true,
        configurable: true,
        writable: true
      });
      this.to.selected&#x3D; [];
    }

    if(this.to.headerColGroupTemplate){
      this.table.groupHeader.template &#x3D; this.to.headerColGroupTemplate;
    }
  
    if (this.to.rowDetailTemplate){
      //aggiunta della colonna per aprire il dettaglio
      (this.to.columns as Array&lt;any&gt;).splice(0,0,{
        &#x27;maxwith&#x27;: 50,
        &#x27;resisable&#x27;: false,
        &#x27;sortable&#x27;: false,
        &#x27;draggable&#x27;: false,
        &#x27;canAutoResize&#x27;:false,
        &#x27;cellTemplate&#x27;: this.colDetail
      })
      //aggiunto il template della riga di dettaglio
      this.table.rowDetail.template &#x3D; this.to.rowDetailTemplate;
    }

    if (typeof this.to.columns &#x3D;&#x3D; &#x27;undefined&#x27;){
      //configurazione basata sulla dichiarazione delle colonne nel json 
      // modalità implicità di costruzione delle colonne 
        // columns: [
        //   { name: &#x27;Id&#x27;, prop: &#x27;id&#x27;, width: 10},
        //   { name: &#x27;Nome utente&#x27;, prop: &#x27;name&#x27; },
        //   { name: &#x27;Email&#x27;, prop: &#x27;email&#x27; },
        // ],      
      //costruzione dinamica delle colonne partendo dai campi aggiunta eventuali proprietà 
      //di colonna all&#x27;interno delle template option dei campi
      //
      this.to.columns &#x3D;  this.field.fieldArray.fieldGroup.map(el &#x3D;&gt; {      
        
        let c &#x3D; { 
          name: el.templateOptions.label, 
          prop: el.key,                                          
        }
        el.templateOptions.label &#x3D; &quot;&quot;;
                       
        return c;
      });
      
    }
    
  }

 
  onEvents(event) {
    if (event.type &#x3D;&#x3D; &quot;dblclick&quot; &amp;&amp; typeof this.to.onDblclickRow !&#x3D;&#x3D; &quot;undefined&quot;){
      this.to.onDblclickRow(event);         
    }
  }
  
  ngDoCheck() {    
     
  }
  
  getGroupRowHeight(group, rowHeight) {
    let style &#x3D; {};

    style &#x3D; {
      height: (group.length * 40) + &#x27;px&#x27;,
      width: &#x27;100%&#x27;
    };

    return style;
  }

  toggleExpandGroup(group) {
    //console.log(&#x27;Toggled Expand Group!&#x27;, group);
    this.table.groupHeader.toggleExpandGroup(group);
  }  

  onDetailToggle(event) {
    //console.log(&#x27;Detail Toggled&#x27;, event);
  }

  toggleExpandRow(row) {
    //console.log(&#x27;Toggled Expand Row!&#x27;, row);    
    this.table.rowDetail.toggleExpandRow(row);
  }

  getHeight(row: any, index: number): number {
    return 100;
  }

  getGroupHeaderTitle(group){
    if (this.to.groupHeaderTitle){
      return this.to.groupHeaderTitle(group)
    }
    //&lt;b&gt;Stato: {{group.value[0].state}}&lt;/b&gt;
    return group.value[0];
  }

 }
</code></pre>
    </div>



    <div class="tab-pane fade " id="c-tree">
        <div id="tree-container"></div>
        <div class="tree-legend">
            <div class="title">
                <b>Legend</b>
            </div>
            <div>
                <div class="color htmlelement"></div><span>Html element</span>
            </div>
            <div>
                <div class="color component"></div><span>Component</span>
            </div>
            <div>
                <div class="color directive"></div><span>Html element with directive</span>
            </div>
        </div>
    </div>

    
</div>

<script src="../js/libs/vis.min.js"></script>
<script src="../js/libs/htmlparser.js"></script>
<script src="../js/libs/deep-iterator.js"></script>
<script>
        var COMPONENT_TEMPLATE = '<div><ngx-datatable  #grouptable  class="bootstrap expandable"  [rows]="model"  [groupRowsBy]="to.groupRowsBy"  [columns]="to.columns"  [columnMode]="to.columnMode"  [rowHeight]="to.rowHeight"  [headerHeight]="to.headerHeight"  [footerHeight]="to.footerHeight"  [scrollbarH]="to.scrollbarH"  [scrollbarV]="to.scrollbarV"  [reorderable]="to.reorderable"  [selected]="to.selected"  [selectionType]="\'single\'"  [groupExpansionDefault]="to.groupExpansionDefault"  [summaryRow]="to.enableSummary"  [summaryPosition]="to.summaryPosition"  [summaryHeight]="\'auto\'"  (activate)=\'onEvents($event)\'><ngx-datatable-row-detail  [rowHeight]="\'auto\'" #myDetailRow></ngx-datatable-row-detail><!-- Group Header Template --><ngx-datatable-group-header [rowHeight]="70" #myGroupHeader (toggle)="onDetailToggle($event)">  <ng-template let-group="group" let-expanded="expanded" ngx-datatable-group-header-template>    <div style="padding-left:5px;">      <a        [class.datatable-icon-right]="!expanded"        [class.datatable-icon-down]="expanded"        title="Expand/Collapse Group"        (click)="toggleExpandGroup(group)">        <b>{{ getGroupHeaderTitle(group) }}</b>      </a>    </div>  </ng-template></ngx-datatable-group-header></ngx-datatable><!-- Colonna per azioni --><ng-template #staterow let-row="row" let-value="value">  <strong>{{ value }}</strong>  <i class="pb-icon icon-edit"></i>  <i *ngIf="row.canDelete == true" class="pb-icon icon-garbage"></i>  <i *ngIf="row.canSend== true" class="pb-icon icon-send"></i></ng-template><!-- Colonna per aprire il dettaglio --><ng-template #colDetail let-row="row" let-expanded="expanded" ngx-datatable-cell-template>  <a    href="javascript:void(0)"    [class.datatable-icon-right]="!expanded"    [class.datatable-icon-down]="expanded"    title="Expand/Collapse Row"    (click)="toggleExpandRow(row)">  </a></ng-template></div>'
    var COMPONENTS = [{'name': 'AccordionInfoWrapperComponent', 'selector': 'formly-wrapper-accordioninfo'},{'name': 'AccordionWrapperComponent', 'selector': 'formly-wrapper-accordion'},{'name': 'AllegatiComponent', 'selector': 'app-allegati'},{'name': 'AppComponent', 'selector': 'app-root'},{'name': 'ApprovazionedetailsComponent', 'selector': 'app-approvazionedetails'},{'name': 'AssignmentDetailPageComponent', 'selector': 'app-assignment-detail-page'},{'name': 'AziendaLocComponent', 'selector': 'app-aziendaloc'},{'name': 'AziendeLocComponent', 'selector': 'app-aziendeloc'},{'name': 'BaseEntityComponent', 'selector': ''},{'name': 'BaseResearchComponent', 'selector': ''},{'name': 'BlankComponent', 'selector': 'app-blank-layout'},{'name': 'BolloRepertoriazioneComponent', 'selector': 'app-bollorepertoriazione'},{'name': 'BreadcrumbComponent', 'selector': 'app-breadcrumb'},{'name': 'ClassificazioneComponent', 'selector': 'app-classificazione'},{'name': 'ClassificazioniComponent', 'selector': 'app-classificazioni'},{'name': 'CollapseWrapperComponent', 'selector': 'app-collapse-wrapper'},{'name': 'ConfirmationDialogComponent', 'selector': 'app-confirmation-dialog'},{'name': 'ControlGenericListComponent', 'selector': 'app-control-generic-list'},{'name': 'ConvenzioneComponent', 'selector': 'app-convenzione'},{'name': 'ConvenzionedetailsComponent', 'selector': 'app-convenzionedetails'},{'name': 'ConvenzioniComponent', 'selector': 'app-convenzionis'},{'name': 'ConvenzioniresultComponent', 'selector': 'app-convenzioniresult'},{'name': 'ConvvalidationComponent', 'selector': 'app-convvalidation'},{'name': 'Dashboard1Component', 'selector': ''},{'name': 'Dashboard2Component', 'selector': ''},{'name': 'DatepickerTypeComponent', 'selector': 'app-datapicker-type'},{'name': 'DocumentiTitulus', 'selector': 'app-documenti'},{'name': 'DynamicFormComponent', 'selector': 'app-dynamic-form'},{'name': 'DynamicTableComponent', 'selector': 'app-grid'},{'name': 'EmissioneComponent', 'selector': 'app-emissione'},{'name': 'EsecuzionedetailsComponent', 'selector': 'app-esecuzionedetails'},{'name': 'ExternalobjTypeComponent', 'selector': 'formly-field-ext'},{'name': 'ExternalqueryComponent', 'selector': 'app-externalquery'},{'name': 'ExternalTypeComponent', 'selector': 'app-external-type'},{'name': 'FaseWrapperComponent', 'selector': 'app-fase-wrapper'},{'name': 'FirmaControparteComponent', 'selector': 'app-firmacontroparte'},{'name': 'FirmaDirettoreComponent', 'selector': 'app-firmadirettore'},{'name': 'FormInfraComponent', 'selector': 'app-form-infra'},{'name': 'FormlyFieldButton', 'selector': 'formly-field-button'},{'name': 'FormlyFieldTemplate', 'selector': 'formly-template'},{'name': 'FormlyFieldTypeahead', 'selector': 'formly-field-typeahead'},{'name': 'FormlyHorizontalWrapper', 'selector': 'formly-horizontal-wrapper'},{'name': 'FullComponent', 'selector': 'app-full-layout'},{'name': 'GenericTypeComponent', 'selector': 'app-generic-type'},{'name': 'GridFormlyCellComponent', 'selector': 'formly-ag-grid-cell'},{'name': 'GridTypeComponent', 'selector': 'formly-field-grid'},{'name': 'HomeComponent', 'selector': 'app-home'},{'name': 'InfocardComponent', 'selector': 'app-info-card'},{'name': 'InputFileComponent', 'selector': 'app-input-file'},{'name': 'InvioRichiestaPagamentoComponent', 'selector': 'app-inviorichiestapagamento'},{'name': 'LogAttivitaComponent', 'selector': 'app-logattivita'},{'name': 'LookupComponent', 'selector': 'app-lookup'},{'name': 'MappingRuoli', 'selector': 'app-mappingruoli'},{'name': 'MappingRuolo', 'selector': 'app-ruolo'},{'name': 'MappingUfficioTitulus', 'selector': 'app-mappingufficio'},{'name': 'MappingUfficiTitulus', 'selector': 'app-mappinguffici'},{'name': 'MessageComponent', 'selector': 'app-message'},{'name': 'MultistepSchematipoComponent', 'selector': 'app-multistep-schematipo'},{'name': 'NavigationComponent', 'selector': 'app-navigation'},{'name': 'NavstepperWrapperComponent', 'selector': 'app-navstepper-wrapper'},{'name': 'NotFoundComponent', 'selector': 'notfound'},{'name': 'NotificationsComponent', 'selector': 'app-notifications'},{'name': 'PagamentoComponent', 'selector': 'app-pagamento'},{'name': 'PanelWrapperComponent', 'selector': 'formly-wrapper-panel'},{'name': 'PdfInfraComponent', 'selector': 'app-pdf-infra'},{'name': 'PdfTypeComponent', 'selector': 'app-pdf-type'},{'name': 'PdfTypeInputComponent', 'selector': 'app-pdf-type-input'},{'name': 'PermissionComponent', 'selector': 'app-permission'},{'name': 'PermissionsComponent', 'selector': 'app-permissions'},{'name': 'PersoneinterneTitulus', 'selector': 'app-personeinterne'},{'name': 'QueryBuilderComponent', 'selector': 'app-query-builder'},{'name': 'RangedetailsComponent', 'selector': 'app-rangedetails'},{'name': 'RepeatTypeComponent', 'selector': 'formly-repeat-section'},{'name': 'RepertoriazionedetailsComponent', 'selector': 'app-repertoriazionedetails'},{'name': 'RichiestaEmissioneComponent', 'selector': 'app-richiestaemissione'},{'name': 'RightaddonsWrapperComponent', 'selector': 'formly-wrapper-rightaddons'},{'name': 'RoleComponent', 'selector': 'app-role'},{'name': 'RolesComponent', 'selector': 'app-roles'},{'name': 'ScadenzaComponent', 'selector': 'app-scadenza'},{'name': 'ScadenzeComponent', 'selector': 'app-scadenze'},{'name': 'ScadenzedetailsComponent', 'selector': 'app-scadenzedetails'},{'name': 'ScadenzeresultComponent', 'selector': 'app-scadenzeresult'},{'name': 'SelectTypeComponent', 'selector': 'app-select-type'},{'name': 'ShowErrorsComponent', 'selector': 'app-show-errors'},{'name': 'SidebarComponent', 'selector': 'app-sidebar'},{'name': 'SottoscrizioneComponent', 'selector': 'app-sottoscrizione'},{'name': 'SottoscrizionedetailsComponent', 'selector': 'app-sottoscrizionedetails'},{'name': 'StruttureEsterneTitulus', 'selector': 'app-struttureinterne'},{'name': 'StruttureInterneTitulus', 'selector': 'app-struttureinterne'},{'name': 'SystemErrorComponent', 'selector': 'systemerror'},{'name': 'TableGroupTypeComponent', 'selector': 'app-tablegroup-type'},{'name': 'TableLookupTypeComponent', 'selector': 'app-tablelookup-type'},{'name': 'TableTypeComponent', 'selector': 'app-table-type'},{'name': 'TabTypeComponent', 'selector': 'app-tab-type'},{'name': 'TaskComponent', 'selector': 'app-task'},{'name': 'TaskListComponent', 'selector': 'app-tasklist'},{'name': 'TasksComponent', 'selector': 'app-tasks'},{'name': 'TestTabComponent', 'selector': 'app-test-tab'},{'name': 'TipoPagamentiComponent', 'selector': 'app-tipopagamenti'},{'name': 'TipoPagamentoComponent', 'selector': 'app-tipopagamento'},{'name': 'TooltipWrapperComponent', 'selector': 'formly-wrapper-tooltip'},{'name': 'UploadfileComponent', 'selector': 'app-uploadfile'},{'name': 'UserComponent', 'selector': 'app-user'},{'name': 'UserLoginComponent', 'selector': 'app-user-login'},{'name': 'UsersComponent', 'selector': 'app-users'},{'name': 'UserTaskDetailComponent', 'selector': 'app-user-task-detail'}];
    var DIRECTIVES = [];
    var ACTUAL_COMPONENT = {'name': 'TableGroupTypeComponent'};
</script>
<script src="../js/tree.js"></script>










                   




                   </div><div class="search-results">
    <div class="has-results">
        <h1 class="search-results-title"><span class='search-results-count'></span> result-matching "<span class='search-query'></span>"</h1>
        <ul class="search-results-list"></ul>
    </div>
    <div class="no-results">
        <h1 class="search-results-title">No results matching "<span class='search-query'></span>"</h1>
    </div>
</div>
</div>
               <!-- END CONTENT -->
           </div>
       </div>

       <script>
            var COMPODOC_CURRENT_PAGE_DEPTH = 1;
            var COMPODOC_CURRENT_PAGE_CONTEXT = 'component';
            var COMPODOC_CURRENT_PAGE_URL = 'TableGroupTypeComponent.html';
       </script>

       <script src="../js/libs/custom-elements.min.js"></script>
       <script src="../js/libs/lit-html.js"></script>
       <!-- Required to polyfill modern browsers as code is ES5 for IE... -->
       <script src="../js/libs/custom-elements-es5-adapter.js" charset="utf-8" defer></script>
       <script src="../js/menu-wc.js" defer></script>

       <script src="../js/libs/bootstrap-native.js"></script>

       <script src="../js/libs/es6-shim.min.js"></script>
       <script src="../js/libs/EventDispatcher.js"></script>
       <script src="../js/libs/promise.min.js"></script>
       <script src="../js/libs/zepto.min.js"></script>

       <script src="../js/compodoc.js"></script>

       <script src="../js/tabs.js"></script>
       <script src="../js/menu.js"></script>
       <script src="../js/libs/clipboard.min.js"></script>
       <script src="../js/libs/prism.js"></script>
       <script src="../js/sourceCode.js"></script>
          <script src="../js/search/search.js"></script>
          <script src="../js/search/lunr.min.js"></script>
          <script src="../js/search/search-lunr.js"></script>
          <script src="../js/search/search_index.js"></script>
       <script src="../js/lazy-load-graphs.js"></script>


    </body>
</html>
