<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>UniConv app documentation</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="icon" type="image/x-icon" href="../images/favicon.ico">
	      <link rel="stylesheet" href="../styles/style.css">
    </head>
    <body>

        <div class="navbar navbar-default navbar-fixed-top visible-xs">
            <a href="../" class="navbar-brand">UniConv app documentation</a>
            <button type="button" class="btn btn-default btn-menu ion-ios-menu" id="btn-menu"></button>
        </div>

        <div class="xs-menu menu" id="mobile-menu">
                <div id="book-search-input" role="search"><input type="text" placeholder="Type to search"></div>            <compodoc-menu></compodoc-menu>
        </div>

        <div class="container-fluid main">
           <div class="row main">
               <div class="hidden-xs menu">
                   <compodoc-menu mode="normal"></compodoc-menu>
               </div>
               <!-- START CONTENT -->
               <div class="content component">
                   <div class="content-data">




<ol class="breadcrumb">
  <li>Components</li>
  <li>TabTypeComponent</li>
</ol>

<ul class="nav nav-tabs" role="tablist">
        <li class="active">
            <a href="#info" role="tab" id="info-tab" data-toggle="tab" data-link="info">Info</a>
        </li>
        <li >
            <a href="#source" role="tab" id="source-tab" data-toggle="tab" data-link="source">Source</a>
        </li>
        <li >
            <a href="#styleData" role="tab" id="styleData-tab" data-toggle="tab" data-link="style">Styles</a>
        </li>
        <li >
            <a href="#tree" role="tab" id="tree-tab" data-toggle="tab" data-link="dom-tree">DOM Tree</a>
        </li>
</ul>

<div class="tab-content">
    <div class="tab-pane fade active in" id="c-info"><p class="comment">
    <h3>File</h3>
</p>
<p class="comment">
    <code>src/app/shared/dynamic-form/tab-type.component.ts</code>
</p>


    <p class="comment">
        <h3>Extends</h3>
    </p>
    <p class="comment">
                <code><a href="../interfaces/Field.html" target="_self" >FieldType</a></code>
    </p>

    <p class="comment">
        <h3>Implements</h3>
    </p>
    <p class="comment">
                    <code><a href="https://angular.io/api/core/OnInit" target="_blank" >OnInit</a></code>
    </p>


<section>
    <h3>Metadata</h3>
    <table class="table table-sm table-hover">
        <tbody>











            <tr>
                <td class="col-md-3">selector</td>
                <td class="col-md-9"><code>app-tab-type</code></td>
            </tr>

            <tr>
                <td class="col-md-3">styleUrls</td>
                <td class="col-md-9"><code>./wrapper/navstepper-wrapper.component.css</code></td>
            </tr>


            <tr>
                <td class="col-md-3">template</td>
                <td class="col-md-9"><pre class="line-numbers"><code class="language-html">  &lt;ngb-tabset #tabs&#x3D;&quot;ngbTabset&quot; type&#x3D;&quot;pills&quot; [orientation]&#x3D;&quot;&#x27;horizontal&#x27;&quot; [justify]&#x3D;&quot;&#x27;justified&#x27;&quot; (tabChange)&#x3D;&quot;onTabChange($event)&quot;&gt;
  &lt;div *ngFor&#x3D;&quot;let f of field.fieldGroup; let index &#x3D; index;&quot;&gt;
    &lt;ngb-tab id&#x3D;&quot;tab-{{index}}&quot;  *ngIf&#x3D;&quot;!f.templateOptions.hidden&quot;&gt;
        &lt;ng-template ngbTabTitle&gt;
          &lt;button class&#x3D;&quot;btn btn-circle mr-2&quot;&gt;
            &lt;span *ngIf&#x3D;&quot;isActive(index)&quot; class&#x3D;&quot;oi oi-pencil iconic&quot; aria-hidden&#x3D;&quot;true&quot;&gt;&lt;/span&gt;
            &lt;span *ngIf&#x3D;&quot;!isActive(index)&quot;&gt;&lt;b&gt;{{ index }}&lt;/b&gt;&lt;/span&gt;
          &lt;/button&gt;
          &lt;button class&#x3D;&quot;btn btn-outline-primary border-0 rounded-0&quot;&gt;{{ f.templateOptions.label }} &lt;/button&gt;
        &lt;/ng-template&gt;
        &lt;ng-template ngbTabContent&gt;
            &lt;formly-field
                [model]&#x3D;&quot;model&quot;
                [field]&#x3D;&quot;f&quot;
                [options]&#x3D;&quot;options&quot;
                [form]&#x3D;&quot;form&quot;&gt;
            &lt;/formly-field&gt;
        &lt;/ng-template&gt;
    &lt;/ngb-tab&gt;
&lt;/div&gt;
&lt;/ngb-tabset&gt;
&lt;div&gt;
&lt;button *ngIf&#x3D;&quot;selectedTab !&#x3D;&#x3D; &#x27;tab-0&#x27;&quot; class&#x3D;&quot;btn btn-primary mr-2&quot; type&#x3D;&quot;button&quot; (click)&#x3D;&quot;prevStep(activedStep)&quot;&gt;Indietro&lt;/button&gt;
&lt;button *ngIf&#x3D;&quot;!last&quot; class&#x3D;&quot;btn btn-primary&quot; type&#x3D;&quot;button&quot; [disabled]&#x3D;&quot;!isValid(activedStep)&quot; (click)&#x3D;&quot;nextStep(activedStep)&quot;&gt;Avanti&lt;/button&gt;
&lt;button *ngIf&#x3D;&quot;last &amp;&amp; to.onSubmit&quot; class&#x3D;&quot;btn btn-primary&quot; type&#x3D;&quot;button&quot; [disabled]&#x3D;&quot;!form.valid || !form.dirty&quot; (click)&#x3D;&quot;to.onSubmit()&quot;&gt;Salva&lt;/button&gt;
&lt;/div&gt;
</code></pre></td>
            </tr>









        </tbody>
    </table>
</section>

    <section>
    <h3 id="index">Index</h3>
    <table class="table table-sm table-bordered index-table">
        <tbody>
                <tr>
                    <td class="col-md-4">
                        <h6><b>Properties</b></h6>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <ul class="index-list">
                            <li>
                                <a href="#_selectedTab">_selectedTab</a>
                            </li>
                            <li>
                                <a href="#activedStep">activedStep</a>
                            </li>
                            <li>
                                <a href="#last">last</a>
                            </li>
                            <li>
                                <a href="#tabs">tabs</a>
                            </li>
                        </ul>
                    </td>
                </tr>

                <tr>
                    <td class="col-md-4">
                        <h6><b>Methods</b></h6>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <ul class="index-list">
                            <li>
                                <a href="#getStepTitle">getStepTitle</a>
                            </li>
                            <li>
                                <a href="#isActive">isActive</a>
                            </li>
                            <li>
                                <a href="#isValid">isValid</a>
                            </li>
                            <li>
                                <a href="#isValidChain">isValidChain</a>
                            </li>
                            <li>
                                <a href="#isValidFieldGroup">isValidFieldGroup</a>
                            </li>
                            <li>
                                <a href="#nextStep">nextStep</a>
                            </li>
                            <li>
                                <a href="#ngOnInit">ngOnInit</a>
                            </li>
                            <li>
                                <a href="#onTabChange">onTabChange</a>
                            </li>
                            <li>
                                <a href="#prevStep">prevStep</a>
                            </li>
                            <li>
                                <a href="#selectActiveStep">selectActiveStep</a>
                            </li>
                        </ul>
                    </td>
                </tr>





                    <tr>
                        <td class="col-md-4">
                            <h6><b>Accessors</b></h6>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-4">
                            <ul class="index-list">
                                <li>
                                    <a href="#lastIndex">lastIndex</a>
                                </li>
                                <li>
                                    <a href="#selectedTab">selectedTab</a>
                                </li>
                            </ul>
                        </td>
                    </tr>
        </tbody>
    </table>
</section>






    <section>
    
    <h3 id="methods">
        Methods
    </h3>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="getStepTitle"></a>
                    <span class="name">
                        <b>
                            getStepTitle
                        </b>
                        <a href="#getStepTitle"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
            <tr>
                <td class="col-md-4">
<code>getStepTitle(index)</code>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">
                    <div class="io-line">Defined in <a href="" data-line="143"
                            class="link-to-prism">src/app/shared/dynamic-form/tab-type.component.ts:143</a></div>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">

                    <div class="io-description">
                        <b>Parameters :</b>
                        <table class="params">
                            <thead>
                                <tr>
                                    <td>Name</td>
                                    <td>Optional</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>index</td>

                                    <td>
                                        No
                                    </td>


                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div>
                    </div>
                    <div class="io-description">
                        <b>Returns : </b>        <code><a href="https://www.typescriptlang.org/docs/handbook/basic-types.html" target="_blank" >any</a></code>

                    </div>
                    <div class="io-description">
                        
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="isActive"></a>
                    <span class="name">
                        <b>
                            isActive
                        </b>
                        <a href="#isActive"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
            <tr>
                <td class="col-md-4">
<code>isActive(index)</code>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">
                    <div class="io-line">Defined in <a href="" data-line="59"
                            class="link-to-prism">src/app/shared/dynamic-form/tab-type.component.ts:59</a></div>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">

                    <div class="io-description">
                        <b>Parameters :</b>
                        <table class="params">
                            <thead>
                                <tr>
                                    <td>Name</td>
                                    <td>Optional</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>index</td>

                                    <td>
                                        No
                                    </td>


                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div>
                    </div>
                    <div class="io-description">
                        <b>Returns : </b>        <code><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/boolean" target="_blank" >boolean</a></code>

                    </div>
                    <div class="io-description">
                        
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="isValid"></a>
                    <span class="name">
                        <b>
                            isValid
                        </b>
                        <a href="#isValid"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
            <tr>
                <td class="col-md-4">
<code>isValid(index)</code>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">
                    <div class="io-line">Defined in <a href="" data-line="75"
                            class="link-to-prism">src/app/shared/dynamic-form/tab-type.component.ts:75</a></div>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">

                    <div class="io-description">
                        <b>Parameters :</b>
                        <table class="params">
                            <thead>
                                <tr>
                                    <td>Name</td>
                                    <td>Optional</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>index</td>

                                    <td>
                                        No
                                    </td>


                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div>
                    </div>
                    <div class="io-description">
                        <b>Returns : </b>        <code><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/boolean" target="_blank" >boolean</a></code>

                    </div>
                    <div class="io-description">
                        
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="isValidChain"></a>
                    <span class="name">
                        <b>
                            isValidChain
                        </b>
                        <a href="#isValidChain"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
            <tr>
                <td class="col-md-4">
<code>isValidChain(index)</code>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">
                    <div class="io-line">Defined in <a href="" data-line="63"
                            class="link-to-prism">src/app/shared/dynamic-form/tab-type.component.ts:63</a></div>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">

                    <div class="io-description">
                        <b>Parameters :</b>
                        <table class="params">
                            <thead>
                                <tr>
                                    <td>Name</td>
                                    <td>Optional</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>index</td>

                                    <td>
                                        No
                                    </td>


                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div>
                    </div>
                    <div class="io-description">
                        <b>Returns : </b>        <code><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/boolean" target="_blank" >boolean</a></code>

                    </div>
                    <div class="io-description">
                        
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="isValidFieldGroup"></a>
                    <span class="name">
                        <b>
                            isValidFieldGroup
                        </b>
                        <a href="#isValidFieldGroup"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
            <tr>
                <td class="col-md-4">
<code>isValidFieldGroup(group: <a href="../interfaces/Field.html">FormlyFieldConfig</a>)</code>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">
                    <div class="io-line">Defined in <a href="" data-line="80"
                            class="link-to-prism">src/app/shared/dynamic-form/tab-type.component.ts:80</a></div>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">

                    <div class="io-description">
                        <b>Parameters :</b>
                        <table class="params">
                            <thead>
                                <tr>
                                    <td>Name</td>
                                    <td>Type</td>
                                    <td>Optional</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>group</td>
                                    <td>
                                                <code><a href="../interfaces/Field.html" target="_self" >FormlyFieldConfig</a></code>
                                    </td>

                                    <td>
                                        No
                                    </td>


                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div>
                    </div>
                    <div class="io-description">
                        <b>Returns : </b>        <code><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/boolean" target="_blank" >boolean</a></code>

                    </div>
                    <div class="io-description">
                        
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="nextStep"></a>
                    <span class="name">
                        <b>
                            nextStep
                        </b>
                        <a href="#nextStep"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
            <tr>
                <td class="col-md-4">
<code>nextStep(step)</code>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">
                    <div class="io-line">Defined in <a href="" data-line="115"
                            class="link-to-prism">src/app/shared/dynamic-form/tab-type.component.ts:115</a></div>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">

                    <div class="io-description">
                        <b>Parameters :</b>
                        <table class="params">
                            <thead>
                                <tr>
                                    <td>Name</td>
                                    <td>Optional</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>step</td>

                                    <td>
                                        No
                                    </td>


                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div>
                    </div>
                    <div class="io-description">
                        <b>Returns : </b>        <code><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/boolean" target="_blank" >boolean</a></code>

                    </div>
                    <div class="io-description">
                        
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="ngOnInit"></a>
                    <span class="name">
                        <b>
                            ngOnInit
                        </b>
                        <a href="#ngOnInit"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
            <tr>
                <td class="col-md-4">
<code>ngOnInit()</code>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">
                    <div class="io-line">Defined in <a href="" data-line="55"
                            class="link-to-prism">src/app/shared/dynamic-form/tab-type.component.ts:55</a></div>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">

                    <div class="io-description">
                        <b>Returns : </b>        <code><a href="https://www.typescriptlang.org/docs/handbook/basic-types.html" target="_blank" >void</a></code>

                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="onTabChange"></a>
                    <span class="name">
                        <b>
                            onTabChange
                        </b>
                        <a href="#onTabChange"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
            <tr>
                <td class="col-md-4">
<code>onTabChange($event)</code>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">
                    <div class="io-line">Defined in <a href="" data-line="151"
                            class="link-to-prism">src/app/shared/dynamic-form/tab-type.component.ts:151</a></div>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">

                    <div class="io-description">
                        <b>Parameters :</b>
                        <table class="params">
                            <thead>
                                <tr>
                                    <td>Name</td>
                                    <td>Optional</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>$event</td>

                                    <td>
                                        No
                                    </td>


                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div>
                    </div>
                    <div class="io-description">
                        <b>Returns : </b>        <code><a href="https://www.typescriptlang.org/docs/handbook/basic-types.html" target="_blank" >void</a></code>

                    </div>
                    <div class="io-description">
                        
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="prevStep"></a>
                    <span class="name">
                        <b>
                            prevStep
                        </b>
                        <a href="#prevStep"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
            <tr>
                <td class="col-md-4">
<code>prevStep(step)</code>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">
                    <div class="io-line">Defined in <a href="" data-line="108"
                            class="link-to-prism">src/app/shared/dynamic-form/tab-type.component.ts:108</a></div>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">

                    <div class="io-description">
                        <b>Parameters :</b>
                        <table class="params">
                            <thead>
                                <tr>
                                    <td>Name</td>
                                    <td>Optional</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>step</td>

                                    <td>
                                        No
                                    </td>


                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div>
                    </div>
                    <div class="io-description">
                        <b>Returns : </b>        <code><a href="https://www.typescriptlang.org/docs/handbook/basic-types.html" target="_blank" >void</a></code>

                    </div>
                    <div class="io-description">
                        
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="selectActiveStep"></a>
                    <span class="name">
                        <b>
                            selectActiveStep
                        </b>
                        <a href="#selectActiveStep"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
            <tr>
                <td class="col-md-4">
<code>selectActiveStep()</code>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">
                    <div class="io-line">Defined in <a href="" data-line="123"
                            class="link-to-prism">src/app/shared/dynamic-form/tab-type.component.ts:123</a></div>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">

                    <div class="io-description">
                        <b>Returns : </b>        <code><a href="https://www.typescriptlang.org/docs/handbook/basic-types.html" target="_blank" >void</a></code>

                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</section>
    <section>
    
        <h3 id="inputs">
            Properties
        </h3>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="_selectedTab"></a>
                        <span class="name">
                            <b>
                            _selectedTab</b>
                            <a href="#_selectedTab"><span class="icon ion-ios-link"></span></a>
                        </span>
                    </td>
                </tr>
                    <tr>
                        <td class="col-md-4">
                            <i>Type : </i>        <code><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/string" target="_blank" >string</a></code>

                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-4">
                            <i>Default value : </i><code>&#x27;tab-0&#x27;</code>
                        </td>
                    </tr>
                        <tr>
                            <td class="col-md-4">
                                    <div class="io-line">Defined in <a href="" data-line="53" class="link-to-prism">src/app/shared/dynamic-form/tab-type.component.ts:53</a></div>
                            </td>
                        </tr>


            </tbody>
        </table>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="activedStep"></a>
                        <span class="name">
                            <b>
                            activedStep</b>
                            <a href="#activedStep"><span class="icon ion-ios-link"></span></a>
                        </span>
                    </td>
                </tr>
                    <tr>
                        <td class="col-md-4">
                            <i>Type : </i>        <code><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/number" target="_blank" >number</a></code>

                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-4">
                            <i>Default value : </i><code>0</code>
                        </td>
                    </tr>
                        <tr>
                            <td class="col-md-4">
                                    <div class="io-line">Defined in <a href="" data-line="48" class="link-to-prism">src/app/shared/dynamic-form/tab-type.component.ts:48</a></div>
                            </td>
                        </tr>


            </tbody>
        </table>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="last"></a>
                        <span class="name">
                            <b>
                            last</b>
                            <a href="#last"><span class="icon ion-ios-link"></span></a>
                        </span>
                    </td>
                </tr>
                    <tr>
                        <td class="col-md-4">
                            <i>Default value : </i><code>false</code>
                        </td>
                    </tr>
                        <tr>
                            <td class="col-md-4">
                                    <div class="io-line">Defined in <a href="" data-line="52" class="link-to-prism">src/app/shared/dynamic-form/tab-type.component.ts:52</a></div>
                            </td>
                        </tr>


            </tbody>
        </table>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="tabs"></a>
                        <span class="name">
                            <b>
                            tabs</b>
                            <a href="#tabs"><span class="icon ion-ios-link"></span></a>
                        </span>
                    </td>
                </tr>
                    <tr>
                        <td class="col-md-4">
                            <i>Type : </i>    <code>NgbTabset</code>

                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-4">
                            <b>Decorators : </b>
                            <br />
                            <code>
                                @ViewChild(&#x27;tabs&#x27;)<br />
                            </code>
                        </td>
                    </tr>
                        <tr>
                            <td class="col-md-4">
                                    <div class="io-line">Defined in <a href="" data-line="50" class="link-to-prism">src/app/shared/dynamic-form/tab-type.component.ts:50</a></div>
                            </td>
                        </tr>


            </tbody>
        </table>
</section>

    <section>
    <h3 id="accessors">
        Accessors
    </h3>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="lastIndex"></a>
                        <span class="name"><b>lastIndex</b><a href="#lastIndex"><span class="icon ion-ios-link"></span></a></span>
                    </td>
                </tr>

                <tr>
                    <td class="col-md-4">
                        <span class="accessor"><b>get</b><code>lastIndex()</code></span>
                    </td>
                </tr>
                            <tr>
                                <td class="col-md-4">
                                    <div class="io-line">Defined in <a href="" data-line="128" class="link-to-prism">src/app/shared/dynamic-form/tab-type.component.ts:128</a></div>
                                </td>
                            </tr>

            </tbody>
        </table>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="selectedTab"></a>
                        <span class="name"><b>selectedTab</b><a href="#selectedTab"><span class="icon ion-ios-link"></span></a></span>
                    </td>
                </tr>

                <tr>
                    <td class="col-md-4">
                        <span class="accessor"><b>get</b><code>selectedTab()</code></span>
                    </td>
                </tr>
                            <tr>
                                <td class="col-md-4">
                                    <div class="io-line">Defined in <a href="" data-line="132" class="link-to-prism">src/app/shared/dynamic-form/tab-type.component.ts:132</a></div>
                                </td>
                            </tr>

                <tr>
                    <td class="col-md-4">
                        <span class="accessor"><b>set</b><code>selectedTab(value: <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/string" target="_blank">string</a>)</code></span>
                    </td>
                </tr>
                            <tr>
                                <td class="col-md-4">
                                    <div class="io-line">Defined in <a href="" data-line="137" class="link-to-prism">src/app/shared/dynamic-form/tab-type.component.ts:137</a></div>
                                </td>
                            </tr>
                    <tr>
                        <td class="col-md-4">

                                <div class="io-description">
                                        <b>Parameters :</b>
                                        <table class="params">
                                            <thead>
                                                <tr>
                                                    <td>Name</td>
                                                        <td>Type</td>
                                                    <td>Optional</td>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                    <tr>
                                                            <td>value</td>
                                                    
                                                            <td>
                                                                            <code><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/string" target="_blank" >string</a></code>
                                                            </td>
                                                    
                                                        <td>
                                                                No
                                                        </td>
                                                        
                                                    </tr>
                                            </tbody>
                                        </table>
                                </div>
                                <div>
                                </div>
                                <div class="io-description">
                                    <b>Returns : </b>        <code><a href="https://www.typescriptlang.org/docs/handbook/basic-types.html" target="_blank" >void</a></code>

                                </div>
                        </td>
                    </tr>
            </tbody>
        </table>
</section>
</div>


    <div class="tab-pane fade  tab-source-code" id="c-source">
        <pre class="line-numbers compodoc-sourcecode"><code class="language-typescript">import { FieldType, FieldArrayType, FormlyFormBuilder } from &#x27;@ngx-formly/core&#x27;;
import { Component, OnInit, Input, ViewChild, ElementRef } from &#x27;@angular/core&#x27;;
import { FormlyFormOptions, FormlyFieldConfig } from &#x27;@ngx-formly/core&#x27;;
import { FormGroup, FormArray } from &#x27;@angular/forms&#x27;;
import { NgbTabset } from &#x27;@ng-bootstrap/ng-bootstrap&#x27;;
import { evalExpression } from &#x27;./utils&#x27;;



// ng g c shared/dynamic-form/tab-type -s true  --spec false --flat true

//[disabled]&#x3D;&quot;index&gt;0 &amp;&amp; !isValidChain(index-1)&quot;
@Component({
  selector: &#x27;app-tab-type&#x27;,
  template: &#x60;
  &lt;ngb-tabset #tabs&#x3D;&quot;ngbTabset&quot; type&#x3D;&quot;pills&quot; [orientation]&#x3D;&quot;&#x27;horizontal&#x27;&quot; [justify]&#x3D;&quot;&#x27;justified&#x27;&quot; (tabChange)&#x3D;&quot;onTabChange($event)&quot;&gt;
  &lt;div *ngFor&#x3D;&quot;let f of field.fieldGroup; let index &#x3D; index;&quot;&gt;
    &lt;ngb-tab id&#x3D;&quot;tab-{{index}}&quot;  *ngIf&#x3D;&quot;!f.templateOptions.hidden&quot;&gt;
        &lt;ng-template ngbTabTitle&gt;
          &lt;button class&#x3D;&quot;btn btn-circle mr-2&quot;&gt;
            &lt;span *ngIf&#x3D;&quot;isActive(index)&quot; class&#x3D;&quot;oi oi-pencil iconic&quot; aria-hidden&#x3D;&quot;true&quot;&gt;&lt;/span&gt;
            &lt;span *ngIf&#x3D;&quot;!isActive(index)&quot;&gt;&lt;b&gt;{{ index }}&lt;/b&gt;&lt;/span&gt;
          &lt;/button&gt;
          &lt;button class&#x3D;&quot;btn btn-outline-primary border-0 rounded-0&quot;&gt;{{ f.templateOptions.label }} &lt;/button&gt;          
        &lt;/ng-template&gt;
        &lt;ng-template ngbTabContent&gt;            
            &lt;formly-field 
                [model]&#x3D;&quot;model&quot;
                [field]&#x3D;&quot;f&quot;
                [options]&#x3D;&quot;options&quot;
                [form]&#x3D;&quot;form&quot;&gt;
            &lt;/formly-field&gt;              
        &lt;/ng-template&gt;
    &lt;/ngb-tab&gt;
&lt;/div&gt;
&lt;/ngb-tabset&gt;
&lt;div&gt;
&lt;button *ngIf&#x3D;&quot;selectedTab !&#x3D;&#x3D; &#x27;tab-0&#x27;&quot; class&#x3D;&quot;btn btn-primary mr-2&quot; type&#x3D;&quot;button&quot; (click)&#x3D;&quot;prevStep(activedStep)&quot;&gt;Indietro&lt;/button&gt;
&lt;button *ngIf&#x3D;&quot;!last&quot; class&#x3D;&quot;btn btn-primary&quot; type&#x3D;&quot;button&quot; [disabled]&#x3D;&quot;!isValid(activedStep)&quot; (click)&#x3D;&quot;nextStep(activedStep)&quot;&gt;Avanti&lt;/button&gt;
&lt;button *ngIf&#x3D;&quot;last &amp;&amp; to.onSubmit&quot; class&#x3D;&quot;btn btn-primary&quot; type&#x3D;&quot;button&quot; [disabled]&#x3D;&quot;!form.valid || !form.dirty&quot; (click)&#x3D;&quot;to.onSubmit()&quot;&gt;Salva&lt;/button&gt;
&lt;/div&gt;
  &#x60;,
  styleUrls: [&#x27;./wrapper/navstepper-wrapper.component.css&#x27;]
})

export class TabTypeComponent extends FieldType implements OnInit {

  activedStep &#x3D; 0;

  @ViewChild(&#x27;tabs&#x27;) tabs: NgbTabset;

  last &#x3D; false;
  _selectedTab &#x3D; &#x27;tab-0&#x27;;

  ngOnInit() {

  }

  isActive(index): boolean {
    return (&#x27;tab-&#x27; + index) &#x3D;&#x3D;&#x3D; this.tabs.activeId;
  }

  isValidChain(index): boolean {
    if (!this.tabs.tabs)
      return true;
    //se uno dei tab precedenti è disabilitato allora mi disabilito
    for (let i &#x3D; 0; i &lt;&#x3D; index; i++) {
      let t &#x3D; this.tabs.tabs.find(x &#x3D;&gt; x.id &#x3D;&#x3D; &#x27;tab-&#x27; + i)
      if (t.disabled)
        return false;
    }
    return this.isValid(index);
  }

  isValid(index): boolean {
    let tab &#x3D; this.field.fieldGroup[index];
    return this.isValidFieldGroup(tab);
  }

  isValidFieldGroup(group: FormlyFieldConfig) {
    for (let subfield of group.fieldGroup) {

      const fullName &#x3D; this.field.key ? this.field.key + &quot;.&quot; + subfield.key : subfield.key;
      const contrl &#x3D; this.form.get(fullName);

      //chiamata alla funzione di hideExpression
      // const hideResult &#x3D; !!evalExpression(
      //   subfield.hideExpression,
      //   { subfield },
      //   [subfield.model, this.formState],
      // );

      if (contrl) {
        if (contrl.status !&#x3D;&#x3D; &#x27;DISABLED&#x27;) {
          if (contrl &amp;&amp; !contrl.valid)
            return false;
        }
      }
      //allora il subfield è un fieldgroup                 
      if (subfield.fieldGroup)
        if (!this.isValidFieldGroup(subfield))
          return false;
    }

    return true;
  }

  prevStep(step) {
    if (step &#x3D;&#x3D;&#x3D; 0)
      return;
    this.activedStep &#x3D; step - 1;
    this.selectActiveStep();
  }

  nextStep(step) {
    if (step &#x3D;&#x3D;&#x3D; this.field.fieldGroup.length - 1) {
      return true;
    }
    this.activedStep &#x3D; step + 1;
    this.selectActiveStep();
  }

  selectActiveStep() {
    this.tabs.select(&#x27;tab-&#x27; + this.activedStep);
  }


  public get lastIndex(): string {
    return this.tabs.tabs.last.id; // &#x27;tab-&#x27; + ( this.field.fieldGroup.length - 1);
  }

  public get selectedTab(): string {
    return this._selectedTab;
  }


  public set selectedTab(value: string) {
    this._selectedTab &#x3D; value;
    this.activedStep &#x3D; +value.replace(&#x27;tab-&#x27;, &#x27;&#x27;);
  }


  getStepTitle(index) {
    let label &#x3D; this.to.labels[index];
    if (label) {
      return label;
    }
    return &#x27;Passo &#x27; + index;
  }

  onTabChange($event) {
    this.selectedTab &#x3D; $event.nextId;
    if (this.lastIndex &#x3D;&#x3D;&#x3D; this.selectedTab) {
      this.last &#x3D; true;
    } else {
      this.last &#x3D; false;
    }
  }
}</code></pre>
    </div>


    <div class="tab-pane fade " id="c-styleData">
                <p class="comment">
                    <code>./wrapper/navstepper-wrapper.component.css</code>
                </p>
                <pre class="line-numbers"><code class="language-scss">/*
  ::ng-deep .nav-fill .nav-link.active {
      margin-top: -1px;
      border-top: 2px solid #20a8d8;
      color: yellow;    
  }
  
  ::ng-deep a {
    color: purple;
  }
  
  ::ng-deep a:hover {
    color: red;
  }   */
  
  ::ng-deep .nav-pills a.nav-link.active, 
  ::ng-deep .nav-pills .show &gt; a.nav-link {                        
      border-radius: 0%;
      background: transparent; 
      color: black;         
      
      /* border-bottom: 2px solid #20a8d8; */
  }
  
  .btn-circle {
    width: 40px;
    height: 40px;
    padding: 4px 0px;
    border-radius: 20px;
    text-align: center;
    font-size: 13px;
    line-height: 1.42857;
}</code></pre>
    </div>

    <div class="tab-pane fade " id="c-tree">
        <div id="tree-container"></div>
        <div class="tree-legend">
            <div class="title">
                <b>Legend</b>
            </div>
            <div>
                <div class="color htmlelement"></div><span>Html element</span>
            </div>
            <div>
                <div class="color component"></div><span>Component</span>
            </div>
            <div>
                <div class="color directive"></div><span>Html element with directive</span>
            </div>
        </div>
    </div>

    
</div>

<script src="../js/libs/vis.min.js"></script>
<script src="../js/libs/htmlparser.js"></script>
<script src="../js/libs/deep-iterator.js"></script>
<script>
        var COMPONENT_TEMPLATE = '<div>  <ngb-tabset #tabs="ngbTabset" type="pills" [orientation]="\'horizontal\'" [justify]="\'justified\'" (tabChange)="onTabChange($event)">  <div *ngFor="let f of field.fieldGroup; let index = index;">    <ngb-tab id="tab-{{index}}"  *ngIf="!f.templateOptions.hidden">        <ng-template ngbTabTitle>          <button class="btn btn-circle mr-2">            <span *ngIf="isActive(index)" class="oi oi-pencil iconic" aria-hidden="true"></span>            <span *ngIf="!isActive(index)"><b>{{ index }}</b></span>          </button>          <button class="btn btn-outline-primary border-0 rounded-0">{{ f.templateOptions.label }} </button>        </ng-template>        <ng-template ngbTabContent>            <formly-field                [model]="model"                [field]="f"                [options]="options"                [form]="form">            </formly-field>        </ng-template>    </ngb-tab></div></ngb-tabset><div><button *ngIf="selectedTab !== \'tab-0\'" class="btn btn-primary mr-2" type="button" (click)="prevStep(activedStep)">Indietro</button><button *ngIf="!last" class="btn btn-primary" type="button" [disabled]="!isValid(activedStep)" (click)="nextStep(activedStep)">Avanti</button><button *ngIf="last && to.onSubmit" class="btn btn-primary" type="button" [disabled]="!form.valid || !form.dirty" (click)="to.onSubmit()">Salva</button></div></div>'
    var COMPONENTS = [{'name': 'AccordionInfoWrapperComponent', 'selector': 'formly-wrapper-accordioninfo'},{'name': 'AccordionWrapperComponent', 'selector': 'formly-wrapper-accordion'},{'name': 'AllegatiComponent', 'selector': 'app-allegati'},{'name': 'AppComponent', 'selector': 'app-root'},{'name': 'ApprovazionedetailsComponent', 'selector': 'app-approvazionedetails'},{'name': 'AssignmentDetailPageComponent', 'selector': 'app-assignment-detail-page'},{'name': 'AziendaLocComponent', 'selector': 'app-aziendaloc'},{'name': 'AziendeLocComponent', 'selector': 'app-aziendeloc'},{'name': 'BaseEntityComponent', 'selector': ''},{'name': 'BaseResearchComponent', 'selector': ''},{'name': 'BlankComponent', 'selector': 'app-blank-layout'},{'name': 'BolloRepertoriazioneComponent', 'selector': 'app-bollorepertoriazione'},{'name': 'BreadcrumbComponent', 'selector': 'app-breadcrumb'},{'name': 'ClassificazioneComponent', 'selector': 'app-classificazione'},{'name': 'ClassificazioniComponent', 'selector': 'app-classificazioni'},{'name': 'CollapseWrapperComponent', 'selector': 'app-collapse-wrapper'},{'name': 'ConfirmationDialogComponent', 'selector': 'app-confirmation-dialog'},{'name': 'ControlGenericListComponent', 'selector': 'app-control-generic-list'},{'name': 'ConvenzioneComponent', 'selector': 'app-convenzione'},{'name': 'ConvenzionedetailsComponent', 'selector': 'app-convenzionedetails'},{'name': 'ConvenzioniComponent', 'selector': 'app-convenzionis'},{'name': 'ConvenzioniresultComponent', 'selector': 'app-convenzioniresult'},{'name': 'ConvvalidationComponent', 'selector': 'app-convvalidation'},{'name': 'Dashboard1Component', 'selector': ''},{'name': 'Dashboard2Component', 'selector': ''},{'name': 'DatepickerTypeComponent', 'selector': 'app-datapicker-type'},{'name': 'DocumentiTitulus', 'selector': 'app-documenti'},{'name': 'DynamicFormComponent', 'selector': 'app-dynamic-form'},{'name': 'DynamicTableComponent', 'selector': 'app-grid'},{'name': 'EmissioneComponent', 'selector': 'app-emissione'},{'name': 'EsecuzionedetailsComponent', 'selector': 'app-esecuzionedetails'},{'name': 'ExternalobjTypeComponent', 'selector': 'formly-field-ext'},{'name': 'ExternalqueryComponent', 'selector': 'app-externalquery'},{'name': 'ExternalTypeComponent', 'selector': 'app-external-type'},{'name': 'FaseWrapperComponent', 'selector': 'app-fase-wrapper'},{'name': 'FirmaControparteComponent', 'selector': 'app-firmacontroparte'},{'name': 'FirmaDirettoreComponent', 'selector': 'app-firmadirettore'},{'name': 'FormInfraComponent', 'selector': 'app-form-infra'},{'name': 'FormlyFieldButton', 'selector': 'formly-field-button'},{'name': 'FormlyFieldTemplate', 'selector': 'formly-template'},{'name': 'FormlyFieldTypeahead', 'selector': 'formly-field-typeahead'},{'name': 'FormlyHorizontalWrapper', 'selector': 'formly-horizontal-wrapper'},{'name': 'FullComponent', 'selector': 'app-full-layout'},{'name': 'GenericTypeComponent', 'selector': 'app-generic-type'},{'name': 'GridFormlyCellComponent', 'selector': 'formly-ag-grid-cell'},{'name': 'GridTypeComponent', 'selector': 'formly-field-grid'},{'name': 'HomeComponent', 'selector': 'app-home'},{'name': 'InfocardComponent', 'selector': 'app-info-card'},{'name': 'InputFileComponent', 'selector': 'app-input-file'},{'name': 'InvioRichiestaPagamentoComponent', 'selector': 'app-inviorichiestapagamento'},{'name': 'LogAttivitaComponent', 'selector': 'app-logattivita'},{'name': 'LookupComponent', 'selector': 'app-lookup'},{'name': 'MappingRuoli', 'selector': 'app-mappingruoli'},{'name': 'MappingRuolo', 'selector': 'app-ruolo'},{'name': 'MappingUfficioTitulus', 'selector': 'app-mappingufficio'},{'name': 'MappingUfficiTitulus', 'selector': 'app-mappinguffici'},{'name': 'MessageComponent', 'selector': 'app-message'},{'name': 'MultistepSchematipoComponent', 'selector': 'app-multistep-schematipo'},{'name': 'NavigationComponent', 'selector': 'app-navigation'},{'name': 'NavstepperWrapperComponent', 'selector': 'app-navstepper-wrapper'},{'name': 'NotFoundComponent', 'selector': 'notfound'},{'name': 'NotificationsComponent', 'selector': 'app-notifications'},{'name': 'PagamentoComponent', 'selector': 'app-pagamento'},{'name': 'PanelWrapperComponent', 'selector': 'formly-wrapper-panel'},{'name': 'PdfInfraComponent', 'selector': 'app-pdf-infra'},{'name': 'PdfTypeComponent', 'selector': 'app-pdf-type'},{'name': 'PdfTypeInputComponent', 'selector': 'app-pdf-type-input'},{'name': 'PermissionComponent', 'selector': 'app-permission'},{'name': 'PermissionsComponent', 'selector': 'app-permissions'},{'name': 'PersoneinterneTitulus', 'selector': 'app-personeinterne'},{'name': 'QueryBuilderComponent', 'selector': 'app-query-builder'},{'name': 'RangedetailsComponent', 'selector': 'app-rangedetails'},{'name': 'RepeatTypeComponent', 'selector': 'formly-repeat-section'},{'name': 'RepertoriazionedetailsComponent', 'selector': 'app-repertoriazionedetails'},{'name': 'RichiestaEmissioneComponent', 'selector': 'app-richiestaemissione'},{'name': 'RightaddonsWrapperComponent', 'selector': 'formly-wrapper-rightaddons'},{'name': 'RoleComponent', 'selector': 'app-role'},{'name': 'RolesComponent', 'selector': 'app-roles'},{'name': 'ScadenzaComponent', 'selector': 'app-scadenza'},{'name': 'ScadenzeComponent', 'selector': 'app-scadenze'},{'name': 'ScadenzedetailsComponent', 'selector': 'app-scadenzedetails'},{'name': 'ScadenzeresultComponent', 'selector': 'app-scadenzeresult'},{'name': 'SelectTypeComponent', 'selector': 'app-select-type'},{'name': 'ShowErrorsComponent', 'selector': 'app-show-errors'},{'name': 'SidebarComponent', 'selector': 'app-sidebar'},{'name': 'SottoscrizioneComponent', 'selector': 'app-sottoscrizione'},{'name': 'SottoscrizionedetailsComponent', 'selector': 'app-sottoscrizionedetails'},{'name': 'StruttureEsterneTitulus', 'selector': 'app-struttureinterne'},{'name': 'StruttureInterneTitulus', 'selector': 'app-struttureinterne'},{'name': 'SystemErrorComponent', 'selector': 'systemerror'},{'name': 'TableGroupTypeComponent', 'selector': 'app-tablegroup-type'},{'name': 'TableLookupTypeComponent', 'selector': 'app-tablelookup-type'},{'name': 'TableTypeComponent', 'selector': 'app-table-type'},{'name': 'TabTypeComponent', 'selector': 'app-tab-type'},{'name': 'TaskComponent', 'selector': 'app-task'},{'name': 'TaskListComponent', 'selector': 'app-tasklist'},{'name': 'TasksComponent', 'selector': 'app-tasks'},{'name': 'TestTabComponent', 'selector': 'app-test-tab'},{'name': 'TipoPagamentiComponent', 'selector': 'app-tipopagamenti'},{'name': 'TipoPagamentoComponent', 'selector': 'app-tipopagamento'},{'name': 'TooltipWrapperComponent', 'selector': 'formly-wrapper-tooltip'},{'name': 'UploadfileComponent', 'selector': 'app-uploadfile'},{'name': 'UserComponent', 'selector': 'app-user'},{'name': 'UserLoginComponent', 'selector': 'app-user-login'},{'name': 'UsersComponent', 'selector': 'app-users'},{'name': 'UserTaskDetailComponent', 'selector': 'app-user-task-detail'}];
    var DIRECTIVES = [];
    var ACTUAL_COMPONENT = {'name': 'TabTypeComponent'};
</script>
<script src="../js/tree.js"></script>










                   




                   </div><div class="search-results">
    <div class="has-results">
        <h1 class="search-results-title"><span class='search-results-count'></span> result-matching "<span class='search-query'></span>"</h1>
        <ul class="search-results-list"></ul>
    </div>
    <div class="no-results">
        <h1 class="search-results-title">No results matching "<span class='search-query'></span>"</h1>
    </div>
</div>
</div>
               <!-- END CONTENT -->
           </div>
       </div>

       <script>
            var COMPODOC_CURRENT_PAGE_DEPTH = 1;
            var COMPODOC_CURRENT_PAGE_CONTEXT = 'component';
            var COMPODOC_CURRENT_PAGE_URL = 'TabTypeComponent.html';
       </script>

       <script src="../js/libs/custom-elements.min.js"></script>
       <script src="../js/libs/lit-html.js"></script>
       <!-- Required to polyfill modern browsers as code is ES5 for IE... -->
       <script src="../js/libs/custom-elements-es5-adapter.js" charset="utf-8" defer></script>
       <script src="../js/menu-wc.js" defer></script>

       <script src="../js/libs/bootstrap-native.js"></script>

       <script src="../js/libs/es6-shim.min.js"></script>
       <script src="../js/libs/EventDispatcher.js"></script>
       <script src="../js/libs/promise.min.js"></script>
       <script src="../js/libs/zepto.min.js"></script>

       <script src="../js/compodoc.js"></script>

       <script src="../js/tabs.js"></script>
       <script src="../js/menu.js"></script>
       <script src="../js/libs/clipboard.min.js"></script>
       <script src="../js/libs/prism.js"></script>
       <script src="../js/sourceCode.js"></script>
          <script src="../js/search/search.js"></script>
          <script src="../js/search/lunr.min.js"></script>
          <script src="../js/search/search-lunr.js"></script>
          <script src="../js/search/search_index.js"></script>
       <script src="../js/lazy-load-graphs.js"></script>


    </body>
</html>
