<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>UniConv app documentation</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="icon" type="image/x-icon" href="../images/favicon.ico">
	      <link rel="stylesheet" href="../styles/style.css">
    </head>
    <body>

        <div class="navbar navbar-default navbar-fixed-top visible-xs">
            <a href="../" class="navbar-brand">UniConv app documentation</a>
            <button type="button" class="btn btn-default btn-menu ion-ios-menu" id="btn-menu"></button>
        </div>

        <div class="xs-menu menu" id="mobile-menu">
                <div id="book-search-input" role="search"><input type="text" placeholder="Type to search"></div>            <compodoc-menu></compodoc-menu>
        </div>

        <div class="container-fluid main">
           <div class="row main">
               <div class="hidden-xs menu">
                   <compodoc-menu mode="normal"></compodoc-menu>
               </div>
               <!-- START CONTENT -->
               <div class="content component">
                   <div class="content-data">




<ol class="breadcrumb">
  <li>Components</li>
  <li>UserTaskDetailComponent</li>
</ol>

<ul class="nav nav-tabs" role="tablist">
        <li class="active">
            <a href="#info" role="tab" id="info-tab" data-toggle="tab" data-link="info">Info</a>
        </li>
        <li >
            <a href="#source" role="tab" id="source-tab" data-toggle="tab" data-link="source">Source</a>
        </li>
        <li >
            <a href="#tree" role="tab" id="tree-tab" data-toggle="tab" data-link="dom-tree">DOM Tree</a>
        </li>
</ul>

<div class="tab-content">
    <div class="tab-pane fade active in" id="c-info"><p class="comment">
    <h3>File</h3>
</p>
<p class="comment">
    <code>src/app/application/components/convenzione/user-task-detail.component.ts</code>
</p>



    <p class="comment">
        <h3>Implements</h3>
    </p>
    <p class="comment">
                    <code><a href="https://angular.io/api/core/OnInit" target="_blank" >OnInit</a></code>
    </p>


<section>
    <h3>Metadata</h3>
    <table class="table table-sm table-hover">
        <tbody>











            <tr>
                <td class="col-md-3">selector</td>
                <td class="col-md-9"><code>app-user-task-detail</code></td>
            </tr>



            <tr>
                <td class="col-md-3">template</td>
                <td class="col-md-9"><pre class="line-numbers"><code class="language-html">  &lt;ngx-loading [show]&#x3D;&quot;isLoading&quot; [config]&#x3D;&quot;{ backdropBorderRadius: &#x27;0px&#x27; }&quot;&gt;&lt;/ngx-loading&gt;
  &lt;div class&#x3D;&quot;btn-toolbar mb-4&quot; role&#x3D;&quot;toolbar&quot;&gt;
  &lt;div class&#x3D;&quot;btn-group&quot;&gt;
    &lt;button class&#x3D;&quot;btn btn-outline-primary border-0 rounded-0&quot; [disabled]&#x3D;&quot;!form.valid || !form.dirty&quot; (click)&#x3D;&quot;onSubmit()&quot; &gt;
        &lt;span class&#x3D;&quot;oi oi-arrow-top&quot;&gt;&lt;/span&gt;
        &lt;span class&#x3D;&quot;ml-2&quot;&gt;Aggiorna&lt;/span&gt;
    &lt;/button&gt;
    &lt;button class&#x3D;&quot;btn btn-outline-primary border-0 rounded-0&quot;  [disabled]&#x3D;&quot;!form.dirty&quot;&gt;
        &lt;span class&#x3D;&quot;oi oi-reload iconic&quot; title&#x3D;&quot;reload&quot; aria-hidden&#x3D;&quot;true&quot; &gt;&lt;/span&gt;
        &lt;span class&#x3D;&quot;ml-2&quot;&gt;Ricarica&lt;/span&gt;
    &lt;/button&gt;
  &lt;/div&gt;
&lt;/div&gt;
&lt;form *ngIf&#x3D;&#x27;model&#x27; [formGroup]&#x3D;&quot;form&quot;&gt;
  &lt;formly-form  [model]&#x3D;&quot;model&quot; [fields]&#x3D;&quot;fields&quot; [form]&#x3D;&quot;form&quot; [options]&#x3D;&quot;options&quot;&gt;
  &lt;/formly-form&gt;
&lt;/form&gt;
</code></pre></td>
            </tr>









        </tbody>
    </table>
</section>

    <section>
    <h3 id="index">Index</h3>
    <table class="table table-sm table-bordered index-table">
        <tbody>
                <tr>
                    <td class="col-md-4">
                        <h6><b>Properties</b></h6>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <ul class="index-list">
                            <li>
                                <a href="#fields">fields</a>
                            </li>
                            <li>
                                <a href="#form">form</a>
                            </li>
                            <li>
                                <a href="#isLoading">isLoading</a>
                            </li>
                            <li>
                                <a href="#options">options</a>
                            </li>
                        </ul>
                    </td>
                </tr>

                <tr>
                    <td class="col-md-4">
                        <h6><b>Methods</b></h6>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <ul class="index-list">
                            <li>
                                <a href="#ngOnInit">ngOnInit</a>
                            </li>
                            <li>
                                <a href="#onSubmit">onSubmit</a>
                            </li>
                        </ul>
                    </td>
                </tr>

                <tr>
                    <td class="col-md-4">
                        <h6><b>Inputs</b></h6>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <ul class="index-list">
                            <li>
                                <a href="#model">model</a>
                            </li>
                        </ul>
                    </td>
                </tr>




        </tbody>
    </table>
</section>

    <section>
    <h3 id="constructor">Constructor</h3>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
<code>constructor(service: <a href="../injectables/UserTaskService.html">UserTaskService</a>)</code>
                    </td>
                </tr>
                        <tr>
                            <td class="col-md-4">
                                <div class="io-line">Defined in <a href="" data-line="105" class="link-to-prism">src/app/application/components/convenzione/user-task-detail.component.ts:105</a></div>
                            </td>
                        </tr>

                <tr>
                    <td class="col-md-4">
                            <div>
                                    <b>Parameters :</b>
                                    <table class="params">
                                        <thead>
                                            <tr>
                                                <td>Name</td>
                                                    <td>Type</td>
                                                <td>Optional</td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                                <tr>
                                                        <td>service</td>
                                                  
                                                        <td>
                                                                        <code><a href="../injectables/UserTaskService.html" target="_self" >UserTaskService</a></code>
                                                        </td>
                                                  
                                                    <td>
                                                            No
                                                    </td>
                                                    
                                                </tr>
                                        </tbody>
                                    </table>
                            </div>
                    </td>
                </tr>
            </tbody>
        </table>
</section>

    <section>
    <h3 id="inputs">Inputs</h3>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="model"></a>
                        <b>model</b>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <i>Type : </i>        <code><a href="https://www.typescriptlang.org/docs/handbook/basic-types.html" target="_blank" >any</a></code>

                    </td>
                </tr>
                        <tr>
                            <td class="col-md-2" colspan="2">
                                    <div class="io-line">Defined in <a href="" data-line="33" class="link-to-prism">src/app/application/components/convenzione/user-task-detail.component.ts:33</a></div>
                            </td>
                        </tr>
            </tbody>
        </table>
</section>



    <section>
    
    <h3 id="methods">
        Methods
    </h3>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="ngOnInit"></a>
                    <span class="name">
                        <b>
                            ngOnInit
                        </b>
                        <a href="#ngOnInit"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
            <tr>
                <td class="col-md-4">
<code>ngOnInit()</code>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">
                    <div class="io-line">Defined in <a href="" data-line="109"
                            class="link-to-prism">src/app/application/components/convenzione/user-task-detail.component.ts:109</a></div>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">

                    <div class="io-description">
                        <b>Returns : </b>        <code><a href="https://www.typescriptlang.org/docs/handbook/basic-types.html" target="_blank" >void</a></code>

                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="onSubmit"></a>
                    <span class="name">
                        <b>
                            onSubmit
                        </b>
                        <a href="#onSubmit"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
            <tr>
                <td class="col-md-4">
<code>onSubmit()</code>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">
                    <div class="io-line">Defined in <a href="" data-line="112"
                            class="link-to-prism">src/app/application/components/convenzione/user-task-detail.component.ts:112</a></div>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">

                    <div class="io-description">
                        <b>Returns : </b>        <code><a href="https://www.typescriptlang.org/docs/handbook/basic-types.html" target="_blank" >void</a></code>

                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</section>
    <section>
    
        <h3 id="inputs">
            Properties
        </h3>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="fields"></a>
                        <span class="name">
                            <b>
                            fields</b>
                            <a href="#fields"><span class="icon ion-ios-link"></span></a>
                        </span>
                    </td>
                </tr>
                    <tr>
                        <td class="col-md-4">
                            <i>Type : </i>        <code><a href="../interfaces/Field.html" target="_self" >FormlyFieldConfig[]</a></code>

                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-4">
                            <i>Default value : </i><code>[
    {
      className: &#x27;section-label&#x27;,
      template: &#x27;&lt;h5&gt;Dettaglio attività&lt;/h5&gt;&#x27;,
    },
    {
      fieldGroupClassName: &#x27;row&#x27;,
      fieldGroup:
        [
          {
            className: &#x27;col-md-6&#x27;,
            type: &#x27;input&#x27;,
            key: &#x27;workflow_place&#x27;,
            templateOptions: {
              label: &#x27;Tipo&#x27;,
              disabled: true,
            },
          },
          {
            className: &#x27;col-md-6&#x27;,
            type: &#x27;select&#x27;,
            key: &#x27;transition&#x27;,
            defaultValue: &#x27;self_transition&#x27;,
            templateOptions: {
              label: &#x27;Modifica lo stato&#x27;,
              placeholder: &#x27;&#x27;,
              options: []
            },
            lifecycle: {
              onInit: (formInit, fieldInit) &#x3D;&gt; {
                fieldInit.templateOptions.options &#x3D; this.service.getNextPossibleActionsFromTask(this.model.id);
              },
            },
          },
        ],
    },
    {
      fieldGroup:
        [
          {            
            type: &#x27;input&#x27;,
            key: &#x27;email&#x27;,
            templateOptions: {
              label: &quot;Assegnata&quot;,
              disabled: true,
            },
          },
          {           
            type: &#x27;input&#x27;,
            key: &#x27;subject&#x27;,
            templateOptions: {
              label: &#x27;Oggetto&#x27;,
              disabled: true,
            },
          },
          {           
            type: &#x27;textarea&#x27;,
            key: &#x27;description&#x27;,
            templateOptions: {
              label: &#x27;Descrizione&#x27;,
              rows: 2,
            },
          },
        ]
    }
  ]</code>
                        </td>
                    </tr>
                        <tr>
                            <td class="col-md-4">
                                    <div class="io-line">Defined in <a href="" data-line="40" class="link-to-prism">src/app/application/components/convenzione/user-task-detail.component.ts:40</a></div>
                            </td>
                        </tr>


            </tbody>
        </table>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="form"></a>
                        <span class="name">
                            <b>
                            form</b>
                            <a href="#form"><span class="icon ion-ios-link"></span></a>
                        </span>
                    </td>
                </tr>
                    <tr>
                        <td class="col-md-4">
                            <i>Default value : </i><code>new FormGroup({})</code>
                        </td>
                    </tr>
                        <tr>
                            <td class="col-md-4">
                                    <div class="io-line">Defined in <a href="" data-line="39" class="link-to-prism">src/app/application/components/convenzione/user-task-detail.component.ts:39</a></div>
                            </td>
                        </tr>


            </tbody>
        </table>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="isLoading"></a>
                        <span class="name">
                            <b>
                            isLoading</b>
                            <a href="#isLoading"><span class="icon ion-ios-link"></span></a>
                        </span>
                    </td>
                </tr>
                    <tr>
                        <td class="col-md-4">
                            <i>Type : </i>        <code><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/boolean" target="_blank" >boolean</a></code>

                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-4">
                            <i>Default value : </i><code>false</code>
                        </td>
                    </tr>
                        <tr>
                            <td class="col-md-4">
                                    <div class="io-line">Defined in <a href="" data-line="31" class="link-to-prism">src/app/application/components/convenzione/user-task-detail.component.ts:31</a></div>
                            </td>
                        </tr>


            </tbody>
        </table>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="options"></a>
                        <span class="name">
                            <b>
                            options</b>
                            <a href="#options"><span class="icon ion-ios-link"></span></a>
                        </span>
                    </td>
                </tr>
                    <tr>
                        <td class="col-md-4">
                            <i>Type : </i>        <code><a href="../interfaces/Option.html" target="_self" >FormlyFormOptions</a></code>

                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-4">
                            <i>Default value : </i><code>{
    formState: {
      isLoading: false,
    },
  }</code>
                        </td>
                    </tr>
                        <tr>
                            <td class="col-md-4">
                                    <div class="io-line">Defined in <a href="" data-line="34" class="link-to-prism">src/app/application/components/convenzione/user-task-detail.component.ts:34</a></div>
                            </td>
                        </tr>


            </tbody>
        </table>
</section>

</div>


    <div class="tab-pane fade  tab-source-code" id="c-source">
        <pre class="line-numbers compodoc-sourcecode"><code class="language-typescript">import { Component, OnInit, Input } from &#x27;@angular/core&#x27;;
import { FormGroup } from &#x27;@angular/forms&#x27;;
import { FormlyFieldConfig, FormlyFormOptions } from &#x27;@ngx-formly/core&#x27;;
import { UserTaskService } from &#x27;../../usertask.service&#x27;;

@Component({
  selector: &#x27;app-user-task-detail&#x27;,
  template: &#x60;
  &lt;ngx-loading [show]&#x3D;&quot;isLoading&quot; [config]&#x3D;&quot;{ backdropBorderRadius: &#x27;0px&#x27; }&quot;&gt;&lt;/ngx-loading&gt;
  &lt;div class&#x3D;&quot;btn-toolbar mb-4&quot; role&#x3D;&quot;toolbar&quot;&gt;
  &lt;div class&#x3D;&quot;btn-group&quot;&gt;    
    &lt;button class&#x3D;&quot;btn btn-outline-primary border-0 rounded-0&quot; [disabled]&#x3D;&quot;!form.valid || !form.dirty&quot; (click)&#x3D;&quot;onSubmit()&quot; &gt;              
        &lt;span class&#x3D;&quot;oi oi-arrow-top&quot;&gt;&lt;/span&gt;  
        &lt;span class&#x3D;&quot;ml-2&quot;&gt;Aggiorna&lt;/span&gt;        
    &lt;/button&gt;
    &lt;button class&#x3D;&quot;btn btn-outline-primary border-0 rounded-0&quot;  [disabled]&#x3D;&quot;!form.dirty&quot;&gt;
        &lt;span class&#x3D;&quot;oi oi-reload iconic&quot; title&#x3D;&quot;reload&quot; aria-hidden&#x3D;&quot;true&quot; &gt;&lt;/span&gt;
        &lt;span class&#x3D;&quot;ml-2&quot;&gt;Ricarica&lt;/span&gt;
    &lt;/button&gt;   
  &lt;/div&gt;
&lt;/div&gt;
&lt;form *ngIf&#x3D;&#x27;model&#x27; [formGroup]&#x3D;&quot;form&quot;&gt;
  &lt;formly-form  [model]&#x3D;&quot;model&quot; [fields]&#x3D;&quot;fields&quot; [form]&#x3D;&quot;form&quot; [options]&#x3D;&quot;options&quot;&gt;  
  &lt;/formly-form&gt; 
&lt;/form&gt;      
  &#x60;,
  styles: []
})
export class UserTaskDetailComponent implements OnInit {

  isLoading: boolean &#x3D; false;
  @Input()
  model: any;
  options: FormlyFormOptions &#x3D; {
    formState: {
      isLoading: false,
    },
  };
  form &#x3D; new FormGroup({});
  fields: FormlyFieldConfig[] &#x3D; [
    {
      className: &#x27;section-label&#x27;,
      template: &#x27;&lt;h5&gt;Dettaglio attività&lt;/h5&gt;&#x27;,
    },
    {
      fieldGroupClassName: &#x27;row&#x27;,
      fieldGroup:
        [
          {
            className: &#x27;col-md-6&#x27;,
            type: &#x27;input&#x27;,
            key: &#x27;workflow_place&#x27;,
            templateOptions: {
              label: &#x27;Tipo&#x27;,
              disabled: true,
            },
          },
          {
            className: &#x27;col-md-6&#x27;,
            type: &#x27;select&#x27;,
            key: &#x27;transition&#x27;,
            defaultValue: &#x27;self_transition&#x27;,
            templateOptions: {
              label: &#x27;Modifica lo stato&#x27;,
              placeholder: &#x27;&#x27;,
              options: []
            },
            lifecycle: {
              onInit: (formInit, fieldInit) &#x3D;&gt; {
                fieldInit.templateOptions.options &#x3D; this.service.getNextPossibleActionsFromTask(this.model.id);
              },
            },
          },
        ],
    },
    {
      fieldGroup:
        [
          {            
            type: &#x27;input&#x27;,
            key: &#x27;email&#x27;,
            templateOptions: {
              label: &quot;Assegnata&quot;,
              disabled: true,
            },
          },
          {           
            type: &#x27;input&#x27;,
            key: &#x27;subject&#x27;,
            templateOptions: {
              label: &#x27;Oggetto&#x27;,
              disabled: true,
            },
          },
          {           
            type: &#x27;textarea&#x27;,
            key: &#x27;description&#x27;,
            templateOptions: {
              label: &#x27;Descrizione&#x27;,
              rows: 2,
            },
          },
        ]
    }
  ];

  constructor(private service: UserTaskService) { }

  ngOnInit() {
  }

  onSubmit() {
    if (this.form.valid) {
      this.isLoading &#x3D; true;
      var tosubmit &#x3D; { ...this.model, ...this.form.value };
      this.service.update(tosubmit, tosubmit.id).subscribe(
        result &#x3D;&gt; {       
          this.options.resetModel(result);
          this.isLoading &#x3D; false;
        },
        error &#x3D;&gt; {
          this.isLoading &#x3D; false;          
          console.log(error)
        });
    }
  }

}
</code></pre>
    </div>



    <div class="tab-pane fade " id="c-tree">
        <div id="tree-container"></div>
        <div class="tree-legend">
            <div class="title">
                <b>Legend</b>
            </div>
            <div>
                <div class="color htmlelement"></div><span>Html element</span>
            </div>
            <div>
                <div class="color component"></div><span>Component</span>
            </div>
            <div>
                <div class="color directive"></div><span>Html element with directive</span>
            </div>
        </div>
    </div>

    
</div>

<script src="../js/libs/vis.min.js"></script>
<script src="../js/libs/htmlparser.js"></script>
<script src="../js/libs/deep-iterator.js"></script>
<script>
        var COMPONENT_TEMPLATE = '<div>  <ngx-loading [show]="isLoading" [config]="{ backdropBorderRadius: \'0px\' }"></ngx-loading>  <div class="btn-toolbar mb-4" role="toolbar">  <div class="btn-group">    <button class="btn btn-outline-primary border-0 rounded-0" [disabled]="!form.valid || !form.dirty" (click)="onSubmit()" >        <span class="oi oi-arrow-top"></span>        <span class="ml-2">Aggiorna</span>    </button>    <button class="btn btn-outline-primary border-0 rounded-0"  [disabled]="!form.dirty">        <span class="oi oi-reload iconic" title="reload" aria-hidden="true" ></span>        <span class="ml-2">Ricarica</span>    </button>  </div></div><form *ngIf=\'model\' [formGroup]="form">  <formly-form  [model]="model" [fields]="fields" [form]="form" [options]="options">  </formly-form></form></div>'
    var COMPONENTS = [{'name': 'AccordionInfoWrapperComponent', 'selector': 'formly-wrapper-accordioninfo'},{'name': 'AccordionWrapperComponent', 'selector': 'formly-wrapper-accordion'},{'name': 'AllegatiComponent', 'selector': 'app-allegati'},{'name': 'AppComponent', 'selector': 'app-root'},{'name': 'ApprovazionedetailsComponent', 'selector': 'app-approvazionedetails'},{'name': 'AssignmentDetailPageComponent', 'selector': 'app-assignment-detail-page'},{'name': 'AziendaLocComponent', 'selector': 'app-aziendaloc'},{'name': 'AziendeLocComponent', 'selector': 'app-aziendeloc'},{'name': 'BaseEntityComponent', 'selector': ''},{'name': 'BaseResearchComponent', 'selector': ''},{'name': 'BlankComponent', 'selector': 'app-blank-layout'},{'name': 'BolloRepertoriazioneComponent', 'selector': 'app-bollorepertoriazione'},{'name': 'BreadcrumbComponent', 'selector': 'app-breadcrumb'},{'name': 'ClassificazioneComponent', 'selector': 'app-classificazione'},{'name': 'ClassificazioniComponent', 'selector': 'app-classificazioni'},{'name': 'CollapseWrapperComponent', 'selector': 'app-collapse-wrapper'},{'name': 'ConfirmationDialogComponent', 'selector': 'app-confirmation-dialog'},{'name': 'ControlGenericListComponent', 'selector': 'app-control-generic-list'},{'name': 'ConvenzioneComponent', 'selector': 'app-convenzione'},{'name': 'ConvenzionedetailsComponent', 'selector': 'app-convenzionedetails'},{'name': 'ConvenzioniComponent', 'selector': 'app-convenzionis'},{'name': 'ConvenzioniresultComponent', 'selector': 'app-convenzioniresult'},{'name': 'ConvvalidationComponent', 'selector': 'app-convvalidation'},{'name': 'Dashboard1Component', 'selector': ''},{'name': 'Dashboard2Component', 'selector': ''},{'name': 'DatepickerTypeComponent', 'selector': 'app-datapicker-type'},{'name': 'DocumentiTitulus', 'selector': 'app-documenti'},{'name': 'DynamicFormComponent', 'selector': 'app-dynamic-form'},{'name': 'DynamicTableComponent', 'selector': 'app-grid'},{'name': 'EmissioneComponent', 'selector': 'app-emissione'},{'name': 'EsecuzionedetailsComponent', 'selector': 'app-esecuzionedetails'},{'name': 'ExternalobjTypeComponent', 'selector': 'formly-field-ext'},{'name': 'ExternalqueryComponent', 'selector': 'app-externalquery'},{'name': 'ExternalTypeComponent', 'selector': 'app-external-type'},{'name': 'FaseWrapperComponent', 'selector': 'app-fase-wrapper'},{'name': 'FirmaControparteComponent', 'selector': 'app-firmacontroparte'},{'name': 'FirmaDirettoreComponent', 'selector': 'app-firmadirettore'},{'name': 'FormInfraComponent', 'selector': 'app-form-infra'},{'name': 'FormlyFieldButton', 'selector': 'formly-field-button'},{'name': 'FormlyFieldTemplate', 'selector': 'formly-template'},{'name': 'FormlyFieldTypeahead', 'selector': 'formly-field-typeahead'},{'name': 'FormlyHorizontalWrapper', 'selector': 'formly-horizontal-wrapper'},{'name': 'FullComponent', 'selector': 'app-full-layout'},{'name': 'GenericTypeComponent', 'selector': 'app-generic-type'},{'name': 'GridFormlyCellComponent', 'selector': 'formly-ag-grid-cell'},{'name': 'GridTypeComponent', 'selector': 'formly-field-grid'},{'name': 'HomeComponent', 'selector': 'app-home'},{'name': 'InfocardComponent', 'selector': 'app-info-card'},{'name': 'InputFileComponent', 'selector': 'app-input-file'},{'name': 'InvioRichiestaPagamentoComponent', 'selector': 'app-inviorichiestapagamento'},{'name': 'LogAttivitaComponent', 'selector': 'app-logattivita'},{'name': 'LookupComponent', 'selector': 'app-lookup'},{'name': 'MappingRuoli', 'selector': 'app-mappingruoli'},{'name': 'MappingRuolo', 'selector': 'app-ruolo'},{'name': 'MappingUfficioTitulus', 'selector': 'app-mappingufficio'},{'name': 'MappingUfficiTitulus', 'selector': 'app-mappinguffici'},{'name': 'MessageComponent', 'selector': 'app-message'},{'name': 'MultistepSchematipoComponent', 'selector': 'app-multistep-schematipo'},{'name': 'NavigationComponent', 'selector': 'app-navigation'},{'name': 'NavstepperWrapperComponent', 'selector': 'app-navstepper-wrapper'},{'name': 'NotFoundComponent', 'selector': 'notfound'},{'name': 'NotificationsComponent', 'selector': 'app-notifications'},{'name': 'PagamentoComponent', 'selector': 'app-pagamento'},{'name': 'PanelWrapperComponent', 'selector': 'formly-wrapper-panel'},{'name': 'PdfInfraComponent', 'selector': 'app-pdf-infra'},{'name': 'PdfTypeComponent', 'selector': 'app-pdf-type'},{'name': 'PdfTypeInputComponent', 'selector': 'app-pdf-type-input'},{'name': 'PermissionComponent', 'selector': 'app-permission'},{'name': 'PermissionsComponent', 'selector': 'app-permissions'},{'name': 'PersoneinterneTitulus', 'selector': 'app-personeinterne'},{'name': 'QueryBuilderComponent', 'selector': 'app-query-builder'},{'name': 'RangedetailsComponent', 'selector': 'app-rangedetails'},{'name': 'RepeatTypeComponent', 'selector': 'formly-repeat-section'},{'name': 'RepertoriazionedetailsComponent', 'selector': 'app-repertoriazionedetails'},{'name': 'RichiestaEmissioneComponent', 'selector': 'app-richiestaemissione'},{'name': 'RightaddonsWrapperComponent', 'selector': 'formly-wrapper-rightaddons'},{'name': 'RoleComponent', 'selector': 'app-role'},{'name': 'RolesComponent', 'selector': 'app-roles'},{'name': 'ScadenzaComponent', 'selector': 'app-scadenza'},{'name': 'ScadenzeComponent', 'selector': 'app-scadenze'},{'name': 'ScadenzedetailsComponent', 'selector': 'app-scadenzedetails'},{'name': 'ScadenzeresultComponent', 'selector': 'app-scadenzeresult'},{'name': 'SelectTypeComponent', 'selector': 'app-select-type'},{'name': 'ShowErrorsComponent', 'selector': 'app-show-errors'},{'name': 'SidebarComponent', 'selector': 'app-sidebar'},{'name': 'SottoscrizioneComponent', 'selector': 'app-sottoscrizione'},{'name': 'SottoscrizionedetailsComponent', 'selector': 'app-sottoscrizionedetails'},{'name': 'StruttureEsterneTitulus', 'selector': 'app-struttureinterne'},{'name': 'StruttureInterneTitulus', 'selector': 'app-struttureinterne'},{'name': 'SystemErrorComponent', 'selector': 'systemerror'},{'name': 'TableGroupTypeComponent', 'selector': 'app-tablegroup-type'},{'name': 'TableLookupTypeComponent', 'selector': 'app-tablelookup-type'},{'name': 'TableTypeComponent', 'selector': 'app-table-type'},{'name': 'TabTypeComponent', 'selector': 'app-tab-type'},{'name': 'TaskComponent', 'selector': 'app-task'},{'name': 'TaskListComponent', 'selector': 'app-tasklist'},{'name': 'TasksComponent', 'selector': 'app-tasks'},{'name': 'TestTabComponent', 'selector': 'app-test-tab'},{'name': 'TipoPagamentiComponent', 'selector': 'app-tipopagamenti'},{'name': 'TipoPagamentoComponent', 'selector': 'app-tipopagamento'},{'name': 'TooltipWrapperComponent', 'selector': 'formly-wrapper-tooltip'},{'name': 'UploadfileComponent', 'selector': 'app-uploadfile'},{'name': 'UserComponent', 'selector': 'app-user'},{'name': 'UserLoginComponent', 'selector': 'app-user-login'},{'name': 'UsersComponent', 'selector': 'app-users'},{'name': 'UserTaskDetailComponent', 'selector': 'app-user-task-detail'}];
    var DIRECTIVES = [];
    var ACTUAL_COMPONENT = {'name': 'UserTaskDetailComponent'};
</script>
<script src="../js/tree.js"></script>










                   




                   </div><div class="search-results">
    <div class="has-results">
        <h1 class="search-results-title"><span class='search-results-count'></span> result-matching "<span class='search-query'></span>"</h1>
        <ul class="search-results-list"></ul>
    </div>
    <div class="no-results">
        <h1 class="search-results-title">No results matching "<span class='search-query'></span>"</h1>
    </div>
</div>
</div>
               <!-- END CONTENT -->
           </div>
       </div>

       <script>
            var COMPODOC_CURRENT_PAGE_DEPTH = 1;
            var COMPODOC_CURRENT_PAGE_CONTEXT = 'component';
            var COMPODOC_CURRENT_PAGE_URL = 'UserTaskDetailComponent.html';
       </script>

       <script src="../js/libs/custom-elements.min.js"></script>
       <script src="../js/libs/lit-html.js"></script>
       <!-- Required to polyfill modern browsers as code is ES5 for IE... -->
       <script src="../js/libs/custom-elements-es5-adapter.js" charset="utf-8" defer></script>
       <script src="../js/menu-wc.js" defer></script>

       <script src="../js/libs/bootstrap-native.js"></script>

       <script src="../js/libs/es6-shim.min.js"></script>
       <script src="../js/libs/EventDispatcher.js"></script>
       <script src="../js/libs/promise.min.js"></script>
       <script src="../js/libs/zepto.min.js"></script>

       <script src="../js/compodoc.js"></script>

       <script src="../js/tabs.js"></script>
       <script src="../js/menu.js"></script>
       <script src="../js/libs/clipboard.min.js"></script>
       <script src="../js/libs/prism.js"></script>
       <script src="../js/sourceCode.js"></script>
          <script src="../js/search/search.js"></script>
          <script src="../js/search/lunr.min.js"></script>
          <script src="../js/search/search-lunr.js"></script>
          <script src="../js/search/search_index.js"></script>
       <script src="../js/lazy-load-graphs.js"></script>


    </body>
</html>
